[2016-02-05 16:37] redlibrarian opened #899 "Index locations instead of doing a live lookup to improve result screen speed."

[2016-02-05 17:45] redlibrarian opened #900 "Deduplicate Journal records"
-- ingest symphony records
-- print journals display as usual
-- electronic journals (if 940 = object id) display SFX holdings instead of print holdings
-- for SFX records, preprocess by searching symphony WS by object ID.
    Expect to retrieve 1 record, if retrieves 0 or 1 record, ingest.
    If it retrieves more than 1 record, write to log file and skip ingest

[2016-02-05 19:52] redlibrarian opened #901 "Integrate RVM authorities."
**Is your feature request related to a problem? Please describe.**
Items are catalogued in English and/or French in a number of different ways, and cataloguing practices have changed over the years. This presents a problem for French language searchers as a search for a French language subject does not return all possible results, and vice versa
**Describe the solution you'd like**
As a discovery

[2016-02-05 20:21] redlibrarian commented on #900
OK, the actual skipping of extraneous SFX records seems to work OK. I need to index a lot of records in order to get some "Symphony records with SFX equivalents" in order to modify the display. I'm going to leave the Symphony record set indexing over the weekend and I'll see if I can finish that up on Monday.

[2016-02-05 20:22] redlibrarian commented on #899
This is working by indexing the 596 field and using that to drive the location lookup (instead of the Web Services call we're currently using). All I need is a mapping of the 596 data from Elaine, then I can push this through. Should be able to finish it Monday (early next week anyway).

[2016-02-05 20:25] redlibrarian commented on #896
I think this may be a bug in the EDS integration gem. I'm planning to look at Indiana's gem to see if it would be better than the old Ebsco one.

[2016-02-05 20:25] #894 closed

[2016-02-05 20:27] redlibrarian commented on #893
I'd actually like to take a step back and ask if it's useful to a user to display that many items? It seems like a discovery nightmare, and I'm not sure at that point what useful information we're conveying. Are there kinds of users who might need/want to know all 3400+ items? If so, perhaps we should figure out if there's a way to satisfy their needs without flooding the other users with that muc

[2016-02-05 20:29] redlibrarian commented on #893
I just realized that the reason Blacklight will only display 1,995 items is that it's using Symphony web-services, so the limit is pretty much the same in the Symphony UI and WS.

[2016-02-05 20:32] sjshores commented on #893
Here's a case where the summary holdings, if we ensure that they are
accurate, would be of use rather than the individual volume displays.

Sandra

On 5 February 2016 at 13:27, redlibrarian <notifications@github.com> wrote:

[2016-02-05 20:34] redlibrarian commented on #890
Hmm. I don't know whether this is still coming through in Jim's data, or if my program isn't deleting records as expecting. Will have to investigate.

[2016-02-05 20:37] redlibrarian commented on #885
I can't remember. I'm just going to change it.

[2016-02-05 20:43] redlibrarian commented on #885
OK, I've changed this to just read "Click Here for Access". It will be in the next release.

[2016-02-05 20:45] redlibrarian commented on #884
Right. I still need to think about this one.

[2016-02-05 20:46] redlibrarian commented on #883
See #898 This is a process issue that we need to work out...

[2016-02-05 20:58] redlibrarian commented on #881
OK, I've just implemented this. It will be in the next release.

[2016-02-05 21:00] redlibrarian commented on #880
So, the first record you provided includes this in Symphony:
"Organization/arrang.:	Organized into four series: Personal (with subseries: Photographs; Correspondence; Identity and licence documents; Books and periodicals; Miscellaneous); Professional (with subseries: Photographs, Western Canada Airways; Photographs, other; Miscellaneous); Military (with subseries: Photographs; Miscellaneous); Phot

[2016-02-05 21:01] #863 closed

[2016-02-05 21:03] redlibrarian opened #902 "no access to various journals via SFX record (target internal ID problem)"
https://www.library.ualberta.ca/catalog/2821634

[2016-02-05 21:17] theLinkResolver commented on #902
This record is the problem: https://www.library.ualberta.ca/catalog/111014393768020

[2016-02-05 21:20] theLinkResolver commented on #902
Here's another one that's broken.

https://www.library.ualberta.ca/catalog/954925246073

Common thread? Both have only one active portfolio for OVID_LIPPINCOTT_WILLIAMS_AND_WILKINS_TOTAL_ACCESS_COLLECTION_2016.

[2016-02-05 22:30] redlibrarian commented on #902
Right thanks. I can't see why the target would be an issue, but maybe.

[2016-02-05 23:15] theLinkResolver commented on #902
@redlibrarian Are the OUR codes in order on your end? It's a relatively new target.

[2016-02-05 23:23] redlibrarian commented on #902
Possibly not (I'm going to get an updated file from Ernie next week) but that shouldn't cause this problem. What we see when the OUR link is broken is just an empty cell in the holdings table.

[2016-02-08 03:41] linds37 commented on #892
I think librarians, collectively, missed an opportunity to create unified
"shelf lists" by not assigning call number to ebooks. I'm not sure that we
should include this filter, since it would leave so many things out. Our
best gathering point is subject heading.

On Wed, Jan 27, 2016 at 4:06 PM, Scott Davies <notifications@github.com>
wrote:

[2016-02-08 21:25] redlibrarian commented on #900
So, this logic is sound, but the process is too time consuming. To process all 100,000 or so SFX records and make a WS call for each takes forever. I have an idea for another way to approach this that I'll have to run by Neil, Tricia, and Henry.

If we ingest the SFX records first, then they already exist in the index. When we ingest the Symphony records, any records that has 1-and-only-1 940 valu

[2016-02-08 22:10] redlibrarian commented on #900
It would be cleanest if your process could eliminate all Symphony journal records where only the MacEwan Internet library has a copy and no other library has a copy.

[2016-02-09 16:18] redlibrarian opened #904 "Symphony ingest: errors and logging"
This speaks to a communication breakdown:  we need to work together, to build automated monitoring of daily ingests.  Nobody wants the task of checking logfiles each day: humans are lazy & inconsistent.  And defining a complex grammar & syntax, to allow Nagios to read & interpret the current (very messy) log file, is so time-consuming as to be impossible.

Complexity, making it hard to write a Nag

[2016-02-09 17:37] redlibrarian commented on #902
Same problem with 954925535073

I've figured out what the problem is. For some reason, the internal ID of some targets in SFX have changed. I use these target IDs to do the live subscription/coverage/note lookup. For example, the the target ID for Ovid Lippincott used to be 3680000000000079 but is now 3820000000000109, meaning the display crashes when it tries to access subscription information. T

[2016-02-10 21:10] theLinkResolver commented on #887
Regarding the practice of splitting print and electronic format monograph records, this came up in conversation with Michael recently and his sense was that there are actually lots of combined print+electronic mono records out there. I did a search for the word "access" in the 856, limiting to ON_SHELF, and got over 18,000 titles. And from looking at dates, the practice of combining seems to be al

[2016-02-10 21:15] theLinkResolver commented on #887
@seanluyk Regarding the Oxford History of Western Music, there is now a separate e-book record for the MacEwan item. We seemed to have access, but we haven't purchased/subscribed to it. With thanks to Michael (e-book team) and Shellon (acquisitions).

[2016-02-10 21:53] theLinkResolver commented on #864
Being "constrained to using our bibliographic data" does potentially call into question the value of our authority data, which we invest $$$ in on an ongoing basis. Is this a case of conflicting organizational priorities or just conflicting viewpoints? Even without my cataloguer hat on, I am of the opinion that if we are supporting/investing in authority data, we should ensure that our systems tak

[2016-02-10 22:42] seanluyk commented on #864
@theLinkResolver  - I totally agree with you. We're sitting on a goldmine of bibliographic data, and our systems need to take full advantage of it if we're to be spending this much public $$$ on it, especially the authority data. That being said, I don't think that iLink ever took full advantage of it either, and Blacklight perhaps gives us an opportunity to better capitalize on our investment. BT

[2016-02-10 22:45] seanluyk commented on #887
Thanks @theLinkResolver and Michael and Shellon! Odd that we've got access without purchasing, I'll look into this in the new FY.

[2016-02-10 22:49] redlibrarian commented on #864
I think we need to clarify what "taking full advantage" means. IMO, all these decisions need to have a public, user-facing benefit. So, for example, maintaining authority *record* within Blacklight doesn't make sense if we can get the same functionality out of the index. So, for example when @seanluyk says "the authority data is extremely useful for music and other specialized kinds of searching",

[2016-02-11 16:54] theLinkResolver commented on #864
For me in this context, my bar isn't too high -- "taking full advantage" is ensuring all subjects & names are clickable, that clicking has the expected results (more like this/by this author with high precision), and most importantly, the option to do this is presented in a way that gives people a reason to click them and reasonably understand what is going to happen. (In this sense, we are alread

[2016-02-11 17:00] theLinkResolver commented on #880
@redlibrarian I'm going to need to check with Brian S. on this one (currently away).

[2016-02-11 17:02] redlibrarian commented on #864
OK, fair enough. We don't need "authority data" in order to do these things - though the author and subject strings need to conform to a single authoritative version in order for this kind of access to work. The other side of this coin (presentation) has, IMO, less to do with data than with UX (though of course, both are involved).

"My sentiment is that the perception of headings as constraining

[2016-02-11 17:54] seanluyk commented on #864
I completely agree @redlibrarian, and for me, "taking full advantage" **always** implies a public, user-facing benefit, as witnessed through direct experiences working with users.

There are a few specific ways that I think authority data can be used that the index currently doesn't accomplish. These are music specific examples, but perhaps they could be extended to other use cases:

*Viewing an o

[2016-02-11 17:57] redlibrarian commented on #864
Thanks @seanluyk - these are great. There's a lot to think about here. @ualbertalib/discovery-testing if anyone has other use-cases that haven't been talked about, feel free to add them to this issue.

[2016-02-11 18:10] seanluyk commented on #864
Thanks @redlibrarian, and you should know that overall I'm very happy with music search in Blacklight (it's much improved over all of our previous discovery systems). Music students were able to successfully find scores and recordings very easily in a library workshop I provided last week, and faceting did most of the work for them.

[2016-02-11 18:13] theLinkResolver commented on #890
@redlibrarian this record has all items in shadowed locations, but it's still showing up (sans items table). I think you're already on this, but I'm adding it as an example to help with followup:

https://www.library.ualberta.ca/catalog/2848879

[2016-02-11 18:14] theLinkResolver commented on #884
@redlibrarian I sent you this in an email but I should have posted it here:

The global consensus is that Ex Libris/SFX makes it hard to export the data that describes whether or not a target is coded as an aggregator, at least in terms of the readily available export options. But alas, I finally found something in the SFX-Discuss-L archives that might help:

_to sort out all aggregator targets (o

[2016-02-11 18:52] seanluyk commented on #864
Long and short of the [Music Discovery Requirements](http://committees.musiclibraryassoc.org/ETSC/MDR) as they pertain to authority records:
-Creators are important access points for music search, and names vary. Works associated with more than one creator (composer, performer, librettist, etc.) also present challenges. Methods should be provided to lead users from alternate names to the ones they

[2016-02-11 20:35] seanluyk opened #905 "Index and display 518: Date/Time and Place of an Event Note"
Not sure how widely this is used outside of sound recordings and videos (any idea @theLinkResolver?), but it would be beneficial to index and display MARC 518 notes if possible.

It's important for dates and places to be indexed and labelled appropriately, and info in the 518 often differs from what's included in publication information and includes information not found elsewhere (e.g. a recordin

[2016-02-11 21:46] redlibrarian commented on #707
@theLinkResolver @seanluyk and I will get together to work through these fields.

[2016-02-11 22:04] redlibrarian commented on #708
Closing for now. We can reopen if a problem presents itself.

[2016-02-11 22:04] #708 closed

[2016-02-11 22:20] theLinkResolver commented on #708
Where I previously stated that a subject **phrase **search would be ideal, I was quite impressed with the results of a subject keyword search as we saw at today's meeting. Relevance keeps the results we want at the top, while the keyword aspect broadens the search to bring other related materials into view.

[2016-02-12 18:25] theLinkResolver commented on #902
@redlibrarian This is probably another instance of this same problem:

https://www.library.ualberta.ca/catalog/111098465955000
Reported in Helpdesk ticket: [here](https://helpdesk.library.ualberta.ca/otrs/index.pl?Action=AgentTicketZoom;TicketID=32789)

I'm going to close that ticket and cross-reference this thread.

@redlibrarian Will see what I can find out re. internet target IDs as well.

[2016-02-16 17:20] theLinkResolver commented on #902
Seems to be working now - updates must be running again. @redlibrarian I figured out what's going on with regard to these SFX target IDs. I will drop by later to fill you in. As you say, the nightly updates will resolve this.

[2016-02-17 17:43] redlibrarian opened #906 "Add Blacklight widget to EDS results page."

[2016-02-17 18:00] redlibrarian opened #907 "User testing - next phase"
-- font
-- buttons/navigations
-- anything else

We should get together with Sonya to talk about next stage of user testing.

[2016-02-19 21:10] fculpepper opened #908 "Google Scholar in database list"
Adding Google Scholar to the list of databases has been suggested/requested. I'm told it used to be there and coworkers have been looking for it there.

[2016-02-19 21:17] fculpepper commented on #908
Yes, this is in addition to the link on the main page.

[2016-02-19 21:24] redlibrarian commented on #908
Thanks @fculpepper - I don't see any reason why it wouldn't be there. Databases are managed within LibGuides now, so I assume it would be either someone in public services or WAT who would add  it. @sjshores @timwklassen - any reason why we can't just add Google Scholar to the libguides list?

[2016-02-19 22:16] lindaslater opened #909 "MEDLINE not being included in Blacklight search"
Try searching "cancer" and then look at the list of Content Providers.  MEDLINE is not among them.  However, in EDS, MEDLINE is at the top of the list when you search "cancer".    Is there anyway to fix this?

Also, how is Blacklight doing the relevancy ranking on the databases page?  If I search **medicine**,  the main file of MEDLINE is #52 on the list.  A MEDLINE subfile called MEDLINE In-Proce

[2016-02-19 22:48] sjshores commented on #908
I see no reason not to add it.  Anyone who can create assets in Libguides
can go ahead and do that.

Sandra

On 19 February 2016 at 14:24, redlibrarian <notifications@github.com> wrote:

[2016-02-23 20:43] theLinkResolver commented on #783
In addition to the most common 300 subfields a, b and c, there are other things in this field that should probably be considered for display (echoing some of the above sentiments). There are some not-so-nice results when we don't display them, e.g.:

https://www.library.ualberta.ca/catalog/796633

(The $e text "30 program files (BASIC) on 1 computer disk (5 1/4 in.)" is omitted - we just see the p

[2016-02-24 22:47] seanluyk opened #910 "Clicking on subjects from database records leads to something has gone wrong page"
Just encountered this when clicking on the library and information science subject from this record:

https://www.library.ualberta.ca/catalog/11710953

[2016-02-26 17:51] redlibrarian commented on #827
What we're going to do for now is turn on the additional title display and place it close to the additional authors. I'll also add the additional authors to the "more by this author" block. In order for this to work, add $d to the addl_author_t field. As a later project, we'll look at constructing a proper uniform title that can be used as a facet.

[2016-02-26 18:22] theLinkResolver commented on #902
Discussed with @redlibrarian - this will not be a problem going forward.

[2016-02-26 18:22] #902 closed

[2016-02-26 18:25] seanluyk commented on #827
A wacky example of additional authors that could serve as a good test case: https://www.library.ualberta.ca/catalog/6458885

[2016-02-26 20:22] theLinkResolver commented on #681
@redlibrarian done, right?

[2016-02-26 20:38] theLinkResolver opened #911 "remove eBook Collection results from EDS pane?"
This often comes up in training, and I thought it was covered in an existing issue, but I don't see it. Ebsco eBook Collection results in the EDS pane are/should be dups of items in Books Media & More. Could they be suppressed?

I think the idea of keeping them was to provide access to book chapters, but I tried searching for a book chapter title and it doesn't return that ebook in the results.

S

[2016-02-26 20:56] redlibrarian commented on #681
Yes.

On Fri, Feb 26, 2016 at 1:22 PM, Scott Davies <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-02-26 20:59] redlibrarian commented on #911
I don't think that's true, or at least not anything that I remember being
discussed among the wider group. We initially limited the EDS pane to just
journal articles, but that wasn't adequate, so we opened it up again, while
removing the Symphony results. Is this only a question about the Ebsco
ebook collection, or about ebooks in general?

I don't know how ebook chapters are made searchable (if a

[2016-02-26 21:04] #681 closed

[2016-02-26 21:29] theLinkResolver commented on #911
@redlibrarian I think this might have been an erroneous assumption by myself and others, then... it's even reflected in the hover box text where we decided to say "articles, chapters, reviews and more". We should remove the word "chapters" if the chapter titles are not searchable.

I assume it is the Ebsco eBook Collection that gives us all the eBook results, but I guess we don't know that for sur

[2016-02-26 21:32] theLinkResolver opened #912 "EDS fields searched and relevance ranking"
Related to #911, and it's a question from today's session: which EDS fields are searched by Blacklight, how is relevance ranked? I assume it's all controlled by EDS...

[2016-02-26 21:35] redlibrarian commented on #911
Book chapters are included, but they may not be what you were expecting. http://login.ezproxy.library.ualberta.ca/login?url=http://search.ebscohost.com/login.aspx?direct=true&db=lfh&AN=22870095&site=eds-live&scope=site

I think there are other ebook collections than Ebsco ebooks in EDS, but I'd have to check.

[2016-02-26 21:36] redlibrarian commented on #912
Yes, the EDS results are driven by an API call to Ebsco, so fields and
relevance is the same as in the regular version of EDS (and controlled by
Ebsco).

On Fri, Feb 26, 2016 at 2:32 PM, Scott Davies <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-02-26 22:09] seanluyk commented on #691
This one just came up again today via a question from an HSS colleague. Here are the contrasting examples he provided for _Variety_:
[iLink record (micro)](http://www.library.ualberta.ca/permalink/opac/1895356/WUAARCHIVE)
[Blacklight record](https://www.library.ualberta.ca/catalog/1895356)

I wonder if there were a way to show the summary holdings info when the journal is not itemized, but ignore

[2016-02-26 22:12] theLinkResolver commented on #911
@redlibrarian OK, that makes more sense (re. chapters)!

Re. other ebook collections, let me know what they are if you find any, and I will check on the cataloguing status.

[2016-02-26 22:13] theLinkResolver commented on #912
@redlibrarian I'm going to relay this thread/your answer to the person who asked and I will either close the issue or add questions if there are any further ones.

[2016-02-26 22:18] theLinkResolver commented on #691
Or to think of it another way, when the summary holdings is for a particular type of material (i.e. microform, as represented by the 007 coding), ingest and display it somehow.

[2016-03-01 19:35] merisjames opened #913 "Holds"
Not sure this is a Blacklight issue at all, but...
I placed a hold on the 24th as part of the training session, then immediately cancelled it. I did receive a hold cancellation notice.
I just now got a "your hold is in" email.

[2016-03-01 20:16] redlibrarian commented on #913
No, the hold systems is separate from the Blacklight system. @jhennig can you look into this?

[2016-03-02 16:48] #912 closed

[2016-03-02 17:22] fculpepper commented on #854
Just to clarify, if the record does not have an 050 searching the call number won't retrieve it? A coworker just brought a non-retrieving call number to me (HC 79 E5 G373 2011) and I want to make sure I give her the right answer :)

[2016-03-02 17:34] fculpepper commented on #908
Is there someone on the discovery team that can create assets in the database manager or should I open a helpdesk ticket? We were told not to fiddle with database assets: http://guides.library.ualberta.ca/creating-libguides/home.

[2016-03-02 17:58] redlibrarian commented on #908
@fculpepper I'll do it, though we haven't yet worked out who has responsibility for databases more generally. / @sjshores

[2016-03-02 18:06] redlibrarian commented on #908
OK, I've added Google Scholar. It should be in libguides now and will be in the Blacklight database interface tomorrow. @fculpepper @ualbertalib/discovery-testing

[2016-03-02 18:06] #908 closed

[2016-03-02 18:09] redlibrarian commented on #854
@fculpepper That's currently true. When I've indexed the 090s, there should, I think, be better coverage. @theLinkResolver is that fair to say?

[2016-03-02 18:56] theLinkResolver commented on #854
@redlibrarian @fculpepper That's correct.

[2016-03-03 16:57] seanluyk opened #914 "Advanced search query parsing"
Reported by an HSS colleague:

-Searching for cartoon OR comic OR bande dessinee OR "graphic novel" returns [more results](https://search.library.ualberta.ca/catalog?utf8=%E2%9C%93&op=AND&all_fields=cartoon+OR+comic+OR+bande+dessinee+OR++%22graphic+novel%22&title=&author=&subject=&sort=score+desc%2C+pub_date_sort+desc%2C+title_sort+asc&search_field=advanced&commit=Search&utf8=%E2%9C%93&search_fiel

[2016-03-03 17:54] theLinkResolver opened #915 ""data not available" result for SFX journals"
@redlibrarian You explained this issue to us yesterday in the context of a helpdesk ticket, but I am going to log it here, as I keep getting this error, and am wondering if something is bogging down the SFX lookups this week.

![datanotavail](https://cloud.githubusercontent.com/assets/14913579/13503720/4ebfc224-e12e-11e5-84ff-4199855b6501.jpg)

[2016-03-03 18:11] theLinkResolver opened #916 "display summary of coverage for e-journals when holdings presented as SFX links"
A summary of our e-journal coverage is presented in the records that come from Symphony, as part of the "click here" link (e.g. 1869- in the following record):

https://www.library.ualberta.ca/catalog/6866795

@redlibrarian When we present the holdings as SFX links, could we provide a summary statement sources from the records or from the info @jhennig provides for SFX2Sirsi, under the title in a

[2016-03-03 18:43] seanluyk commented on #899
Perhaps related to this, but I just noticed that locations are not appearing in the copies available at field in results display.

-[Sample search](https://search.library.ualberta.ca/symphony?f%5Bformat%5D%5B%5D=Musical+Recording&q=Dem+Milners+Trern)
![image](https://cloud.githubusercontent.com/assets/14880206/13505156/1b28669e-e135-11e5-93ff-3284051ec735.png)

[2016-03-03 19:47] redlibrarian commented on #899
Ah, crap. I meant to send an email to the team explaining this. I'll send it right away.

[2016-03-03 20:16] seanluyk commented on #899
No worries, just wanted to make sure that nothing was broken

[2016-03-04 18:07] linds37 opened #917 "Philosopher's Index in EDS & in Blacklight"
Hi, Sam. I'm just preparing for a Philosophy class. It looks like results from Philosopher's Index show up when I search directly in EDS, but they don't show up in the Articles pane when I search in Blacklight.

In Blacklight, I searched for: mind philosophy dualism Searle

In EDS, I searched for: mind and philosophy and dualism and Searle

EDS pulls 12 results from Philosopher's Index, but Blackl

[2016-03-04 19:18] redlibrarian opened #918 "Add 550 notes to record."
@theLinkResolver This was a request from BPSC. Can you tell me what we use the 550 for, as opposed to the other note fields? Thanks.

[2016-03-04 20:51] theLinkResolver commented on #918
@redlibrarian This field is also on my wishlist. It describes issuing bodies (e.g. associations, institutes, government departments, etc.) for serials, including notes on whether a title is an official organ of a society, what the relationship is to the publication, and changes over time. It consists solely of text in $a (i.e. no special formatting needs) and can be labelled as "Issuing body note"

[2016-03-04 21:01] redlibrarian commented on #918
OK, thanks, @theLinkResolver It turns out the record in question was meant to have a 590 note (but the note was added to the 550). Brian has fixed that record, so this one is no longer urgent, but is something we'll add when we get a chance.

[2016-03-07 16:32] #758 closed

[2016-03-07 16:36] #603 closed

[2016-03-07 16:37] #340 closed

[2016-03-07 16:37] #186 closed

[2016-03-07 16:38] redlibrarian commented on #169
We're happy with the current URLs, as they are opaque. We can look at this again if it proves to be an issue.

[2016-03-07 16:38] #169 closed

[2016-03-07 16:38] #130 closed

[2016-03-07 16:38] #34 closed

[2016-03-07 16:38] #33 closed

[2016-03-07 16:38] #32 closed

[2016-03-07 16:39] redlibrarian opened #919 "Add new collections"
- [ ] ERA
- [ ] Historical curricula

[2016-03-07 16:40] #25 closed

[2016-03-07 16:40] #74 closed

[2016-03-07 16:40] #118 closed

[2016-03-07 16:40] #201 closed

[2016-03-07 16:42] #347 closed

[2016-03-07 16:44] redlibrarian commented on #501
I haven't seen this in a while. @seanluyk have you noticed this lately?

[2016-03-07 16:45] #509 closed

[2016-03-07 16:45] #515 closed

[2016-03-07 16:46] #523 closed

[2016-03-07 16:46] #526 closed

[2016-03-07 16:47] #555 closed

[2016-03-07 16:49] redlibrarian commented on #595
@merisjames Does this answer your question?

[2016-03-07 16:50] redlibrarian commented on #597
@gooyers Have you seen this lately? I haven't heard of this happening from anyone else...

[2016-03-07 16:52] redlibrarian commented on #605
@gooyers Can you take a look at this when you have a chance and let me know how it looks to you?

[2016-03-07 16:52] #613 closed

[2016-03-07 16:52] merisjames commented on #595
Yes, it does.

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Mon, Mar 7, 2016 at 9:50 AM, redlibrarian <notifications@github.com>
wrote:

[2016-03-07 16:53] redlibrarian commented on #649
I'm wondering if we should send people to the EDS interface for results, rather than just for item records.

[2016-03-07 16:55] #663 closed

[2016-03-07 16:56] redlibrarian commented on #673
I'm going to close this for now. If it becomes an issue reported by users we can look at it again.

[2016-03-07 16:56] #673 closed

[2016-03-07 16:56] #595 closed

[2016-03-07 16:58] #680 closed

[2016-03-07 16:58] redlibrarian commented on #682
We're looking at deduplication in issue #900

[2016-03-07 16:58] #682 closed

[2016-03-07 16:59] #692 closed

[2016-03-07 16:59] redlibrarian commented on #697
@theLinkResolver Is this still happening, do you know?

[2016-03-07 17:00] redlibrarian commented on #710
No comments have come in about this this term. I'm going to close this. If usability or users report a problem we can look at it again.

[2016-03-07 17:00] #710 closed

[2016-03-07 17:01] #715 closed

[2016-03-07 17:01] redlibrarian commented on #719
Fixed.

[2016-03-07 17:01] #719 closed

[2016-03-07 17:03] redlibrarian commented on #729
This hasn't been reported as an issue at all this term. I'd like to close this issue and see if the issue arises in usability testing or problems reported by users.

[2016-03-07 17:04] redlibrarian commented on #744
I haven't heard any problems this term. Closable?

[2016-03-07 17:05] redlibrarian commented on #747
Underlying question is resolved, I think. So this can be closed. Long term discussion of what do with databases is pending.

[2016-03-07 17:05] #747 closed

[2016-03-07 17:06] redlibrarian commented on #751
I haven't heard any reports of issues one way or another with this this term. I'd propose closing this and reopening if a problem arises from usability testing or user reports.

[2016-03-07 17:10] redlibrarian commented on #768
I think we've done this...

[2016-03-07 17:10] #772 closed

[2016-03-07 17:11] redlibrarian commented on #775
Again, I'm thinking of passing users to the EDS result screen rather than the BL one.

[2016-03-07 17:12] #779 closed

[2016-03-07 17:12] theLinkResolver commented on #762
@redlibrarian These still don't look right when the browser window is small. (example from Firefox)

![our width](https://cloud.githubusercontent.com/assets/14913579/13576913/2891d5ac-e44d-11e5-9b78-d671860cd7c7.jpg)

[2016-03-07 17:13] #789 closed

[2016-03-07 17:13] redlibrarian commented on #794
Again, I'm thinking of passing users to the EDS results screen, rather than BL.

[2016-03-07 17:14] redlibrarian commented on #797
I haven't heard any user reports that this is a problem. I'd propose closing it and seeing if anything arises from usability testing or user reports.

[2016-03-07 17:14] redlibrarian commented on #800
Duplicate of #888

[2016-03-07 17:14] #800 closed

[2016-03-07 17:15] #808 closed

[2016-03-07 17:15] theLinkResolver commented on #768
@redlibrarian Symphony print + electronic journals are still in the Books pane. I think they should stay that way until the de-duplication issue is resolved in the Journals pane.

[2016-03-07 17:16] redlibrarian commented on #762
OK. Not sure what I'll be able to do with this now that our design person is away.

[2016-03-07 17:16] redlibrarian commented on #768
OK.

[2016-03-07 17:17] theLinkResolver commented on #775
@redlibrarian That could resolve #865 too.

[2016-03-07 17:17] #826 closed

[2016-03-07 17:19] theLinkResolver commented on #797
I'm content knowing the concerns have been logged and discussed here, should the issue need to be revisited.

[2016-03-07 17:19] redlibrarian commented on #831
We currently can't do this as it stands with the EDS API. I'm thinking of passing users straight to the EDS results screen anyway, rather than the BL results.

[2016-03-07 17:21] redlibrarian commented on #775
@theLinkResolver Yes, I think it actually solves a lot of problems/confusion around what people are looking at.

[2016-03-07 17:22] redlibrarian commented on #834
Duplicat of #832 (and probably at least one other issue). I'm going to close this one for now.

[2016-03-07 17:22] #834 closed

[2016-03-07 17:22] redlibrarian commented on #835
The whole database questions is going to be looked at holistically. Is this particular issue resolved (i.e. can the issue be closed)? @merisjames

[2016-03-07 17:25] redlibrarian commented on #838
@theLinkResolver This record looks like all-print now. Does it look OK to you?

[2016-03-07 17:26] merisjames commented on #835
I think that from the blacklight perspective, we're waiting on higher level
decisions , so yes, this can be marked as resolved.
On Mar 7, 2016 10:22 AM, "redlibrarian" <notifications@github.com> wrote:

[2016-03-07 17:27] redlibrarian commented on #840
Fixed.

[2016-03-07 17:27] #840 closed

[2016-03-07 17:27] redlibrarian commented on #835
Thanks.

[2016-03-07 17:27] #835 closed

[2016-03-07 17:29] redlibrarian commented on #849
We're currently in the process of deduping records. #900

[2016-03-07 17:29] #849 closed

[2016-03-07 17:29] redlibrarian commented on #852
Duplicate of #151

[2016-03-07 17:30] #852 closed

[2016-03-07 17:33] redlibrarian commented on #861
I've added a fix for this. I'm going to close the record for now - we can reopen if speed becomes an issue again.

[2016-03-07 17:33] #861 closed

[2016-03-07 17:36] redlibrarian commented on #868
This is to do with the hold system. I'm going to close this issue and email Kenton and Jeremy with the suggestion.

[2016-03-07 17:36] #868 closed

[2016-03-07 17:39] #873 closed

[2016-03-07 17:39] redlibrarian commented on #874
Fixed.

[2016-03-07 17:39] #874 closed

[2016-03-07 17:41] redlibrarian commented on #875
The whole database question is about to be discussed/figured out. I think the current specific issues are all dealt with - I'd propose closing this issue and opening a new one if problems arise.

[2016-03-07 17:44] redlibrarian commented on #881
Working now.

[2016-03-07 17:44] #881 closed

[2016-03-07 17:44] redlibrarian commented on #882
This is list is being sent to me by email right now. We need to a) implement and b) automate this process.

[2016-03-07 17:44] redlibrarian commented on #883
I have a new file from Ernie I just need to implement it.

[2016-03-07 17:45] redlibrarian commented on #885
Fixed.

[2016-03-07 17:45] #885 closed

[2016-03-07 17:47] redlibrarian commented on #886
Fixed, though I'm only getting 32 results in BL... / @seanluyk

[2016-03-07 17:48] redlibrarian commented on #887
This record is fixed.

[2016-03-07 17:48] #887 closed

[2016-03-07 17:49] redlibrarian commented on #890
I think this is a problem with deletions...

[2016-03-07 17:49] #898 closed

[2016-03-07 17:50] redlibrarian commented on #899
So, this will be fixed after the next full reindex (should be next Monday, I think).

[2016-03-07 17:57] nmacgreg opened #920 "General cleanup of ingest code"
# Friendly to Monitoring
In the current code, the daily Symphony, database, and SFX ingests require a human in the loop, to read their log files and determine whether they were successful, or not.  As we don't have staff for this role, these jobs have failed frequently, but nobody is checking, so we're not aware of these failures.   Please modify these programs so their success or failure is clear

[2016-03-07 18:04] redlibrarian commented on #913
I've passed this along to Jeremy.

[2016-03-07 18:04] #913 closed

[2016-03-07 18:07] redlibrarian commented on #916
@theLinkResolver The thing is that a user is still going to have to check the SFX holdings table to click on the subscription they want/need, so I'm not sure adding the summary holdings info saves the user anything. This, to me, is different from the Symphony records because we have to privilege/present one link out of many, and because the list of holdings can potentially be huge. I don't think t

[2016-03-07 18:10] redlibrarian commented on #917
Thanks @linds37 . We have to maintain the list of active databases between the desktop version of EDS and the API version manually, and there are sometimes inconsistencies. Philosopher's Index was turned off, but I've enabled it now. It should be present within Blacklight within the hour.

[2016-03-07 18:10] #525 closed

[2016-03-07 18:15] redlibrarian commented on #909
Thanks @lindaslater . Because we have to maintain the list of databases in both EDS and the Blacklight instance of EDS separately and manually, MEDLINE wasn't enabled in the BL instance. I've enabled it now - it should be visible in BL within the hour.

The BL database search uses the same relevance algorithm as for other kinds of materials. So, the title is weighted highly, then the description.

[2016-03-07 18:22] seanluyk commented on #501
I've not noticed it lately either.

[2016-03-07 18:26] seanluyk commented on #744
I just did a quick test on this, and I'm not seeing the issue I was seeing before. I think that it's safe to close.

[2016-03-07 18:26] #744 closed

[2016-03-07 18:43] redlibrarian commented on #920
Thanks @nmacgreg

ingest.log was added in order to give clean logging for the ingest processes that I wrote (databases and - for the most part - SFX). When I run, for example, a database ingest, I get the following output:

[2016-03-07T11:18:31.793291 #13938]  INFO -- : --- Starting ingest on 2016-03-07 11:18:31 -0700 ---
[2016-03-07T11:18:31.793385 #13938]  INFO -- : Starting database ingest for

[2016-03-07 18:47] theLinkResolver commented on #916
@redlibrarian They're out there...

Scientific American 12 links
Germanic Review 11 links
Canadian Journal of Sociology 11 links
Library Journal 17 links
School library journal 13 links
Journal of Education for Business 10 links

I was going to take a wait-and-see-for-user/public-services-feedback approach for this one but was strongly encouraged to submit the idea at this time.

[2016-03-07 20:39] #383 closed

[2016-03-07 20:40] #284 closed

[2016-03-07 20:41] kgood commented on #405
Ezproxy login page was rebranded

[2016-03-07 20:41] #405 closed

[2016-03-07 20:41] kgood commented on #400
Hours application was rebranded

[2016-03-07 20:41] #400 closed

[2016-03-07 20:42] kgood commented on #263
Roombooking was rebranded

[2016-03-07 20:42] #263 closed

[2016-03-07 20:42] #426 closed

[2016-03-07 20:43] kgood commented on #261
RSS feeds moved to new domain

[2016-03-07 20:43] #261 closed

[2016-03-07 20:44] kgood commented on #279
Redirects set up for campus mobile app

[2016-03-07 20:44] #279 closed

[2016-03-07 21:05] #615 closed

[2016-03-07 21:06] #717 closed

[2016-03-07 21:08] kgood commented on #665
Archives was added to hours application and is also found on special collections web site

[2016-03-07 21:08] #665 closed

[2016-03-07 21:09] #630 closed

[2016-03-07 21:10] kgood commented on #629
Link issues were resolved.

[2016-03-07 21:10] #629 closed

[2016-03-07 21:11] kgood commented on #631
Going to leave link to neos catalogue for now.

[2016-03-07 21:11] #631 closed

[2016-03-07 21:12] kgood commented on #592
Closing issue - re: issue with https.  I believe it has now been resolved and is working.

[2016-03-07 21:12] #592 closed

[2016-03-07 21:13] #628 closed

[2016-03-07 21:13] #582 closed

[2016-03-07 21:17] kgood commented on #646
link to pin services was fixed.  Closing issue.

[2016-03-07 21:17] #646 closed

[2016-03-07 21:18] kgood commented on #659
Moodle widget links are all redirecting.

[2016-03-07 21:18] #659 closed

[2016-03-07 21:20] kgood commented on #647
UI Issues with Chat box were resolved.

[2016-03-07 21:20] #647 closed

[2016-03-07 21:21] kgood commented on #781
EDS ejournals and database links resolve to correct blacklight based URL.

[2016-03-07 21:21] #781 closed

[2016-03-07 21:22] kgood commented on #820
Closing old issue.  Images now work in Chrome

[2016-03-07 21:22] #820 closed

[2016-03-07 21:24] kgood commented on #853
Redirects set up for most old location URLs.  https://www.library.ualberta.ca/aboutus/coutts

[2016-03-07 21:24] #853 closed

[2016-03-07 21:25] kgood commented on #391
Closing old issue.  Temp solution found for where we point these links.

[2016-03-07 21:25] #391 closed

[2016-03-07 21:30] kgood commented on #381
Closing Issue.

[2016-03-07 21:30] #381 closed

[2016-03-07 22:08] seanluyk commented on #886
Interesting...I wonder why the discrepancy? When I do an advanced search for this author, I get 55 results, much closer to the NEOS#: https://www.library.ualberta.ca/catalog?utf8=%E2%9C%93&op=AND&all_fields=&title=&author=Cordasco%2C+Francesco%2C+1920-2001&subject=&sort=score+desc%2C+pub_date_sort+desc%2C+title_sort+asc&search_field=advanced&commit=Search&utf8=%E2%9C%93&search_field=dummy_range&ra

[2016-03-07 22:10] seanluyk commented on #790
Reopening, as I noticed that this is not appearing from a find more by this author search. For example:
https://www.library.ualberta.ca/catalog?f%5Bauthor_display%5D%5B%5D=Cordasco,+Francesco,+1920-2001

This just shows "Results for in all library collections" and is missing the searched term. The same is not true from an advanced search.

[2016-03-07 22:14] redlibrarian commented on #790
Hm. Now that I see this, I wonder how this should be phrased."Results for <name> in all library collections"? - does that seem OK?

[2016-03-07 22:15] redlibrarian commented on #886
Hm. Interesting - I'll dig into it.

[2016-03-07 22:20] seanluyk commented on #790
I think it should return the search term, if possible, from all search screens

[2016-03-07 22:24] redlibrarian commented on #790
Sorry, the markdown screwed up my comment. Is, for example, "Results for Cordasco, Franceso, 1920-2001 in all collections" sufficient?

[2016-03-07 22:37] seanluyk commented on #790
Ah, I see now. I think that should be sufficient.

[2016-03-08 16:25] theLinkResolver commented on #838
@redlibrarian Yes, let's just close this. Re. multiple links, we want them all displayed. They are what they are, and they're informed by various policies, needs, etc.

[2016-03-08 16:25] #838 closed

[2016-03-08 16:33] theLinkResolver commented on #729
I think having the "articles advanced search" button right under the title "Advanced search" helps a bit. The text in the search tips still needs revision ("local content", specifically), for which I opened discussion in #862. Maybe @ualbertalib/discovery-testing could set their sights on that issue and we can close this one.

[2016-03-08 16:40] theLinkResolver commented on #862
Suggestion

Replace this: "NB: This advanced search screen only searches local content.
Please use the Articles Advanced Search to search for non-local content."

With this: "You are searching **books**, **media**, **journal titles** and **database titles**."

[2016-03-08 16:56] theLinkResolver commented on #834
This issue is not a duplicate of #832. That issue is about filtering based on the 590 note.

This one is about filtering item locations (from the item record, e.g. On Shelf, Curriculum, Polar, Music, Reserves). Indeed, that is the same as issue #419.

[2016-03-08 16:58] theLinkResolver commented on #428
@redlibrarian @seanluyk Do you guys remember where you were seeing this? I can't find it.

[2016-03-08 17:24] linds37 commented on #729
As long as the Advanced Search doesn't search the same set of resources as the simple search, then it is still an issue. The ideal will be for it to search EDS as well.
Until it does, I think it should be explicitly stated that it's an Advanced Search for Books, Media & More (I know it also searches Journals & Databases, but there is no way to state that succinctly).

[2016-03-08 17:31] linds37 commented on #917
Great - thanks!
Brian and I had feedback in our session that we should publicly list what databases are included in EDS & Blacklight. We've heard this before. I know it would be an ongoing project to maintain, but it would create transparency and increased understanding of our discovery tools. If you would need help from public services staff to do this, please tell us and hopefully we can work so

[2016-03-08 17:37] redlibrarian commented on #917
There's a google doc that includes both enabled and "in EDS but turned off"
databases - for staff. Is it the feeling of staff members that faculty and
students would like to see this list?

On Tue, Mar 8, 2016 at 10:31 AM, linds37 <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-03-08 17:52] linds37 commented on #917
Yes. Is it always up-to-date?

[2016-03-08 17:59] redlibrarian commented on #917
I think so; it changes very rarely. I should go through it again to make
sure.

On Tue, Mar 8, 2016 at 10:52 AM, linds37 <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-03-09 16:19] seanluyk commented on #428
Hmmm, I'm no longer seeing "non-musical recording" but do see the occasional record labeled as format = sound recording.

Here's a list of sample records labeled as sound recording: https://search.library.ualberta.ca/symphony?f%5Bformat%5D%5B%5D=Sound+Recording&q=beethoven

It looks like if an item contains a substantial amount of narration, it gets labelled as sound recording, for example, in thi

[2016-03-10 17:08] theLinkResolver commented on #915
I have not been getting this error at all this week. @ualbertalib/discovery-testing Anyone else? Try loading [this record](https://www.library.ualberta.ca/catalog/954921392997) to see if you get the error.

Whatever was ailing the SFX lookups last week seems to have passed. Records are displaying much faster.

[2016-03-10 17:23] theLinkResolver commented on #900
I'll log an update here from the Bib Services/Serials Team side (already communicated to @redlibrarian).

Given the dependence on the SFX object ID for the e-journal de-duplication process, I have been working with Jim to obtain reports of problem SFX object ID data in our catalogue records (940 field) to ensure the proposed de-duplication process is well-served by the catalogue side of things. I

[2016-03-10 17:52] theLinkResolver commented on #794
@redlibrarian That will help clarity for a pre-limited articles search but not for the parenthetical terms we see in the grid view, unfortunately.

[2016-03-10 17:58] theLinkResolver commented on #756
@linds37 Do you agree that I duplicated this same issue in #828? If so, I will close that one in favour of this one.

[2016-03-10 18:14] theLinkResolver commented on #794
just want to cross-reference issue #705 here

[2016-03-10 18:25] theLinkResolver commented on #697
@redlibrarian Unfortunately, I still had this occur when I tested out your Toynbee Convector example. It wasn't quite as patterned (even vs. odd numbered results) as you described above, though. But it's still happening.

[2016-03-10 18:39] theLinkResolver commented on #559
@seanluyk @redlibrarian I think the original issue described here exists because it is the second 090 field that contains the HSS call number (M 1003 P67 I37 1938 folio), so a call number search is not finding it. Only the first 090 (Augustana in this case) is currently indexed (M 1003 P68 I52 1938). So, this will be fixed with #854, when all 090s get indexed - @redlibrarian I think we can close t

[2016-03-10 18:41] theLinkResolver commented on #549
The confusing "Library has" statement has long been removed from display, and the issue of summary holdings is covered nicely in #691. Closing this issue.

[2016-03-10 18:41] #549 closed

[2016-03-10 18:46] theLinkResolver commented on #539
The concerns in this issue have been addressed. [See this record for example](https://www.library.ualberta.ca/catalog/1705621). Each library's holdings are now together, and the items appear to be in order. There are still some oddities, like how (in this example) the HSS holdings are in descending order and then the other libraries are in ascending order, but I think that is a problem with Sympho

[2016-03-10 18:46] #539 closed

[2016-03-10 18:52] theLinkResolver commented on #516
@redlibrarian This was my issue. Now that Item types are displayed in the items table, this issue can be closed. In terms of displaying microform as the format of the material that a record describes, we have the GMDs showing currently and if/when we do the enhancement work around material type granularity, we can replace the GMD with something cleaner from the fixed fields. Closing.

[2016-03-10 18:52] #516 closed

[2016-03-10 18:52] redlibrarian commented on #910
Hm. This seems to not affacet all database records. It looks like it either affects records with multi-word subjects, or subjects with "&" in them.

[2016-03-10 18:55] redlibrarian commented on #910
Problem was with the ampersand. I've fixed this - it will be in the next release.

[2016-03-10 18:55] theLinkResolver commented on #507
This was the issue where search strings containing title-_space_-colon-_space_-subtitle were not returning results from Symphony, or bad results. Fixed in #712 - closing.

[2016-03-10 18:55] #507 closed

[2016-03-10 18:56] theLinkResolver commented on #492
No longer have an ebook bento, and subtitles are handled nicely now - closing.

[2016-03-10 18:56] #492 closed

[2016-03-10 19:01] theLinkResolver commented on #481
@redlibrarian hadn't noted this issue previously, but I guess maybe you could grab the coverage statement from 856 $3 and present that in the brief results? Definitely low priority/enhancement stuff, but I wanted to log that idea...

[2016-03-10 19:04] theLinkResolver commented on #466
This was the multiple copies issue, resolved in #672. closing

[2016-03-10 19:04] #466 closed

[2016-03-10 19:07] #441 closed

[2016-03-10 19:08] redlibrarian commented on #909
This is fixed now. A search for "medicine" lists MEDLINE first in the list of content providers.

Also, I checked the Solr configuration, and the way we're indexing databases right now, the subjects are ranked for databases the same as for other record types: so the more often a search term appears in the subject field (including all subjects in the record), the higher the weighting will be. So no

[2016-03-10 19:08] theLinkResolver commented on #440
@redlibrarian empty searches no longer allowed - close?

[2016-03-10 19:09] redlibrarian commented on #756
I agree that this is duplicated in #828. I'm going to close that ticket.

[2016-03-10 19:09] redlibrarian commented on #828
Duplicate of #756. Closing.

[2016-03-10 19:09] #828 closed

[2016-03-10 19:15] theLinkResolver commented on #264
@kgood Is this OK? Any concerns on the cataloguing side of things?

[2016-03-10 19:15] theLinkResolver commented on #751
@ualbertalib/discovery-testing Maybe we could review this in our meeting on Monday, first? Having been at almost all the training sessions, I can say that grid/list behaviours did cause some concern on various occasions. Maybe we can run through the toggle scenarios and decide whether there is something to fix or refer to usability testing.

See also #862 re. toggling from the grid view.

[2016-03-10 19:18] redlibrarian commented on #756
I've fixed this. It will be in the next release.

[2016-03-10 19:18] redlibrarian commented on #559
Thanks @theLinkResolver

[2016-03-10 19:18] #559 closed

[2016-03-10 19:19] theLinkResolver commented on #907
@gooyers @ualbertalib/discovery-testing Some other usability testing considerations?

Usefulness of call number filter - #892
Subject search usability, perceived usefulness - #864
Clarity around authorship - #827
Expanding filter lists/the _More_ link - #563

[2016-03-10 19:27] scastell commented on #697
also happened yesterday, and today, when I was searching for "complete patent kit". All 3 EDS search results go to the french interface.

https://www.library.ualberta.ca/results?utf8=%3F&q=%22complete+patent+kit%22

[2016-03-10 20:27] seanluyk commented on #910
Interesting, thanks!

[2016-03-10 20:37] linds37 commented on #915
I have not seen this error. The linked record shows up fine.

[2016-03-10 20:49] redlibrarian commented on #440
Oh, yes, that's right. Thanks.

[2016-03-10 20:49] #440 closed

[2016-03-10 20:50] redlibrarian commented on #751
Sounds good - can you have Tim put it on the agenda? @theLinkResolver

On Thu, Mar 10, 2016 at 12:15 PM, Scott Davies <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-03-10 20:51] theLinkResolver commented on #751
@redlibrarian done!

[2016-03-10 21:21] lindaslater commented on #909
Thanks, Sam,
That does answer my question, and just tested things, and MEDLINE results
are now included in the blacklight search.

Linda

*Linda Slater*, Public Services Manager, John W. Scott Health Sciences
Library, 2K312 WMC
University of Alberta, Edmonton, AB T6G 2R7.  Tel:  780-492-7948. Fax:
780-492-6960. Email:  linda.slater@ualberta.ca

On 10 March 2016 at 12:08, redlibrarian <notification

[2016-03-10 21:32] redlibrarian commented on #909
Great!

[2016-03-10 21:32] #909 closed

[2016-03-10 22:14] theLinkResolver commented on #428
I think the original facet values we were seeing were straight out of the MARC labels/definitions, which are, indeed, "Nonmusical sound recording" and "Musical sound recording". We now use "Sound Recording" and "Musical Recording". And @seanluyk is likely right - if most of the work is non-musical, it will get tagged as "Sound Recording". I will close this.

[2016-03-10 22:14] #428 closed

[2016-03-10 22:31] theLinkResolver commented on #480
There will be some other considerations around data in the original vernacular script, too. For instance, some of what is currently mapped to the "Original" field duplicates other fields, and also includes some bits that aren't wanted in the record view, such as the "Description based on" note.

A different approach would be to just present the vernacular title here. Once that is mapped/isolated,

[2016-03-11 03:49] seanluyk commented on #907
One UX concern that I've been getting lots of feedback on is about how well users can distinguish between similar items from the various views. This is mostly a labeling/display issue, but IMO it plays a huge part in how users interact with the system. So a concrete example of a usability test for this particular issue would be to ask users what information they expect to see in different places (

[2016-03-11 04:29] sjshores commented on #900
A huge undertaking, Scott, but very valuable work.

Thanks!

Sandra

On 10 March 2016 at 10:23, Scott Davies <notifications@github.com> wrote:

[2016-03-11 17:06] gooyers commented on #907
I'm finalizing some questions for a revised usability test that I will run by @redlibrarian and Sonya.

Subject headings, call numbers, interface (buttons, fonts) will all have specific questions devoted to them.

The previous usability tests featured follow up questions in the results and item record views regarding 'what information do you think is missing?' and users usually respond positively

[2016-03-14 15:50] theLinkResolver opened #921 "prompted for CCID for free resource"
I know this is an issue in iLink and am wondering if the new search will address it. When linking (off-campus), I still need to go through EZproxy for free resources such as this:

https://www.library.ualberta.ca/catalog/6324606

[2016-03-14 16:03] redlibrarian commented on #921
I'm pretty sure we want to leverage the cusomizability of Blacklight to prevent this. I can make sure all resources tagged as "Free Access" don't get proxied. This may not cover all resources which don't require a proxy, but it's a start. / @kgood do you have any thoughts about this?

[2016-03-14 17:41] redlibrarian opened #922 "Add language facet to databases."

[2016-03-14 20:48] redlibrarian commented on #862
As per DTTT I'm going to remove the toggle altogether. Remove text from search page "Features".

[2016-03-14 21:15] redlibrarian opened #923 "Add UA icon or "UAL" text to UA-owned books, etc, in bento view."

[2016-03-14 22:38] theLinkResolver commented on #836
Per today's meeting, group agrees Books, media & more box is the best of the bunch.

[2016-03-15 15:10] theLinkResolver commented on #915
@redlibrarian I'm going to reopen this because I am seeing the error again. Is it because the SFX update is being applied right now? @marcelgee

https://www.library.ualberta.ca/catalog/1000000000815519

[2016-03-15 15:29] theLinkResolver commented on #527
@redlibrarian has figured out how to make SFX links to Quicklaw and Westlaw journals work! Closing issue. @merisjames the serials team will be in touch re. cataloguing.

[2016-03-15 15:29] #527 closed

[2016-03-15 16:57] linds37 commented on #778
Would like to see this one fixed if possible.

[2016-03-15 16:59] linds37 commented on #393
As long as we have an ongoing reliable way to search reserves...

[2016-03-15 23:58] sjshores commented on #919
Another possible collection of interest to add is the CBC curio content.  We have access to poor quality MARC records and would not normally add this material to Symphony, but it might be nice to expose it through Search.

[2016-03-16 15:15] seanluyk commented on #761
I think this one can be closed for now, as the issue doesn't apply anymore.

[2016-03-16 15:15] #761 closed

[2016-03-16 21:30] theLinkResolver commented on #915
Getting the error now
https://www.library.ualberta.ca/catalog/110978977565339

[2016-03-17 19:41] lindaslater opened #924 "Go to Bookmarks not working"
In Firefox, nothing happens when I click on Go to Bookmarks.  In Chrome, I get an error message saying "We are sorry something has gone wrong".

[2016-03-18 15:00] nmacgreg opened #925 "Table 'searches' hoarding data"
In Prod, this table is approaching 500,000 entries.  Dates on the earliest records suggest all searches have been retained since service inception

Please supply code to clean the 'searches' table.  A 'Blacklight Development' Google-Group entry from 2012 [suggests the Dev team is aware of the problem](https://groups.google.com/forum/#!topic/blacklight-development/1ZH5YYUCorU) & supplies code.  I t

[2016-03-18 16:30] henryzhang87 commented on #925
Good catch Neil.

I checked with hydranorthprod database, there is a table called "searches"
as well. It has more than 1.5 million records there too.

We need to do something to it as well.

regards

Henry

On Fri, Mar 18, 2016 at 9:00 AM, Neil MacGregor <notifications@github.com>
wrote:

[2016-03-18 21:43] linds37 opened #926 "Subject headings not showing up in record"
Hi. In some records, the subject headings don't show up. For example https://www.library.ualberta.ca/catalog/626044

I purposely searched for words that appear in the subject headings for this book, and it comes up 3rd on the list. So, I think the field is being searched, but it's not being displayed?

Here's the search that I did: England social conditions 19th century industrial revolution

[2016-03-18 22:01] theLinkResolver commented on #926
@redlibrarian Same as #810?

[2016-03-18 22:07] seanluyk commented on #926
Looks like this is the same one, @theLinkResolver - for some reason I thought these were back?

[2016-03-21 15:19] seanluyk opened #927 "Item has no access link"
Found this issue while reviewing some BL links I had sent a student, and noticed that it had no access link:

https://search.library.ualberta.ca/catalog/7245545

It looks like this catkey does not appear in iLink or Workflows (catkey for this title in iLink is 7142592), so I'm wondering if it was a temporary catkey for a new record prior to reindexing?

What is the process for adding these kinds o

[2016-03-21 16:14] scastell opened #928 "Initial search screen, articles & more search not working"
The Articles & more limiter (initial search screen) is not working. The following error message displays regardless of the search term.

No search results.

Need help? Don't hesitate to contact your local reference librarian today, or try on of these useful guides:

    Library Research Guide #1
    Library Research Guide #2
    Library Research Guide #3

![image](https://cloud.githubusercontent.c

[2016-03-21 16:19] redlibrarian commented on #928
Can you try it again @scastell ? I just did some searches and they worked fine. It might have been a temporary problem with the EDS API.

[2016-03-21 16:33] scastell commented on #928
Tried again, same result. Used 2 different staff stations, tried Firefox and Chrome.

[2016-03-21 17:19] redlibrarian commented on #928
@ualbertalib/discovery-testing Can anyone else replicate this problem? Thanks.

[2016-03-21 17:21] merisjames commented on #928
I got no results.

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Mon, Mar 21, 2016 at 11:19 AM, redlibrarian <notifications@github.com>
wrote:

[2016-03-21 17:26] seanluyk commented on #928
Worked for me, although I've experienced this problem in the past. Is it possible that browser cache has anything to do with the issue?

[2016-03-21 17:45] scastell commented on #928
I have deleted the browser histories. Restarted the stations. ... same results ie none.

[2016-03-21 17:46] linds37 commented on #928
worked fine for me just now (Monday, March 21 at 11:46 am).
Btw, I made a typo, but it still found results. I searched for Chicagoe (don't ask me what the "e" is for) and it found things in all 4 panes.

[2016-03-21 17:46] linds37 commented on #928
@scastell what are you searching for?

[2016-03-21 17:57] theLinkResolver commented on #927
@seanluyk It looks like this is a case where multiple vendors' e-book records have been merged into a single record - the record you are pointing to was one of the ones that was deleted in favour of another.

I am going to see if I can get some more insight into the e-book de-duplication process plays out -- specifically, if there are any consistent ways that the "keeper" record is determined (i.e

[2016-03-21 17:59] theLinkResolver commented on #928
@redlibrarian I also have this problem.

[2016-03-21 18:03] scastell commented on #928
Aha, I see a possible explanation.

I attempted to duplicate the search but forgot to click the articles & more box so searched everything, results as expected. I then went back to the original search box redid the search limiting it to articles & more. Voila - search results.

I then cleared the browser cache and tried again. This time I clicked on the articles and more box. No search results. Se

[2016-03-21 18:12] redlibrarian commented on #928
Thanks everyone. I just did some testing on a few (clean) staff machines and the tests confirms @scastell 's diagnosis. For some reason, a successful search needs to go through before an "Articles & More" search will work. I think this is a problem with the EDS API and should be temporary. This issue came up briefly right at the beginning of Blacklight development. I'll keep an eye on it and open

[2016-03-21 20:00] lindaslater opened #929 "Use Indiana EDS gem instead of default EDS."
I notice that there is an author facet in the Book results which allows people to limit to books written by the author rather than books about the author.  The Articles results does not have this face.  As an example, I searched "atword margaret" and click into the Articles list.  Most of what was listed was about Margaret Atwood or her works.  It wasn't possible within Blacklight to retrieve a li

[2016-03-21 20:03] redlibrarian commented on #929
@lindaslater - It's trickier than it should be to add a facet to the Articles/EDS functionality, but I'll look into it.

[2016-03-21 20:17] seanluyk commented on #927
Thanks, @theLinkResolver, I guess I was surprised it was still there, but I tend to find issues at ideal times. It would be interesting to see when that record would be purged from BL. I sent the link out to a student on February 23rd if that's of any help

[2016-03-24 18:27] redlibrarian opened #930 "Mobile design."
In the meantime though, is there a way to make the record a little more "mobile friendly"?  Follow the link below on your phone and you'll see what I mean. The call number is there but waaaaay at the bottom. The images also look a little compressed.

[2016-03-24 21:01] redlibrarian opened #931 "Add proactive chat to result pages."

[2016-03-29 20:10] redlibrarian opened #932 "[Discovery] Fix deletes"
This is one of the most important issues. We need to know that records that come through marked for deletion are, in fact, being deleted from the index. I found this tricky to do - probably something I'm missing, but also because our Symphony records don't use standard MARC practice for this.

Done when:

- [ ] Deletion logic is in place and tested
- [ ] Deleted records are removed from production

[2016-03-29 20:12] redlibrarian opened #933 "Fix Gem alerts"
https://mail.google.com/mail/u/0/?shva=1#inbox/15384d5f924b66c6

[2016-03-29 20:13] redlibrarian opened #934 "Create libguide search widget"
https://mail.google.com/mail/u/0/?shva=1#inbox/15380c375fd18535

[2016-03-29 20:13] redlibrarian opened #935 "Work on documentation"

[2016-03-30 21:44] seanluyk opened #936 "Go to Bookmarks leads to "something has gone wrong" page"
Issue reported at the desk - I was able to successfully replicate it in Chrome and Firefox.

[2016-03-31 14:43] redlibrarian commented on #936
Duplicate of #924 Closing this one.

[2016-03-31 14:43] #936 closed

[2016-03-31 14:45] redlibrarian commented on #927
This is an issue with the delete logic, which I need to fix. Issue #932

[2016-03-31 14:48] redlibrarian commented on #203
Duplicate of #932

[2016-03-31 14:48] #203 closed

[2016-03-31 14:53] redlibrarian commented on #757
It turns out that the API version of EDS is not kept in sync with the desktop version, so Literary Reference Centre wasn't enabled in the API/Blacklight. I've enabled it now, and I've made a note to reconcile the two sets of enabled databases.

[2016-03-31 14:58] redlibrarian commented on #807
As per the last DTTT meeting, we're going to remove the grid/list toggle, as the potential for it to be confusing outweights the usefulness.

[2016-03-31 14:59] redlibrarian commented on #851
See #932 Deletes for all collections aren't working properly.

[2016-03-31 15:00] redlibrarian commented on #862
We had a discussion at the last DTTT meeting about the best way to handle advanced search (probably contextually), but we need to have some more discussion.

[2016-03-31 15:03] redlibrarian commented on #889
@theLinkResolver I'm not sure if this is still an outstanding problem?

[2016-03-31 15:04] redlibrarian commented on #890
See #932

[2016-03-31 15:06] redlibrarian commented on #896
This is the same problem as #757 - should be fixed soon.

[2016-03-31 15:06] redlibrarian commented on #899
This is working now.

[2016-03-31 15:06] #899 closed

[2016-03-31 15:09] redlibrarian commented on #915
My sense is that the SFX server is taking longer than it used to to respond. I will raise the timeout limit, which will help (though the pages will appear to be taking longer to load).

[2016-03-31 15:34] redlibrarian commented on #932
I just figured out how to test symphony deletes, and it seems to be working. I may not understand precisely how the Symphony records are being marked for deletion. I'll have to check with Jim.

As for the SFX and database records, since we do a *full* ingest every night, the plan is to simply delete everything from those indexes before reingesting.

[2016-03-31 18:00] #851 closed

[2016-03-31 19:10] redlibrarian commented on #890
OK, with this one - the second example is gone (which is good). The first example is still present in the index, and when I look at it, it is *not* marked as deleted. This implies that the problem is with Jim's logic for how to handle shadowed records. What I think we should do is as follows: add a note to records with no holdings saying that the record may be missing or lost, and then in the summ

[2016-03-31 19:10] redlibrarian opened #937 "Add "no holdings or copies" message to record view."

[2016-03-31 19:15] #937 closed

[2016-03-31 19:17] redlibrarian commented on #927
I've added logic which will add a note "No copies found. This item may be lost or missing" to records like these. I think there's an underlying data problem here that we'll need to talk about in the summer. For this  particular issue, please check in the next release, and if the temporary solution is satisfactory, we can close this one.

[2016-03-31 19:17] theLinkResolver commented on #890
There's actually an interesting idea here (which I can't claim as my own) -- if we have a record where all items are in a shadowed location such as lost or missing, having the record in search results actually still helps the users discover the resource, and we can point them to ILL. Rather than not discovering the resource at all as is the case in the classic catalogue.

However, some shadowed lo

[2016-03-31 19:19] redlibrarian commented on #932
OK, from what I can tell Symphony deletes are working, but there's a misunderstanding of how records in Symphony are being recognized and tagged as requiring deletion. We should look at this in the summer with Jim. For Databases and SFX, I've added the logic to wipe out those records before reingesting. We'll check it in the next release, and then this issue can be closed.

[2016-03-31 19:23] #807 closed

[2016-03-31 19:35] redlibrarian commented on #860
The error was in the due date parsing as this record has due dates of "NEVER". This should be fixed in the next release.

[2016-03-31 19:37] redlibrarian commented on #890
That's a good point. I can easily add a link to the ILL form when there are no holdings.

As you point out though, this isn't particularly simple, and we've been handling it on a pretty ad-hoc basis (both for Blacklight and EDS), so I'd like to get all the right people to sit down at some point to figure out what the best way is to handle all this.

[2016-03-31 19:39] theLinkResolver commented on #889
@redlibrarian Sort of... go to this [helpdesk ticket](https://helpdesk.library.ualberta.ca/otrs/index.pl?Action=AgentTicketZoom;TicketID=32474#117246) and click on the link to the "complete record with more information". When I do that, I don't see the U of A access link in the record. But when I search for this journal, the link appears as expected. I just don't get why it's not displaying when I

[2016-03-31 19:53] redlibrarian commented on #924
Check in next release. @lindaslater @seanluyk

[2016-03-31 20:05] redlibrarian commented on #889
@theLinkResolver Ah, I think I know why I'm confused. When I link out of OTRS, I *do* see the U of A Access link in the "complete record with more information".

[2016-03-31 20:25] redlibrarian commented on #915
The problem is clearly only intermittent (I'm access all the links in this issue with no problems right now). Notwithstanding, I've raised the timout limit to 4 seconds (same as Symphony), so we should see an improvement.

[2016-03-31 20:26] theLinkResolver commented on #889
@redlibrarian Hmm, same result for Chrome and IE. (I use FF)

[2016-04-01 19:07] redlibrarian commented on #900
OK, so, thanks to Scott's work, 940s in the Symphony data have been normalized. We can use these to match SFX record to Symphony record. Ideally, in the case of duplicated records, we would like to keep the Symphony information (because of the richer metadata) but then use the SFX web services to pull in the holdings/subscription information.

There are two ways to go about this, neither of them i

[2016-04-01 19:43] redlibrarian commented on #923
So, in LibGuides and in the database info pages, we include a small icon of the UA shield for databases that are specifically licensed to us (as opposed to free resources). In the original Blacklight database interface we had them too, as the old DB of DBs included license information. That's gone from the current Blacklight DB interface (based on libguides), because there's no license field to lo

[2016-04-01 20:31] redlibrarian commented on #923
OK, this is done for the bento box. I assume the same thing is desired in the result views. It needs some tweaking, but that should be done as part of #836

[2016-04-01 20:44] redlibrarian commented on #923
I've added the icon to the result lists as well.

[2016-04-01 20:48] redlibrarian commented on #858
This is fixed, probably due to changing the data we use for locations now.

[2016-04-01 20:48] #858 closed

[2016-04-01 20:54] seanluyk opened #938 "Authors/additional authors - different results from advanced vs. find more by this author search"
Clicking on find more by this author appears to only return results where the term is in the author field, but not additional author fields. However, an advanced search for an author returns results that include the term in the additional author field.

For example, clicking on [find more by this author from the Darnton book](https://search.library.ualberta.ca/catalog?f%5Bauthor_display%5D%5B%5D=D

[2016-04-01 21:18] redlibrarian commented on #938
I agree that the functionality should be consistent. I'm not sure which (Solr) fields the advanced search box looks at, but I should be able to add them to the facet for "more by this author".

[2016-04-01 21:22] redlibrarian commented on #872
Item locations aren't searched (they aren't actually indexed), but it's possible that some bib-level location information is in the index. I'll have to take a look. I would assume that *no* location information should be searchable - people don't usually put a location in with their search terms (though they could, of course) - does the team feel that this assumption is correct? Should locations b

[2016-04-01 21:25] redlibrarian commented on #872
@merisjames Do you have an example search I can try? I thought "Alberta History French" would be one, but without quotes the results all seem relevant, and with quotes I get zero results....  Thanks.

[2016-04-01 21:26] redlibrarian commented on #889
Ah. I managed to replicate the problem on UWS. Investigating.

[2016-04-01 21:29] theLinkResolver commented on #923
@redlibrarian There are still some free resources in the (LibGuides) database list. An example would be the Alberta Law Collection.

[2016-04-01 21:31] theLinkResolver commented on #938
@seanluyk Agreed.

[2016-04-01 21:35] redlibrarian commented on #889
Fascinating. When I look at the JS Console on the page that isn't loading the link (coming out of OTRS) I see the message "62914678:1 Blocked script execution in 'https://search.library.ualberta.ca/catalog/2914678' because the document's frame is sandboxed and the 'allow-scripts' permission is not set." This message does not occur when I find the record in the system. When I copy and paste the URL

[2016-04-01 21:42] redlibrarian commented on #923
Hm. OK. Then there must be a way to specify UA-licensed in LibGuides, but I can't see the field anywhere. I'll check with April next week. Be advised that the UA shield will appear on *all* databases in the next release. Tweaking the databases will be in the release after that, I hope.

[2016-04-01 21:42] theLinkResolver commented on #889
@redlibrarian That is great that you were able to get some understanding of this bizarre issue. Having logged it here, I agree that we should close this, since we haven't heard any other instances of this happening. That said, this needs to be broadcasted to anyone who handles helpdesk tickets that may contain a link to a Blacklight record. I have an idea of who that is, on my floor, but perhaps @

[2016-04-01 21:45] redlibrarian commented on #889
I think we can certainly communicate it to ITS. The problem is intermittent even then, as I didn't see the issue until I was on Chrome/Laptop/UWS. So yes, I think we can close this and just communicate the issue to others (most/all Blacklight tickets should come through me anyway, for now).

[2016-04-01 21:56] linds37 commented on #938
also agree that both search functions should pull results from the author and additional author fields.

[2016-04-02 01:44] sjshores commented on #900
Chiming in from beautiful sunny Whistler, I think we need an in-person
meeting to discuss the details and ramifications of each choice.  My
current inclination is to wait for the BL community to take advantage of
the option of live merging of records, but I'd like to discuss further.

Sandra

On 1 April 2016 at 12:07, redlibrarian <notifications@github.com> wrote:

[2016-04-04 14:14] merisjames commented on #872
I would argue that most of the top results for "Alberta History French" aren't relevant... The top ten results are all about French history, with "Alberta" appearing somewhere in the notes field, and dealing with location information.
Similar results show for "alberta ??? history"... Lots of stuff about the history of ???, plus a note field mention of Alberta dealing with holdings information.
Exa

[2016-04-04 17:00] redlibrarian commented on #872
Oh, I see sorry. Yes, Alberta History French* aren't relevant. So the note field should be weighted lower. Most of the examples given have "University of Alberta" in the notes field. The one that doesn't has "University of Alberta" in some other fields, though I'll have to check which of those are indexed for searching.

Certainly the notes field should be weighted lower. We don't want to remove i

[2016-04-04 18:33] redlibrarian commented on #883
OK. I've figured out a way that we don't need to rely on getting anything from Ernie. As long as the OUR links in SFX are kept up to date, Blacklight will be up to date. This will make for a much streamlined process. The patch will be in place in the next release.

[2016-04-04 19:00] #933 closed

[2016-04-04 19:12] redlibrarian commented on #926
OK, the Geo Subject was appearing in the record, but as the facet, and not clickable (as per #810 that was going to be left until later. However, I've added the geo subject to the normal, clickable subject interface now. I've removed the static Geo Subject string as it was confusing when presented alongside the normal subject interface. This fix will require a full reindex to see, so it might not

[2016-04-04 19:13] redlibrarian commented on #900
Thanks @sjshores , that makes sense. I'm going to park this issue for now - we can discuss it when you're back. Hope you had fun skiing.

[2016-04-04 19:15] redlibrarian commented on #866
Commit #939 was a PR to fix this issue. It should work after the next release/full reindex.

[2016-04-04 19:30] redlibrarian commented on #829
OK, this is in place. The design needs some tweaking, but the functionality is there.

[2016-04-04 19:36] redlibrarian commented on #871
Weird. The bottom slider seems to be sensitive to the position of the cursor, so I think that one's moving "up" as expected. I don't know why the top date should be affected. I'll look into this, but I don't think this is critical enough that it *necessarily* needs to be fixed by May launch. I might put this into a different milestone if it's tricky to fix.

[2016-04-04 19:46] redlibrarian commented on #871
We're up-to-date with the gem. I'm going to move this to look into over the summer.

[2016-04-04 19:54] redlibrarian commented on #929
I'm going to move to the University of Indiana gem this summer. I think that gem will have better/different functionality.

[2016-04-04 19:58] redlibrarian commented on #577
I'm going to link this issue with #929 , which I think will solve a lot of these EDS gem issues.

[2016-04-04 20:03] redlibrarian commented on #482
To do this, we need to go: EbscoAdmin, Linking, Setup/Maintain Custom Links, University of Alberta Custom Catalog. (There are others).

[2016-04-04 20:30] redlibrarian opened #940 "Upgrade to latest version of Blacklight"

[2016-04-04 20:52] redlibrarian commented on #934
Basic search widget is here: https://github.com/ualbertalib/discovery/blob/master/public/widget.html

I'll add this to the assets in LibGuides.

[2016-04-04 20:59] redlibrarian commented on #934
This has been added to libguides and can be seen on the computing science guide.  http://guides.library.ualberta.ca/computing-science

[2016-04-04 20:59] #934 closed

[2016-04-04 23:56] redlibrarian opened #941 "Make series statement clickable."

[2016-04-05 15:47] redlibrarian commented on #882
I've built a proof of concept into the application, but we need to discuss how we want it to behave. I'll put it on the agenda for the next @ualbertalib/discovery-testing meeting (next Monday).

[2016-04-05 15:50] redlibrarian commented on #756
Hm. It's only retaining the first word in a phrase, ie "global warming" => "global". I need to tweak that.

[2016-04-05 15:51] redlibrarian commented on #757
This is working now.

[2016-04-05 15:51] #757 closed

[2016-04-05 15:52] redlibrarian commented on #860
This is now working in test.

[2016-04-05 15:52] redlibrarian commented on #896
This is working now.

[2016-04-05 15:52] #896 closed

[2016-04-05 15:54] redlibrarian commented on #910
This is working in test now.

[2016-04-05 15:55] redlibrarian commented on #915
I'm going to close this, as 4 seconds seems to be sufficient for now. Feel free to reopen it if the problem persists.

[2016-04-05 15:55] redlibrarian commented on #923
This is working in test, with the above mentioned proviso. Also, the Symphony e-journal piece needs to be tweaked.

[2016-04-05 15:57] redlibrarian commented on #924
This is working in test.

[2016-04-05 15:58] redlibrarian commented on #927
This is working in test.

[2016-04-05 15:58] redlibrarian commented on #927
@theLinkResolver Can you take a look at this on search-test and let me know what you think? https://search-test.library.ualberta.ca/catalog/7245545

[2016-04-05 16:07] theLinkResolver commented on #927
@redlibrarian The note looks good. A reasonable temporary solution that gives some info to the user.

[2016-04-05 16:18] redlibrarian commented on #931
This has been done (in bento and list results). It will be present in the next release.

[2016-04-05 16:18] #931 closed

[2016-04-06 15:35] redlibrarian commented on #872
Hmm. I just experimented with lowering the weighting of the note field and it made no difference. On closer inspection, a sample record from the *alberta history french* search showed no indexed text containing the word "alberta". Given that a phrase search "alberta history french" returns no results, I wonder if the search is silently dropping the word alberta from the search in order to return r

[2016-04-06 15:45] merisjames commented on #872
If the search is dropping "Alberta", I think that's definitely an issue
that requires further exploration, especially since there are results such
as
https://www.library.ualberta.ca/catalog/2092433
https://www.library.ualberta.ca/catalog/788141
https://www.library.ualberta.ca/catalog/6976
that I think should be privileged above results that lack a key search term.

Meris James, MLIS
Public Service

[2016-04-06 15:47] redlibrarian commented on #872
Hm. Yes. I think there's something to this I'm not quite understanding. I'll have investigate further.

[2016-04-06 15:50] redlibrarian commented on #756
Strange. This is working right now on my workstation, but not in search-test. I'll check it again when the next release is pushed to test.

[2016-04-06 16:05] redlibrarian commented on #921
@theLinkResolver I think I have the logic in place. In the record listed above, the proxy prefix is not used. However, I'm having difficulty finding a non-Free, but non-SFX record to test with (since SFX doesn't get proxied either). @theLinkResolver can you think of a record like that?

[2016-04-06 16:07] redlibrarian commented on #923
Checking with April now...

[2016-04-06 16:17] theLinkResolver commented on #921
@redlibrarian https://www.library.ualberta.ca/catalog/6825189

[2016-04-06 16:23] redlibrarian commented on #921
@theLinkResolver Thanks, that's perfect.

[2016-04-06 16:43] redlibrarian commented on #921
OK, this should work now. It will be ready in the next release.

[2016-04-06 17:20] redlibrarian opened #942 "Test coverage."

[2016-04-06 17:21] redlibrarian commented on #942
https://coveralls.io/

[2016-04-07 16:15] redlibrarian opened #943 "Add Google Scholar pane to bento box"

[2016-04-07 20:46] seanluyk commented on #810
It looks like this is partially working now, but in this example only Saskatchewan shows up under geographic subject, and encyclopedia is not there. Here's another example (where the subdivision is also removed (651 $v missing):

https://search.library.ualberta.ca/catalog/1448822

[2016-04-07 20:48] redlibrarian commented on #810
Hi Sean,

It's not in production yet. If you try the same record in search-test, you
might be able to see the correct Geographic subject string (I'm not sure if
that version of the application is in test yet, but should be shortly).

On Thu, Apr 7, 2016 at 2:46 PM, seanluyk <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-04-07 20:49] seanluyk commented on #810
Doesn't appear to be in test yet - but I'll check back again

[2016-04-07 20:50] redlibrarian commented on #810
Thanks. I can let you know when the latest release is in test.

On Thu, Apr 7, 2016 at 2:49 PM, seanluyk <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-04-07 20:59] seanluyk commented on #790
This appears to be working in production and test, except for find more by this author searches - those still just show results for in all library collections

[2016-04-07 20:59] redlibrarian commented on #790
That should be in the next release, too. Thanks.

On Thu, Apr 7, 2016 at 2:59 PM, seanluyk <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-04-07 21:00] seanluyk commented on #935
I'd be happy to contribute to this over the summer, @redlibrarian

[2016-04-07 21:05] seanluyk commented on #927
@redlibrarian this is a good temporary solution, but it would be great if something like "Please contact the library for assistance locating this title" could be added to the note.

[2016-04-07 21:06] redlibrarian commented on #927
OK, sure, I'll take care of it. Thanks.

On Thu, Apr 7, 2016 at 3:05 PM, seanluyk <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-04-07 21:28] seanluyk commented on #923
This works really wellin test, the only suggestion I have is regarding the placement of the icon in both views.

In the grid view, is there any way to make sure it doesn't land on its own line?

In the list view, is there any way to move it up so it's to the left of the brief record, and not on its own line?

[2016-04-07 21:56] seanluyk commented on #910
This is working, but I'm now wondering why clicking on a subject attached to a database brings users to the grid view? The expected behaviour would be to see more databases with that subject applied in a list view, I think

[2016-04-08 15:48] redlibrarian commented on #923
Thanks @seanluyk - I still have to tackle all the aesthetic elements (e.g. #836 ), so I'll put your suggestions through as part of that issue. I've added the logic to the databases to reflect whether they're licensed or not - that will be in the next release.

[2016-04-08 15:48] redlibrarian commented on #836
From @seanluyk in #923 : This works really well in test, the only suggestion I have is regarding the placement of the [shield] icon in both views. In the grid view, is there any way to make sure it doesn't land on its own line? In the list view, is there any way to move it up so it's to the left of the brief record, and not on its own line?

[2016-04-08 17:17] linds37 commented on #836
When you hover over the shield, it says "licensed for U of A only". That's not quite accurate, because some of them are for resources that are also licensed at other NEOS Libraries. Can it say "licensed for U of A" [remove the "only"] or "Licensed for UA Libraries"  ?

[2016-04-08 17:21] linds37 commented on #836
This one: https://search-test.library.ualberta.ca/catalog/5973976 says it's an ebook, but it isn't. It says it's missing? @theLinkResolver - Scott can you compare to the Classic catalogue entries and figure it out?

[2016-04-08 17:22] seanluyk commented on #836
@linds37 looks like this one is a know issue, reported in #927  - what do you think about the content of the note?

[2016-04-08 17:25] linds37 commented on #836
the content of the note doesn't really make sense for an ebook

[2016-04-08 17:29] seanluyk commented on #836
Agreed, the first note doesn't. I was thinking for the second note that something along the lines of "contact the library to access this title" might help, as it is designed to deal with the issue of records that shouldn't be there, but are after a records merging process.

[2016-04-08 17:56] theLinkResolver commented on #836
Indeed, this is a record that is no longer in the system but remains in Blacklight due to deletions issues.

[2016-04-08 17:57] theLinkResolver commented on #836
@linds37 @seanluyk @redlibrarian And I agree that the 'no copies found' note could be broadened to cover the online context.

[2016-04-08 17:59] redlibrarian commented on #836
Thanks all. I'm hoping the deletion issue will be fixed soon. As for labeling, if you give me the wording you'd like to see, I can implement it. Also, the record currently shows the "no ua access" as well as the "no copies" notes - I'll make it so it shows only the one appropriate for the context.

[2016-04-08 18:24] scastell commented on #836
Example of a situation where adding the UA icon doesn't work as expected.

https://search-test.library.ualberta.ca/results?utf8=%3F&q=marketline

The original search was for Marketline, which is a database that we subscribe to - database came up as expected with the UA icon beside the record.

The problem lies with some of the other 364 records in the books, media & more bento box.

Background inf

[2016-04-08 18:28] redlibrarian commented on #836
The issue with the databases has been fixed and will be visible in the next release: as long as the license information is kept up to date in libguides, the shield will appear only next to the correct databases.

As for the books, media and more, there must be a problem with the logic. I'll look into that.

[2016-04-08 18:46] theLinkResolver commented on #836
@scastell I realize I haven't had a chance to analyze your email to me from a couple weeks ago. Re. these Marketline reports and the like, I think our links are going to appear in them now. e.g. https://www.library.ualberta.ca/catalog/6335070

This is because some of the challenges around getting a full update of our records to reflect SFX data _appear_ to have been resolved (the process we call "

[2016-04-08 19:37] scastell commented on #836
good heavens - I forgot about that email.

Are the UA holdings being added over time ie soon all records will have
links to UA and MacEwan holdings.

Thanks
Sandra

On Fri, Apr 8, 2016 at 12:46 PM, Scott Davies <notifications@github.com>
wrote:

[2016-04-08 19:45] linds37 commented on #836
Ask for help sounds like a better way to go. In this case, there are several ways to access the content of the book - two e and one print, but the record that doesn't work comes up first

[2016-04-11 15:27] theLinkResolver opened #944 "adding various note fields"
There are a number of open issues that are asking for note fields to be added. Here is a list of all of them (I believe):

515 - Numbering peculiarities (#720)
518 - Date/time and place of an event (#905)
540 - Terms of use and reproduction (#720)
546 - Language (#720)
550 - Issuing body (#918)
586 - Awards (#879)

In addition to these (many suggested by others), I would add the following:

525 -

[2016-04-11 15:29] redlibrarian commented on #944
Thanks @theLinkResolver - I have a Milestone for these (https://github.com/ualbertalib/discovery/milestones/Records%20and%20Fields) which I'll be working on this week.

[2016-04-11 15:31] theLinkResolver opened #945 "browse call number functionality"
This was noted by a colleague as being of possible future interest - [see Stanford](https://searchworks.stanford.edu/view/7105806)

[2016-04-11 15:52] theLinkResolver opened #946 "deal with Symphony record "bound-with" function"
The "Bound-with" function is used to link titles that are bound together. We see these when a single bound volume contains more than one work -- titles were bound together to be preserved in an economical fashion. (Note to readers: this is different from the "bound with" note you may see in the catalogue when a serial title changed in mid-volume, and we cross-reference the volume under old and new

[2016-04-11 15:56] theLinkResolver commented on #946
Oh and these records make use of the 501 "With" note, to explain the binding situation, which is not currently displayed in BL.

[2016-04-11 16:34] redlibrarian opened #947 "Change ejournal bento pane to say just "ejournals""
Make sure Symphony print and e are in the Books, Media, and More pane.

[2016-04-11 17:19] theLinkResolver opened #948 "discrepancies when searching named collections"
I'm a bit concerned about these discrepancies, as noted by Special Collections staff:

"Priesterseminar library of the Archbishop of Salzburg"
iLink: 2,867 titles
[Blacklight](https://www.library.ualberta.ca/symphony?f[electronic_tesim][]=Online&q=%22Priesterseminar+library+of+the+Archbishop+of+Salzburg%22): 2,855 titles

"Dr. Ronald B. Madge Entomology Collection"
iLink: 873 titles
[BL](https://w

[2016-04-11 18:01] theLinkResolver opened #949 "improve use and display of 245 field data"
We've touched on this in various contexts (see below) but there is not one issue that pulls it all together. @redlibrarian When we talked about authorship with @seanluyk this also came up and it seemed like a summer project.

Basically, everything in the 245 before $c should be displayed as the title in results and records, and there is also some consideration needed for displaying the $c (stateme

[2016-04-11 18:07] theLinkResolver opened #950 "sort Historic Period filters alphabetically in advanced search?"
There was a suggestion that these could be more useful for pre-filtering if they were alphabetized.

[2016-04-11 18:12] theLinkResolver opened #951 "display more fields in SFX records"
We can improve SFX records a little bit by displaying more of the metadata that's available (earlier/later title and publisher, in particular). @redlibrarian Can you point me to the current mapping for these?

[2016-04-11 18:37] theLinkResolver commented on #882
@redlibrarian I checked and there is a MARC field for Date/time stamp (005) but it won't help us with this. I think the data you need will have to come from the item record:

![datecreated](https://cloud.githubusercontent.com/assets/14913579/14438018/3a837a68-ffe1-11e5-9c26-e3abecf0c231.jpg)

Items added to existing records (vs. newly-created records) are important to include, because another NEOS

[2016-04-11 21:41] theLinkResolver commented on #880
@redlibrarian Sorry for the delay (Brian was **not** gone this whole time!). He says that the entire text of the field can be displayed as one paragraph, so yes, that display should be fine.

[2016-04-12 15:24] redlibrarian commented on #457
OK, I've added all the 240 subfields (a-z) into a "Full/Alternate Title" field, which will appear right below the main title in the record display. This field won't appear in the brief record/result view, but I think that's OK. These alternate titles are also indexed for search. This will all appear in the next release.

[2016-04-12 15:27] redlibrarian commented on #481
@theLinkResolver Are we talking about SFX ejournals, Symphony ejournals, or both? This may need to wait until we've figured out deduplication...

[2016-04-12 15:29] redlibrarian commented on #547
This question is hard to deal with while we have artificial workarounds in place to deal with the duplicate record issue. This will have to wait for that to be solved.

[2016-04-12 15:40] theLinkResolver commented on #481
@redlibrarian I guess it would be both. This is a nice idea, from whoever had it, but we also want to be careful about presenting dates of subscription coverage in one box and dates of publication in another box. Labeling is key (isn't it always?).

[2016-04-12 16:14] redlibrarian commented on #580
@seanluyk OK. I've made the changes specified in the note (except additional authors, which I need to do separately). I've figured out how to customize the display of all the fields, which means I can get rid of a "find more by this author" section of the page, and just hyperlink the author field. I'll do this with additional authors as well. I'll let you know when this is in test.

[2016-04-12 16:16] redlibrarian commented on #642
@theLinkResolver @seanluyk Not sure what we had decided to to here. Does this need to go back to the group for any discussion?

[2016-04-12 16:19] redlibrarian commented on #670
Related to #707 . @theLinkResolver @seanluyk I know we went through these before. I currently have all of 111, and most of the subfields of 100, 700, and 710 indexed. I don't know if there's more to be done here - I'll have to find my notes on that meeting we had.

[2016-04-12 16:35] redlibrarian commented on #707
I've linked author_addl_t, which should help. In conjunction with #670, I need to work through this in more detail.

[2016-04-12 16:37] redlibrarian commented on #737
I've added the UAL shield to all Symphony records owned by (at least one) UA library. Does this solve this problem? @ualbertalib/discovery-testing

[2016-04-12 16:49] redlibrarian commented on #755
I don't know if this is a data problem or an indexing problem. @theLinkResolver Are there likely to be records with call numbers beginning with lowercase letters, even if only accidentally?

[2016-04-12 16:53] #782 closed

[2016-04-12 16:56] theLinkResolver commented on #642
@redlibrarian @seanluyk I think the idea was that, any time there is an "item type" term that closely resembles a "format" term, we should try to get the two to match. I can look at this.

[2016-04-12 17:00] redlibrarian commented on #783
As per this ticket, I have merged subfields a, b, c, and e into a single line. I used Brian's suggested label of "Other Physical Details" rather than "Contains", but that's easily changed. I can also add other subfields if anyone thinks they're necessary. When the next index is up, please take a look and let me know what you think of how the fields are displaying.

[2016-04-12 17:00] theLinkResolver commented on #642
@redlibrarian The only two changes we can make [here](https://github.com/ualbertalib/discovery/blob/master/config/item_types.yml) are:

musicscore: music score ---- change to musical score
musicsound: music sound recording ---- change to musical recording

[2016-04-12 17:02] redlibrarian commented on #784
@theLinkResolver Let's do that. I'm going to close this issue. Feel free to open a new one with your concerns - it will likely go in the summer projects milestone.

[2016-04-12 17:02] #784 closed

[2016-04-12 17:05] theLinkResolver commented on #783
@redlibrarian All of the subfields should display, really, as you will get partial data if any are omitted. e.g. $a5$fboxes$a(3$flinear ft.) would display as "5 (3" without $f!

The subfields for 300 are a, b, c, e, f, g, and 3. Thanks; I should have looked into this sooner.

[2016-04-12 17:09] redlibrarian commented on #796
OK, I've added $b and $q to "Publisher Number". For example, in record 1000055 the Publisher Number now appears as: NKF 30058 Norsk kulturråds klassikerserie (in production it currently reads only "NKF 30058"). I'll let you know when this is in test and you can see if that is satisfactory.

[2016-04-12 17:11] redlibrarian commented on #642
Done. This will be in the next release.

[2016-04-12 17:14] redlibrarian commented on #803
I've add this to the appropriate indexed. Check in next release.

[2016-04-12 17:16] redlibrarian commented on #810
I don't know why it's not in test yet. I've asked our sysadmin.

[2016-04-12 17:18] redlibrarian commented on #813
Is that Neos Bear record still in the system? If not, is there another record I can test with? / @theLinkResolver

[2016-04-12 17:21] redlibrarian commented on #827
Additional titles have been turned on, and additional authors are now clickable/searchable. I suppose all that's missing right now is the "role" ($d).

[2016-04-12 17:26] redlibrarian commented on #827
OK. The $d is now in place and the role is listed next to each additional author. This *may* cause unintended consquences when searching, but we'll have to see how that works with a full index.

[2016-04-12 17:27] theLinkResolver commented on #755
@redlibrarian The lowercase f will legitimately appear there, but it is not the part of the call number we want to look at (it's a prefix that LC used for music folios). Most of the other stuff is questionable, but we might have to live with it being there. The data comes from the 050 (LC call number field) and we (and our NEOS partners) tend to take it as it comes, in the interest of economy. Cou

[2016-04-12 17:28] redlibrarian commented on #783
OK. I've added the other subfields - take a look in the next release.

[2016-04-12 17:28] theLinkResolver commented on #755
@redlibrarian I realize that doesn't quite answer your question. Those lowercase letters and numbers are in the records (it's not an indexing problem).

[2016-04-12 17:30] redlibrarian commented on #755
Hm. OK, thanks. There might be a way to strip the lowercase letters, but it won't be straightforward. I'll move this to something to look at for the summer.

[2016-04-12 17:31] seanluyk commented on #457
That's great, @redlibrarian, I'll check in on this in the next release. Self-assigning and relabeling so I remember to check.

[2016-04-12 17:32] redlibrarian commented on #830
Hm. This logic would actually be quite tricky to implement. I think for this one, I'd like to see how it plays out after a term (see if we hear any complaints about it). Are you OK with closing this issue for now and reopening it if it comes to be an issue?

[2016-04-12 17:35] theLinkResolver commented on #813
The bear is still here: 6734650 - shadowed at the item level, using a checkbox

This record has a single item in a shadowed location (DISCARD): 5112298

This record is shadowed at the bib level, using a checkbox: 2892680

[2016-04-12 17:38] theLinkResolver commented on #830
@redlibrarian I'm agree with that approach.

[2016-04-12 17:51] seanluyk commented on #580
@redlibrarian  - this is great, I'll relabel and self-assign so I remember to check in on this.

[2016-04-12 17:55] #830 closed

[2016-04-12 18:02] seanluyk commented on #737
Looks like the shield is appearing for titles not owned by UAL, for example, in [this search](https://search-test.library.ualberta.ca/results?utf8=%3F&q=discipline+of+history+and+the+history+of+thought) result #5 shows the shield but the record shows MacEwan holdings only

[2016-04-12 18:03] redlibrarian commented on #839
Edition statement has been added to the title display in full record view, list view, and bento panes.

[2016-04-12 18:04] theLinkResolver commented on #737
@redlibrarian Is the table of contents 856 link causing a false positive?

[2016-04-12 18:06] redlibrarian commented on #941
Done.

[2016-04-12 18:06] #941 closed

[2016-04-12 18:07] redlibrarian commented on #737
No, it should only be looking at the NEOS id codes. I'll check into it.

[2016-04-12 19:01] seanluyk commented on #670
Thanks @redlibrarian. I'll have a look once these are in test and perhaps @theLinkResolver and I can see if anything is missing.

[2016-04-12 19:03] redlibrarian commented on #670
OK, thanks. That won't be in today's release. Should be one up later this
week.

On Tue, Apr 12, 2016 at 1:01 PM, seanluyk <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-04-12 20:34] theLinkResolver commented on #915
@redlibrarian This one has been unavailable all day.
https://www.library.ualberta.ca/catalog/110978979776939

[2016-04-12 20:38] theLinkResolver commented on #746
@redlibrarian The RDA support may help us here, but also the fixed field dates might be better to work with -- more machine-readable and always in the same character positions in every record. (I don't like referring to them all the time but it seems to be what Stanford uses to display dates.)

[2016-04-12 20:53] redlibrarian commented on #746
@theLinkResolver OK. We should sit down and talk about the fixed field dates. Would this work for everything? In other words, should we be using them instead of the 260/264?

[2016-04-12 21:16] redlibrarian commented on #737
OK, this should be fixed now (in the next release).

[2016-04-12 21:19] redlibrarian commented on #915
OK, thanks. I don't know what we can do about this. @sjshores @kgood we should perhaps discuss this and see what our options are.

[2016-04-12 21:23] redlibrarian commented on #843
@seanluyk Done. Format is now e.g. "London: Routledge".
@theLinkResolver This doesn't deal directly with either the 260 or the 264. We still need to implement the 264, but this logic is independent of that.

[2016-04-12 21:23] theLinkResolver commented on #746
@redlibrarian Quite possibly. I asked Brian S. for a quick reaction to see if he has any concerns about using fixed field dates and as long as Blacklight can look at the "type of date/publication status" coding (also in a stable/consistent fixed field), he had no concerns.

[2016-04-12 21:35] redlibrarian commented on #844
OK. I've made some improvements to this. It will still need some tweaking, but it's a step in the right direction.

![image](https://cloud.githubusercontent.com/assets/1093066/14476297/1d3ab988-00c4-11e6-97c2-12e5aec98e09.png)

[2016-04-12 21:40] seanluyk commented on #844
@redlibrarian  - this looks much much better, and I think opens up the possibility for longer contents notes than we're typically used to, especially if there were some way to collapse the contents.

[2016-04-12 21:42] redlibrarian commented on #859
It took a while for this to all get straightened out. @theLinkResolver can you let me know if this is still going on? These records look ok to me right now, but I could do with another pair of eyes.

[2016-04-12 21:43] redlibrarian commented on #855
... which I don't think we've done yet.

[2016-04-12 21:44] redlibrarian commented on #844
Yeah, I think something like that will have to be a summer project. But I think this is better. Take a look at some other records with large contents notes in the next release.

[2016-04-12 21:44] theLinkResolver commented on #859
@redlibrarian I think we're good now. but I found something else... sigh (new issue)

[2016-04-12 21:45] theLinkResolver opened #952 "new library: AHS_INT"
There is a new library in the system: AHS_INT (Alberta Health Services Internet)

[2016-04-12 21:45] redlibrarian commented on #859
@theLinkResolver OK, bring it on. :)

[2016-04-12 21:46] theLinkResolver commented on #844
agreed - much better.

[2016-04-12 21:47] redlibrarian commented on #867
I've been working with the 596 values a lot today, so I think this one will be doable. I'll tackle it tomorrow morning.

[2016-04-12 21:49] redlibrarian commented on #952
I need to work with the Symphony team to make sure Blacklight is updated with Symphony is. I can add this one right away, but I'll have to check with Elaine to see if there are any more. It would be nice to automate this, but I'm not sure that's possible...

[2016-04-12 21:51] redlibrarian commented on #952
OK. It looks like the 596 code is 27, so I've added both to our configuration. They'll be in place in the next release.

[2016-04-13 17:30] redlibrarian commented on #867
This is done!

![image](https://cloud.githubusercontent.com/assets/1093066/14502984/2ecde0a6-016b-11e6-9115-ea5f390eb136.png)

[2016-04-13 17:31] redlibrarian commented on #867
Oops. Just need to tweak that Augustana value.

[2016-04-13 17:35] redlibrarian commented on #857
Solution for this is the same as for the institutional filter ( #867). I'm afraid this will break something, though...

[2016-04-13 17:37] redlibrarian opened #953 "Replace SolrMarc with traject?"
https://github.com/traject/traject

[2016-04-13 17:40] redlibrarian commented on #877
@theLinkResolver Sorry it took so long to get back to you. I don't think that will do it, because the indicator "42" just tells SolrMarc to skip the 856 tag altogether... this should come back for discussion in the summer.

[2016-04-13 17:42] theLinkResolver commented on #867
@redlibrarian Wow! This is great - a feature that was asked for in a number of sessions.

[2016-04-13 17:45] redlibrarian commented on #878
I just realized that I have a concern about this. Currently, you can search by catkey, and it will bring up the correct record. False drops will occur if the catkey is part of a larger indexed number (maybe an ISBN or something), but this is unlikely. If we add the 919 field to the index, then multiple records will start being returned for a catkey search. The records will be related, but it might

[2016-04-13 17:46] redlibrarian commented on #879
@theLinkResolver Is there anything to be done here? I think we're displaying this field - are we just keeping the issue open to tweak relevancy if necessary?

[2016-04-13 17:51] redlibrarian commented on #880
I've added this now. I don't have any test records with a 351 field, so we'll have to check this one out in test.

[2016-04-13 17:53] theLinkResolver commented on #879
@redlibrarian We're displaying, but not currently indexing.

https://search-test.library.ualberta.ca/results?utf8=%3F&q=%22Golden+Sheaf+Award%22

[2016-04-13 17:53] redlibrarian commented on #879
Yeah, sorry - I deleted my note because I can't read. :$ I'm adding it to the index now.

[2016-04-13 17:55] theLinkResolver commented on #880
https://search-test.library.ualberta.ca/catalog/6282297
https://search-test.library.ualberta.ca/catalog/5030504

[2016-04-13 17:58] redlibrarian commented on #905
I have no records in the test set with this field, so we'll have to confirm this works in test.

[2016-04-13 18:01] redlibrarian commented on #918
This has been added and is displaying properly.

[2016-04-13 18:05] redlibrarian commented on #944
OK. Issue #720 has been postponed until the summer. The others are set to be closed. I've added 525 and 580 to the display and this can be checked in the next release.

[2016-04-13 18:09] redlibrarian commented on #951
https://github.com/ualbertalib/discovery/blob/master/config/SolrMarc/sfx_index.properties

[2016-04-13 18:23] redlibrarian commented on #756
Ok, this is working now in test. It should be good to go.

[2016-04-13 18:35] theLinkResolver commented on #905
https://search-test.library.ualberta.ca/catalog/6370273

[2016-04-13 18:37] theLinkResolver commented on #944
@redlibrarian To clarify, can you add the 515, 540 and 546 now, though, from #720?

[2016-04-13 18:46] redlibrarian commented on #928
Gah. There was a bug in the Ebsco view code (it was literally telling it not to search EDS unless a search had already taken place). This should be fixed in the next release to test.

[2016-04-13 18:48] redlibrarian opened #954 "Context sensitive advanced search."

[2016-04-13 18:54] redlibrarian commented on #720
OK, the 515, 540, and 546 have been added (check in next release for those).

[2016-04-13 18:54] redlibrarian commented on #944
OK, those have been added, and will be in the next release.

[2016-04-13 18:58] redlibrarian commented on #882
All of a sudden the logic behind this has increased exponentially. Question for the @ualbertalib/discovery-testing - I've been assuming "new books" meant "new to UAL", but in a consortial environment, is this actually the case? People can request new books from anyway, so should the new book facet be built on "new to NEOS" logic instead?

[2016-04-13 18:59] redlibrarian commented on #882
I think this is unlikely to be implement in Release 3.0.

[2016-04-13 19:01] redlibrarian commented on #948
The new index should be up in test today, let's check it then.

[2016-04-13 19:06] redlibrarian commented on #947
- label has been changed on the bento pane
- Symphony journals (print and e) have been excluded from the bento pane search.

[2016-04-13 19:11] theLinkResolver commented on #882
I'd guess "new to UAL" is what people want.

[2016-04-13 19:23] redlibrarian commented on #882
Yes, apparently WAT decided that - but I think I might not have been there.

After conferring with @sjshores , the new plan is this: I won't be able to get the new books facet going for the May launch (the logic is too complicated for a quick fix), so I'm going to implement a basic static new books list with Jim's data for now, and then I'll look at the facet version in the summer.

[2016-04-13 22:41] redlibrarian commented on #882
The solution to the technical problem came to me on my walk home - capturing it here to implement tomorrow: an "fq" search won't work as it needs to be part of the solr parameters (as in the SFX, Database, and EBook controllers). Somehow I need to parse the list of catkeys into the appropriate fq string and pass it to solr_parameters on controller load. Since this isn't a *query*, the catkey load

[2016-04-14 14:29] redlibrarian commented on #882
OK, this is done and will be in place in the next release. There's an upper limit to the number of results you can retrieve with this method (using a list of IDs), which is approximately 300 records. This will have to do for now, but we will likely have to figure out something else in the summer.

[2016-04-14 14:29] redlibrarian commented on #882
To access the new books list, the URL will be e.g. https://search-test.library.ualberta.ca/new_books

[2016-04-14 14:30] redlibrarian commented on #882
Hm. I just thought of another approach that might work...

[2016-04-14 14:37] redlibrarian commented on #948
A new full reindex is on search-test right now, and it's still showing the same difference in numbers. Is it possible that the iLink search is finding that text string in a field we aren't indexing (i.e. a field other than the 500$a)?

[2016-04-14 16:16] redlibrarian commented on #857
It's tricky to untangle this. Since it isn't a major issue, I'm going to move this to the summer project milestone.

[2016-04-14 16:18] redlibrarian commented on #846
Only the first 090 was being indexed. I'll change that.

[2016-04-14 16:20] redlibrarian commented on #846
I did some basic testing and this seems to be working now. Please test in the next release.

[2016-04-14 16:21] redlibrarian commented on #854
This is done (see #846 ). Please test in next release.

[2016-04-14 16:24] redlibrarian commented on #813
From what I can see in search-test:
6734650: is not in the index
5112298: is not in the index
2892680: is in the index, but pulls back no holdings.

I think after the launch, I'll have to work with Jim to see if we can exclude the "checkbox" shadowed records.

[2016-04-14 16:49] redlibrarian commented on #836
OK. All the issues raised here are - I hope - dealt with. Please check in the next release and let me know if there are still things to tweak. The "no copies/data" message now reads: "No copies found. This item may be lost or missing, or the data may be temporarily unavailable. Please ask us for assistance" (with "ask us" a link to the ask us page).

[2016-04-15 18:50] theLinkResolver commented on #948
@redlibrarian Good question. But, I tried the same searches in iLink, this time limiting to the 590, and got the same number of results.

FYI, for testing, the iLink search string is e.g.: 'Dr. Ronald B. Madge Entomology Collection' {590}

[2016-04-15 20:13] redlibrarian commented on #942
I started using https://github.com/colszowka/simplecov, which seems to work really well, though it doesn't check test coverage for some things (e.g. templates). When I first ran it, we had about 38% coverage, and I've brought that up to 52%. I think this is a good start, but I need to stay on top of testing.

[2016-04-15 20:13] #942 closed

[2016-04-15 20:16] redlibrarian opened #955 "Tests to write"
Currently we stand at 52% test coverage as per simplecov.

Code with 0% coverage:
app/controllers/bookmarks_controller.rb
app/controllers/errors_controller.rb
app/controllers/forms_controller.rb
app/controllers/profiles_controller.rb
app/mailers/application_mailer.rb
app/mailers/corrections_mailer.rb
app/models/profile.rb
lib/tasks/ingest_test_data_helper.rb

I also want to write template/view tes

[2016-04-15 20:52] #116 closed

[2016-04-15 22:54] linds37 commented on #836
When you hover over the icon, it says "licensed for U of A only". This doesn't make sense for books, and it's not accurate for ebooks that are licensed at multiple locations. Can it just say "U of A"

-- if we're targeting U of A users with this discovery tool, then what they need to know is whether the item is available through U of A, or whether they have to go elsewhere (through a hold or to an

[2016-04-18 14:02] redlibrarian commented on #836
Yes, this was already mentioned earlier in the ticket. The links now say just *licensed for U of A*.

[2016-04-18 18:14] theLinkResolver commented on #954
If we go this way, is it true that we would no longer have a place where advanced search results integrate all three of Symphony + Journals + Databases (plus future UA collections), since the advanced search would always be launched from within one of those groupings?

In case we don't want to take that possibility away completely, we could have a way of expanding like this:

- Books Media & More

[2016-04-18 18:26] theLinkResolver commented on #951
@redlibrarian Could you please send me the marcxml record for this SFX object? 110978977743753

I want to analyze a bit more closely why the SFX record is so sparse [as it appears in Blacklight](https://www.library.ualberta.ca/catalog/110978977743753).

[2016-04-19 15:21] redlibrarian opened #957 "Kule records"
- [ ] OCLC records
- [ ] Non-OCLC records
- [ ] Map record fields to view
- [ ] Build item records with non-circ, link to repository
- [ ] Build repository/collection facet
- [ ] Access number as ID.

[2016-04-19 15:22] redlibrarian opened #958 "Collection: Curriculum"
Done when:

- [ ] Traject rules in place
- [ ] Curriculum records indexed

If possible, we'd like to either harvest or link to IA records
- [ ] Investigate harvesting/linking IA records

@sfarnel

[2016-04-19 15:24] redlibrarian opened #959 "Collection: Linguistics"
- [ ] OAI-DC records
- [ ] Monthly ingest

from @sfarnel :

Endpoint: https://catalog.ldc.upenn.edu/olac/ldc_catalog.xml

We can get either DC or OLAC, which is a DC based but richer metadata schema for describing linguistic resources. This would actually be great if we could get it.

We'll need to explore a bit in terms of how we pull in only what we have access to as well as how to indicate hold

[2016-04-19 15:25] redlibrarian opened #960 "Collection: ERA"
- [ ] Theses: merge metadata (where ERA & Symphony records exist)
- [ ] Image collections: pick 1 (Halpern?) to see how it can be handled
- [ ] When OAI is ready, map DC, DCQ, ETDMS

@sfarnel

[2016-04-19 16:16] gooyers opened #961 "Formatting number of results in grid view"
Though a low priority issue, I noticed this today while in search test and thought I'd note it.

Regarding the number of results presented to users when in the bento box display, previous feedback suggested that people found formatted numbers (ex. 943,555 instead of 943555) more readable.

There are commas in numbers just about everywhere Blacklight displays the number of results, with one excepti

[2016-04-19 18:12] seanluyk opened #962 "Possible result ranking issue with contents notes"
Just noticed this while preparing training materials:

Search example is to find a copy of An Die Musik (Schubert) for low voice.

Have a look at [this search](https://www.library.ualberta.ca/symphony?f%5Bformat%5D%5B%5D=Musical+Score&f%5Blocation_tesim%5D%5B%5D=uahss&f%5Bsubject_topic_facet%5D%5B%5D=Songs+%28Low+voice%29+with+piano&q=schubert+an+die+musik)

There doesn't seem to be a way to get a

[2016-04-19 18:30] redlibrarian commented on #915
We just got a ticket stating that users are hitting the "data not available message" quite frequently. I'm going to take off the timeout for SFX records (we aren't noticing a problem with Symphony records) until we can figure this out.

[2016-04-19 18:35] theLinkResolver commented on #962
It would be interesting to see what would happen with increased weighting on contents note. Contents notes often include section or chapter titles (e.g. "index") that are not so important for searching, but as you say, in any kind of anthology, they are a very important piece of indexed data.

@seanluyk Putting quotes around the name of the song seems to be helpful - what do you think?

[2016-04-19 20:31] seanluyk commented on #962
@theLinkResolver it does improve it, but there are still some false hits quite high on the list. I'm not sure if there's a way around this, and I'm wondering if the improvement has something to do with the fact that both a definite and indefinite article are in the title, and these words show up all over the place

[2016-04-19 20:44] redlibrarian commented on #962
Hm. I think there's probably a bunch of things going on here. *schubert an die musik* returns results that shouldn't - as far as I can see - be returned (true false positives). With the phrase search, I can at least understand what's being found that would cause the erroneous result to appear. All that to say that weighting might not be the only thing to look at here. It's certainly worth further

[2016-04-20 19:54] redlibrarian opened #963 "Investigate indigenous language files for interface."

[2016-04-21 15:31] theLinkResolver commented on #952
@redlibrarian [Doesn't look right](https://search-test.library.ualberta.ca/catalog?utf8=%E2%9C%93&op=AND&all_fields=&title=&author=&subject=&sort=score+desc%2C+pub_date_sort+desc%2C+title_sort+asc&search_field=advanced&commit=Search&f_inclusive[location_tesim][]=ahsint&utf8=%E2%9C%93&search_field=dummy_range&range[pub_date][begin]=&range[pub_date][end]=&sort=score+desc%2C+pub_date_sort+desc%2C+tit

[2016-04-21 15:34] theLinkResolver commented on #947
Looks good; closing, but will open new issues to change the text on the search home page.

[2016-04-21 15:34] #947 closed

[2016-04-21 15:37] theLinkResolver opened #964 "Replace EDS snippet with Blacklight snippet"
- The "Journals" button needs to be changed to "e-Journals".

- The hover box for the "Books, media & more" button needs to have "ejournals" added to the list.

- The hover box for the "e-Journals" button needs to have "journals" removed from the list.

[2016-04-21 15:42] theLinkResolver opened #965 "rename supplement note field"
Field is currently called "Supplementary note"

Rename as "Supplement note"

[2016-04-21 15:43] theLinkResolver commented on #918
550 looks good; closing

[2016-04-21 15:43] #918 closed

[2016-04-21 15:57] theLinkResolver opened #966 "suppress display of Language field/facet"
Example record: https://search-test.library.ualberta.ca/catalog/6563867

The field called "Language" is mapped from 008/35-37, which is machine-readable and used for faceting.

Now that we are displaying the "Language note" field in the record, which gives more descriptive information for works in multiple languages, we can probably suppress the "Language" field from display (but continue using it

[2016-04-21 15:59] theLinkResolver commented on #944
580 looks good
525 looks good but the field name should be "Supplement note" - opened issue #965 (low priority)
515 looks good
546 looks good - and we can probably suppress the other language note - opened issue #966 (low priority)
540 looks good

Closing.

[2016-04-21 15:59] #944 closed

[2016-04-21 16:01] theLinkResolver commented on #905
Looks fine; closing

[2016-04-21 16:01] #905 closed

[2016-04-21 16:02] theLinkResolver commented on #879
Search now returns desired results; closing

[2016-04-21 16:02] #879 closed

[2016-04-21 16:52] linds37 opened #967 "remove info about view as grid view as list under Features on the main screen"
Not sure if you're on this -- the second star on the main screen under the "Features" list (about grid view & list view) needs to be removed. The Search guide will need to be linked there, but it's not ready yet.

[2016-04-21 17:10] theLinkResolver commented on #927
@seanluyk In this thread, I had promised to get some more info about how the e-book team decides which record to keep when they are de-duplicating. There is no hard-and-fast rule, but generally, Michael says: "We will keep an OCLC record over a record that came from another source. Or we keep whichever record is clearly better." I guess the best bet, if you are sharing a link on a libguide and you

[2016-04-21 17:12] theLinkResolver commented on #883
@redlibrarian I don't see the OUR codes in search-test.

[2016-04-21 17:13] theLinkResolver commented on #880
Looks good; closing.

[2016-04-21 17:13] #880 closed

[2016-04-21 17:16] theLinkResolver commented on #839
This very important info is now displaying.

@redlibrarian There is a space between the end of the title and the comma in grid and record views (not list view though). Can you get that out?

[2016-04-21 17:18] theLinkResolver commented on #829
Great; closing

[2016-04-21 17:18] #829 closed

[2016-04-21 17:19] theLinkResolver commented on #783
Looks great! closing

[2016-04-21 17:19] #783 closed

[2016-04-21 17:20] seanluyk commented on #457
It looks like the 240 is displaying in full in the full/alternate title field, but not in the uniform title field, which has the hyperlinking. I think it would probably be just fine if only the full/alternate title field were displayed, and the uniform title field were supressed. It would be ideal if it could be displayed and hyperlinked, but I think that can wait.

Here are some examples:

1. [Un

[2016-04-21 17:21] theLinkResolver commented on #642
Done; closing

[2016-04-21 17:21] #642 closed

[2016-04-21 17:23] seanluyk commented on #501
I haven't noticed this in quite some time, so closing

[2016-04-21 17:23] #501 closed

[2016-04-21 17:30] seanluyk commented on #836
This looks consistent in terms of year, format, online qualifier, but the shield icon is now gone. Note looks good, too. Not sure if it's ready to close?

[2016-04-21 17:48] seanluyk commented on #580
The fields in this issue appear to be hyperlinked, it looks/works great! I don't think it's quite ready to close, as there's an issue with series hyperlinking. For example:

1. [This one works as expected](https://search-test.library.ualberta.ca/catalog/5447754)

2. [This one only returns 1 result](https://search-test.library.ualberta.ca/catalog/1743283)

I wonder if it would be better to not sear

[2016-04-21 17:50] seanluyk commented on #836
Oops, I wasn't looking at search-test, shield icon is in fact there. I think this one is ready to close.

[2016-04-21 17:52] seanluyk commented on #735
Looks good, closing

[2016-04-21 17:52] #735 closed

[2016-04-21 17:56] seanluyk commented on #737
This is fixed - shield icon only appearing for UAL items, as far as I can tell

[2016-04-21 17:56] #737 closed

[2016-04-21 18:00] seanluyk commented on #756
Working nicely, search terms are retained in all views and search within is functioning as expected

[2016-04-21 18:00] #756 closed

[2016-04-21 18:48] seanluyk commented on #796
This field is displaying in full, looks good

[2016-04-21 18:48] #796 closed

[2016-04-21 18:49] seanluyk commented on #810
Geographic subject is appearing now, closing

[2016-04-21 18:49] #810 closed

[2016-04-21 18:50] seanluyk commented on #843
Looking good, closing

[2016-04-21 18:50] #843 closed

[2016-04-21 18:55] seanluyk commented on #844
I've reviewed a number of records with large contents notes, and this is looking very good, much more usable.

[2016-04-21 18:55] #844 closed

[2016-04-21 18:58] seanluyk commented on #927
I'm not able to see this example in search-test (page not found - https://search-test.library.ualberta.ca/catalog/7245545. Once the note can be verified with an example, this issue can be closed

[2016-04-21 19:00] seanluyk commented on #910
As the initial bug has been fixed, this can be closed. I'll create a new issue about the usability question

[2016-04-21 19:00] #910 closed

[2016-04-21 19:01] seanluyk opened #968 "Clicking on subject terms from results in databases container should search that container only"
*Description*: When a user searches for databases, then selects a database result and clicks on a subject heading, they lose the database limit.

*Expected behaviour*: The subject search should retain the database format/controller to limit to databases, if the user has pre-limited to databases. If they have not, then the databases context can be ignored.

*To reproduce*:
1. Do a search limited to

[2016-04-21 20:11] seanluyk commented on #867
The institution facet is displaying, but the institution names are clipped, and don't appear on one line:
![image](https://cloud.githubusercontent.com/assets/14880206/14722702/0f708730-07ca-11e6-8e68-12ba45d2bc49.png)

Also, I'm wondering about placement of this facet. It might make more sense to place it above or below the library facet. What does everyone think @ualbertalib/discovery-testing?

I

[2016-04-21 21:08] theLinkResolver commented on #867
Once it's working, I think above the Library facet would be the most desirable spot.

Also noticed that the 'button' (rectangle around the word Institution) is greenish and the text is also green (different from the other facets).

And noted that this facet isn't available via Advanced Search.

[2016-04-21 21:16] theLinkResolver commented on #836
I'm going to reopen this. **In the grid**, when I point to the shield in the Books box, I see "licensed for U of A only". In e-Journals, it says "licensed for  U of A" (good except for the extra space). Databases say "licensed for U of A only".

They all have "licensed for  U of A" (good except for the extra space) in the list views.

[2016-04-21 22:04] seanluyk commented on #867
Nice work, Scott "eagle eye" Davies! @theLinkResolver

[2016-04-21 22:30] seanluyk commented on #927
Thanks, @theLinkResolver this is good to know!

[2016-04-22 18:18] linds37 opened #969 "Should titles be linked, instead of having the electronic access link?"
Now that the title itself of the e-resources are linked (yay!), the wording of the note that appears when you click on University of Alberta Internet at the bottom has to be changed. The current wording is: "This material is available Online. Click the Electronic Access Link in the record to access this material"

Suggested new wording: This material is available Online. Click on the title at the

[2016-04-23 23:06] fculpepper commented on #969
Are ebooks live in the search test catalogue? Every title I click on searches the title, sometimes bringing results [example] (https://search-test.library.ualberta.ca/catalog/6713469), sometimes an error message [example] (https://search-test.library.ualberta.ca/catalog/7411160), but never the book.

[2016-04-25 15:07] theLinkResolver commented on #969
Yikes - I'm going to break @fculpepper's question into two new issues.

[2016-04-25 15:10] theLinkResolver opened #970 "access links are not displaying"
ebook example: https://search-test.library.ualberta.ca/catalog/6713469

serial example: https://search-test.library.ualberta.ca/catalog/6819703

[2016-04-25 15:14] theLinkResolver opened #971 "hyperlinked title search fails when subtitle present"
e.g. clicking the title in these records:
https://search-test.library.ualberta.ca/catalog/7411160
https://search-test.library.ualberta.ca/catalog/6341684

In this case, we get a result, but it does not include the record we linked from:
https://search-test.library.ualberta.ca/catalog/1785821

@redlibrarian I think we need to exclude the subtitle text from the search string.

[2016-04-25 15:24] theLinkResolver commented on #580
Agreed - we want to see the series volume number displayed (and be indexed alongside the series title, as that is how it may be cited and/or how people search for it) but not part of the search string. (Or I guess in the perfect world, it would work like the subject headings - click the title or title+volume. Long-run/daydream stuff)

[2016-04-25 15:34] theLinkResolver commented on #707
Shared by a Bib colleague:

7443586
700 field contains: |iContinuation of (work):|aRojas Osorio, Carlos.|tEstética filosófica en Latinoamérica.
where subfield i explains the relationship between the work in subfield t and the work described in the record.

This record is not in search-test so I can't see the latest version of how it displays (and can't readily find another example). To be revisite

[2016-04-25 16:52] lindaslater opened #972 "Export to RefWorks not working"
When I try to export (using search-test), I get an 'Export failed' message in RefWorks.   EndNote works, but it would be nice to have the Notes get exported into EndNote as well.

Linda

[2016-04-25 22:28] linds37 opened #973 "Help with Search guide"
I'm working on the "Limits" section of the search guide. Please take a look https://ualberta.libapps.com/libguides/admin_c.php?g=469542&p=3209716 (this is shared with all unit library locations. Sam, do you have a login?)
Please have a look at the descriptions of the limiters and the questions at the bottom.
I know this is wordy -- using Stanford's guide as a model, and we did have that chat trans

[2016-04-26 17:09] redlibrarian commented on #961
This will be in the final release.

[2016-04-26 17:16] redlibrarian commented on #964
OK. I've updated this as well as I can. Bear in mind that this code snippet is not the one that will be on the front page. We'll have to verify that the new snippet is correct when we launch. @kgood I think you said you have the code for the snippet somewhere?

[2016-04-26 17:17] redlibrarian commented on #965
Done. Check in next release.

[2016-04-26 17:19] redlibrarian commented on #966
OK, this is done. I also changed the brief results view to use the same language field (note, not facet) for consistency.

[2016-04-26 17:19] redlibrarian commented on #967
Done, and is live right now.

[2016-04-26 17:19] #967 closed

[2016-04-26 17:28] redlibrarian commented on #969
@linds37 Can you give me an example record? The title-linking just does a search for the title (i.e. to find other copies of the same title) - I don't think I linked e-resources out to their online copy... having said that, the note in question is in Symphony, so that would be changed in iLink somewhere. I want to verify that the note is incorrect now before I ask for that change to be made.

[2016-04-26 17:29] redlibrarian commented on #969
@fculpepper @theLinkResolver The title linking does a search for the title in the catalogue. It doesn't link out to the resource in question. I don't know what's happened to the electronic access links in the catalogue records, though...

[2016-04-26 17:51] redlibrarian commented on #969
A bug had crept in which prevented the e-access link from showing this will be fixed in the next release. I hope this will make the distinction between the title link and the e-access link clearer.

[2016-04-26 17:52] redlibrarian commented on #970
Yes, I was working too fast, and a bug crept in. This is fixed in the application and will be visible in the next release.

[2016-04-26 17:53] redlibrarian commented on #971
@theLinkResolver OK, that sounds fine. I'll do that now and we can tweak it if usability points us in another direction.

[2016-04-26 18:28] redlibrarian commented on #973
@ualbertalib/discovery-testing

@linds37 Yes, I have a log in - I'll take a look. Thanks.

[2016-04-26 18:32] redlibrarian commented on #972
@lindaslater it works in production, and I haven't changed anything in the RefWorks export functionality. I'm going to assume that this is a peculiarity of the test environment. We'll have to try it once the latest version of the application is in production next week.

As for exporting notes fields to EndNote - I don't know how that works, so it will have to be looked at as an enhancement to tack

[2016-04-26 18:40] linds37 commented on #969
Hi. Ok, so I totally misunderstood because I wasn't aware of the bug.  DO NOT CHANGE THE NOTE.
I thought the internet access link wasn't supposed to be there anymore. I thought the title linked to the resource itself.

I think this is problematic. In SIRSI, the title is linked, but only in the catalogue record tab. Not on the holdings info page. Since we only have one level in Blacklight, which de

[2016-04-26 18:41] redlibrarian commented on #580
@theLinkResolver Looking at the MARC record, the series name is 830$a and the number 830$v, is that right?

[2016-04-26 18:49] redlibrarian commented on #969
I'm happy to do what the group thinks. I just want to point out that the e-access link that appears right below the title is not only in a different font, but it's surrounded by a button border. To me that's prominent enough, especially since the link-effect for the title is just colouring it green (i.e. not underlining it).

This was in response to another issue. If we want to change it back, I n

[2016-04-26 19:02] redlibrarian commented on #867
I don't know why the values are using the codes rather than the text - it's working fine on my workstation. Let's check on that one in the next release.

I've moved the institution filter to be above "Library".

I'm not seeing the issue with the "button" display. That sounds like an HTML tag problem, so I might have found and fixed that already.

In terms of nested facets, that's a question of sol

[2016-04-26 19:04] redlibrarian commented on #867
Sigh. As for the "advanced search" filter, I've just discovered a problem with that as a whole. I'll have to make a new issue for that.

[2016-04-26 19:05] redlibrarian opened #974 "Advanced search facets"
It looks like this draws on any Solr fields with the suffix *_facet*, which means that facets we have commented out in CatalogController (e.g. Historical Period) still show up in advanced search and facets we have added with a different suffix (e.g. institution_tesim) don't appear there. We'll have to figure out how to straighten both of these out, which might be tricky because we use autogenerate

[2016-04-26 19:09] redlibrarian commented on #836
Check in next release.

[2016-04-26 19:11] redlibrarian commented on #457
@seanluyk I'll move this to summer projects.

[2016-04-26 19:16] redlibrarian commented on #839
Done. Check in next release.

[2016-04-26 19:18] redlibrarian commented on #883
I see them in production and on my workstation. I think this might be a peculiarity with the test environment.

[2016-04-26 19:29] theLinkResolver commented on #580
@redlibrarian Use the 830 $a.

[2016-04-26 19:34] theLinkResolver commented on #969
I think all of @linds37's concerns are very important things to test and monitor. My personal opinion, though, is to still keep the title link feature. Hope to hear from others on this.

[2016-04-26 19:42] linds37 commented on #973
Thanks. I've just added a new box that lists all of the limits for Articles & more.

[2016-04-26 19:52] seanluyk commented on #457
Sounds good, and just to confirm - for now if the full alternate title could display instead of the uniform title, that would be great!

[2016-04-26 20:16] theLinkResolver commented on #972
@redlibrarian Just looking at this now with Erika - are you sure that it's working in production? I can't get to the bookmarks in production to try this (#924).

[2016-04-26 20:18] theLinkResolver commented on #924
@redlibrarian I'm not able to do this in Firefox in search-test.

[2016-04-26 20:47] lindaslater commented on #969
I think the message below the title (Click here for University of Alberta Access) is pretty obvious, and that being the case, I agree with Lindsay that if the title link often doesn't go anywhere meaningful or only leads to an error screen, it is going to confuse users.

[2016-04-26 20:48] redlibrarian commented on #457
Ok, I've done that - full/alternate will show, but uniform title will not, and we can revisit the details in the summer.

[2016-04-26 20:49] redlibrarian commented on #972
@theLinkResolver I did it with a single record (i.e. not using a bookmark). I'll look into #924

[2016-04-26 20:57] redlibrarian commented on #924
Hm. It works fine in Chrome, but I'm still getting nothing in Firefox. Investigating...

[2016-04-26 21:03] redlibrarian commented on #924
Ugh. It's a Chrome/Firefox thing: http://stackoverflow.com/questions/20673043/html-a-href-link-with-button-not-work-in-firefox-but-work-google-chrome-why-is-i

[2016-04-26 21:10] redlibrarian commented on #924
OK, weird. Well, it works now in both Chrome and FF, though the text is black instead of green (this is due to the code change required to fix the problem). It's a minor thing though and can be tweaked later on.

[2016-04-26 21:11] redlibrarian commented on #969
@ualbertalib/discovery-testing This clearly needs some more discussion. I'm going to turn the link off for now and we can revisit later on.

[2016-04-26 21:14] redlibrarian commented on #971
We've removed the title link completely for now.

[2016-04-26 21:15] redlibrarian commented on #972
#924 should be fixed now. Please check in the new release.

[2016-04-27 15:45] seanluyk commented on #970
The access links are back, closing

[2016-04-27 15:45] #970 closed

[2016-04-27 16:01] lindaslater opened #975 "Click here for placing holds with PIN"
Is it possible to make the 'If you login with a barcode and PIN, click here.' more prominent, particularly the word 'here'.  It is easy to miss.

[2016-04-27 16:20] redlibrarian commented on #975
This is one of those things I'd like to wait for user feedback on.

[2016-04-27 18:40] theLinkResolver opened #976 "diacritics in database titles not displaying correctly"
https://www.library.ualberta.ca/databases?utf8=%3F&q=Machado+

[Here's what it should look like](https://web.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=4086)

[2016-04-27 18:44] redlibrarian commented on #976
Ugh. That's actually how it looks in the LibGuides entry - this must be a holdover from Ernie's old system. I'll change the data and get in touch with April - this might require a cleanup project.

[2016-04-27 18:50] redlibrarian commented on #976
I've gotten in touch with April to see if the data can be changed at source.

[2016-04-27 19:42] redlibrarian commented on #976
April changed the titles and descriptions in LibGuides, but the HTML elements are still coming through in the LibGuides API (the API isn't using UTF-8). So I'll have to modify Blacklight's database ingest to render the special characters.

[2016-04-27 21:40] theLinkResolver commented on #969
@redlibrarian Should we rename this issue - are you treating it as the title search link issue now?

[2016-04-27 21:42] theLinkResolver commented on #965
Looks good.

[2016-04-27 21:42] #965 closed

[2016-04-27 21:50] theLinkResolver commented on #961
Looks good.

[2016-04-27 21:50] #961 closed

[2016-04-27 21:54] theLinkResolver commented on #927
@seanluyk Here's an example (all items marked as discard):
https://search-test.library.ualberta.ca/catalog/2114122

[2016-04-27 21:56] theLinkResolver commented on #926
@redlibrarian I think this is good now?

[2016-04-27 21:57] theLinkResolver commented on #924
Working for me now in Firefox.

[2016-04-27 22:05] theLinkResolver commented on #860
Confirmed

[2016-04-27 22:05] #860 closed

[2016-04-27 22:12] theLinkResolver commented on #846
Tested and closing

[2016-04-27 22:12] #846 closed

[2016-04-27 22:15] theLinkResolver opened #977 "parentheses missing in display text for internet access links"
https://search-test.library.ualberta.ca/catalog/6845187

The text from the MARC 856 field is e.g. v.132(1998)-v.148(2014) - the parentheses have been stripped out.

[2016-04-27 22:25] theLinkResolver commented on #854
Tested here and with issue #846. Working great.

@ualbertalib/discovery-testing @ualbertalib/serials-cataloguing An important takeaway here is that you will want to put quotes around the call number to increase precision (and to replicate the experience you are used to with the old system).

Then again, you may discover another edition or closely related work if you don't use the quotes, which mig

[2016-04-27 22:25] #854 closed

[2016-04-27 22:41] seanluyk commented on #927
I think the note will do the trick until we can prevent these records from making their way to BL, closing

[2016-04-27 22:42] #927 closed

[2016-04-28 14:43] seanluyk opened #978 "[Discovery] 110 and 245 $k and $f not displaying properly"
Will not apply to a huge number of records, but I stumbled upon this one looking for something else:

Still not mapped: https://www.library.ualberta.ca/catalog/910509

On this record, title should be: Records 1945-1982

Here's the NEOS record: http://www.library.ualberta.ca/permalink/opac/910509/WUAARCHIVE

[2016-04-28 14:43] redlibrarian commented on #977
Gah. I stripped out the parens to fix a different problem, and didn't foresee this consequence.

[2016-04-28 14:45] redlibrarian commented on #977
Ok, I've put them back in, but we'll have to watch out for whatever that other formatting tweak was.

[2016-04-28 14:47] redlibrarian commented on #926
I think so, though this example record isn't the best indication...

[2016-04-28 14:49] redlibrarian commented on #978
Hm. Interesting. I'll take a look.

[2016-04-28 14:55] theLinkResolver commented on #978
@redlibrarian I think the records with no 245 $a are not working again (this is one).

another (first result)
https://search.library.ualberta.ca/symphony?q=Canadian%20Phytopathology%20Society.%20Alberta%20Regional%20Group

[2016-04-28 16:27] theLinkResolver commented on #977
@redlibrarian #767? My best guess at an issue that involved the formatting of coverage.

[2016-04-28 16:29] redlibrarian commented on #977
@theLinkResolver I don't think that was it...

[2016-04-28 16:38] theLinkResolver commented on #977
@redlibrarian You're right, and I just remembered. I bet it had something to do with the handling of the 856 $z (note text).

https://search-test.library.ualberta.ca/catalog/4276360
https://search-test.library.ualberta.ca/catalog/7152141

..perhaps to deal with the aesthetics of a double closing parenthesis in an example like the second one above.

[2016-04-28 16:44] theLinkResolver commented on #839
Looks really good.

[2016-04-28 16:44] #839 closed

[2016-04-28 16:45] theLinkResolver commented on #836
All nice and consistent now.

[2016-04-28 16:49] redlibrarian commented on #977
@theLinkResolver That's probably it. 7152141 is correct in search-test right now, but won't be when the parens have been put back. It's low priority, but I'll tweak it when I get a second.

[2016-04-28 17:55] linds37 commented on #854
thanks - done!!

On Wed, Apr 27, 2016 at 4:25 PM, Scott Davies <notifications@github.com>
wrote:

[2016-04-28 20:28] fculpepper commented on #867
Institution facet is still displaying "clipped" as in Sean's comment above. Came to this issue because a couple coworkers were asking for this in the advanced search. Got that it's being worked on, will pass that along. In the meantime, is it possible to put all the UofA libraries at the top (in the Advanced search)?

[2016-04-28 21:44] linds37 opened #979 "Found another ebook that doesn't show date in record"
Hi. I know we've dealt with this before, and you've found dates in weird fields in records from some ebook vendors. Here's a new ebook from two different vendors, and the date doesn't show up in either:
Science Direct (Elsevier): https://search-test.library.ualberta.ca/catalog/7123942
Proquest Safari collection: https://search-test.library.ualberta.ca/catalog/7123835

- reporting from a colleague

[2016-04-29 15:59] lindaslater opened #980 "Is it possible to add an email option to the Bookmarks page?"
Right now there is only an option to export to EndNote or RefWorks.  Some people might want to email their selected results.

[2016-04-29 16:34] redlibrarian opened #981 "Verify endnote field mappings"
-- place of publication
-- format

Endnote field reference: http://www.cardiff.ac.uk/insrv/educationandtraining/guides/endnote/endnote_codes.html

[2016-04-29 16:59] redlibrarian opened #982 "Articles publication year limits"
-- remove second one
-- replace first one with range slider

[2016-04-29 17:03] redlibrarian opened #983 "Articles: delete Collection from facet list"

[2016-04-29 17:12] redlibrarian opened #984 ""Cite" function review"
Go back through the PSC minutes and see if the decision to remove it was reconsidered. If not, bring it up again as @linds37 and @lindaslater

[2016-04-29 20:36] lindaslater opened #985 "Limiting to Articles & More from main search box produces no results in Firefox"
When I enter a search statement and select the Articles & More option from the main search box, I get no results, but when I re-enter the search terms from the No results screen, I will get a search result.  Also, results will appear in the Articles & More panel if I do an Everything search.  The problem does not occur on Chrome.

[2016-04-29 21:42] gooyers commented on #751
Closing issue as list/grid toggle has been removed.

[2016-04-29 21:42] #751 closed

[2016-04-29 21:46] gooyers commented on #605
Still not sure that the Blacklight stopwords are working 100%.

A search for "enfant cachee" doesn't return the item listed in the example above:
https://search-test.library.ualberta.ca/results?q=%22enfant+cachee%22

[2016-05-03 14:16] redlibrarian commented on #985
This is the same problem as #928. It should be fixed in test, and will be fixed in the next production release.

[2016-05-03 14:54] lindaslater opened #986 "Cochrane databases do not show up in Blacklight"
I tried to access the Cochrane Database of Systematic Reviews and the Cochrane Central Register of Controlled Trials via Blacklight, and the databases do not get retrieved.  I also tried their 'umbrella' names, i.e. Evidence Based Medicine Reviews, EBM Reviews and EBMR, Cochrane Library as well as simply Cochrane, and none of these would retrieve the databases either.

[2016-05-03 16:09] redlibrarian commented on #986
Hi Linda,

Can you check again? At least some of the Cochrane databases are showing up: https://search.library.ualberta.ca/databases?utf8=%3F&q=cochrane

[2016-05-03 16:10] redlibrarian commented on #986
The three that are showing up in Blacklight are the three that come up in a "Cochrane" search in LibGuides:

http://guides.library.ualberta.ca/az.php?q=cochrane

[2016-05-03 17:13] gooyers opened #987 "Directed to an All Records results page"
I hadn't noticed this behaviour previously, so I think it's new this release.

I'm being directed to an "All Records" bento results page (https://library.ualberta.ca/results?q=) on occasion. You can get to this page by clicking the search button from the initial search box without entering any terms: https://library.ualberta.ca/search.

I don't think this is necessarily a problem (though the fact

[2016-05-03 17:13] lindaslater commented on #986
Hi, Sam,
I forgot to check the test version.  As long as it's working in the version
that comes up on Thursday, that should be fine.

Linda

*Linda Slater*, Public Services Manager, John W. Scott Health Sciences
Library, 2K312 WMC
University of Alberta, Edmonton, AB T6G 2R7.  Tel:  780-492-7948. Fax:
780-492-6960. Email:  linda.slater@ualberta.ca

On 3 May 2016 at 10:10, redlibrarian <notification

[2016-05-03 17:29] redlibrarian commented on #987
Thanks @gooyers - if I'm understanding you properly, there are two issues: 1) you're being taken to a full result set sometimes and 2) the search terms which appear in the search box after a search aren't really there.

I've fixed 1) by baking the behaviour of the bento screen the same as the result screen: if no search term has been entered, the screen will say "begin your search here" and no res

[2016-05-03 17:49] redlibrarian commented on #987
OK, I've fixed both these bugs. They should be in the next (last) release.

[2016-05-03 17:53] theLinkResolver commented on #966
looks good

[2016-05-03 17:53] #966 closed

[2016-05-03 17:56] theLinkResolver commented on #921
Tested a few different scenarios and this is working great! Big score!

[2016-05-03 17:56] #921 closed

[2016-05-03 17:57] theLinkResolver commented on #883
@redlibrarian Still not seeing them..

[2016-05-03 18:07] redlibrarian commented on #883
I don't know what's going on. I see them on my workstation, but not in test or production.

[2016-05-03 18:12] redlibrarian commented on #883
I've asked our sysadmin if there's an issue with access on the test and production machines.

[2016-05-03 18:39] redlibrarian commented on #982
We're locked out of the EDS admin interface. I have a ticket in with Ebsco support. This will have to wait until then.

[2016-05-03 18:39] redlibrarian commented on #983
This will have to wait until our access to Ebsco admin is restored.

[2016-05-03 18:49] redlibrarian commented on #883
Gah. I've figured out why this is happening. Months ago, we had the same problem (OUR appearing on my workstation, but not in test or prod). It turned out the security certificate was blocking "http://tal.scholarsportal.info" because it was insecure, while our test and prod instances are running on https. We fixed it by changing the scholarsportal link in our code to https.

But, a couple of weeks

[2016-05-03 18:52] redlibrarian commented on #883
OK, I've managed to change the OUR link to https on the fly, so that should work. We'll check in the next release.

[2016-05-03 18:55] redlibrarian commented on #883
I've pushed a fix - hopefully this will be fixed in test and prod today/tomorrow.

[2016-05-03 19:20] redlibrarian commented on #978
I don't think I'm going to have time to dig into this one before thursday.

[2016-05-03 19:21] #563 closed

[2016-05-03 19:21] #597 closed

[2016-05-03 19:21] #605 closed

[2016-05-03 19:21] #609 closed

[2016-05-03 19:21] #705 closed

[2016-05-03 19:21] #729 closed

[2016-05-03 19:21] #775 closed

[2016-05-03 19:21] #794 closed

[2016-05-03 19:22] #797 closed

[2016-05-03 19:22] #803 closed

[2016-05-03 19:22] #827 closed

[2016-05-03 19:22] #831 closed

[2016-05-03 19:22] #859 closed

[2016-05-03 19:22] #865 closed

[2016-05-03 19:22] #869 closed

[2016-05-03 19:22] #889 closed

[2016-05-03 19:22] #917 closed

[2016-05-03 19:23] #875 closed

[2016-05-03 19:23] #975 closed

[2016-05-03 19:23] #985 closed

[2016-05-03 19:24] #787 closed

[2016-05-03 19:24] #685 closed

[2016-05-03 19:24] #451 closed

[2016-05-03 19:24] #219 closed

[2016-05-03 19:24] #171 closed

[2016-05-03 19:26] redlibrarian commented on #566
I'm going to close this as we're leaving EDS on the home page for the foreseeable future.

[2016-05-03 19:26] #566 closed

[2016-05-03 19:26] #511 closed

[2016-05-03 19:47] gooyers commented on #987
Thanks for the quick fixes @redlibrarian!

[2016-05-03 19:48] seanluyk opened #988 "Suppress ILL records"
Just stumbled across this searching for an item for a patron. The following is an ILL record (as indicated in Workflows):

https://library.ualberta.ca/catalog/6403536

I think this possibly relates to #927, although for a different type of record.

[2016-05-03 19:49] redlibrarian commented on #988
Hm. I think that's supposed to be excluded from the data extract...

[2016-05-03 19:58] theLinkResolver commented on #986
@lindaslater @redlibrarian I'm satisfied with most, but not all, of the results in Blacklight for these, but this can be improved by adding some alternative titles to the LibGuides description. As far as searching in the LibGuides-based database search goes, I think there is work to be done to improve findability (that was not the basis of @lindaslater's original question but I was checking it out

[2016-05-03 20:02] redlibrarian commented on #987
@gooyers No problem. If you want to check these out, the code fix is now in search-test.

[2016-05-03 20:03] theLinkResolver commented on #972
This is definitely working now.

[2016-05-03 20:03] #972 closed

[2016-05-03 20:03] redlibrarian commented on #883
@theLinkResolver I'm on wireless right now so I can't test this. Can you check in search-test and see if this is working - the new code was just pushed into test.

[2016-05-03 20:03] seanluyk commented on #867
Just checked again and this is still displaying as clipped/running on multiple lines for most, but not all of the institutions

[2016-05-03 20:05] theLinkResolver commented on #952
@redlibrarian still no good

[2016-05-03 20:06] theLinkResolver commented on #883
@redlibrarian It's working!!

[2016-05-03 20:07] redlibrarian commented on #883
Excellent! It should work in prod once we push this code up.

[2016-05-03 20:10] #971 closed

[2016-05-03 20:10] #924 closed

[2016-05-03 20:11] theLinkResolver commented on #882
@redlibrarian What is the status of this?

[2016-05-03 20:12] redlibrarian commented on #882
I thought this was in place (though not dynamically updated), but I'm getting an error in prod. I'll look into it.

[2016-05-03 20:14] redlibrarian commented on #952
Hm. OK. I'll check it again.

[2016-05-03 20:16] seanluyk commented on #923
I think this is good now - shield icon is not appearing on its own line, and from what I can tell, it's only appearing for UofA items

[2016-05-03 20:16] #923 closed

[2016-05-03 20:19] redlibrarian commented on #867
Yep. I'm looking into it right now.

[2016-05-03 20:24] redlibrarian commented on #867
I think this is a problem with the Solr schema not being up to date...

[2016-05-03 20:50] redlibrarian commented on #867
Gah. I can't see what the problem is, but this has been pushed to prod, which doesn't look good. Hopefully I'll have a fix for it by tomorrow.

[2016-05-03 20:52] redlibrarian commented on #952
OK, I think I see what the problem is. Check in next release.

[2016-05-04 15:11] redlibrarian commented on #867
@ualbertalib/discovery-testing I can't figure out why this is working in dev but not in test and production. I'm going to remove the limit from tomorrow's release, but I'll put it back in as soon as it's fixed.

[2016-05-04 16:38] redlibrarian opened #989 "UI tweaks"
1). On results page a border is showing up around shield icon, do you want to remove it?
.results ul li img {
   border: 1px solid #999
}
​https://search.library.ualberta.ca/assets/ualib-discovery-766dc729a4a7ef21cdf16ae385ee4e0d54a649c2d01272759c30dbcb6f08d3a3.css​

​2​). On​ french header adding the site search has made the ask us bar wrap in my default   view​. If I change the padding to 3px it

[2016-05-04 16:55] theLinkResolver commented on #932
@redlibrarian
@ualbertalib/serials-cataloguing noted two things today that suggest the records do not reflect yesterday's changes.

[This record](https://www.library.ualberta.ca/catalog/954921346233) shouldn't be in the system today, because we turned off its only active portfolio yesterday.

[This record](https://www.library.ualberta.ca/catalog/991042732696152) is not in the system, but should be

[2016-05-04 16:58] redlibrarian commented on #932
This is a really hard thing to test. At some point this summer, let's sit down and work out some way of adequately testing this data pipeline.

[2016-05-04 18:55] #986 closed

[2016-05-04 22:16] seanluyk opened #990 "Index and display 245 $h (Section Number) in titles where present"
Searching BL for The Handbook of Labour Economics 4B yields some ambiguous results in both the [grid](https://library.ualberta.ca/results?utf8=%3F&q=handbook+of+labor+economics+4b) and [list](https://library.ualberta.ca/symphony?q=handbook%20of%20labor%20economics%204b) views.

I think what needs to happen is for the 245 $h (already indexed) to be added to the title and displayed in grid and list

[2016-05-05 15:05] redlibrarian opened #991 "SFX menu integration"
ie replacement for the Sirsi z39.50 target.

[2016-05-06 15:50] theLinkResolver commented on #990
@seanluyk Definitely true, as the section and part numbers are integral parts of the title. (You mentioned $h but I think you meant $n and $p.)

#718 discussed it and I tried to capture the bigger picture in #949 also.

[2016-05-06 18:19] seanluyk commented on #990
Thanks @theLinkResolver, that n must have looked like an h ;)

[2016-05-06 21:02] theLinkResolver commented on #932
@redlibrarian For the record, those records are in the system now. (Wasn't around yesterday to test.) Happy to help with developing tests, for sure.

[2016-05-06 21:19] theLinkResolver commented on #932
@redlibrarian Correction/braincramp - the first record is gone and the second record is there -- and that's the way it should be!!

[2016-05-06 21:51] redlibrarian commented on #932
Ha ha - OK, so the answer to "are the deletes working?" is: maybe!?

On Fri, May 6, 2016 at 3:19 PM, Scott Davies <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2016-05-06 21:56] theLinkResolver commented on #932
@redlibrarian I just don't get why it took more than one day, if you delete all and then reingest nightly. Did it have something to do with the full SFX2Sirsi update running? Was the Wednesday SFX file not available for some reason? (Really grasping at straws!)

[2016-05-12 16:00] redlibrarian opened #992 "Add Schema.org RDF *at least* to the home page"
... if not to the Blacklight item pages themselves.

[2016-05-12 16:08] redlibrarian commented on #866
This is working now.

[2016-05-12 16:08] #866 closed

[2016-05-12 16:08] redlibrarian commented on #883
This is working.

[2016-05-12 16:08] #883 closed

[2016-05-12 16:09] redlibrarian commented on #926
This is working.

[2016-05-12 16:09] #926 closed

[2016-05-12 16:10] redlibrarian commented on #928
This is working now.

[2016-05-12 16:10] #928 closed

[2016-05-12 16:12] redlibrarian commented on #952
Still something weird with this one.

[2016-05-12 16:12] redlibrarian commented on #987
This is working.

[2016-05-12 16:12] #987 closed

[2016-05-12 16:13] #964 closed

[2016-05-12 19:44] seanluyk opened #993 "No articles results when apostrophe is used"
Searching everything for [Dr. Jekyll's two bodies](https://library.ualberta.ca/results?utf8=%3F&q=dr.+jekyll%27s+two+bodies) provides no results in the articles box, although 6 are returned in an EDS search.

The [same search pre-limited to articles](https://library.ualberta.ca/articles?utf8=%3F&q=dr.+jekyll%27s+two+bodies) returns 4 results.

[2016-05-12 22:29] seanluyk opened #994 "Usability issue with articles list view"
It was mentioned to me that all the other bento box list views have next/previous buttons at the top and bottom of results pages, but articles results pages only have next/previous buttons at the top of the page.

[2016-05-13 15:59] gooyers opened #995 ""Start Over" link directs to page that mentions list/grid view."
Small issue, but the "Start Over" link at the top of a results page redirects to this page: https://library.ualberta.ca/search. This page was used while the search wasn't the default, is the plan to still use this page?

If so, the page mentions that you can "select your preferred view from your initial search results" which alludes to the removed list/grid view. I suggest this language be removed

[2016-05-13 19:50] theLinkResolver opened #996 "next/previous buttons not behaving in database results list"
[Go here](https://www.library.ualberta.ca/databases?page=2&q=encyclopedia&utf8=%3F) and pick a title, then click next or previous. I'm in some other, larger result set.

![image](https://user-images.githubusercontent.com/2047614/39454005-0dcc7052-4c96-11e8-9a81-9961c6be793e.png)
Click on any of the title, it shows it's in a bigger result set:
![image](https://user-images.githubusercontent.com/2047

[2016-05-17 13:51] #444 closed

[2016-05-17 13:52] #264 closed

[2016-05-17 18:50] redlibrarian opened #997 "Bug when 245a not present"
https://search.library.ualberta.ca/results?utf8=%3F&q=personal+digital+archives

Clicking through to full results gives an error on "title_display" (ie, field not found).

[2016-05-17 18:59] redlibrarian commented on #997
This has been fixed temporarily (displays "Untitled document" when applicable). However, this should display 245$k, $f, as it does in iLink, I think.

[2016-05-17 19:00] redlibrarian commented on #978
Yes, @sjshores reported this problem again today. I've made a temporary fix to stop the system from giving an error, but I'll have to deal with these soon. #997

[2016-05-17 20:02] theLinkResolver commented on #949
@redlibrarian I'm thinking about the logic for title display in all situations (#978, #997, #990), and I have to say, it's pretty much impossible to separate the $c (statement of responsibility) without having some kind of negative impact on the title (due to this MARC21 rule: "Once a subfield $c has been recorded, no further subfield coding of field 245 is possible").

Therefore, in good conscien

[2016-05-17 20:26] theLinkResolver commented on #949
Just logging an example record for future testing:
[Blacklight](https://www.library.ualberta.ca/catalog/1480307) / [iLink](http://www.library.ualberta.ca/permalink/opac/1480307/WUAARCHIVE)

In this example, option 1 would preserve the English parallel title for display:
**Actes / Association canadienne de linguistique appliquée = Proceedings / Canadian Association of Applied Linguistics**

Option

[2016-05-17 20:29] theLinkResolver commented on #949
@redlibrarian Hmm.. I suppose, if Blacklight could look at indicators and tease out 246 11 from other 246s, the parallel title could be identified as such and given display prominence, making option 1 more palatable. (will stop talking now)

[2016-05-17 21:19] SerialsLibrarian commented on #949
I would go with option 1. Subfield c provides information for all those proceedings, annual reports, and other 'generic' titles that would otherwise not be distinguishable among each-other unless combined with the conference, corporate body, or jurisdiction that is responsible for them.
Option 1: **Proceedings / International Symposium on Software Metrics**
Option 2: Proceedings
(bdw, there are 88

[2016-05-19 15:22] redlibrarian commented on #429
@seanluyk I got a request from a faculty member to add this in, which reminded me that I had forgotten to do it. The new code should be in test today or tomorrow - can you test it when it's in test? We can then push to prod pretty quickly. Thanks.

[2016-05-19 15:32] redlibrarian opened #999 "Add for .ris and .bib export options"

[2016-05-19 15:32] seanluyk commented on #429
Sure, I'd be happy to @redlibrarian

[2016-05-19 15:36] theLinkResolver opened #1000 "relevance score tiebreaker rules"
@redlibrarian Curious about these, if they are viewable, what they are, etc.

[2016-05-19 15:44] redlibrarian opened #1001 "Summary of Symphony library code changes"
Libraries removed:

AITF_CALG - Alberta Innovates - Technology Futures - Calgary
AHS_QEII - Alberta Health Services - Queen Elizabeth II Hospital
AHS_WHC - Alberta Health Services - Women's Health Centre
AHS_PLC - Alberta Health Services - Peter Lougheed Centre

Library added:

AHS_INT - Alberta Health Services - Internet
Last week we changed the description to:       Alberta Health Services/Coven

[2016-05-19 15:52] redlibrarian commented on #1000
@theLinkResolver Technically all those rules are specified in here: https://github.com/ualbertalib/discovery/blob/master/solr/blacklight-core/conf/solrconfig.xml

But it's extremely complicated, and I'm not sure anyone here is well-versed in how it works. It would probably require going through the Solr documentation to figure it out. @mbarnett and @pgwillia might be the best people to talk to abo

[2016-05-19 16:28] mbarnett commented on #1000
@pgwillia would definitely be the one to talk to. My knowledge of Solr scoring is fuzzy at best :)

[2016-05-19 17:11] redlibrarian commented on #491
This is done. It gives us a clean print-friendly record view. We can tweak if necessary.

[2016-05-19 17:38] redlibrarian commented on #932
This still isn't working. I need to take a step back and figure out how to **test** this, I think.

[2016-05-19 17:58] redlibrarian commented on #997
Working, and in production.

[2016-05-19 17:58] #997 closed

[2016-05-19 17:59] redlibrarian commented on #429
@seanluyk This is in search-test now. Thanks.

[2016-05-19 20:44] pgwillia commented on #1000
Do you have an example? We could ask Solr to explain the scoring (add debug=results to the Solr query parameters) and then walk through the example to see the scoring/tiebreaker.

[2016-05-19 21:10] theLinkResolver commented on #1000
I don't know whether it is actually a "tie" or not, but I am curious about the ranking of result 1 vs. 2:

https://www.library.ualberta.ca/results?utf8=%3F&q=Food+%26+beverage+market+place

Everyone wants the online to be number 1, of course! So I'm curious whether these scored the same, and if so, how the tie is broken (and if there is possibly a way to locally tweak this so that the online vs. n

[2016-05-19 23:09] linds37 opened #1002 "Subject headings in "Books media & more" journal record compared to e-journal record"
Hi. A prof was just asking about access to this journal, Cognition and Culture, and I noticed that [this record](https://www.library.ualberta.ca/catalog/6831017) includes topical subject headings, whereas in [this one](https://www.library.ualberta.ca/catalog/110978984570521), the subject heading is not so meaninful. I know you're working on merging the journal records in Symphony with the ejournal

[2016-05-19 23:42] pgwillia commented on #1000
Be careful what you wish for, this is a lot of information.

After staring at this for a while I realize that I'm not getting the same results order as https://www.library.ualberta.ca/results?utf8=%3F&q=Food+%26+beverage+market+place so I may be missing something.  Here's the results from my Solr Query [solr1.library.ualberta.ca:8080/solr/discovery-test-2016-04-20//select?wt=ruby&qt=search&&&&fq={

[2016-05-20 01:40] redlibrarian commented on #1000
LOL - Welcome to our world, @theLinkResolver .

There's a lot of info there, for sure - I can see what I make of it tomorrow or Monday. I'm pretty sure @pgwillia 's right that the number of fields is probably making a difference.

Thanks @pgwillia - that's a lot of great stuff.

[2016-05-20 15:06] theLinkResolver commented on #1000
Definitely something that I won't look too closely at until after my next cup of coffee!

It's great to have this documented here, because people do ask about relevance, and having an example to refer to is helpful. For many, it's enough to look at this and realize, "oh, it's more complicated than I thought!"

@redlibrarian I guess the dream is that _UAL:yes/no_ and _online:yes/no_ could be used t

[2016-05-20 15:09] theLinkResolver commented on #1000
@redlibrarian There's also this example from the training sessions.
https://www.library.ualberta.ca/symphony?q=%22canadian+fundamentals+of+nursing%22

People were curious how the ranking was achieved, I think because everyone wants the newest edition at the top (which, of course, can be achieved by sorting the results). No doubt there are differences in the various fields, but then again, I do won

[2016-05-20 15:15] redlibrarian commented on #1000
@theLinkResolver I think these would be really good candidates for automated ranking tests. Let's definitely make a plan to dig deeper into this.

[2016-05-20 15:58] theLinkResolver commented on #1002
@linds37 A good example of why we prefer the Symphony journal record, for sure.

[2016-05-20 16:00] redlibrarian commented on #1002
@linds37 Yes, the first record is from Symphony (good metadata) the second from SFX (slim metadata). The plan is to merge the records, allowing us to keep the Symphony metadata, but the SFX subscription and licensing information.

[2016-05-20 17:39] redlibrarian commented on #491
Fixed.

[2016-05-20 17:39] #491 closed

[2016-05-24 19:43] seanluyk commented on #429
Sorry for the delay in looking at this. It appears that search-test can't be reached

[2016-05-25 15:38] seanluyk commented on #429
It appears that this is mostly working for books and ebooks (with fields being split oddly in some places, but this is typical with Zotero), but not for other formats. For example, adding a journal to Zotero adds a journal article, and other formats are treated as web pages.

[2016-05-25 15:58] redlibrarian commented on #429
@seanluyk OK, thanks. It looks like the openURL Blacklight generates isn't always correct. This will need some fine-tuning, probably in the summer.

[2016-05-27 17:18] seanluyk commented on #547
Here's an example that came to the desk, reported by Sarah: https://www.library.ualberta.ca/catalog/771772

User needs to look at full catalogue record to determine if we have earlier holdings

[2016-05-27 18:59] theLinkResolver commented on #547
@seanluyk I think I get what you are referring to, although it's not quite the same thing that's being discussed in this issue. The issue you reported belongs with #691. (Just clarifying for those following this thread) :)

[2016-05-30 17:15] seanluyk commented on #547
Thanks @theLinkResolver , but would displaying this field not solve it too?

[2016-05-30 17:27] theLinkResolver commented on #547
The years of publication are not necessarily the same as the years that we actually hold. For this title, it seems to solve the problem because we have everything that was published.

[2016-06-01 17:35] theLinkResolver opened #1003 "SFX lookup not quite live? or is coverage simplified?"
https://www.library.ualberta.ca/catalog/1000000000274727

I just edited the threshold to read "Available in 1997 volume: 35 issue: 1
Available from 1997 volume: 35 issue:3 until 1998 volume: 36 issue:2" (i.e. v.35,iss.1; v.35,iss.3 to v.36,iss.2, [as seen in the Get It window](http://resolver.library.ualberta.ca/resolver?url_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&ctx_ver=Z39.88-2004&

[2016-06-01 17:56] redlibrarian commented on #1003
The lookup is live, and I'm not doing any processing on the data. I think it's more likely that the SFX API isn't handling the multiple thresholds properly. I'll look into it.

[2016-06-01 18:03] redlibrarian commented on #1003
Huh. Turns out I was wrong about *everything* in the holdings table being a live lookup. The XML response from the API (http://resolver.library.ualberta.ca/resolver?url_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&rfr_id=info:sid/sfxit.com:kbmanager&sfx.ignore_date_threshold=1&rft.object_id=1000000000274727&sfx.response_type=simplexml) does no

[2016-06-01 18:18] theLinkResolver commented on #1003
@ualbertalib/serials-cataloguing See thread for a note re. currency of SFX coverage in Blacklight.

[2016-06-01 22:02] redlibrarian opened #1004 "Use API_URL_S instead of API_URL everywhere"
in articles_helper_behaviour.rb and derivatives.

[2016-06-06 18:19] scastell opened #1005 "NEOS list of libraries - link is broken"
The NEOS website has changed - get a "page not found" error message when trying to find more info on a NEOS member library see https://www.library.ualberta.ca/catalog/3865428 as an example.

[2016-06-07 21:08] seanluyk opened #1006 "Articles and more - "I don't understand your search""
Reported by a colleague, I was just able to replicate it:
1. Searched "basic needs approach" (in quotes) in the homepage search box.
2. Clicked to view the results under "Articles & more" (240 results).
3. Sorted the results to view oldest first (because I want to see work by the originators of this theory).
4. Clicked the box to limit to Scholarly (Peer Reviewed) Journals
5. Received this error s

[2016-06-09 13:13] #973 closed

[2016-06-09 14:40] #1003 closed

[2016-06-09 14:41] redlibrarian commented on #1005
This is due to recent changes made to the NEOS website. I have a question in to @kgood about it.

[2016-06-10 21:14] redlibrarian commented on #995
Fixed.

[2016-06-10 21:14] #995 closed

[2016-06-13 20:16] alfodor commented on #1005
Changes to locations have been corrected to point to new NEOS WordPress site. April

[2016-06-14 18:46] redlibrarian opened #1008 "Add logic to timeout gracefully when when Ebsco API not responding."
Make sure that this correctly release Passenger threads.

[2016-06-15 20:05] redlibrarian opened #1009 "Add Cite feature again"
-- include a disclaimer ("use at your own risk").
-- include link to citation libguide.

[2016-06-21 21:19] redlibrarian opened #1010 "[Discovery] "Submit correction" form broken."
**Bug Description and Replication**

<img width="561" alt="screen shot 2018-05-17 at 10 36 17 am" src="https://user-images.githubusercontent.com/1093066/40191267-2bd0e9d6-59be-11e8-84ae-a1445471f9d3.png">
<img width="744" alt="screen shot 2018-05-17 at 10 36 38 am" src="https://user-images.githubusercontent.com/1093066/40191284-35dee680-59be-11e8-99e2-58e6e3ec5f09.png">

Sending email is working i

[2016-06-23 21:09] #1005 closed

[2016-06-23 21:10] redlibrarian commented on #900
Referred to in #1002

[2016-06-23 21:10] redlibrarian commented on #1002
I'm going to close this, as it refers to #900

[2016-06-23 21:10] #1002 closed

[2016-06-23 21:14] redlibrarian commented on #978
Hm. The initial problem record comes up at least in production, but not in test.

[2016-06-23 21:16] redlibrarian commented on #969
I've renamed this issue. The question now is should titles be linked, or should we continue to use the "electtronic access" link. For discussion.

[2016-06-23 21:19] redlibrarian commented on #952
See #1001 . This should be working, but still isn't. I'll have to keep digging.

[2016-06-23 21:29] redlibrarian commented on #768
See #900

[2016-06-23 21:30] theLinkResolver commented on #951
Forgot to log my findings on this. What I found here is that there isn't much record metadata coming through for SFX records. The extract that is used to ingest the records was developed for other purposes (SFX2Sirsi) and so it is fairly "lean". The complete SFX records are lean anyway, but they appear even leaner in Blacklight because of this. @redlibrarian I think we can close this issue, becaus

[2016-06-23 21:33] redlibrarian commented on #720
@seanluyk @theLinkResolver Can you take a look at these records and let me know how the seem right now? I don't think they're done yet, but some of the display has been improved, I think?

[2016-06-23 21:39] redlibrarian opened #1012 "Add "text/email" to each call number line in holdings table."

[2016-06-23 21:48] redlibrarian commented on #482
Done.

[2016-06-23 21:48] #482 closed

[2016-06-24 19:30] seanluyk commented on #720
I think the display has improved by adding the -- between repeated notes, and the example records. I'm not seeing 546 in [this record'(https://search.library.ualberta.ca/catalog/6791277), but the other notes are there.

[2016-06-28 16:46] theLinkResolver commented on #720
Wow, @seanluyk - good catch on the 546. Indeed, there are a few different subfields to display for the 546, and we are just displaying one of them right now. My bad.

@redlibrarian Can you add $3 and $b to the display... This is one of those fields where we want to see the contents in whatever order they are presented. I don't think this will break anything else (language as displayed in results l

[2016-07-04 15:34] theLinkResolver commented on #836
@redlibrarian I'm going to re-open this as both the notes [described here](https://github.com/ualbertalib/discovery/issues/836#issuecomment-207537952) are displaying, but only one should. See helpdesk ticket https://helpdesk.library.ualberta.ca/otrs/index.pl?Action=AgentTicketZoom;TicketID=34954.

[2016-07-04 16:15] redlibrarian commented on #836
@theLinkResolver The record shouldn't be appearing at all, right? The reason the "no copies found" message is displaying is because this record isn't in Symphony anymore. So the labelling is correct; the underlying problem is with records not being deleted. #932

[2016-07-04 16:26] theLinkResolver commented on #836
@redlibrarian Agreed re. the underlying problem - the record shouldn't be there at all. As per your second comment on Apr 8, I thought there was logic to just display the "no copies found" note in this circumstance, and not the "no UA access" note.

[2016-07-04 16:48] redlibrarian commented on #836
In a "true record" (ie, one that exists in Symphony and in Blacklight) only one of those messages should show up - I think the problem in this case is due to the underlying problem.

[2016-07-04 16:49] redlibrarian commented on #836
Though having said that, we can change the language of the "no copies" note to be clearer if, by some chance, legitimate records end up having both notes.

[2016-07-04 16:53] redlibrarian opened #1013 "DOI search"
Could we - maybe using a regular expression - figure out if a user has entered a DOI and, if so, send them straight to SFX/Full Text?

[2016-07-04 16:59] redlibrarian commented on #1013
For example, this link works:
http://resolver.library.ualberta.ca/resolver?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&ctx_id=10_1&ctx_tim=2016-07-04T10%3A56%3A47MDT&ctx_ver=Z39.88-2004&res_id=http%3A%2F%2Fresolver.library.ualberta.ca%2Fresolver&rfr_id=info%3Asid%2Fsfxit.com&rft_id=info%3Adoi%2F10.1037%2F0003-066X.59.1.29

for a DOI of 10.1037/0003-066X.59.1.29

[2016-07-04 17:04] theLinkResolver commented on #836
I'm confident that fixing the underlying problem will be sufficient. I can't think of a legitimate scenario for having both notes.

[2016-07-05 19:43] linds37 opened #1014 "Change wording to barcode & PIN login on place holds screen"
Can the text be a bit larger and simply be a link that says Login with Barcode and PIN

If we want it to be more specific it could say: Login with Barcode and PIN (NEOS, TAL, Academic Visitors, Members of the Public)

[2016-07-05 19:54] linds37 commented on #1014
correction: Login with Barcode and PIN (Alumni, Visitors, NEOS, TAL, Members of the Public)

I used the brackets to mirror the heading for My Account, which says "My Account (for current students, staff and faculty)", but it could try to address the group concerned:

Alumni, Visitors, NEOS, TAL, Members of the Public: Login with Barcode and PIN

[2016-07-12 15:33] redlibrarian commented on #712
This seems to be working now (though I haven't changed anything). I get 104 results for **User stories applied : for agile software development**,  **User stories applied: for agile software development**, and  **User stories applied for agile software development**

@seanluyk Can you test this and see if it's working to your satisfaction?

[2016-07-12 16:40] redlibrarian commented on #494
Cf #547 #746 #855

[2016-07-12 17:05] seanluyk commented on #712
This appears to be working. I tried a few other iterations and the only one that gets very few results (2 in BMM is: User stories applied :for agile software development

Not sure if this is significant as the item is still findable.

[2016-07-12 18:00] redlibrarian commented on #494
Ugh. OK, well, it's ugly, but it seems to work. @theLinkResolver when the next release is in test on Monday (hopefully) we'll have to look at this, but I think it should be working now.

[2016-07-12 22:05] astrilet commented on #532
I think this is problem with definition:
.dl-horizontal dt {
  width: 160px;
  margin-right: 5px;
}
working on it now

[2016-07-13 18:14] redlibrarian commented on #532
This is fixed in development, and will be in the next release.

[2016-07-13 20:41] fculpepper opened #1016 "Call numbers in Bookmarks view"
This comment/suggestion came in from a staff member:
"I tried collecting a list of bookmarks for a patron. When I clicked on 'Go to Bookmarks', I did get a list, but the call numbers are not visible, which makes the list rather moot for printing and offering up to the patron to go find the items on the shelf. I also tested the email feature, and the call numbers don't appear there either; it just

[2016-07-13 21:00] theLinkResolver commented on #1016
This is such a desirable feature... I'm just not sure how to execute it --

Which call number do we choose to present in the bookmark list for these titles?
https://www.library.ualberta.ca/catalog/2378310
https://www.library.ualberta.ca/catalog/2318161
https://www.library.ualberta.ca/catalog/1295581

Maybe the solution is to include all call numbers, somehow, but what if someone decides to bookmar

[2016-07-13 21:05] redlibrarian commented on #1016
As Scott points out, the fact that we have different call numbers for
different items makes this tricky. I removed the call number from the email
functionality, because - while we can include all call numbers in an email
- we can't include them all in a text, and it made sense for email and text
functionality to be the same.

One suggestion from a SLAC member was that there could be an email/text

[2016-07-13 23:05] linds37 opened #1017 "Does Blacklight search the 050 MARC field in Symphony? Creating a print/virtual shelflist"
David was telling me that a lot of ebook records have a call number in the 050 field. Is it possible for Blacklight to include 050 in keyword searches?

If yes, does that mean we could create a "shelflist" that includes both print & e resources in a call number range?

The call numbers for UA books in Symphony have a space between the first letter and the number. The ebook call numbers in the 050

[2016-07-14 17:38] theLinkResolver commented on #1017
It looks like we are just indexing the 090 (local call number) now. The 050 is used for the call number faceting. In that sense, it is available for the purpose described, but only at the very highest level of classification (i.e. the first digit of the class number only, e.g. H (Social Sciences) but not HF (finance), and certainly not to the level of the numeric ranges within a subclass), so actu

[2016-07-14 19:30] redlibrarian commented on #1001
I just realized why that facet value remained "ahsint" - it's because the data needs to be riendexed. It should be fine when we deploy.

[2016-07-14 19:30] #1001 closed

[2016-07-15 21:29] linds37 commented on #1017
Thanks for investigating, Scott. I think it would be great to look into this further, and to consider making the 050 field searchable so that ebooks could come up for call number keyword searches

[2016-07-18 20:03] redlibrarian commented on #1012
The link has been added, but the email and SMS text needs to be changed to reflect the actual item being sent. I've created a sms-email branch to finish that.

[2016-07-19 16:11] redlibrarian commented on #984
See #1009

[2016-07-19 16:11] #984 closed

[2016-07-19 16:12] redlibrarian commented on #1009
This has been done, and will be in the next release.

[2016-07-19 16:12] redlibrarian commented on #1012
OK, this is done. Check in next release.

[2016-07-19 16:14] redlibrarian commented on #867
I'm wondering if this needs a reindex; since we're going to be doing a full index on the next release, I've reenabled this. We'll have to check in the next test release.

[2016-07-19 16:54] redlibrarian commented on #1016
I've managed to get the email/text each item (including call number) working, so it may be that we can figure out how to deal with call number/locations in bookmarks view. I think the design of this in a consortial environment will take some discussion/planning.

[2016-07-19 17:15] redlibrarian commented on #1014
@linds37 I've changed the wording/size to this:

![image](https://cloud.githubusercontent.com/assets/1093066/16959369/fdb1ca7c-4da1-11e6-8072-6cc98db9c099.png)

I'm reluctant to add the user types as we don't have a lot of room in that box, and it risks overwhelming the place hold button. What do you think?

[2016-07-19 17:35] redlibrarian commented on #1004
This throws an error, likely because of the EDS gem. Closing, as we need to get off that gem anyway.

[2016-07-19 17:35] #1004 closed

[2016-07-19 17:39] redlibrarian commented on #994
Try to add this bar to the bottom of the article results screen.

![image](https://cloud.githubusercontent.com/assets/1093066/16960168/82d5c41c-4da5-11e6-83ed-32764cda7229.png)

[2016-07-19 17:46] redlibrarian commented on #979
I've added the RDA 264c for date handling which should fix the problem.

[2016-07-19 17:46] redlibrarian commented on #952
This should be working in the next release.

[2016-07-19 17:47] redlibrarian commented on #930
This refers primarily to the record view (i.e. https://library.ualberta.ca/catalog/5603054) which doesn't look very good in mobile.

[2016-07-19 17:51] redlibrarian commented on #922
This is fixed, will be in the next release.

[2016-07-19 18:34] linds37 commented on #1014
Can you think of a good way to differentiate between the two? I think it's confusing not to.  Maybe it doesn't need to say "with barcode and PIN". What if it said "NEOS, TAL, Alumni, Public: Place Hold here"

[2016-07-19 18:35] linds37 commented on #1014
... and not bold it, so as not to detract from the button for UA users?

[2016-07-19 18:36] linds37 commented on #1014
"NEOS, TAL, Alumni, Visitors: Place Hold here" -- that's better

[2016-07-19 19:05] redlibrarian commented on #1014
Quite honestly, I think it's too much text, and looks really clunky both in relation to the place hold button and the list of other options. @ualbertalib/discovery-testing What does anyone else think?

![image](https://cloud.githubusercontent.com/assets/1093066/16963014/83f216dc-4db1-11e6-82cd-2d3046582e4d.png)

[2016-07-19 19:13] linds37 commented on #1014
If Blacklight can detect single sign-on, can it suppress the barcode & PIN link?

[2016-07-19 19:18] redlibrarian commented on #1014
Blacklight currently doesn't look at a user's authentication at all (that's handled by the place hold page, outside of Blacklight). If it's possible, it would be a large enough piece of work that it would have to be its own project, and we'd have to decide on the priority (i.e. what doesn't get done because we're doing that). It would also mean that for any U of A student or faculty who hasn't sig

[2016-07-19 21:18] linds37 commented on #1014
I've had a suggestion for wording: Not U of A student/staff? Place hold here.

[2016-07-19 21:19] seanluyk commented on #1014
How about "External Users: Click Here"?

[2016-07-20 15:43] redlibrarian commented on #1010
I fixed the email problem, but now in production it's throwing an error. I hope to fix it before Friday, so it can go into production on Monday. / @theLinkResolver

[2016-07-21 19:52] seanluyk opened #1024 "Medline not appearing in databases bento"
A search for MEDLINE returns no results in the databases bento box.

[2016-07-21 22:09] theLinkResolver commented on #1024
@redlibrarian I'm not getting results for ANY databases search at the moment.

[2016-07-26 19:07] redlibrarian opened #1025 "Image CSS"
We want larger images to be scaled down to thumbnails, because that's clearer than creating new thumbnails. Currently larger images display at their large size.

[2016-07-26 20:39] redlibrarian commented on #1008
OK. I've added thrown/catch statements so that if there's no connection to EDS, then the system can still function (just with no EDS results). The only problem is that if the EDS connection is restored, it doesn't restore the connection. Rails/httpd needs to be restarted for the article results to come back when that happens.

[2016-07-26 21:33] #1008 closed

[2016-07-27 15:52] redlibrarian commented on #982
Publication Year slider looks like this in the Catalog controller:

![image](https://cloud.githubusercontent.com/assets/1093066/17181898/f6a1b92a-53de-11e6-99f8-df1c15f1b082.png)

That slider is activated here: https://github.com/ualbertalib/discovery/blob/master/app/controllers/catalog_controller.rb#L126

by using the `:range => true` modifier

[2016-07-27 16:17] astrilet commented on #994
fixed this issue, PR #1026
![screenshot from 2016-07-26 15 06 04](https://cloud.githubusercontent.com/assets/11414991/17183094/eaa82414-53da-11e6-9f37-a4927e9fd79d.png)

[2016-07-27 21:54] theLinkResolver commented on #494
@redlibrarian The fix doesn't seem to be in production..?

[2016-07-28 14:57] redlibrarian commented on #982
Range_field helper in Rails, might work.

http://apidock.com/rails/ActionView/Helpers/FormHelper/range_field

[2016-07-28 19:57] theLinkResolver opened #1027 "ingest of SFX data - taking longer than one day?"
@redlibrarian I want to check again on the expected timing for seeing changes in SFX reflected in Blacklight. In particular, a new activation. e.g. [This title was activated yesterday](http://resolver.library.ualberta.ca/resolver?url_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&rfr_id=info:sid/sfxit.com:kbmanager&sfx.ignore_date_threshold=1&rf

[2016-07-28 20:32] redlibrarian commented on #1027
@theLinkResolver

My understanding is that both SFX and Databases do full updates every
night, so "Communication and the Public" ought to be available in
Blacklight today. I haven't heard from our sysadmins that there have been
any problems with the updates, so I'll check with them to find out what's
going on. If, at that point, the serials team can help with testing, I'll
let you know.

Thanks,
S

[2016-07-29 15:54] theLinkResolver commented on #1027
The title above has appeared today.

[2016-07-29 16:06] astrilet commented on #982
range_field will allow selecting single number from a range, example below
![screenshot from 2016-07-26 15 06 04](https://cloud.githubusercontent.com/assets/11414991/17254957/cae7109e-556b-11e6-8198-0aeabae7f0b4.png)

[2016-07-29 16:13] astrilet commented on #982
blacklight publication year slider will not work on EBSCO data returned and saved in $results hash table,
blacklight uses blacklight_range_limit gem to display publication year slider.

[2016-07-29 18:27] redlibrarian commented on #1027
Hm. Maybe there's some scheduling piece I'm unaware of or don't fully understand. I'll check with our sysadmin.

[2016-08-02 17:25] redlibrarian commented on #778
Advanced search is here: https://library.ualberta.ca/advanced

[2016-08-04 21:39] scastell opened #1030 "Reserve items - add the circ rule and time in date due to the Location/Status field?"
Please delete/close if this issue is included in #393 - Build Reserve Room Content into new site

Possible to add the circ rule and time in date due to Location/Status field for items on reserve?

ie Understanding social inequality: intersections of class, age, gender, ethnicity, and race in Canada, 2nd ed.  - https://www.library.ualberta.ca/catalog/4407173

There  are 4 copies of this title, 3 of

[2016-08-05 15:22] theLinkResolver commented on #969
@ualbertalib/discovery-testing Over time, and today again, I've heard a bit of feedback that users are clicking the "University of Alberta Internet" link in the items table rather than the "Click here for University of Alberta Access" link under the title. Is anyone else hearing this?

[2016-08-05 15:54] theLinkResolver opened #1031 "changed active portfolio for SFX title - now no link available"
@redlibrarian See also #1003 as it contains your findings on what is and isn't a live lookup.

In response to a helpdesk ticket, I had to change the portfolio by which the linking occurs [for this title](https://www.library.ualberta.ca/catalog/110976010040226). It was previously using a MISCELLANEOUS_EJOURNALS target link and I have changed it to LOCAL_PASSTHROUGH_LCL.

Now, as you will see in the

[2016-08-05 16:30] redlibrarian commented on #1031
@theLinkResolver That should be working. I can see "Available from Issue 1" in the box - is that from the new portfolio? If so, then the data is coming through, it just isn't displaying properly.

[2016-08-05 16:32] theLinkResolver commented on #1031
@redlibrarian No, it's from the old portfolio.

[2016-08-05 16:34] redlibrarian commented on #1031
Hm. OK, I'll see what I can find out.

[2016-08-05 16:38] redlibrarian commented on #1031
@theLinkResolver Oh, crap, I just figured it out. It only knows what target to look for by the target ID in the data extract (ie, the target ID is *not* looked up live). I think I can fix that.

[2016-08-05 17:00] redlibrarian commented on #1031
@theLinkResolver OK, I think I've fixed it, as best I can. One issue is that the live lookup API doesn't include the threshold information, so when a portfolio is added to a record, all the data will show up right away *except* the coverage. This will be part of the 2-day wait, as it's only available in the static extract. What I propose is something like the attached screenshot, where we put "Cov

[2016-08-05 17:09] theLinkResolver commented on #1031
Glad you were able to fix this. And hopefully we will be looking at a 1-day wait in the future..?

As for the text, I would just tweak it to say "Coverage info temporarily unavailable" just to be 100% that it's the _details_ that are unavailable, not "coverage" in the sense of _access_. Any thoughts @ualbertalib/discovery-testing ?

[2016-08-05 17:09] redlibrarian commented on #1010
This is fixed now.

[2016-08-05 17:10] redlibrarian commented on #1024
This is fixed now.

[2016-08-05 17:10] #1024 closed

[2016-08-05 17:18] redlibrarian commented on #1030
@scastell Adding the time is straightforward, I can take care of that. However, adding the circ rule is more difficult. Because the circ rule is encoded in the data, I can't simply *display* it, which means I'll have to write a table for all circulation rules. @ualbertalib/discovery-testing Is displaying all circulation rules important to students? It hasn't come up before, so I'm wondering if it'

[2016-08-05 17:30] theLinkResolver opened #1032 "higher ranking needed for matches to series title?"
I don't have time to explore this right now but I want to log it here for the time being. And if public service colleagues are finding this to be a problem in the fall, they can add comments.

I searched for _Moths of America North of Mexico_ without quotes (assuming users may not put them in) and the actual books in this series are not among the first page of results. It suggests that the relevan

[2016-08-05 17:34] redlibrarian commented on #1031
@theLinkResolver @ualbertalib/discovery-testing Sure, I can change the text to read "coverage information temporarily unavailable", unless there's another suggestion.

As for the delay, I'm going to be sitting down with our sysadmins to talk about our entire data ingest process, so hopefully we can get to the bottom of that.

[2016-08-08 20:49] seanluyk commented on #969
I've not heard this, but it's certainly possible. Is this maybe something we could do some low-fi usability testing on? If so, I would be happy to assist with this.

[2016-08-09 15:42] theLinkResolver commented on #1012
@redlibrarian The email function seemed to work but I never got the message. Text did not work for me. Does think have something to do with it being in the test instance?