[2015-11-20 21:46] seanluyk commented on #737
Sounds good to me, thanks @redlibrarian

[2015-11-20 21:52] hannepearce opened #738 "Adding Book Covers to the Books Media & More Search Results"
Our staff have asked if it might be possible for book covers to be added to the Books Media & More search results list, to help facilitate choosing a proper book. It seems superficial but we often "judge a book by it's cover" to determine if it might be appropriate. In our collection the cover image can be a large indicator of reading level, which isn't found in any part of an item record. Current

[2015-11-20 21:55] theLinkResolver commented on #737
Ugh! I'm going to show this to the e-book cataloguers, as there are efforts underway to merge records like that.

@redlibrarian There is a fixed field that you might be able to use to highlight the e-books/journals at the record level, rather than the item level, which I think would help you with this future enhancement. It relates to #687. It's the same element we will use to do away with the GMD

[2015-11-20 21:55] redlibrarian commented on #738
@hannepearce I thought we had book-covers in the result list at one point, and I'm not sure what's happened. @nnunn can you remind me of our decisions around this? Thanks.

[2015-11-20 23:18] hannepearce opened #739 "Searching for Journal - inconsistent results"
Was helping a student look up an article - known item search. I searched *BC studies* (Journal Title) in basic search and selected Journals to specify. I got no results.
![2015-11-20_16-07-59](https://cloud.githubusercontent.com/assets/14892833/11314348/066d1c20-8fa2-11e5-9b6b-455a210d8f12.jpg)

Repeated the same result in basic search without selecting Journals and it appears in the Journals bent

[2015-11-20 23:25] hannepearce commented on #739
This seems to be happening with any journal title I try.

[2015-11-20 23:31] redlibrarian commented on #739
This is the same problem as #703. It will be fixed in the next release.

[2015-11-23 16:30] nnunn commented on #738
We had them in the bento "more" section. I will put them up in this list for the next deployment.

[2015-11-23 17:07] nnunn commented on #738
this is now done and will be up on the next release. We did have this before, but the variable seems to have changed from isbn_t to isbn_tesim

[2015-11-23 17:08] redlibrarian commented on #738
Ah, that makes sense - sorry, my fault.

[2015-11-23 17:39] sjshores commented on #719
Sam, I don't think it's working correctly.  Search for the title Mysteries of the Backwoods in all fields and it works.  Search for the title in the title field, and it returns no results.  The author and subject field searches in advanced search seem to be working.

Thanks,

Sandra

[2015-11-23 17:44] redlibrarian commented on #719
Thanks @sjshores I just tested, and I think the stopword problem may have crept back into the advanced search (**mysteries backwoods** in title works). I should be able to fix it pretty easily...

[2015-11-23 18:30] redlibrarian opened #740 "Change "" to bold in search tips."

[2015-11-23 18:33] redlibrarian opened #741 "Move "Articles Advanced Search down""
And relabel it to "Go To Articles Advanced Search".

[2015-11-23 18:46] sjshores opened #742 "Library location links opening in new tab--would prefer new window"
Hello,

I'm working through Ian MacLaren's message and have a suggestion based on his feedback.  Right now, the link from the library name in the call number, location, library, item type box opens a new tab and provides location information.  Ian didn't see that this was a new tab and therefore couldn't return to his search.  I think it would be more obvious to a user that the search tab still ex

[2015-11-23 18:50] redlibrarian commented on #742
@sjshores It's possible - unless that's browser behaviour - but I don't think it's a good idea. Opening in new tabs is more accepted behaviour - opening new windows tends to be associated with pop up ads. New windows can sometimes also open behind the current window, which someone wouldn't see. @nnunn What are your thoughts on this?

[2015-11-23 18:53] redlibrarian commented on #742
@sjshores @nnunn My HTML is a bit rusty, but I seem to remember that whether target="_blank" opens a tab or a window is browser-dependent, not code-dependent...

[2015-11-23 21:01] redlibrarian opened #743 "Ingest logging"
Don't overwrite each day (append).
Move to /var/logs (set variable in environments).

[2015-11-23 21:22] seanluyk commented on #731
@redlibrarian  - it looks like even if databases are tagged with particular subjects, they aren't coming up for some reason. For example:

1. Searched for anthropology in everything
-5 database results returned, yet there are [47 databases tagged as anthropoloy in the libguides a-z list](http://guides.library.ualberta.ca/az.php?s=56571)

[2015-11-23 21:25] #733 closed

[2015-11-23 21:26] redlibrarian commented on #731
Strange. @seanluyk I'll investigate.

[2015-11-23 21:37] seanluyk opened #744 "Combined print and electronic records problem with At Library/Online"
Something wonky is going on with the access facet:

1. Searched for Chinese opera cantonese
2. Selected books, media and more container
3. Limited to format = musical recording
4. Limited to access = at library

[Results](https://search.library.ualberta.ca/symphony?f%5Belectronic_tesim%5D%5B%5D=At+Library&f%5Bformat%5D%5B%5D=Musical+Recording&q=chinese+opera+cantonese) are a mix of physical and on

[2015-11-23 21:50] redlibrarian commented on #744
Example record that shouldn't be appearing: https://search.library.ualberta.ca/catalog/5831000

[2015-11-23 21:52] redlibrarian commented on #744
@seanluyk The example problematic record I found is because e.g. Olds College doesn't have a separate location for it's electronic items. This presents a problem for the logic. I'll have to discuss it with @theLinkResolver and @sjshores

[2015-11-23 21:57] #741 closed

[2015-11-23 22:02] sjshores commented on #744
If you're using the library policy to determine this facet, that will not
be successful.  If you can use item type instead, you could select
Electronic Resources (E-RESOURCE) for the online facet and all else for "at
library".

Sandra

On 23 November 2015 at 14:52, redlibrarian <notifications@github.com> wrote:

[2015-11-23 22:04] #740 closed

[2015-11-23 22:12] redlibrarian commented on #736
For me, testing in both Chrome and Firefox, the search history **is** cleared when the browser is restarted. @seanluyk Were you able to test the AIOs in HSS? Thanks.

[2015-11-23 22:17] redlibrarian commented on #718
OK, I've added 245p to the index and display. @theLinkResolver You'll have to let me know if they are labelled correctly in the next release. I'm going to move this issue to the Check in Next Release milestone. Once the 245p has been confirmed as working correctly, then we'll move this issue to the January milestone for the rest of the subfields.

[2015-11-23 22:31] redlibrarian commented on #704
OK, @theLinkResolver @seanluyk I've added the general note to the SFX records. Please check in the next release.

[2015-11-23 22:32] redlibrarian commented on #744
Thanks @sjshores . This will require a bit of rethinking/rewriting code. Hopefully I can get this done tomorrow.

[2015-11-23 22:35] redlibrarian commented on #708
@seanluyk @theLinkResolver I'm happy to bring this to the wider group for a decision.

[2015-11-23 22:45] redlibrarian commented on #712
@seanluyk Do you think this is working well enough that we can fix it next term?

[2015-11-23 22:53] redlibrarian commented on #669
Gah. Stupid mistake. Should be fixed in next release.

[2015-11-23 22:56] seanluyk commented on #736
It's not cleared on my machine or on the AIOs in HSS. Let me test again to confirm.

[2015-11-23 23:48] seanluyk commented on #736
It clears in Firefox, but not in Chrome. Must have something to do with the version of Chrome installed on staff workstations and AIOs.

[2015-11-23 23:51] seanluyk commented on #744
@redlibrarian I think it's ideal if this gets fixed before launch. What do others think?

From experience with supporting EDS from a public services perspective, I recall users having trouble with GetIt! dead ends, etc. This might result in similar confusion.

[2015-11-23 23:53] sjshores commented on #744
I agree that this is an important one to fix before launch.  It's a great
feature to have in the new search service, and we'll want it to work
correctly.

Sandra

On 23 November 2015 at 16:51, seanluyk <notifications@github.com> wrote:

[2015-11-23 23:55] seanluyk commented on #708
Maybe at our next meeting, @redlibrarian? I'm of two minds on this issue: I like that the top results are likely items that contain the exact subject heading, and for many disciplines, a keyword approach for subjects returns additional relevant items; for disciplines where subject headings are applied to indicate what the item IS (e.g. a clarinet concerto), it becomes less helpful.

[2015-11-23 23:55] redlibrarian commented on #736
OK, thanks @seanluyk - that gives us some more to go on.

[2015-11-24 15:59] redlibrarian commented on #734
I didn't need to create a new profile, since we're only using the API profile (api2) for Blacklight. I've disabled the NEOS Catalogue in the api2 profile. It may take some time for the results to disappear from that controller. I'll check in a day or two. / @sjshores

[2015-11-24 16:48] seanluyk commented on #712
@redlibrarian  - I think so. The difference in numbers is no big deal, and something we can deal with for now. Moving to the next milestone.

[2015-11-24 17:51] redlibrarian commented on #706
I've repositioned the link for UA items so that it appears prominently right below the title. I've left non-UA links, along with their note, at the bottom of the screen, so that users don't click on the prominent link below the title and wonder why they don't get access. I'd like the @ualbertalib/discovery-testing to try this out in the next release and see if it fits the bill.

[2015-11-24 18:50] redlibrarian commented on #743
OK. I've added a new file, config/logger.yml, which allows you to specify a location for the log files in dev, test, and prod. I've also set the file flags on the log file to append, if the file already exists.

[2015-11-24 18:50] #743 closed

[2015-11-24 18:55] redlibrarian commented on #679
I've added the additional fields from symphony_index. There may still be some missing, which are added to the records via alternate routes, but this should catch most of them and we can treat the others as they arise.

[2015-11-24 18:55] #679 closed

[2015-11-24 19:11] seanluyk commented on #457
This is important, but can probably wait a bit - moved to the next milestone.

[2015-11-24 19:14] seanluyk commented on #555
I think this has been completed. OK to close?

[2015-11-24 19:16] seanluyk commented on #554
This shows as "Clear All Limits" now, which I think is much better labelling. Closing issue.

[2015-11-24 19:16] #554 closed

[2015-11-24 19:17] redlibrarian commented on #555
Yes, thanks.

[2015-11-24 19:18] redlibrarian commented on #583
Thanks @scastell I'm going to close this issue, and open a new one for the IE bug.

[2015-11-24 19:18] #583 closed

[2015-11-24 19:19] redlibrarian opened #745 "Find more by this author bug in IE."
Problem with IE - get a webpage cannot be found error when I click on the get more by this author link - seems to happen no matter which author link I select.

@nnunn Can you investigate - I haven't replicated the problem yet. Thanks.

[2015-11-24 19:20] redlibrarian commented on #633
I think this is within tolerance for now. I'm going to move this to look at some more next term.

[2015-11-24 19:24] redlibrarian commented on #719
@sjshores I think this is fixed now - can you verify?

[2015-11-24 19:24] redlibrarian commented on #734
OK, this is working now.

[2015-11-24 19:24] #734 closed

[2015-11-24 20:11] redlibrarian commented on #745
Gah. I've confirmed that this is happening. Looks like IE can't handle the URL...

[2015-11-24 20:25] sjshores commented on #719
I presume you mean in the next release?

On 24 November 2015 at 12:24, redlibrarian <notifications@github.com> wrote:

[2015-11-24 20:31] fculpepper commented on #690
Yes, it's working. Huzzah!

[2015-11-24 20:31] #690 closed

[2015-11-24 20:39] redlibrarian commented on #719
@sjshores Oh, actually no - it's not fixed yet. I got confused.

[2015-11-24 22:22] redlibrarian commented on #719
OK **now** it should be working in the next release.

[2015-11-24 22:57] linds37 opened #746 "Publication year for Springer ebooks does not show up in Blacklight record"
Hi. I'm coming up with search examples for the training session. Try searching for stochasitc optimization, then go into the Books, media & more list and limit to University of Alberta Internet: hits 4, 5, and 6 do not give a year of publication.

4. https://search.library.ualberta.ca/catalog/6641903

5. https://search.library.ualberta.ca/catalog/6930108

6. https://search.library.ualberta.ca/cata

[2015-11-24 23:05] redlibrarian commented on #575
OK, I've added some contextual information to both the subject and the body of the email, and improved the formatting a little. I've also added a "From University of Alberta Libraries" line to the text message. Please check in the next release and see if that's sufficient for now - we'll probably want to revisit this next term.

[2015-11-24 23:12] redlibrarian commented on #746
@theLinkResolver These dates are coming from the 264c - this is an RDA change, right? Currently, Blacklight only looks at the 260c. I'll have to figure out how to change this if 264c is the new field.

[2015-11-24 23:22] redlibrarian commented on #744
@sjshores The item type is associated with an item record, correct? I'm not sure I have access to that data except through the Symphony WS, which is too late to index and create a facet. @theLinkResolver I assume there's a 008 or other fixed field that would give us this information, but how does that work currently with records that are a mix of print and electronic (I realize we're moving away f

[2015-11-24 23:23] linds37 opened #747 "Add and index alternate titles in Databases."
Hi. This record e-CPS (https://search.library.ualberta.ca/catalog/3774730) leads to an error message

In the Classic Catalogue, when you look up the title e-CPS, the edition that the U of A has access to has a new title: RxTx [electronic resource]. It has  the added entry e-CPS in the 730 field.
here's the Classic Catalogue record: http://www.library.ualberta.ca/permalink/opac/3571716/WUAARCHIVE

[2015-11-24 23:27] redlibrarian commented on #747
Hi @linds37 - this item didn't just get a new title, it's a completely new record. The old record (3774730) was removed from Symphony, but is still in the Blacklight index (as we don't have nightly updates going yet). This will be removed next time we do an update, and when we go live this shouldn't be a problem, as long as our updates are happening regularly. / @sjshores @nmacgreg @henryzhang87

[2015-11-24 23:34] sjshores commented on #744
Sam, you're right that the item type is part of the item record, so not
available for a facet.  Scott may have some advice based on the MARC record
itself.  One possible solution could be the present of the 856 tag to
indicate online access, as long as we could distinguish between links to
full text and links to contents notes, for example.

Sandra

On 24 November 2015 at 16:22, redlibrarian <noti

[2015-11-24 23:42] linds37 commented on #747
Thanks. The problem for the Health Sciences staff is that when they look up CPS, or e-CPS, none of the records with that title lead them to the new edition.
They and their clients don't know to click on RxTx (even though it comes up as the 7th hit in the Books & more bento box). They need a "see" reference based on the 730 field. Can that happen?

[2015-11-24 23:44] linds37 commented on #747
and, if you just search for CPS (without the e- , which I think most users would do), the RxTx title doesn't come up anywhere in sight

[2015-11-24 23:48] redlibrarian commented on #744
@sjshores - yes, the 856 was what I was originally using, but it had some disadvantages (though I can't think of what they are now). I'll investigate a little further.

[2015-11-24 23:50] redlibrarian commented on #747
@linds37 Yes, I think I can add the 730 to the title search index.

[2015-11-25 00:00] linds37 commented on #747
awesome!! Can you include both CPS and e-CPS ?

[2015-11-25 00:02] redlibrarian commented on #747
The way the Blacklight searching works, CPS should find CPS and e-CPS, once I have that field indexed.

[2015-11-25 00:09] linds37 commented on #747
excellent!

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities & Social Sciences Library
<http://guides.library.ualberta.ca/rutherford> and Weir Law Library
<http://guides.library.ualberta.ca/law>
1-01 Rutherford Library South
University of Alberta
Edmonton, Alberta
T6G 2J8
780.492.0598

lindsay.johnston@ualberta.ca

On Tue, Nov 24, 2015 at 4:50 PM, redlibrarian <n

[2015-11-25 00:12] redlibrarian commented on #744
I've added a new BeanShell script in SolrMarc/index_scripts/eresource.bsh, which uses the presence of an 856. I can't see if it works because I don't have access to a large enough data set. I'll have to run it tomorrow on my workstation and see how it looks.

[2015-11-25 00:56] redlibrarian commented on #686
Fixed.

[2015-11-25 01:02] redlibrarian commented on #747
Actually, @linds37 This seems to already be working... when I search for e-CPS, the RxTx book is 13th in the list of results (below things that have e-CPS or CPS in the main title). Just **CPS** doesn't bring it up, because it's too general, but **CPS pharmacists** finds it. I'm not sure what I can do to improve the ranking of something like that, as the algorithm does find the required volume....

[2015-11-25 01:08] redlibrarian commented on #605
@gooyers I just realixed that your search for **enfant cachée**, which won't work because it can only find it with the l' - it's a question of the precision of the search term, it's trying to find a version of 'enfant' **without** the l'. I would say that since all of **l'enfant cachée**, **enfant cachée**, **l'enfant cachee**, and **enfant cachee** all return the right book, even if the result se

[2015-11-25 01:54] redlibrarian commented on #744
Looks like it's partly working, but I'm getting some false positives like http://localhost:3000/catalog/366954 (no 856 at all). Same with http://localhost:3000/catalog/359529

Not sure what's going on - I'll look into it tomorrow.

[2015-11-25 01:57] redlibrarian commented on #745
I removed the utf8=✓ from the Author search URL. That should fix this particular problem.

[2015-11-25 17:53] theLinkResolver commented on #555
I'm still seeing the Symphony print + electronic records in Books/Media/More pane, and only SFX records in the Journals pane.

e.g. https://search.library.ualberta.ca/results?utf8=%3F&q=germanic+review

[2015-11-25 18:02] theLinkResolver commented on #746
@redlibrarian That's right - every record will either have a 260 or 264 (the new practice).  Wherever you are referencing the 260, you also need to reference the 264 (it looks like you are doing so for the publisher and place of publication already).

[2015-11-25 18:09] redlibrarian commented on #555
The Books/Media/More pane is suppose to contain print and electronic, no? Wasn't that the reason for getting rid of the ebooks pane?

As for the journals, I think this is a different problem. It should be fixed in the next release.

[2015-11-25 18:10] redlibrarian commented on #746
Thanks @theLinkResolver , pub date is tricker than publisher and place, because it's wrapped in a Java script that manipulates the data to get a clean date out of it. This might be a little tough...

[2015-11-25 18:14] sjshores commented on #555
Yes, I think this is what is now supposed to be in the Books, Media and
More pane.

Sandra

On 25 November 2015 at 11:09, redlibrarian <notifications@github.com> wrote:

[2015-11-25 19:00] theLinkResolver commented on #744
The bottom line is that looking at the item records (home location=INTERNET or Item type=E-RESOURCE -- we would need to verify whatever is used most consistently throughout NEOS) would be the most precise way of dealing with this.

In the short term, looking for the presence of an 856 would be helpful, but the indicators would need to be considered, to filter out some of the things that aren't lin

[2015-11-25 19:05] sjshores commented on #744
Scott, I agree with your idea of looking for the word "access" in $3 in the
856.

Sandra

On 25 November 2015 at 12:00, Scott Davies <notifications@github.com> wrote:

[2015-11-25 19:06] redlibrarian commented on #744
OK thanks @sjshores @theLinkResolver - I think that's the best thing to go on right now, and is an easy change to the code I wrote last night to start looking at the 856 in general.

[2015-11-25 19:06] theLinkResolver commented on #555
@redlibrarian @sjshores Sorry - left out a very important word! I'm still seeing the Symphony print + electronic SERIAL records in the Books/Media/More pane.

I thought all the serial Symphony records were moving to the Journals pane (where the records with SFX object IDs in the 940 field would be filtered out in favour of the SFX records.

[2015-11-25 20:10] theLinkResolver commented on #707
It's implicit in the title of this issue but I need to note that the 700 $d is not currently displayed, but should be, like it is for the 100. (This has come up in conversations with Bib colleagues, and I want to acknowledge that.)

[2015-11-25 20:33] theLinkResolver opened #748 "subject heading elements displayed in reversed order"
I don't think this was always the case, but since last week I'm seeing subject headings displayed in reverse order (which, indeed, ruins the benefit of the tiered-clickability feature).

https://search.library.ualberta.ca/catalog/78263
- the correct order would be topical term (Dissertations, Academic), geographic subdivision, form (indexes).

https://search.library.ualberta.ca/catalog/6848964
- 1

[2015-11-25 20:36] redlibrarian commented on #744
OK, I think I have this working. It checked the value of the 856$3, and if it contains the word "Access", it's marked as Online. I'm unclear as to how this handles combined print and electronic records, though, which was something the old logic managed. We'll check this in the next release and go from there. / @sjshores @theLinkResolver

[2015-11-25 20:39] redlibrarian commented on #748
@nnunn I think you and I are maybe **both** reversing the subject array.

[2015-11-25 20:39] redlibrarian commented on #748
OK, should be fixed.

[2015-11-25 20:52] redlibrarian commented on #707
The only obstacle for me is mapping MARC fields to the appropriate Solr fields which, in the way Blacklight was designed, is not particularly intuitive. There are currently 6 author fields in Solr: author_display, author_vern_display, author_unstem_search, author_addl_unstem_search, author_t, author_addl_t, some of which are clearly for main authors, some for additional. We'll just have to be care

[2015-11-25 21:13] theLinkResolver commented on #707
@redlibrarian Indeed.. and I hope I can continue to help with that process in the new year. As we have been adding little bits and pieces of data, I hope we can step back in a future phase and take a more in-depth look at 'chunks' of the records, such as related authors, notes, related titles, etc., both in detail (looking for missing/extraneous pieces and issues of indexing, display and/or clicka

[2015-11-25 21:37] nnunn opened #749 "font error in Chrome"

[2015-11-25 23:06] sjshores commented on #744
I'm hoping that this will get us most of the way there.  As we continue to
separate electronic items from records intended to describe print, this
solution should become increasingly accurate.

Thanks,

Sandra

On 25 November 2015 at 13:36, redlibrarian <notifications@github.com> wrote:

[2015-11-26 15:44] redlibrarian commented on #655
I noticed that, when a URL points to SFX (resolver.library...) the box gets extremely large and unpleasant. As a result, I've removed the URL text from the main UA Access box (below the title - see next release). We should reevaluate the secondary link boxes when this change is in place.

[2015-11-26 16:13] redlibrarian commented on #560
OK - I've made a change to the location indexing. We'll have to see how this looks with a full dataset.

[2015-11-26 16:43] redlibrarian commented on #746
OK, I've rewritten the getdate script to use the 264c field in addition to the 260c field. I can't see any RDA records in my test set, so we'll have to verify that this is working in the next release.

[2015-11-26 17:15] redlibrarian commented on #736
One of the problems it that this is very difficult to test. I can't replicate it, but @seanluyk and @kgood have. Any change I make can only be tested after it goes into production...

[2015-11-26 17:27] redlibrarian commented on #736
I've added a 2 hour expiry to the session, which seems to be common practice given than session expiry on browser close seems to be unreliable. I don't know whether this will help the problem or not, but we should check again in the next release.

[2015-11-26 18:10] redlibrarian commented on #732
Currently, the database ingest only attaches a database to a single subject (it looks like the last one in the libguide record). This will need to be fixed.

Selectors who are creating the initial database record can add a broad subject, so that no databases won't have a subject attached, and then should all come through.

[2015-11-26 18:49] gooyers commented on #605
@redlibrarian I agree that  **l'enfant cachée, enfant cachée, l'enfant cachee, and enfant cachee** all returning the right book (even with slightly different results) is more than alright. It speaks to the precision of phrase searching, and I agree that we should stress it in training. Re-attempting a search without quotation marks seems like a good practice as well.

If Blacklight were able to ig

[2015-11-26 19:11] redlibrarian commented on #732
[ ] Proxy prefix removed
[ ] Alternate title field uses
[ ] Multiple subjects

[2015-11-26 22:30] gooyers opened #750 "Clicking into Journal bento box leads to error message"
This may be related to #703 and #739, but it is not related to ISSN, and it doesn't relate to inconsistent search results so I thought I would include it as it's own issue.

Currently, if I try to click into the full results of a Journal box ([example here](https://search.library.ualberta.ca/ejournals?q=journal%20of%20applied%20polymer%20science)) I receive an error message.

![2015-11-26_15-31-52

[2015-11-26 22:39] gooyers opened #751 "(Suggestion) Should "view results as a grid" link be visible outside of first results page?"
I'd failed to notice that the "view results as a grid" appears as an option within each bento box.

It's nitpicking, but within specific bento boxes (ex. Databases) the "view results as a grid" option functions either as a back button (if users clicked into the bento box, as clicking the grid will just take them back a step), or it expands their search without them having asked to do so (if users

[2015-11-26 22:39] redlibrarian commented on #750
Hi @gooyers - Yes, it's the same problem. It should be fixed in the next release.

[2015-11-26 22:41] redlibrarian commented on #751
I agree that it's confusing to have it on individual result pages. I can add logic for that, if that's the feeling of the house. @nnunn @ualbertalib/discovery-testing

[2015-11-26 23:09] seanluyk commented on #751
I think the only issue is with the search expanding without a user asking for that. This could be seen as an advantage, but I agree that consistent behaviour should be the goal.

[2015-11-26 23:21] seanluyk commented on #732
@redlibrarian  - I'm not sure what you mean about attaching to a single subject - I believe this one is only attached to music.

[2015-11-26 23:23] seanluyk commented on #605
I believe that many library catalogues and databases ignore intial articles, and treat them as stop words. Not sure if this is wise, but here's a huge list of them:
http://www.loc.gov/marc/bibliographic/bdapndxf.html

[2015-11-27 00:02] redlibrarian commented on #732
Sorry @seanluyk - I was using this ticket to capture other issues around the databases. Currently, a database will only be attached to a single subject, even if it has multiples - I was just making a note to myself to fix that.

[2015-11-27 16:42] redlibrarian commented on #732
@seanluyk For the initial problem in this issue, the database group decided - for now - to point all database links to their respective database information pages (except free resources, which will link out directly). The proxy prefix will be removed, so you shouldn't have to authenticate until you actually click out to a database from off-campus. Please check this in the next release.

[2015-11-27 17:31] seanluyk opened #752 "Articles view - display issue"
I've noticed that in the articles view, the spacing of some text is weird, it's k ind of li ke thi s. This was most noticable in the content provider facet.

Also, text wraps when it probably shouldn't, and the number of results don't always line up.

Noticed this issue in Chrome.

[2015-11-27 17:35] seanluyk opened #753 "Google Scholar"
I'm wondering why Google Scholar is listed beside EDS and NEOS? I really like Google Scholar, but finding it literally requires someone to just Google it. Was this something someone asked for?

[2015-11-27 17:47] sjshores commented on #753
Yes, there was strongly voiced feedback from a number of faculty members
that they want this, so we will launch with it.

Sandra

On 27 November 2015 at 10:35, seanluyk <notifications@github.com> wrote:

[2015-11-27 17:56] redlibrarian commented on #752
@seanluyk Do you mean the results view? ie http://search.library.ualberta.ca/articles?q=shakespeare

[2015-11-27 18:05] redlibrarian commented on #731
@seanluyk Both these problems are fixed in development: MetOpera is coming back, and there are 47 databases in the Subject facet for Anthropology. Please check this in the next release.

[2015-11-27 18:07] redlibrarian commented on #605
There's also a move to stop using stopwords at all - to leave off articles, etc, if they aren't required for a precise search. Anyway - let's leave that discussion until next term. I'm going to try to fix the EDS article count problem, then once the issue has been approved in the next release, let's move this issue to the January milestone for discussion. @seanluyk @gooyers

[2015-11-27 18:27] redlibrarian commented on #605
OK, I've managed to hack together a fix. It's not pretty (simply strips **l'** and **d'** from the query, if they are present), but it will work for now. @gooyers Please check this in the next release.

[2015-11-27 18:32] redlibrarian commented on #627
OK, this will be fixed in the next release, @gooyers

[2015-11-27 20:17] seanluyk commented on #753
Interesting, thanks @sjshores. I'd be curious to see how many clicks this link gets, and if we end up answering questions about some of the content in Google Scholar (access issues, non scholarly content, etc.). Putting this right on our main page is somewhat of an endorsement.

[2015-11-27 20:19] linds37 opened #754 "Chat with us link on results screen"
Hi. PSC was asking about the Chat with Us link on the results screen. Chat is only available during the hours the library is open, so it shouldn't be there all the time. If it can't be scripted to the library hours, then it should link to the Ask Us page.

[2015-11-27 20:28] redlibrarian commented on #754
@linds37 @gooyers brought this up after, I think, the last PSC meeting. If we make the current Chat box a link to the Ask Us page, then IMO we might as well remove it, since we already have a link to the ask us page in the top banner, and having two different links go to the same thing is redundant and potentially confusing. I've assigned this to @kgood though, for his take.

[2015-11-27 20:31] seanluyk commented on #752
Yes, from a list of results in the articles search.

[2015-11-27 21:21] sjshores commented on #753
It's on our current front page, too.  Look just to the right of the EDS
search box!

Sandra

On 27 November 2015 at 13:17, seanluyk <notifications@github.com> wrote:

[2015-11-27 21:33] seanluyk commented on #753
@sjshores , I know, I guess I'm wondering whether or not it's a good idea, but we can put this issue to rest since it's already been decided!

[2015-11-28 00:01] linds37 commented on #754
@gooyers  @redlibrarian Ok. Brian and I will ask PSC if they'd rather the link not be there, or leave it the way it is.

[2015-11-28 00:04] linds37 commented on #747
I think the RxTx record needs to have CPS in the 730 field

You can use the subject headings in the CPS or e-CPS field to find it easily, though.

[2015-11-28 00:09] linds37 commented on #747
Is there a way to make RxTx come up in the Databases bento box when you search for CPS (or e-CPS)?

[2015-11-28 00:52] sjshores commented on #747
Can you just create it as a database in Libguides?

Sandra

On 27 November 2015 at 17:09, linds37 <notifications@github.com> wrote:

[2015-11-28 01:07] linds37 commented on #747
I just checked -- RxTx is already in there as a database in Libguides. I just tried creating a see reference "database entry" in Libguides to see what would happen (probably shouldn't have, but I wanted to try it) -- nothing has changed yet in Blacklight, but I don't know when to expect the change to happen.

[2015-11-30 16:40] gooyers opened #755 "[Discovery] Remove call number attribute from advanced search"
Apologies if this has been noted previously, but in the advanced search the Call Number attribute still features call numbers beyond the established A-Z of LC. Additional call numbers in the list include:
[, >, 9, n

The odd call numbers don't seem to be reflected in the item records (at least for those that I checked).
For example, limiting to > as a call number lead me to this [results page](htt

[2015-11-30 16:42] gooyers commented on #755
Now that I think of it, @redlibrarian, should the subgroup stop adding issues now that the code freeze date has passed? Or is issue reporting still welcome?

[2015-11-30 16:44] redlibrarian commented on #755
Hi @gooyers Issue reporting is still welcome. As usual, don't assign any new issues to a milestone. Leave them unassigned so that I can find and triage them. Anything not absolutely urgent will likely be assigned to the January milestone. @ualbertalib/discovery-testing

[2015-11-30 17:13] gooyers commented on #755
Ah, my mistake. Thanks Sam!

[2015-11-30 19:17] linds37 commented on #747
Blacklight is not showing the new database I created (E-CPS see RxTx) -- maybe i did it wrong. One other thing to note -- Blacklight shows the html coding that is in the descriptor field for the database assets in Libguides.

[2015-11-30 19:19] linds37 opened #756 "Retain search terms in bento display."
Hi. When you search the contents of a single bento box, the search terms stay in the search box. However, when you search across bento boxes, the search terms don't appear in the search box. Is it possible to create a "search within these results" feature and/or make the search terms stay in the search box, no matter where the search originated?

[2015-11-30 19:20] redlibrarian commented on #747
@linds37 The databases haven't been updated yet - I'll send an email when that happens. The HTML will also be stripped from the descriptions in the next release (which should be out today or tomorrow).

[2015-12-01 17:10] fculpepper opened #757 "Book series not showing in Blacklight"
This may be related to another issue, I'm not sure.
A student was looking for this article [Gender Identity and the Modern Condition in The Sun Also Rises] (http://login.ezproxy.library.ualberta.ca/login?url=http://search.ebscohost.com/login.aspx?direct=true&db=lfh&AN=57519564&site=eds-live&scope=site), which we have access to through Literary Reference Center. But, when you search for the article

[2015-12-01 17:47] #513 closed

[2015-12-01 17:47] #178 closed

[2015-12-01 17:47] #528 closed

[2015-12-01 17:48] redlibrarian commented on #319
See #736 for a possible resolution to this.

[2015-12-01 17:49] redlibrarian opened #758 "Test Coverage"
Controllers
(Test each method)
- [x] bento
- [ ] catalog
- [ ] errors
- [ ] forms
- [ ] profiles
- [ ] advanced_search

Features
homepage ("/"):
(Only testing the "home" box for now)
- [ ] search box (presence)
- [ ] filters (destination links)
- [ ] top and bottom nav links
- [ ] also explore
- [ ] hours
- [ ] room booking
- [ ] account
- [ ] twitter feed (presence)

bento ("/results")
- [ ] boxe

[2015-12-01 19:30] #749 closed

[2015-12-01 19:32] #738 closed

[2015-12-01 20:02] gooyers opened #759 "Author facet issue"
The author facet in list view doesn't appear to be presenting as intended.

I conducted a search for Butterfly and entered into the Books, media and more box, and upon expanding the Author facet I noticed that the facet includes a lot of dates, single letters, and single numbers instead of the usual full author names. I conducted a few other searches and the issue isn't limited to the 'butterfly'

[2015-12-01 20:14] redlibrarian commented on #759
Gah. A change to fix a different problem caused this. This will be fixed in the next release.

[2015-12-01 20:20] redlibrarian commented on #748
@theLinkResolver Does this look OK to you?

[2015-12-01 20:21] redlibrarian commented on #747
@linds37 The databases have been reindexed, and searching for **E-CPS** brings up your see reference in second place: https://search.library.ualberta.ca/results?utf8=%3F&q=E-CPS

[2015-12-01 20:23] redlibrarian commented on #746
Looks like this still isn't fixed. Back to the drawing board.

[2015-12-01 20:23] hannepearce commented on #739
this seems to working now.

[2015-12-01 20:25] #739 closed

[2015-12-01 20:32] redlibrarian commented on #745
Hm. The fix either didn't happen (I was hallucinating) or was reversed some how. I've made it again. Fixed in next release.

[2015-12-01 20:33] redlibrarian commented on #732
@seanluyk This should be fixed now.

[2015-12-01 20:42] redlibrarian commented on #726
@theLinkResolver I'm not sure that this is fixed. "Journal" is still showing up, so it seems as if the journals may not have been reindexed with the new format...

[2015-12-01 20:48] gooyers commented on #750
This is now working.

[2015-12-01 20:48] #750 closed

[2015-12-01 20:50] gooyers commented on #627
érudit and erudit, as well as repère and repere now all return the correct databases. Thanks Sam!

[2015-12-01 20:50] #627 closed

[2015-12-01 20:51] gooyers commented on #560
This appears to be fixed. I can't locate any weirdly formatted library locations. I even checked in the advanced search, and there are no longer any blank locations there.

[2015-12-01 20:51] #560 closed

[2015-12-01 21:01] redlibrarian commented on #731
@seanluyk OK, this should be working now.

[2015-12-01 21:02] redlibrarian commented on #726
@theLinkResolver this should be fixed now.

[2015-12-01 21:04] redlibrarian commented on #719
@sjshores This should be working now.

[2015-12-01 21:08] redlibrarian commented on #723
@seanluyk This should be working now.

[2015-12-01 21:09] redlibrarian commented on #718
@theLinkResolver These are indexed and displaying, but they aren't displaying nicely. If this is OK for now, I'll address making them display properly in January.

[2015-12-01 21:10] redlibrarian commented on #706
@seanluyk @sjshores The UA link has been moved to just below the title. All other libraries' links are put lower on the screen. Let me know if this is acceptable.

[2015-12-01 21:13] #686 closed

[2015-12-01 21:13] seanluyk commented on #732
Fixed, closing

[2015-12-01 21:13] #732 closed

[2015-12-01 21:13] redlibrarian commented on #669
Fixed now.

[2015-12-01 21:14] seanluyk commented on #731
Fixed, closing

[2015-12-01 21:14] #731 closed

[2015-12-01 21:15] redlibrarian commented on #655
@seanluyk @theLinkResolver Neither of the records identified at the top of the issue have any electronic access. I assume the print and e- versions of this item have been separated. In any case, the issue with links should be fixed now.

[2015-12-01 21:15] seanluyk commented on #725
Fixed, closing

[2015-12-01 21:15] #725 closed

[2015-12-01 21:15] seanluyk commented on #723
Fixed, closing

[2015-12-01 21:15] #723 closed

[2015-12-01 21:16] redlibrarian commented on #605
@gooyers OK, the EDS fix is in place now.

[2015-12-01 21:17] seanluyk commented on #706
Looks great - UofA access link is prominent, and the place hold button is not appearing. Closing issue

[2015-12-01 21:17] #706 closed

[2015-12-01 21:17] redlibrarian commented on #744
@seanluyk Can you check this and see what you think? I think it looks like an improvement...

[2015-12-01 21:20] seanluyk commented on #655
Looks like the records have been split, @redlibrarian . Noticed some other issues along the way, so I'll report them separately

[2015-12-01 21:20] #655 closed

[2015-12-01 21:21] redlibrarian commented on #703
@seanluyk  Should be fixed now.

[2015-12-01 21:22] redlibrarian commented on #624
@seanluyk This one may not be perfect, but is an improvement. Can you let me know what you think? If it's working well enough we can close the issue and refine later on.

[2015-12-01 21:23] seanluyk opened #760 "Journals container, view all results labeling"
From the bento box view, the view all results button should read view all journals, not view all electronic journals, as both print and electronic journal results appear in this container.

[2015-12-01 21:28] seanluyk opened #761 "Journals results list - numbering and duplicate records"
For the [results for Fontes artis musicae](https://search.library.ualberta.ca/ejournals?q=Fontes%20artis%20musicae) from the journals container, I noticed a couple of issues:

1. There are three records listed, yet the access facet only shows that there are two, so one of the records is not being counted for some reason

2. It looks like we've got two records for the electronic access, and I'm not

[2015-12-01 21:31] redlibrarian commented on #759
Crap. This has broken the author search functionality. It will need a reindex...

[2015-12-01 21:32] seanluyk commented on #744
This appears to be working correctly now, closing issue

[2015-12-01 21:34] seanluyk commented on #703
Fixed, closing issue

[2015-12-01 21:34] #703 closed

[2015-12-01 21:34] redlibrarian opened #762 "Fix OUR license width in ejournal display."
Example record: https://search.library.ualberta.ca/catalog/954925545272

[2015-12-01 21:38] seanluyk commented on #624
@redlibrarian , I like this solution, but since it's a change in behaviour (going to Bento display instead of a list of results), this may merit some more discussion with @ualbertalib/discovery-testing before closing the issue. It results in extra clicks, but does allow the user to search various indexes at once from a subject heading search, which I believe is added functionality. What does every

[2015-12-01 21:40] redlibrarian commented on #760
Hm. This is already fixed in the code. I'll have to talk to the sysadmins.

[2015-12-01 21:40] seanluyk commented on #575
Looks better, closing this issue

[2015-12-01 21:40] #575 closed

[2015-12-01 21:43] sjshores commented on #719
Yup.  All four searches in advanced search work for me now. Thanks!

[2015-12-01 21:44] redlibrarian commented on #761
Thanks @seanluyk - I'm not sure why the record count is off. I'll have to look into that. As for the duplication of records, this is a known consequence of having the e-journal records in two places. It will be fixed in Blacklight but not before January.

[2015-12-01 21:45] redlibrarian commented on #624
@seanluyk @ualbertalib/discovery-testing Yes, I thought that made sense as it allows you to get, for example, EDS results, but I agree I shouldn't have made the decision unilaterally. What do others' think?

[2015-12-01 21:49] redlibrarian commented on #756
Yes, this is doable.

[2015-12-01 21:51] redlibrarian commented on #757
Hm. I have no idea why this is happening.

[2015-12-01 21:51] redlibrarian commented on #742
@sjshores Can we close this ticket?

[2015-12-01 21:51] redlibrarian commented on #753
@seanluyk Can we close this ticket?

[2015-12-01 22:02] sjshores commented on #753
Yes, closed.

[2015-12-01 22:02] #753 closed

[2015-12-01 22:03] redlibrarian commented on #736
@seanluyk @kgood Can you check to see if this made any difference? It may not have, but it's the thing to start with.

[2015-12-01 22:03] sjshores commented on #742
Yes, this functionality is fine.  Closed.

[2015-12-01 22:03] #742 closed

[2015-12-01 22:10] gooyers commented on #605
@redlibrarian The EDS fix works, and the EDS box no longer displays a large number of results.

But I'm not sure if the **l'** hack that strips it from the query is working though. As I noted in my previous comment the searches without quotation marks (l'enfant cachée, enfant cachée, l'enfant cachee, and enfant cachee) all return the correct book. But ["enfant cachee"](https://search.library.ualbe

[2015-12-01 22:13] sjshores commented on #757
I suspect the issue may be tied to the fact that this is a book chapter
rather than a journal article.  MacEwan has added individual records to
Symphony for the book series, and we haven't, but I don't get why the
article isn't appearing in the EDS bento pane.

Sandra

On 1 December 2015 at 14:51, redlibrarian <notifications@github.com> wrote:

[2015-12-01 22:49] gooyers commented on #624
I see going to a Bento display as a positive change, and I'd look forward to something similar being implemented for Advanced Search.

People are unlikely to get relevant results from the Journals or Databases box (unless they click on a very general subject heading). But I think the ability to present results from the Blacklight and EDS index at the same time outweighs the small downsides.

[2015-12-02 16:28] seanluyk commented on #736
@redlibrarian search history is still showing after I restart Chrome.

[2015-12-02 17:13] redlibrarian commented on #736
Thanks @seanluyk The consensus that @kgood and I have come up with is that this issue is somehow broweser related (though inconsistent, so hard to pin down). Not sure where we go from here... @kgood ?

[2015-12-02 18:18] linds37 opened #763 "Exporting to Refworks makes search results disappear"
Hi. During the testing today, I tried exporting to Refworks. The Refworks screen opens on top of the search results screen. It needs to open in a new window. thanks,

[2015-12-02 18:22] scastell opened #764 "find more by this author search not working"
Clicking on the link in any record leads to a no results found for your search / webpage cannot be found message.

[2015-12-02 18:28] seanluyk opened #765 "Author facet - displaying first name only"
From the results view, lists of authors are displaying with first names only.

[2015-12-02 18:29] redlibrarian opened #766 "Broken ask-us link in server error page."

[2015-12-02 18:30] #766 closed

[2015-12-02 18:32] seanluyk commented on #765
As an added twist, other elements are also being displayed as authors, such as birth and death dates.

[2015-12-02 18:40] redlibrarian commented on #765
@seanluyk Yes, this broke in the last release (through fixing something else). It will be fixed tomorrow or Friday. Same issue as #759

[2015-12-02 18:41] redlibrarian commented on #763
@linds37 What browser are you using? On Chrome, it opens in a new tab...

[2015-12-02 18:42] theLinkResolver commented on #748
fixed

[2015-12-02 18:42] #748 closed

[2015-12-02 18:42] redlibrarian commented on #764
This is related to #759 . And will be fixed in the next release (thursday or friday).

[2015-12-02 18:45] theLinkResolver commented on #726
fixed!

[2015-12-02 18:45] #726 closed

[2015-12-02 18:53] theLinkResolver commented on #718
@redlibrarian The fact they are displaying is key for now, so that's good. I'm not sure about the indexing, though. I tried the search for Making connections 3 Teacher's manual and still didn't get that item (see the first message in this issue thread).

[2015-12-02 18:56] theLinkResolver commented on #704
@redlibrarian I see the notes.  Can you do anything about the html tags?

e.g. https://search.library.ualberta.ca/catalog/954925402586

[2015-12-02 18:56] linds37 commented on #763
Hi, Sam. I was using Chrome. I'll try again...

On Wed, Dec 2, 2015 at 11:41 AM, redlibrarian <notifications@github.com>
wrote:

[2015-12-02 18:56] #669 closed

[2015-12-02 18:56] redlibrarian commented on #718
Ack. I forgot to add it to the search index. I'll do it now, and it will be in place in the next release (thursday or friday). @theLinkResolver

[2015-12-02 18:57] linds37 commented on #763
Hi. It seems to have reverted to opening in the same page - I just verified
again.

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities & Social Sciences Library
<http://guides.library.ualberta.ca/rutherford> and Weir Law Library
<http://guides.library.ualberta.ca/law>
1-01 Rutherford Library South
University of Alberta
Edmonton, Alberta
T6G 2J8
780.492.0598

lindsa

[2015-12-02 19:07] theLinkResolver commented on #655
@redlibrarian correct, re. the split of print and electronic serial records. there are now just a relative handful of NEOS library and free holdings attached to print records, which will take a few months to deal with.

[2015-12-02 19:08] redlibrarian commented on #704
@theLinkResolver I've fixed the html tags now. That won't be visible this week, but will be before we launch.

[2015-12-02 19:15] redlibrarian commented on #763
Hmm. I'm not seeing this behaviour. @ualbertalib/discovery-testing Can anyone else confirm this is happening to them?

[2015-12-02 19:25] redlibrarian commented on #763
@linds37 I tried it on a Windows workstation, thinking the OS might be the problem, and it still opens in a new tab. Maybe try clearing your browser history and trying again?

[2015-12-02 19:29] theLinkResolver opened #767 "electronic access (856) links are no longer showing coverage, etc. ($3)"
https://search.library.ualberta.ca/catalog/6848964
The 856 $3 text for these links differentiates the version and describes coverage, i.e.
Free Access: English version 2008-2009
Free Access: French version 2008-2009

https://search.library.ualberta.ca/catalog/6819703
University of Alberta Access: 1926-

[2015-12-02 19:36] theLinkResolver commented on #747
@linds37 I've added CPS to the 730 field in the catalogue record for RxTx. It's definitely worthwhile if that's how our users think of this content. @redlibrarian when would I expect to be able to test the effect of this? (I'm still trying to get a grasp on the flow of things)

[2015-12-02 19:40] redlibrarian commented on #767
Sorry, @theLinkResolver , they got lost when I redesigned the link logic. The will be back, not in this week's release, but sometime before we launch.

[2015-12-02 19:41] theLinkResolver commented on #761
@redlibrarian I think the count problem has to do with the fact there is not an 856 in the SFX record, and therefore the text "Access" is not present, to get the Online facet. Then again, why is it not At Library? Does that have something to do with the SFX record not having item records?

[2015-12-02 19:42] redlibrarian commented on #747
@linds37 @theLinkResolver A change to symphony should be visible tomorrow or Friday with the new release. AFAICT, the database version is working properly.

[2015-12-02 19:48] redlibrarian commented on #761
Huh. @seanluyk @theLinkResolver No, something else seems to be preventing the SFX records from having the At Library/Online data. They should all be Online, whether or not they have an 856, as all SFX journals are e-journals (no?). I'll investigate the underlying problem.

[2015-12-02 19:50] theLinkResolver commented on #767
@ualbertalib/discovery-testing note this temporary issue, trainers

[2015-12-02 19:56] redlibrarian commented on #761
OK, I figured this out. This will be fixed in the next release.

[2015-12-02 19:57] redlibrarian commented on #767
Actually, this will be fixed in this week's release, today or tomorrow.

[2015-12-02 19:58] redlibrarian commented on #704
Actually, this will be ready for this week's release, tomorrow or friday.

[2015-12-02 20:00] redlibrarian opened #768 "Remove Journals from Books pane..."

[2015-12-02 20:01] redlibrarian opened #769 "Deduplicate SFX and Symphony ejournals in journals pane."

[2015-12-02 20:02] theLinkResolver commented on #769
@redlibrarian dup of #682?

[2015-12-02 20:03] redlibrarian commented on #769
@theLinkResolver Hah. Yep! Thanks.

[2015-12-02 20:03] #769 closed

[2015-12-02 20:19] redlibrarian commented on #768
The issue with this one is not being able to provide a NOT facet value. You can do this in Solr directly, but I can't figure out how you can do this in the BlacklightController....

[2015-12-02 20:34] redlibrarian commented on #768
Another option would be to reject any records that are format:Serial during the Symphony ingest process. But then how to get those rejected indexed into the Journals format? The simplest solution, I think, would be to have Jim produce an everything-but-serials file and a serials file....

[2015-12-02 20:37] redlibrarian opened #770 "It occurs to me that I don't know how we're handling deletions"
It should be pretty straightforward - we use the "d" in the leader, I think, for the Ebsco extract, so this should work:

    status_text = 000[5], ( map.record_status ), DeleteRecordIfFieldEmpty
    map.record_status .d = null
    map.record_status .displayRawIfMissing = 1
    **Note that his will insert a dummy value in all records in Solr, that do
    not have a "d" in character 5 of the leader

[2015-12-02 20:39] sjshores commented on #768
I like your last suggestion.  We should think about whether it's a serials
file or more precisely a journals file.  I prefer that we try to isolate
the true journals and leave other kinds of serials in the Books, Media and
More pane.

Soctt, what do you think?

Snadra

On 2 December 2015 at 13:34, redlibrarian <notifications@github.com> wrote:

[2015-12-02 20:42] redlibrarian commented on #768
@theLinkResolver has brought up the Serials/Journal ambiguity, and is working on a document to explain it to the public services members.

The only problem I can see with producing two files is that we're moving away from "just using what we produce for Ebsco". That's not a problem, necessarily, but will require some thought. Changing this would, however, also help the sysadmins as we could break

[2015-12-02 20:42] sjshores commented on #770
You could confirm with Jim and Elaine.

Thanks,

Sandra

On 2 December 2015 at 13:37, redlibrarian <notifications@github.com> wrote:

[2015-12-02 20:43] redlibrarian commented on #770
@sjshores Yes, I'll do that. I'm pretty sure this is what we did to resolve the EDS problem we had last year.

[2015-12-02 21:09] theLinkResolver commented on #768
@redlibrarian would Jim be looking at the Serial format in terms of Symphony record format (which would include integrating resources - not good) or in the same way that the format facet is applied in Blacklight (looking at leader 06-07)?  You can see that I am saying the latter is preferred.

@sjshores We can do this to some degree... Looking just at the Symphony records, if leader 06=a and leade

[2015-12-03 14:19] redlibrarian opened #771 "Change controller names to reflect bento panes"
i.e. "journals" instead of ejournals.

[2015-12-03 17:11] gooyers commented on #381
Hi @redlibrarian. The possibility of proactive chat on bento box Blacklight pages came up during PSC yesterday. Is this still being considered?

I could see there being issues that would need resolving (ex. Once dismissed, will the proactive chat widget know to 'stay dismissed' even if a user is conducting multiple searches and returns to the bento box page multiple times). But the consensus at PS

[2015-12-03 17:22] gooyers commented on #754
@redlibrarian, @kgood, @linds37
Lindsay raised this question at PSC yesterday and PSC made a recommendation on this.

That the "Questions about your results or your research? CHAT WITH US!" link be changed to: Questions about your results or your research? ASK US! (with ASK US! being the same style of Blue button currently being used for CHAT WITH US!). With the button linking to the Ask Us page r

[2015-12-03 17:33] redlibrarian commented on #770
OK, I've added the deletion logic to the symphony ingest rules. I can't really test it - we'll have to keep an eye on it. For non-symphony records (SFX, Databases), this is made trickier because either we don't use marc (Databases) or we don't use the 001 as ID (SFX). I'd recommend just running a rake delete on the whole collection before ingesting these, since they don't take very long.

[2015-12-03 17:33] #770 closed

[2015-12-03 17:35] redlibrarian commented on #381
@kgood @sjshores @timwklassen Should this go to WAT? I shouldn't make the call on this, as I really don't like the proactive chat feature. I'll do whatever the decision is, obviously, but I shouldn't be the one to decide how to proceed on this.

[2015-12-03 17:36] redlibrarian commented on #754
@kgood Unless you have concerns around this, I'll make this change right away.

[2015-12-03 17:37] sjshores commented on #381
Yes, it should go to WAT, but I'm wondering if it might be too late to
incorporate for go-live.

Sandra

On 3 December 2015 at 10:35, redlibrarian <notifications@github.com> wrote:

[2015-12-03 17:40] redlibrarian commented on #605
The hack was only applied to the EDS box. I just added **l'**, **d'**, and **m'** to the Blacklight stopwords list and this seems to have fixed the no-result problem. That will be in production before we launch. Take a look at it then and see if that improves things. We can refined further in January if necessary.

[2015-12-03 17:42] redlibrarian commented on #624
No-one else has chimed in. I'd like to leave it as is for now. If anyone raises an objection, it can be discussed/worked out next term.

[2015-12-03 17:42] #624 closed

[2015-12-03 17:47] redlibrarian opened #772 "Change ejournals to journals on home page limit button"

[2015-12-03 17:48] redlibrarian commented on #381
@sjshores it's an easy change to make, and we will have to make one more code release before launch (just little things).

[2015-12-03 17:48] redlibrarian opened #773 "Remove ebook button from home page."

[2015-12-03 17:50] #771 closed

[2015-12-03 17:51] redlibrarian opened #774 "Mark SFX ejournals as such in journal pane and results."

[2015-12-03 18:05] gooyers commented on #381
One final thing that came up with PSC was that if it were integrated, perhaps a longer time limit than 15 seconds could be used.

[2015-12-03 18:08] redlibrarian commented on #381
The time limit would be decided either by PSC or by Kara, as chatref person... / @gooyers

[2015-12-03 18:15] #774 closed

[2015-12-03 18:16] redlibrarian commented on #682
I've added labeling to make navigating these records easier until we can get this in place. See #774.

[2015-12-03 21:02] merisjames opened #775 "Subject View in Articles v Books"
In books, viewing "Subject" has a "more" option that allows you to see *all* related subjects, even if only one or two resources match for your search.
In articles, the view is limited to the top subjects by hits, with no option to see more. This makes it difficult to narrow a search by subject when your terms are common for many subjects, but rare for the subject you're looking for.
Is it possibl

[2015-12-03 21:11] seanluyk opened #776 "Articles, ebooks, and more - no results"
Apologies if this has been reported elsewhere, but I haven't experienced it in a while:

1. Pre-limiting to Articles, ebooks, and more, and searching for anything (I tried a variety of search terms) results in no search results, and the following text repeated:

No search results.

Need help? Don't hesitate to contact your local reference librarian today, or try on of these useful guides:

Library

[2015-12-03 21:19] redlibrarian commented on #775
@merisjames The subject facet in books, etc, will show you all facets present in the result set (not sure exactly what you mean by "all related subjects"). The articles facet is handled by EDS, so not easy to change. Next term, we can see what options are available for the EDS/articles subject facet. Having said that, the EDS/articles facet should *also* present any subjects available in the resul

[2015-12-03 21:25] redlibrarian commented on #776
@seanluyk I had the problem you describe twice, but now it seems to be working again. I have the feeling this is a problem on Ebsco's end. Tricia is working on making the failure when this happens more graceful.

@kgood @sjshores We might need to revisit the whole EDS question if their API is flaky. This is about the third time in as many weeks that we've noticed a problem.

[2015-12-03 21:27] merisjames commented on #775
The EDS subject facet cuts off, and doesn't have the "more" popup that is available for the subject facet in books.
The example I'm using is "bird nesting". Articles cuts off at subjects with 295 hits... I want the subjects with just 2-4 hits (which are legal subjects, rather than ornithology-related).
![2015-12-03_14-26-16](https://cloud.githubusercontent.com/assets/14880530/11574622/f5b966c2-99c

[2015-12-03 22:38] redlibrarian opened #777 "Remove Cite link from bookmarks page."

[2015-12-03 23:08] redlibrarian opened #778 "Change library facet in advanced search to alphabetical"

[2015-12-03 23:26] sjshores opened #779 "Super picky: case consistency in Tools box on full record display"
Things must be good if I'm getting this picky!  Could we please be consistent in use of upper/lower case in the Tools box on the full record display page?

Small words like "to" and "a" should either be lower case or upper case:

![2015-12-03_16-23-13](https://cloud.githubusercontent.com/assets/8203132/11577403/988282a2-99da-11e5-8dc5-7d77ad75867c.jpg)

[2015-12-04 16:45] seanluyk commented on #776
Thanks for looking into this, @redlibrarian . I just tried again right now and am experiencing the same issue as you describe - no results found the first few times, and then it works OK (in Chrome). Oddly, even if I take the URL and try in another browser (Firefox), I get no results. Is this somehow session related?

[2015-12-04 16:50] redlibrarian commented on #776
@seanluyk I'm worried that it's a problem on the EDS end, i.e. that our application is working, but their API doesn't always respond. We had some trouble with their API a few weeks ago, and I'm a bit worried about relying on their service to always be available. I'll either add this latest info to the ticket I opened with them before, or I'll create a new ticket.

[2015-12-04 16:57] theLinkResolver opened #780 "Change empty search text for EDS results."
When you leave the search box blank, click Articles and then click Search, you get this screen.

https://search.library.ualberta.ca/articles?utf8=%3F&q=

This is probably not the desired outcome, and I don't think this text is meant to be seen by the user.

[2015-12-04 17:00] seanluyk commented on #780
And if you click on [No Results](https://search.library.ualberta.ca/articles?q=evil+atomizer) you get a little easter egg

[2015-12-04 17:25] theLinkResolver opened #781 "links in EDS to Databases, EJournals"
Are these links/buttons on the radar for when we switch to the new site? They will need to point to different urls.

![eds buttons](https://cloud.githubusercontent.com/assets/14913579/11596264/4ad84df6-9a71-11e5-9127-1ba819d85708.jpg)

[2015-12-04 19:46] theLinkResolver opened #782 "change format mapping for monograph and serial component part"
Due to questionable data and difficult concepts to convey in facet terminology, change format mapping for the following:

map.format.aa = Monographic Component Part
map.format.ab = Serial Component Part

Change both as follows:

map.format.aa = Other
map.format.ab = Other

[2015-12-04 20:05] seanluyk opened #783 "Splitting of 300 field and labeling"
Not an urgent issue, but I was wondering if it may be worth reconsidering how the 300 field and subfields $a, $b, and $c are being split into multiple fields. It may be worth relabeling data from $b as something other than *description*, and $a as something other than *contains*, and possibly merging these fields (and $c) back onto one line.

Otherwise, we're getting lots of records that say stuff

[2015-12-04 20:45] theLinkResolver opened #784 "problem with title display (record with no 245a)"
Likely to be examined with related work on the display of 245 elements (#718)

https://search.library.ualberta.ca/catalog/676396

[2015-12-04 21:09] theLinkResolver commented on #783
I agree on a couple of points. Currently, separating them gives them all equal prominence alongside other key identifiers like author and publisher. The data from 300 $b, labelled as Description, is particularly problematic in this way, as it may describe a characteristic of *part* of the work, rather than the whole work. For example, a novel like the Hobbit that contains maps:

https://search.lib

[2015-12-04 21:12] sjshores commented on #783
Right, so here's Brian's response and recommendation:

Hi Sandra,

This actually is one aspect of Blacklight that I had noticed as being
likely to cause confusion for users.

If we insist on displaying each subelement of the physical description
element separately (like Scott, I think that this is not beneficial and
takes more display space--just as I think that the publication information
should

[2015-12-04 23:07] theLinkResolver opened #785 "rename articles search button/middle bento as Articles & more"
per email-based decision. The reason (documented for posterity): EDS content includes Ebsco ebook collection, but all are already catalogued (or in the queue to be), and therefore in the Books, media & more pane. Also, the team does not want to inadvertently misdirect users here if they are looking for ebooks, when all ebooks (from all sources) appear in Books, media & more.

[2015-12-04 23:09] theLinkResolver opened #786 "add hover box/tooltip to Journals search button"
text:

journals, ejournals, newspapers, annual editions, magazines, conference proceedings

[2015-12-05 01:31] seanluyk commented on #783
When cataloguing in RILM we separate pagination from physical description. Is physical description too librarianey? I like Other Details though.

[2015-12-07 16:15] redlibrarian opened #787 "Nokogiri security problem."

[2015-12-07 16:16] redlibrarian opened #788 "Change Description label to "Other Details""

[2015-12-07 16:35] seanluyk opened #789 "Labeling of ebooks in bento box display"
Reported by Doris:

1. Searched for Shakespeare and the role of women

The first two results both display as book, but the first is an ebook, the second is a print book.

Is it possible to distinguish ebooks from print books in this display, by either adding the ebook note that appears in the results view, or relabeling the format to ebook.

I'm also wondering if instead of **note: this is an eboo

[2015-12-07 16:46] sjshores commented on #788
Other Details, please.

Thanks!

Sandra

On 7 December 2015 at 09:17, redlibrarian <notifications@github.com> wrote:

[2015-12-07 16:47] redlibrarian commented on #789
@seanluyk The presence of the 856 is already what triggers the eBook note. I should be able to implement this in the bento results. However, as this is based on multi-field logic (i.e. there isn't a single field that will tell us whether something is an eBook), it may not be perfect.

[2015-12-07 16:48] redlibrarian commented on #789
@seanluyk I should add that in the release that should come out today, **Online** has already been added to the bento view for all electronic items. Let's see if that's sufficient for now before working on this.

[2015-12-07 16:49] seanluyk opened #790 "Results inconsistency"
Currently, when you display results from articles, ebooks, and more you see **Results for ___ in Articles** at the top of the page. This should be relabeled to **Results for ___in Articles, Ebooks, & More**

**Results for ___ ** should also appear for results from the other containers.

[2015-12-07 16:49] redlibrarian commented on #788
Sorry @sjshores - I've changed the name of this issue to reflect that.

[2015-12-07 16:49] seanluyk commented on #790
Also Results should be capitalized in all views.

[2015-12-07 16:51] redlibrarian commented on #790
@seanluyk I think the **in <collection>** was removed from all result pages. @nnunn was that on purpose? This change will be visible in the release that's set to come out today. If this isn't what we should have (i.e. if we should go back to displaying the collection name), let me know.

[2015-12-07 16:53] redlibrarian commented on #783
As per @sjshores I'm going to relabel the Description field **Other Details** for now. Once this has been confirmed in production, let's move this issue to the January milestone to talk about the best way to combine those subfields.

[2015-12-07 16:53] linds37 opened #791 "Placement of url in database entry"
Hi. Not sure if this has already been addressed - the placement of the url in this database entry is problematic https://search.library.ualberta.ca/catalog/11711117
Can it be moved to the top, or linked in the title?

[2015-12-07 16:56] redlibrarian commented on #780
@theLinkResolver The page itself is the desired outcome - we need a place for people to land if they use an empty search, but yeah, the text itself needs to be changed. I'll change that to something simple for now, and this can be worked on next term. Check for a change in the next release, and when that's approved, we can more this issue to the January milestone.

[2015-12-07 16:57] redlibrarian commented on #791
@linds37 It's can't be linked in the title. I'll see if I can move it up in the page, but this may need to wait until next term.

[2015-12-07 17:16] #777 closed

[2015-12-07 17:17] redlibrarian commented on #788
@sjshores Done - check in next release (after today's).

[2015-12-07 17:20] theLinkResolver commented on #790
and to chime in (whatever the outcome), we're now calling that grouping "Articles & more"!

[2015-12-07 17:26] redlibrarian commented on #791
@linds37 This is done. It will be visible in the next release after today's.

[2015-12-07 17:37] redlibrarian commented on #780
Check in next release after today's.

[2015-12-07 17:45] redlibrarian commented on #776
I've sent an email to David Podboy and Anna Ramsay at Ebsco to find out if there are any issues with the API, and more generally, to get a sense of Ebsco's commitment to the API. If we feel the API is not reliable enough, we may need to look into replacing the EDS API with someone else's.

[2015-12-07 17:50] redlibrarian commented on #746
@theLinkResolver Do you have a sense of how many records this is affecting (roughly)? Fixing this will require a full reindex, which we'd like to avoid right now if possible. If this is currently a minority of records (I assume it affects all RDA records, so it could very well be the majority now), then I'd like to wait until January to fix this...

[2015-12-07 17:53] redlibrarian commented on #781
@theLinkResolver Only the **Journals** link will need to change, since I changed the journals path in Blacklight. This is easy enough to do, I'll just have to remember to do it when we launch. @kgood this will be part of the launch work.

[2015-12-07 17:53] redlibrarian commented on #763
@linds37 Is this problem still happening for you?

[2015-12-07 17:54] theLinkResolver commented on #746
@redlibrarian We currently have 248,716 RDA records in the system, all of which should have a 264 rather than a 260.

[2015-12-07 17:56] redlibrarian commented on #746
Thanks @theLinkResolver - @sjshores Does that sound like a significant enough number to warrant changing the index at this time? These records won't display a publication year field.

[2015-12-07 18:24] seanluyk commented on #790
@theLinkResolver  - oops, yes that's right. Labeling of results for ___in ___ should be consistent between the bento and results views.

[2015-12-07 18:30] seanluyk opened #792 "Reconcile active/inactive databases between eds and api2 instances."
I believe this came up when we first implemented EDS, but perhaps it's even more relevant now.

I'm wondering if we should suppress the Harvard Library Dataset from the articles & more results? Would this have to be turned off completely from EDS?

It may cause users some confusion when they see books duplicated between different bento containers (or aren't expecting to see books in this results l

[2015-12-07 18:57] theLinkResolver commented on #682
@redlibrarian @sjshores Here's a "what if"... and I sense that this would potentially be very complex to implement, so I'm thinking long-term, if at all... what if there was a way to patch together the bibliographic data from a Symphony e-journal record (with an SFX object ID in the 940) with the corresponding SFX holdings data and display it as a single record. So we could reap the benefits from

[2015-12-07 19:16] theLinkResolver commented on #784
Nice to have a couple examples, so here's another
https://search.library.ualberta.ca/catalog/910246

[2015-12-07 19:34] theLinkResolver commented on #744
@redlibrarian I'm going to reopen this, because you were right to wonder about the logic around combined print+online records. Here's an example:

https://search.library.ualberta.ca/symphony?per_page=100&q=journal+economic+perspectives

From this result set, I am interested in the first title. It has Red Deer internet access plus print holdings for some other libraries. When I click "At Library",

[2015-12-07 20:03] linds37 commented on #763
Yes. I think i figured out why we're seeing different things. The new window opens when you export to RefWorks from a single record. However, RefWorks opens on top of the search screen when you export from a list of bookmarks.

[2015-12-07 20:11] redlibrarian commented on #792
Gah. The instance of EDS we use for the API has it's own list of active/inactive databases. I'll have to go through them and make them all correspond. @seanluyk Harvard Library data will be removed from Articles and more for go-live.

[2015-12-07 20:13] redlibrarian commented on #682
@theLinkResolver @sjshores Since we have the Object ID in all equivalent records, this would be easy enough to do.

[2015-12-07 20:16] redlibrarian commented on #784
@theLinkResolver Waaaaaaat. :(

This could either be easy to fix, or a real pain. Do you know roughly how many records we're talking about?

[2015-12-07 20:21] seanluyk commented on #792
Thanks @redlibrarian , and *of course* the EDS API would do that!

[2015-12-07 20:25] redlibrarian commented on #744
Thanks @theLinkResolver - in the old logic, the system handled combined print and electronic. I can probably fix this, but the final separation of print and electronic records should fix the problem for us. If this will take place before April, then we probably don't need to fix anything. If it will take longer than that, then I'll look into reconciling this logic. / @sjshores

[2015-12-07 20:25] redlibrarian commented on #763
Ah, Ok. Now I understand. I'll fix this for the next release but one.

[2015-12-07 20:30] redlibrarian commented on #763
OK, this is fixed in dev. Will be in the next release but one.

[2015-12-07 20:31] sjshores commented on #682
Good idea then, but I would want the links to appear in a normal browser
window without having to scroll down to get them.

This would, I assume, also have the benefit of eliminating duplicate
Symphony and SFX records for the same journal.

Great idea.

Sandra

On 7 December 2015 at 13:13, redlibrarian <notifications@github.com> wrote:

[2015-12-07 20:42] redlibrarian commented on #682
Yes, we would likely position the e-holdings/sfx box above the print holdings (since e-preferred, etc). We could also look into collapsing the print holdings box to save space.

I think that if we were just talking about **journals** from SFX, then we could get rid of the SFX ingestion process altogether. But we still need to figure out how to deal with non **journal** SFX material (which is curre

[2015-12-07 20:44] theLinkResolver commented on #784
@redlibrarian I feel the pain... I found a bunch more like this - probably in the area of 100 give or take.

There's also this one, with a bit of a different 245, that I can't even get to load.
https://search.library.ualberta.ca/catalog/6046607
http://www.library.ualberta.ca/permalink/opac/6046607/WUAARCHIVE

Those are a bit trickier to find. For all of the above, there is no formal bibliographic

[2015-12-07 20:45] sjshores commented on #682
And, we have far more journals activated in SFX than catalogued in Symphony.

Sandra

On 7 December 2015 at 13:42, redlibrarian <notifications@github.com> wrote:

[2015-12-07 20:46] redlibrarian commented on #784
@theLinkResolver Yes, I see the $k in the Symphony records. I should be able to add that to the MARC mapping, but it will be tricky, as Blacklight seems to **only** expect the $a. If we're only talking about 100 records, let's look into this next term. For 6046607, I'll see what the underlying cause of the error is and if I can fix it.

[2015-12-07 20:49] theLinkResolver commented on #784
@redlibrarian Sounds good. On the bright side, re. 6046607, you will see that the title does display in search results, which is certainly better than seeing the catkey.

[2015-12-07 20:50] sjshores commented on #746
It's not a show stopper, but dates are important.  Let's talk about this
one at our Thursday meeting.

On 7 December 2015 at 10:56, redlibrarian <notifications@github.com> wrote:

[2015-12-07 21:28] redlibrarian commented on #682
Oh right. That complicates things a little. Then we're back to deduplicating...

[2015-12-07 21:30] theLinkResolver commented on #782
To log some more info on this - items currently falling into these categories will be examined and corrected, but this will take some time, balanced against other priorities. When the corrections have been made, we can revert to the more specific terminology (but hopefully come up with more user-friendly terms, which will be easier to do once the extraneous items have been cleared up).

[2015-12-07 21:33] redlibrarian commented on #784
See commit e38aba2. I've made it so that if there's no 245a, then "Untitled document" is displayed instead. This is the best I can do for now - we'll fix it properly in January.

[2015-12-07 22:27] gooyers commented on #759
This is now working in the test instance, as is clicking into "Find more by this author" within an item record.

[2015-12-07 22:27] #759 closed

[2015-12-07 22:34] scastell commented on #542
I'm reopening this issue as I've found a few records that aren't displaying a location - ie
https://search.library.ualberta.ca/catalog/7049023, and
https://search.library.ualberta.ca/catalog/816296.

Missing location in both cases is Alberta Innovates - Technology Futures - C-FER Technologies

see
, and
http://www.library.ualberta.ca/permalink/opac/7049023/WUAARCHIVE, and

[2015-12-07 22:39] scastell commented on #764
closing as working in the test database.

[2015-12-07 22:39] #764 closed

[2015-12-07 22:42] theLinkResolver commented on #767
@redlibrarian I see the fix. There is a space that is displaying before the coverage, though.

[2015-12-07 22:44] theLinkResolver commented on #718
@redlibrarian First hit for this search now! Closing.

[2015-12-07 22:44] #718 closed

[2015-12-07 22:59] theLinkResolver opened #793 "rename format facet Serial to Journal (Symphony and SFX records)"
As per email discussion. There is a general preference for the word Journal in public display. Group acknowledges that everything serial (yearbooks, annotated acts, annual reports, etc.) will be labelled as Journal. Future efforts will be made to relocate annuals, biennials, conference proceedings, and mono series to Books, media & more container.

[2015-12-08 00:00] seanluyk commented on #790
I can confirm that results for __in __  is now gone, but I think this is an issue. It would be best if users could see which results sets they were looking at. What does @ualbertalib/discovery-testing think?

[2015-12-08 00:01] seanluyk commented on #765
Working as expected now. Closing issue.

[2015-12-08 00:01] #765 closed

[2015-12-08 00:03] seanluyk commented on #761
I'm only seeing 1 record for print, 1 for electronic for this journal, so I think it's working properly. Faceting at library or online returns the appropriate record. Closing issue.

[2015-12-08 00:07] seanluyk commented on #744
For this particular example, it seems to be working as expected like before. It's worth testing this one a little more I think.

[2015-12-08 16:56] #722 closed

[2015-12-08 17:04] scastell commented on #790
Agree that the header should indicate which results set the user is looking at. ie Results for ___ in Articles & more.

[2015-12-08 17:27] redlibrarian commented on #542
OK, I fixed the C-FER location. I hope this is the last problematic location...

[2015-12-08 17:31] redlibrarian commented on #793
OK, I've changed it back. It will be in the next release.

[2015-12-08 17:45] redlibrarian commented on #790
OK, I've set these all back to the way they were, and using the labels of the bento boxes (Books, eBooks, & more, Articles & more, Journals, and Databases)....

[2015-12-08 17:49] redlibrarian commented on #767
@theLinkResolver Oh yeah. Fixed. It'll be in the final release.

[2015-12-08 17:50] redlibrarian commented on #760
@seanluyk This is fixed in test now...

[2015-12-08 17:52] redlibrarian commented on #747
@linds37 @theLinkResolver The new index should be available in search-test. Not sure if this change is there (still unclear how we're handling updates right now), but it's worth a check...

[2015-12-08 17:53] redlibrarian commented on #704
@theLinkResolver This should be visible now in search-test.

[2015-12-08 18:04] redlibrarian commented on #745
Fixed. Tested on @wyman10 's station...

[2015-12-08 18:04] #745 closed

[2015-12-08 18:25] redlibrarian commented on #792
OK, this has been done. The harvard dataset was the only inconsistency. It's now been disabled. @seanluyk This change should be available in about half an hour, if there's a test search you have.

[2015-12-08 18:27] seanluyk commented on #760
This is fixed, but I noticed a few (some picky) things along the way:

1. There's now an ebooks and more pre-limit, but no bento box container for it

2. Articles and more is labeled as articles on the main search, but Articles, ebooks and more in the bento view

3. Pre-limits from the main page are all lowercase, but this is not consistent with the rest of the site, which uses TitleCase, and not

[2015-12-08 18:28] linds37 commented on #747
I still don't see the CPS see RxTx entry (no e-  ). Hopefully it will be
picked up soon.
- Lindsay

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities & Social Sciences Library
<http://guides.library.ualberta.ca/rutherford> and Weir Law Library
<http://guides.library.ualberta.ca/law>
1-01 Rutherford Library South
University of Alberta
Edmonton, Alberta
T6G 2J8
780.

[2015-12-08 18:30] redlibrarian commented on #760
1. The ebooks prelimit is set to be removed in the next release (issue #773).
2. I'll fix that.
3. To me that's a design thing, and I defer to @nnunn on design....

[2015-12-08 18:31] seanluyk commented on #790
Has this made it to the test instance yet? Currently not seeing it there.

[2015-12-08 18:32] redlibrarian commented on #773
Looks like this has been done.

[2015-12-08 18:34] redlibrarian commented on #773
Can you also relable "articles" to "articles & more"?

@seanluyk also raises issue of capitalisation being different between the home-page prelimits and the bento boxes... thoughts @nnunn ?

[2015-12-08 18:36] redlibrarian commented on #760
1. This is set to be fixed in the final release ( #773).
2. I've added the article prelimit label to #773.
3. This is a design thing, and I defer to @nnunn about those. I've asked her to weigh in in #773.

[2015-12-08 18:38] redlibrarian commented on #747
@linds37 Maybe I'm confused about what's supposed to be appearing. This search: https://search-test.library.ualberta.ca/results?utf8=%3F&q=CPS

has **e-CPS see RxTx** as the first result. Is that not what we're looking for?

[2015-12-08 18:39] redlibrarian commented on #790
No, sorry, next release.

[2015-12-08 18:44] linds37 commented on #747
I also added a database to Libguides that's called just CPS see RxTx -- was
hoping to see them both on the list. That's how Ernie had it set up in the
old database of databases. It seems that the medial community is going to
take a long time to adjust to the new name, since it was called CPS for so
long.
- Lindsay

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities

[2015-12-08 18:48] redlibrarian commented on #747
@linds37 Maybe we need to hash this out in person. I'm unclear what you're expecting to see. If you search for **CPS**, the **CPS see RxTx** database is coming up. Are you expecting to see both **CPS see RxTx** AND **RxTx**? When you search **e-CPS** you get the same two results, with **CPS see RxTx** the second result. Or are you expecting to **RxTx** when you search for any of **CPS**, **e-CPS**

[2015-12-08 18:51] linds37 commented on #747
this one: expecting to see *RxTx* when you search for any of *CPS*, *e-CPS*
 or *RxTx*?
we can talk in person!

On Tue, Dec 8, 2015 at 11:48 AM, redlibrarian <notifications@github.com>
wrote:

[2015-12-08 18:53] redlibrarian commented on #747
@linds37 OK, thanks. I think I get it now, but it will be good to clarify face-to-face.

[2015-12-08 19:28] #773 closed

[2015-12-08 19:32] redlibrarian commented on #760
OK, 1 and 2 will be fixed in the final release. 3 is still up for discussion I guess.

[2015-12-08 19:44] #786 closed

[2015-12-08 22:43] theLinkResolver opened #794 ""format" for EDS results (source type vs. document/publication type)"
This is an issue raised during one of the training sessions.

In the grid view for the Articles results, there is a term in parentheses after the title. The same term is listed as "format" in the results lists. Here is a sample search:
http://bit.ly/1XTVyTS

I don't see these terms in the EDS record, but what the term means, when it is Academic Journal for example, is that the item is an article F

[2015-12-08 22:44] theLinkResolver commented on #704
@redlibrarian I am not seeing any SFX results in search-test...? I can wait until Thursday to clear this one.

[2015-12-08 22:51] theLinkResolver commented on #785
I see the pre-filtering button has been renamed, but the text that appears in the search box, when you click that button, still says "articles, ebooks & more". Sorry, not sure if this is better addressed with #773

[2015-12-08 23:00] theLinkResolver opened #795 "database descriptions not indexed for searching?"
This is an issue from a training session.

It does not appear that the database descriptions are being searched, but this is an expected behaviour.

Example for testing:
https://search.library.ualberta.ca/catalog/11710398

If a person searched for Baker's Dictionary of Music, it would be desirable for the above database to show up.
Search results:
https://search.library.ualberta.ca/results?utf8=%3

[2015-12-08 23:24] seanluyk commented on #795
Yes, it would be great if the database descriptions were indexed! In some cases, the name of the database doesn't accurately reflect what it contains, or useful information is buried there.

[2015-12-08 23:31] seanluyk commented on #794
I'm wondering if this only applies to articles - I'm seeing other item types accurately represented (e.g. reviews, theses, etc.).

[2015-12-08 23:38] seanluyk commented on #792
Still seeing this in the test instance - Harvard Library Bibliographic Dataset comes up as a content provider for a search for chemistry

[2015-12-08 23:55] seanluyk opened #796 "028 $b (and others?) need to be displayed"
Just a minor, mostly music related one that I noticed. It doesn't look like the 028 subfields (mostly concerned about $b) are being displayed in the publisher / issue# field (which displays in iLink as other music #).

Not a showstoper of course, but these are necessary because sometimes the publisher is different than the distributor, and what's recorded in the 260 doesn't always match 028 $b exa

[2015-12-09 16:37] redlibrarian commented on #785
I've asked @nnunn to take a look.

[2015-12-09 16:38] redlibrarian commented on #704
None at all? I see them... @theLinkResolver

[2015-12-09 16:42] redlibrarian commented on #795
@theLinkResolver @seanluyk This should already have been in place. It will be fixed in the final release.

[2015-12-09 16:44] redlibrarian commented on #794
This is baked into the EDS API results. I can probably fix it, but not before we launch.

[2015-12-09 16:48] redlibrarian commented on #792
Weird. I double-checked that it's been disabled... let's wait another day or so and try again. This isn't dependent on a code release, so I can keep investigating if disabling it doesn't work soon. @seanluyk

[2015-12-09 16:51] seanluyk commented on #792
Sounds good, I'll have another look and let you know what I find @redlibrarian

[2015-12-09 16:59] #785 closed

[2015-12-09 16:59] nnunn commented on #785
done - it now says  "articles, chapters, reviews, and more".

[2015-12-09 17:00] theLinkResolver commented on #794
One of the trainees made an interesting point that we see these same terms in the results lists within EDS and, in that context, we don't think anything of it. But the terms do seem out of place in the article container. Definitely an enhancement, not a showstopper.

[2015-12-09 17:23] redlibrarian commented on #704
@theLinkResolver OK, they're there now - our fault.

[2015-12-09 17:56] redlibrarian commented on #776
OK, we got a reassuring email from David that there was a problem with the API returning 0 results, and they have fixed it at their end. We should still monitor the situation, but I'm hoping we've seen the last of this problem.

[2015-12-09 17:56] #776 closed

[2015-12-09 18:58] theLinkResolver commented on #796
@seanluyk Wow, you got me - I'm not familiar with this field, but that's because I specialize in serials. It's nice to learn a bit about this field. From looking at the rules around this field, your presumption seems to be correct.

@redlibrarian This field contains three subfields of interest (a - publisher number, b - source of publisher number [record label or publisher's name], and q - qualify

[2015-12-09 19:03] dmc2 commented on #655
Looking for SPECK kit see https://search.library.ualberta.ca/catalog/6867610 and there is no access to the e-version, and after clicking on UofA access button and then choosing the Library catalogue there appears to be a SFX issue see the image. Hoping this can be fixed :)
![spec error](https://cloud.githubusercontent.com/assets/14880806/11695489/b36a2d2c-9e6c-11e5-84d6-f2caea92fb99.jpg)

[2015-12-09 19:15] redlibrarian commented on #746
Good news: I figured out how to easily test this. Bad news, I can't figure out how to fix it. This won't be ready for launch. I think it will have to be fixed next term.

[2015-12-09 19:17] redlibrarian commented on #655
I'm not getting the Software Error message - not sure why that's coming up. However, in the classic catalogue, clicking on the UA Access link also provides no access, so this needs to be reported to cataloguing corrections...

[2015-12-09 19:20] dmc2 commented on #655
I had to unblock the message and then I saw the message

Diane Clark, MLIS, MEd | Staff Development & Training Librarian,
Agriculture, Food & Nutritional Science Librarian | University of Alberta
Libraries | 4-40B Cameron Library | University of Alberta | Edmonton,
Alberta T6G 2J8 | p: 780.492.9364 | e: diane.clark@ualberta.ca

On 9 December 2015 at 12:17, redlibrarian <notifications@github.com> w

[2015-12-09 19:30] redlibrarian commented on #655
@dmc2 Has it happened more than once? I'm not getting an error at all.

[2015-12-09 19:35] redlibrarian commented on #746
It looks as though the latest version of SolrMarc includes RDA support, so I think that's the roadmap to fix this problem. The latest version of blacklight-marc doesn't include the latest SolrMarc, but Henry's been looking into compiling and using it - we're planning to look at it more closely next term, so that's probably the way to go with this one.

[2015-12-09 19:58] theLinkResolver commented on #655
@redlibrarian @dmc2 Got the helpdesk ticket and removed the link from our record, as we don't subscribe to the online version. We do have a current subscription to the print version. (I have sent a note to Acquisitions querying this title, as the online version would probably be preferred... unless there is already some reason on file as to why the online version is inadequate.)

@redlibrarian I'm

[2015-12-09 20:02] redlibrarian commented on #655
@theLinkResolver It's coming from the 856, but it's being looked up live against the Symphony API.

[2015-12-09 20:09] theLinkResolver commented on #655
@redlibrarian That is terrific - I must admit I was concerned about deleted and broken links sitting around for 1-2 days after we correct them, but the live lookup solves that!

[2015-12-09 21:29] sjshores commented on #746
Great to hear.  Thanks,

Sandra

On 9 December 2015 at 12:35, redlibrarian <notifications@github.com> wrote:

[2015-12-09 23:18] theLinkResolver opened #797 "better name for "format" facet?"
@ualbertalib/discovery-testing I've tried not to let this one get to me, but it came up in training - and I'm not counting my unnecessary interruption of @gooyers today :(

As we all know now, the filter term "format" is used to describe the *type of content/material* described by a given record, rather than the version/form/manifestation of the item (online, braille, microfilm, etc.).

"Format" w

[2015-12-09 23:19] theLinkResolver commented on #797
and some suggestions... (you'll see a pattern)

Type of material
Material type
Type of content
Content type
Type of resource
Resource type

[2015-12-09 23:46] theLinkResolver commented on #457
Revised the issue name a bit and am just adding a couple records as examples for future testing, as these have been brought to me by Bib colleagues:

https://search.library.ualberta.ca/catalog/4185920
https://search.library.ualberta.ca/catalog/2868996

@redlibrarian when we get to this one, we should also be looking at the handling of the 130 and synchronize the two. all in good time..

[2015-12-10 04:24] redlibrarian commented on #797
Perhaps we need to define what characterizes jargon. Looking at the list above, all of those (with the possible exception of type of material/material type) sound jargony to me. AFAICT, only library people and computer people talk about "resources" in this way.

[2015-12-10 16:15] seanluyk commented on #796
Thanks, @theLinkResolver, this is a very helpful clarification. @redlibrarian please file under "rainy day catalogue related enhancement", as this is not crucial

[2015-12-10 16:21] redlibrarian opened #799 "Add proxy prefix to EDS title links"

[2015-12-10 16:21] redlibrarian commented on #799
@kgood This is in place and should be in the final release.

[2015-12-10 16:25] #664 closed

[2015-12-10 16:56] redlibrarian opened #800 "Alphabetize Library facet in advanced search."
This can't currently be done with the version of blacklight_advanced_search that we're using (5.1.4). It looks like it's been fixed in 5.2.1 (current version as of December 10, 2015), but in order to upgrade advanced search we'd need to upgrade Blacklight too. As we're this close to launch, I don't want to do that, but I think an upgrade to Blacklight and related gems (blacklight_marc, advanced_se

[2015-12-10 17:03] theLinkResolver commented on #797
re. jargon - hey, I could have offered up "type of expression"! Or even worse - "realization of work". But yeah, not actually much of a fan of "resource". Really hoping there are some better ideas out there among us!

Another approach might be to have these facets auto-expanded, so no one has to guess what the label means.

[2015-12-10 17:07] seanluyk commented on #797
I'm OK with format, but I see what Scott's getting at. IMO, resource probably more accurately describes the various terms that go in the format facet, and is better aligned with current terminology used in bibliographic description.

As for jargon, I'm not entirely against using it if it's the correct term that our profession/discipline uses. Users at a university are already accustomed to learnin

[2015-12-10 17:33] redlibrarian commented on #704
@theLinkResolver Check out https://search-test.library.ualberta.ca/catalog/954925402586

If this looks OK, can we close the issue?

[2015-12-10 17:37] redlibrarian commented on #744
I'm going to move this to v.2.0.0 - this doesn't seem to be working perfectly, but I need to get a handle on the timeline for complete separation of print and electronic.

[2015-12-10 17:38] pgwillia commented on #666
@redlibrarian can you give me an example of a record that calls the SFX API?

[2015-12-10 17:41] redlibrarian commented on #666
Here's an example: https://search.library.ualberta.ca/catalog/1000000000393939

The SFX service provides the content in the grey "subscription" box.

In your dev environment, if you delete everything from your local solr instance, then rune **rake ingest[sfx_test-set]** you'll get some sample SFX records, and they'll be the only things in your index (if that helps at all).

[2015-12-10 17:58] #666 closed

[2015-12-10 18:48] theLinkResolver commented on #704
looks clean - closing!

[2015-12-10 18:48] #704 closed

[2015-12-10 19:01] alfodor commented on #381
The 4 digit # assigned in the proactive chat widget is what will
determine how many seconds it takes to pop up. (ie,
...libraryh3lp.js?8994) Currentlywe are using 8994 in production for a
15 second pop up. If we think we might alter that time in the future
use one of these numbers (1740 (currently 1s) or 1739 (currently 60s)
which we can alter from the libraryh3lp side of things and not have to
pu

[2015-12-10 20:35] seanluyk commented on #784
Thought I would share this one I stumbled upon that's missing $k and displaying the catkey as the title: https://search.library.ualberta.ca/catalog/1297946

[2015-12-10 20:38] theLinkResolver opened #803 "searchability of earlier and later titles"
earlier_title_tesim and later_title_tesim (sourced from 780 and 785) should be included in searched fields. I would *guess* that the appropriate weighting would be somewhere around where the title_addl is. These should also be included in the title search.

Relevance ranking is so good that I did not notice this sooner - variations in title are usually not very dramatic, and related titles are usu

[2015-12-10 21:02] pgwillia commented on #758
+1

[2015-12-10 21:32] redlibrarian commented on #784
Ugh. @theLinkResolver can we get a number of records with no $a AND no $k? At this point, I think we'll have to leave it until next term. What's the accepted ILS/AACR2 for no $k?

[2015-12-10 21:55] theLinkResolver commented on #784
Ok, I hadn't checked it out yet, but that record *does* have a $k. Should be okay.

[2015-12-10 21:57] redlibrarian commented on #784
@theLinkResolver @seanluyk Ah, phew - OK. Records with **no** 245$a will fall back to the **245$k** in the final release next week.

[2015-12-10 22:18] theLinkResolver opened #804 "ensure correct placeholder text in search box"
@redlibrarian Just to make 100% sure on these. I think you more or less told me not to worry yesterday, but I think we both like it in writing. :)

![ebooks](https://cloud.githubusercontent.com/assets/14913579/11730277/34be4f22-9f51-11e5-994c-9098c5260b8d.jpg)

![journals](https://cloud.githubusercontent.com/assets/14913579/11730279/3d8b4fe2-9f51-11e5-8cc6-7ee6f83f462c.jpg)

[2015-12-10 22:25] theLinkResolver opened #805 "ensure correct labels for Articles & more container"
@redlibrarian Hopefully okay in final release as per our conversation yesterday.

![ebooks in grid](https://cloud.githubusercontent.com/assets/14913579/11730376/f2d9f600-9f51-11e5-9e9f-c78d2276e55f.jpg)

![ebooks grid 2](https://cloud.githubusercontent.com/assets/14913579/11730380/f7516484-9f51-11e5-872f-46970ce5355f.jpg)

(okay to laugh at my red Xs)

[2015-12-10 22:29] redlibrarian commented on #804
Yes, these are both correct right now on my workstation...

[2015-12-10 22:30] redlibrarian commented on #805
Yes, both of these are correct on my workstation right now.

[2015-12-10 22:51] seanluyk commented on #784
My bad, I mean't to say it doesn't have an $a, but this is yet another twise - the title is a combination of $k and $f - this might be the case for all archival fonds records in the catalogue.

[2015-12-10 22:54] theLinkResolver commented on #784
@seanluyk lots of examples to test is a good thing! I'm finding it quite handy to have a couple in the issue threads.

[2015-12-10 23:42] sjshores opened #806 "OUR (Our Usage Rights) truncated"
Hope I'm not duplicating an existing issue, but the OUR (Our Usage Rights) information is often truncated, especially if the notes or coverage information takes up too much space. e.g. CMAJ.
![2015-12-10_16-02-38](https://cloud.githubusercontent.com/assets/8203132/11731986/0c54267c-9f5d-11e5-9ad2-fe1382e1a877.jpg)

[2015-12-10 23:43] sjshores commented on #806
Note, this is in SFX journal records in the journals box.

[2015-12-10 23:48] sjshores opened #807 "Switching between list and grid on the advanced search results page--problem"
I just did my happiness search on the latest code release as an all fields term on the advanced search page.  The results came back as a list and looked good--the right number of records was returned. When I clicked to switch to the grid view, my search was lost.  I was taken to the grid view, but the results were the entire index (minus EDS article content), not my search results.

[2015-12-11 16:11] redlibrarian commented on #807
Oh, this seems to happen only when you do an advanced search, as advanced search doesn't use the simple "q" parameter... we'll have to figure out how to pass all of the params between the controllers...

[2015-12-11 16:17] redlibrarian commented on #807
Ugh. I can pass all the relevant parameters back to the controller, but the bento controller doesn't understand them (because it wasn't designed as an advanced search result view....). Hmm. I'm going to have to rethink this...

[2015-12-11 16:38] seanluyk opened #808 "Labeling on French version of search"
It looks like the new labeling of pre-limits did not carry over to the French version for the following labels:

-livres et journaux imprimés
-livres numériques
-journaux électroniques

[2015-12-11 16:40] seanluyk opened #809 "Bento box and search from French version"
A search from the French version of the website returns an English grid and list view.

Are there plans to make the search fully bilingual? I recall seeing it in French before.

[2015-12-11 16:50] redlibrarian commented on #809
@sjshores @kgood Gerald asked this question too in the training session. Can one of you address this one?

[2015-12-11 16:55] sjshores commented on #809
We can discuss this with Trish this afternoon, but my recollection was that
the search portion of the website was not going to be in French.  Sam, does
BL come with an easy option for French?

On 11 December 2015 at 09:51, redlibrarian <notifications@github.com> wrote:

[2015-12-11 17:02] redlibrarian commented on #809
@sjshores @kgood @seanluyk My impression was that we would be translating the top level web-pages and leaving the rest untranslated, and that that had been worked out with Tatiana.

On the technical side, we would have to go through the same process that @weiweishi went through with DMP - translation/local files for French would have to be created. We would also have to make sure that the custom t

[2015-12-11 17:13] seanluyk commented on #809
@redlibrarian for now, if it were easy enough to label the pre-limits and grid view in French that would be enough. I know of a German blacklight implementation, which doesn't help us unfortunately :)

[2015-12-11 17:16] redlibrarian commented on #809
@seanluyk I'll make the changes to the home page and bento view today, and then we can address any other French language stuff later on. Looping @gooyers in just to keep him informed.

[2015-12-11 17:45] seanluyk opened #810 "Records missing geographic term (651)"
Pointed out by an HSS colleague. Not sure if this is an isolated case:

The geographic term from [this record](http://www.library.ualberta.ca/permalink/opac/3441490/WUAARCHIVE) did not make it to [its Blacklight record](https://search.library.ualberta.ca/catalog/3441490).

This is also the case for the record for the [electronic version](http://www.library.ualberta.ca/permalink/opac/3946060/WUAARC

[2015-12-11 17:59] redlibrarian commented on #810
@seanluyk I can display it raw in the record in the final release, but I won't have time to give it the hyperlinked treatment we give the 650s before we launch. Is this acceptable for now? We'll display it in the record, but we won't make it clickable until the April release?

[2015-12-11 18:05] redlibrarian commented on #806
@sjshores I've fixed this for now by hardcoding width percentages. This isn't a great permanent solution, but my CSS is rusty. @nnunn will have to look into this in the new year. It should fix the problem for now.

[2015-12-11 18:10] redlibrarian commented on #808
I found and fixed one instance of journaux électroniques, but I think that was just a place holder. @kgood @nnunn Are these set in the CMS? Can we change them there?

[2015-12-11 18:14] redlibrarian commented on #810
OK, this is set to be displayed in the final release, but only as a raw display. When that's been confirmed let's move this issue to the v.2.0.0 milestone so we can make geographic subject work the same as the other subject terms.

[2015-12-11 18:21] redlibrarian commented on #808
OK, this was changed in the CMS and is live now. @seanluyk and @gooyers do you want to take a look and confirm?

[2015-12-11 18:29] seanluyk commented on #810
Excellent, thanks @redlibrarian

[2015-12-11 19:27] theLinkResolver opened #811 "Lakeland internet library is misnamed"
https://search.library.ualberta.ca/symphony?f[location_tesim][]=lakelndin&q=

The library is displayed as Lakeland College Lloydminster for LAKELND_IN. The correct name is:

Lakeland College Internet

(LAKELND_LL is correct as is - showing as Lloydminster)

[2015-12-11 19:32] theLinkResolver opened #812 "AGL library filter is misnamed"
AGL_CAP is displayed as Alberta Government Library Internet, but should be just Alberta Government Library.

https://search.library.ualberta.ca/symphony?f[location_tesim][]=aglcap&q=

[2015-12-11 20:38] seanluyk commented on #808
Looks good to me!

[2015-12-11 20:43] theLinkResolver opened #813 "problem with displaying in-transit items?"
I can't open the record for Neo the NEOS Bear. I noted that his current location is INTRANSIT.

https://search.library.ualberta.ca/results?utf8=%3F&q=neo+bear

[2015-12-11 20:53] theLinkResolver commented on #813
Okay, just noticed this is shadowed at the item level. This is different from when a shadowed location is used (e.g. IN_PROCESS); there is a checkbox available in the item record to shadow an item. This is rare but it happens. @redlibrarian Not a showstopper by any stretch but there are a few of these out there for sure. We don't want to see them at all. I have renamed the issue accordingly.

[2015-12-11 21:30] redlibrarian commented on #813
@theLinkResolver Hmm. The Symphony extract logic is supposed to exclude any bib records for which all items have been shadowed (ie. even if the bib record isn't shadowed, if it doesn't have any visible items, it should be excluded). I guess the logic of the extract isn't working perfectly - I'll have to talk to Jim about it...

[2015-12-11 21:38] redlibrarian commented on #812
Hm. Now that I look at it, I think my list of AG libraries hasn't been updated. @theLinkResolver can you tell me how to get a list of NEOS libraries and codes in workflows? The list I currently have is

aginternet: "Alberta Government Library Internet"
aglcap: "Alberta Government Library Capital Boulevard"
aglgwl: "Alberta Government Library Great West Life"
aglssp: "Alberta Government Library" --

[2015-12-11 21:39] redlibrarian commented on #811
OK, fixed. It will be visible in the next release.

[2015-12-11 21:41] theLinkResolver commented on #812
@redlibrarian There must be a better way than this, but you can open a wizard like Item Search and Display and then chug through the drop-down list. Peggy Morgan would be my go-to if I wanted to find a better way.

And indeed, only two AGL locations now exist: AGL_CAP and AGINTERNET. Since there is only one branch, we don't seem to call AGL_CAP Capital Boulevard anymore - just Alberta Government L

[2015-12-11 21:45] redlibrarian commented on #812
@theLinkResolver OK, great. I'll push that change through right away...

@sjshores When Blacklight is in production, we'll have to make sure we have some kind of workflow around keeping these lists updated. It's clunky, but maybe there's a way to streamline it.

[2015-12-11 21:45] theLinkResolver commented on #813
@redlibrarian I should also mention there is a way to shadow at the title level, too (another checkbox - i.e. Yes/No setting). Might as well make sure all bases are covered in your convo with Jim.

[2015-12-11 21:54] redlibrarian commented on #813
@theLinkResolver Yes, that's what I mean by "bib level". I'll check with Jim in the new year.

[2015-12-11 22:17] gooyers commented on #809
Thanks @redlibrarian. As far as I've been made aware, the plan is currently to translate (and keep up to date) the new homepage, and a few select services-oriented web pages (for example, the Ask Us page).

There are no established plans to translate the interface of the search tool. I discussed this with Dorothée in passing the other day, and we'll be keeping our ears open for feedback from our f

[2015-12-11 22:34] redlibrarian opened #814 "Flip default search to EDS"

[2015-12-11 22:34] redlibrarian opened #815 "Make Blacklight first alternate search"

[2015-12-11 22:34] redlibrarian opened #816 "Add "about our new search" text to /search"

[2015-12-11 22:37] gooyers commented on #808
Thanks for catching this @seanluyk!

One thing I'd add is that **livres et plus** could be **livres, médias et plus**. Thanks again

[2015-12-11 22:38] gooyers commented on #808
Dorothée can translate the hover labeling of the pre-limits early next week (Books and more, Articles and more, and Journals all have hover text).

[2015-12-11 22:39] redlibrarian commented on #808
Thanks @gooyers ... I'll make that change this afternoon. Then, since this change take immediate effect, can I close this issue?

[2015-12-11 22:40] redlibrarian commented on #808
Ah, OK, I'll leave this issue open until then, then. / @seanluyk @gooyers

[2015-12-11 23:09] gooyers opened #817 "(Question) How searchable is William C. Wonders Map Collection?"
I saw the William Wonders #29 referred to as an included data source (though that's from quite some time ago), and we also make reference to the map collection as being included in the new search tool within the training script.

I don't have much experience using the William Wonders collection (http://maps.library.ualberta.ca/index.cfm), but I can't seem to locate items in the database within Bla

[2015-12-11 23:16] redlibrarian commented on #817
Hi @gooyers No - the Wonders database isn't included yet. It's earmarked for what's now Phase 3.

[2015-12-11 23:19] redlibrarian commented on #808
OK, that change has been made.

[2015-12-11 23:19] gooyers commented on #817
Ah okay. It was my misunderstanding, it's mentioned in the training speaker notes as a collection that is not searchable at all. That *will* change, but isn't the case yet, so there's nothing misleading about the speaker notes. Thanks @redlibrarian!

[2015-12-11 23:19] #817 closed

[2015-12-14 17:37] redlibrarian opened #819 "Add bookmarks link to results view."

[2015-12-14 17:46] #819 closed

[2015-12-14 17:46] redlibrarian commented on #814
Done.

[2015-12-14 17:46] #814 closed

[2015-12-14 17:47] redlibrarian commented on #815
Done.

[2015-12-14 17:47] #815 closed

[2015-12-14 17:47] redlibrarian commented on #808
@gooyers If you or Dorothée can give me the hover text, I'll fix them right away.

[2015-12-14 20:15] #799 closed

[2015-12-14 20:20] redlibrarian commented on #811
@theLinkResolver This should be working now in test.

[2015-12-14 20:22] redlibrarian commented on #793
@theLinkResolver This is done in test.

[2015-12-14 20:28] redlibrarian commented on #792
@seanluyk I'm not seeing Harvard Bibliographic Dataset anymore. It might just have taken a while for the change to take effect.

[2015-12-14 20:29] redlibrarian commented on #791
@linds37 The URL has been moved, and this change is currently visible in test: https://search-test.library.ualberta.ca/catalog/11711117 / @sjshores

[2015-12-14 20:29] redlibrarian commented on #780
This is done in test, @theLinkResolver

[2015-12-14 23:36] seanluyk commented on #792
Not seeing the Harvard Bibliographic Dataset as a content provider. Closing issue

[2015-12-14 23:36] #792 closed

[2015-12-14 23:45] seanluyk commented on #790
I'm seeing "results for_____" but not "in____".

[2015-12-14 23:59] seanluyk commented on #760
@redlibrarian #1 is fixed; #2 - still appears as Articles, ebooks and more in the bento view; #3 - case on main page are now matching case on bento box view

[2015-12-15 15:27] redlibrarian commented on #790
Hmm. I'm seeing the "in..." in search-test. It will be up in production this morning, maybe check again then. / @seanluyk

[2015-12-15 15:29] redlibrarian commented on #760
@seanluyk Again, I'm seeing "Articles & more" in search-test. Maybe try the prod version when it's up later this morning (I'll let you know).

[2015-12-15 15:48] redlibrarian commented on #788
@sjshores @theLinkResolver Do either of you have an example record for this issue (this was the 'splitting the 300 field' issue). It should be resolved in search-test, but I can't find a record with a Description field using trial and error. :) Thanks.

[2015-12-15 15:54] redlibrarian commented on #806
@sjshores Looks like this is working in test now. https://search-test.library.ualberta.ca/catalog/954925545272  Should be up in production this morning.

[2015-12-15 16:22] theLinkResolver commented on #788
@redlibrarian No problem! https://search-test.library.ualberta.ca/catalog/4614650

[2015-12-15 16:26] redlibrarian commented on #788
@theLinkResolver Awesome, thanks. That record now has **Other Details: 1 map**. Does that seem adequate for now?

[2015-12-15 16:33] seanluyk opened #820 "Database description - image issue in Chrome"
This is a very minor one, only happening in Chrome:

-There is a small missing image icon displaying in database description pages in Chrome. For example, see [RIPM](https://web.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=3401) and [RILM](https://web.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=1469)

![image](https://cloud.githubusercontent.com/assets/14880206/11816706/d579

[2015-12-15 16:36] redlibrarian commented on #820
@seanluyk Ah, this isn't a problem with the discovery system, but with the database pages. @kgood can you take a look?

[2015-12-15 16:42] seanluyk commented on #820
Oops, my bad

[2015-12-15 16:44] theLinkResolver commented on #788
@redlibrarian Should be good!

[2015-12-15 16:44] redlibrarian commented on #820
@seanluyk Nope, no worries. It's hard to tell where the boundaries are, and this will get to Kenton in any case. :)

[2015-12-15 18:03] gooyers opened #821 "No results in symphony, databases, or journal boxes (+ French website not up to date)"
A smaller issue first, the french website should be updated to reflect the changes made on Friday.

![2015-12-15_11-00-55](https://cloud.githubusercontent.com/assets/14891931/11819062/2f77bb5c-a31b-11e5-9dd7-8a257e4dc66c.jpg)

The main issue, is that I've tried a few searches ([example](https://search.library.ualberta.ca/results?utf8=%3F&q=histoire)) this morning and received the same result: no r

[2015-12-15 18:18] redlibrarian commented on #821
@gooyers That was a temporary outage while we update to the new index. The french website should be updated with the new code shortly. We can take a look then.

[2015-12-15 23:37] theLinkResolver commented on #812
fixed

[2015-12-15 23:37] #812 closed

[2015-12-15 23:38] theLinkResolver commented on #811
fixed

[2015-12-15 23:38] #811 closed

[2015-12-15 23:41] theLinkResolver commented on #542
@redlibrarian I happened to notice that this location is once again not displaying correctly in the filters list. It's showing up in the items okay.

[2015-12-15 23:42] theLinkResolver commented on #805
looks good

[2015-12-15 23:42] #805 closed

[2015-12-15 23:43] theLinkResolver commented on #795
works now for the example above - great!

[2015-12-15 23:43] #795 closed

[2015-12-15 23:47] theLinkResolver commented on #793
done

[2015-12-15 23:47] #793 closed

[2015-12-15 23:47] theLinkResolver commented on #780
looks good

[2015-12-15 23:47] #780 closed

[2015-12-15 23:48] theLinkResolver commented on #767
extra space is gone. closing

[2015-12-15 23:48] #767 closed

[2015-12-15 23:49] theLinkResolver commented on #804
These look good now but I see this is assigned to @redlibrarian so I will leave for you.

[2015-12-15 23:50] #788 closed

[2015-12-15 23:53] theLinkResolver opened #822 "summary holdings statement is back"
@redlibrarian Noted that the "Library has" statement is back with the latest release. e.g. https://search.library.ualberta.ca/catalog/359529

It needs to go away again..

[2015-12-15 23:55] theLinkResolver opened #823 "blank search of journals returns an error"
https://search.library.ualberta.ca/ejournals?utf8=%3F&q=

You can see by the resulting url what the problem might be!

[2015-12-16 16:25] seanluyk commented on #822
Does it need to stay for items where placeholder records are created (e.g. micro)? Thinking of issue #691

[2015-12-16 16:32] redlibrarian commented on #822
I can't remember if I ever got around to removing it or what, but I've suppressed it in the latest code. If we have a chance to do one more code release the summary holdings statement will be suppressed for launch, if not, it will have to wait until January. I'm not sure about @seanluyk 's question. / @theLinkResolver

[2015-12-16 16:35] redlibrarian commented on #542
It's because of the stupid **-** in the name. I've put a fix in place, hopefully this will finally fix it in the next release.

[2015-12-16 16:35] theLinkResolver commented on #822
@seanluyk You're right - this is important, as it's the only place that microform holdings are described, but there's currently no logic in place to correctly identify, display and label the microform holdings. :(

[2015-12-16 16:36] #804 closed

[2015-12-16 16:38] theLinkResolver opened #824 "items table missing"
https://search.library.ualberta.ca/catalog/1705621

I haven't been able to find another record with this problem yet.

[2015-12-16 16:39] redlibrarian commented on #823
Fixed and live now. I'm going to close this.

[2015-12-16 16:39] redlibrarian commented on #821
@gooyers Can you take a look - everything should be back and working now. Let me know if you still see any problems.

[2015-12-16 16:43] redlibrarian commented on #824
Looks like the timeout we set is too short for items with numerous holdings. I've raised the timeout and it works in dev, so this should work in the next release.

[2015-12-16 16:44] redlibrarian commented on #822
@seanluyk @theLinkResolver Let's put this on the list of things to talk about next term.

[2015-12-16 16:47] gooyers commented on #821
Yup! All is well, I'll close the issue.
If the french website is set to be updated next update, that's great to hear too.

[2015-12-16 16:47] #821 closed

[2015-12-16 16:48] seanluyk commented on #810
I'm seeing the geographic subject, but not the rest of the heading. Not a showstopper of course, but I think we should keep this open until geographic subject headings work the same as topical subject headings (displayed in full, and hyperlinked with ability to add/remove headings from the hierarchy)

[2015-12-16 16:51] seanluyk commented on #501
This has come back again. A search prelimited to articles is not providing any results

[2015-12-16 16:52] seanluyk commented on #790
I've verified that this is working correctly in all bento boxes except articles and more (which isn't currently working)

[2015-12-16 16:56] seanluyk opened #825 "UofA Access links"
Not a major issue, just wondering why UofA Access links state UofA access twice (second time in brackets. Probably OK to remove the bracketed portion:

![image](https://cloud.githubusercontent.com/assets/14880206/11847520/2b7bfdfe-a3db-11e5-82e0-b96bafc90c5d.png)

[2015-12-16 17:00] seanluyk commented on #760
Fixed, but cases don't match so I'll open a new issue. My OCD dictates that if the cases don't match, the sun won't rise tomorrow!

[2015-12-16 17:00] #760 closed

[2015-12-16 17:01] seanluyk opened #826 "Bento box container labeling consistency"
Bento box container labels have their first word capitalized, but their corresponding view all buttons do not.

[2015-12-16 17:03] redlibrarian commented on #790
@seanluyk The articles and more results should be working now...

[2015-12-16 17:04] redlibrarian commented on #810
@seanluyk Sounds good. I'll move this to the January milestone.

[2015-12-16 17:05] redlibrarian commented on #501
There must be something happening with the EDS API. This works for me most of the time, though I see this problem intermittently.

[2015-12-16 17:07] redlibrarian commented on #825
@seanluyk The bracketed portion **usually** contains the coverage (e.g. "1926-"), so the "University of Alberta Access" isn't repeated. This must be a data issue. I'll have to track it down. / @theLinkResolver

[2015-12-16 17:48] redlibrarian commented on #763
@linds37 This is working now. Can you verify?

[2015-12-16 17:50] redlibrarian commented on #791
@linds37 This is now in production. Can you verify?

[2015-12-16 17:51] redlibrarian commented on #806
Fixed in production. Closing.

[2015-12-16 17:51] #806 closed

[2015-12-16 18:04] scastell commented on #822
Something else to consider re summary holdings statements

Summary holdings statements appear to be the only way to identify holdings for periodical titles for which we have current print subscriptions but item records are not created for the individual issues at time of receipt. Reasons include print copies retained until microfilm/fiche is received, current x years  only retained (not sure how m

[2015-12-16 18:18] seanluyk commented on #825
The records in question are from Alexander Street Press streaming databases if that helps.

[2015-12-16 18:19] seanluyk commented on #790
This is now working with all bento boxes. Closing issue.

[2015-12-16 18:33] redlibrarian commented on #825
Looks like we have three (at least) kinds of labeling in our 856 links: "University of Alberta Access", "University of Alberta Access (<usage information>)" and "University of Alberta Access: <date information>". I'll see what I can do to clean this data up. / @theLinkResolver

[2015-12-16 18:46] redlibrarian commented on #825
OK, I think I have this straightened out. In the next release we should check:
https://search.library.ualberta.ca/catalog/5947179
https://search.library.ualberta.ca/catalog/5025237
https://search.library.ualberta.ca/catalog/6702041

To make sure all versions of the label are displaying properly.

[2015-12-16 18:46] theLinkResolver commented on #825
@redlibrarian That's right - single items/monographs are just captioned by "University of Alberta Access" while serials follow that with a colon and the coverage statement.
Before the UA button was moved up, the entire $3 was displayed as the button text. Would that solve it, to revert to that?

[2015-12-16 18:53] redlibrarian commented on #825
I think it's solved now. Take a look when the next (and last!) release is up (hopefully Friday).

[2015-12-16 18:54] theLinkResolver commented on #825
Ah yes, the $z is also quite important - usage limits and tips for finding content. Usually but not always enclosed in parentheses.
some more examples to check on:
https://search.library.ualberta.ca/catalog/6585660
https://search.library.ualberta.ca/catalog/6877258
https://search.library.ualberta.ca/catalog/7102811

[2015-12-16 18:59] redlibrarian commented on #825
Thanks @theLinkResolver The display for these translates into (e.g.) **Click Here for University of Alberta Access (2002- Click on the German flag to access this title)** and **Click Here for University of Alberta Access (Click "Index and Contents" tab to find this title within "Cases" folders)** which might not be **ideal** but I think is fine for now.

[2015-12-16 19:01] theLinkResolver commented on #825
@redlibrarian Just needs to be clean and that seems to be the case now - great!

[2015-12-16 21:12] seanluyk opened #827 "Make authorship more clear"
I've been thinking that there may be a better way to deal with authorship in Blacklight (applies especially to works with multiple contributors, but also with single author works too).

Here is one example: https://search.library.ualberta.ca/catalog/3836242
See the [iLINK record](http://www.library.ualberta.ca/permalink/opac/3836242/WUAARCHIVE) for comparison.

The editor (Cowdery, James R) is mix

[2015-12-16 21:50] merisjames commented on #827
I think author(s) + additional contributors would work.

It seems to work quite well for the many law texts with multiple/changing authors, such as https://search.library.ualberta.ca/catalog/3532439 (although strictly speaking, La Forest should be the author, as Anger has been dead over 60 yrs) or https://search.library.ualberta.ca/catalog/2583434 or https://search.library.ualberta.ca/catalog/2136

[2015-12-16 22:52] theLinkResolver opened #828 "carry initial search terms forward?"
Suggestion from today's training. Apologies if this has been discussed. I couldn't find it.

There was a suggestion that the search terms that were entered in the home page search box could be carried forward into the "search again" box, so that users could add terms to their search without having to type them again.

Of course, this can also be achieved by simply clicking the back button from the

[2015-12-16 22:53] theLinkResolver opened #829 "add "go to bookmarks" and "view search history" links to grid view"
Suggestion from training session.

[2015-12-16 22:59] theLinkResolver opened #830 "display call number & location in list view if filtering to a single library"
Suggestion from training session.

We previously examined the possibility of including the call number in results views, but determined that there was no way to display the call number that the user would want to see, as there are variations between branches and library systems. issue #645

But what if there was a way to have the call number and location appear when results have been filtered to a

[2015-12-16 23:05] theLinkResolver opened #831 "get it button/link to full text from articles results list view"
Suggestion from training session. Almost the same as #601

Could there be a link to the full text, or to the Get It window, that would appear in the results list for articles & more.

[2015-12-16 23:16] linds37 commented on #763
Yes, this is working fine

[2015-12-16 23:16] linds37 commented on #763
closing issue..

[2015-12-16 23:16] #763 closed

[2015-12-16 23:16] theLinkResolver opened #832 "named collection as a facet/filter"
Based on some discussion at training session.

The idea is to add named collections as a filter. Right now, these are represented by strings of local note text, e.g. University of Alberta copy in the Sarjeant History of Science Collection. The current way of searching for a collection is to identify and search for that phrase in the catalogue, which of course you can do in Blacklight already. The

[2015-12-16 23:17] linds37 commented on #791
Yes, looks great!

[2015-12-16 23:17] #791 closed

[2015-12-16 23:17] theLinkResolver opened #833 "spelling error on website for international initiatives"
![sp](https://cloud.githubusercontent.com/assets/14913579/11856790/7bdf257a-a410-11e5-8236-9c9a073a35bc.jpg)

[2015-12-16 23:22] theLinkResolver opened #834 "filtering/identifying locations within libraries"
Suggestion from training session.

There was an enquiry about filtering for collections/locations within a certain branch, such as HSS Music, Sci/tech Polar, Education Curriculum.

[2015-12-16 23:34] sjshores commented on #832
Interesting idea, especially since we've had a number of questions from
keen users about searching for these collections.

Sandra

On 16 December 2015 at 18:27, Scott Davies <notifications@github.com> wrote:

[2015-12-16 23:35] theLinkResolver commented on #834
Or I guess, filtering for these alongside the existing library locations.

[2015-12-16 23:38] seanluyk commented on #834
I like this idea, but wonder how useful it would be considering the many shelving locations that reflect circ rules instead of actual locations (e.g. no loan).

Perhaps there are some locations that we would want to turn this feature on for, but not others.

[2015-12-17 15:41] redlibrarian commented on #832
We'd need to do a little processing of the 590 field, but I think this is a good idea.

[2015-12-17 17:28] theLinkResolver commented on #830
Thinking about this more.. I should acknowledge that the concept works nicely for most monographs but there are complications for multi-volume sets and serials (due to potentially long lists of items; there could be a need to limit the number of items that would be displayed).

[2015-12-17 17:54] scastell commented on #538
am opening as I've come across a few records that include the following note

No University of Alberta Access. On-campus access allowed at the following locations:

but then don't include the locations

see
https://search.library.ualberta.ca/catalog/6763785
https://search.library.ualberta.ca/catalog/6517896
https://search.library.ualberta.ca/catalog/6714214
as examples

There are a number of relat

[2015-12-17 17:57] redlibrarian commented on #538
@merisjames None of these resources are still in the catalogue, so there are no holdings. These (deleted) records should be automatically removed from the Blacklight index, but we don't have that going yet...

[2015-12-17 18:07] scastell commented on #538
the first 2 still appear to be in the catalogue, you're right @redlibrarian the 3rd one is gone

http://www.library.ualberta.ca/permalink/opac/7234968/WUAARCHIVE

http://www.library.ualberta.ca/permalink/opac/7221955/WUAARCHIVE

[2015-12-17 18:11] redlibrarian commented on #538
@scastell Interestingly, those are the same titles, but not the same records (you can tell by comparing the IDs in the four URLs). The records that the Blacklight URLs refer to are all gone from Symphony, but it looks like the titles are there under new IDs. This too should be rectified when we have our reindexing going nightly.

[2015-12-17 18:15] theLinkResolver opened #835 "database not in results"
Looking for this one:
https://web.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=4251

https://search.library.ualberta.ca/databases?utf8=%3F&q=Monthly+Catalog+of+US+Government+Publications

[2015-12-17 18:16] theLinkResolver commented on #835
oops, see edit

[2015-12-17 18:16] scastell commented on #538
aha, I finally get it. Thanks. Closing.

[2015-12-17 18:16] #538 closed

[2015-12-17 18:19] redlibrarian commented on #835
This database has no assigned subjects. The acquisitions team will be adding default subjects to newly licensed databases, but someone will need to go through the existing ones to assign subject. @kgood Is this something April & Sam C were going to do?

[2015-12-17 19:05] theLinkResolver opened #836 "grid view aesthetics"
I personally really like the look of the Books, media & more box, with the year, format, online qualifier and author in a smaller font and variations of bold/regular text. The Articles & more box uses a larger font and parentheses for the format info instead. The Journals box includes the print/online qualifier as part of the green linked text.

So, three different looks in the three different box

[2015-12-17 20:44] seanluyk commented on #836
I agree - consistency is best, and the most aesthetically pleasing box is books, media and more.

[2015-12-17 21:40] redlibrarian opened #837 "Change journal link on the main page"
Link is: https://search.library.ualberta.ca/catalog?f%5Bsource%5D%5B%5D=SFX

Change label to "Journals" (not Journals A-Z)

Remove A-Z from Databases as well.

Fix journal search in A-Z page (in case we need to bring it back).

[2015-12-17 21:47] #837 closed

[2015-12-17 22:21] redlibrarian commented on #728
Done. Check in next release.

[2015-12-17 22:21] redlibrarian commented on #754
Done. Check in next release.

[2015-12-18 16:56] redlibrarian commented on #833
Fixed.

[2015-12-18 16:56] #833 closed

[2015-12-18 17:05] theLinkResolver commented on #824
@redlibrarian Can you check these in dev, too? These are some of the longest records I can think of at the moment:

https://search.library.ualberta.ca/catalog/815666
https://search.library.ualberta.ca/catalog/554236

[2015-12-18 17:11] redlibrarian commented on #824
OK, thanks for those. The first one loaded fine in dev, but the second one (Paper-) did not, so I've raised the timeout until it loads. This won't be in production today, but will be when we go live in January.

[2015-12-18 18:56] theLinkResolver commented on #827
From the data/cataloguing side, I can also point out that most, but not all, author information is part of the record display. The two pieces of the puzzle that are missing are:

1. Statement of responsibility information (for those used to thinking about MARC records, this is the text appearing after the slash (in $c) in the 245 field).
---The information here is quite important, and addresses so

[2015-12-18 19:03] redlibrarian commented on #542
@theLinkResolver @scastell @hannepearce This should be fixed now.

[2015-12-18 19:04] redlibrarian commented on #728
@gooyers This is in place now.

[2015-12-18 19:04] redlibrarian commented on #754
@linds37 This is live now.

[2015-12-18 19:05] theLinkResolver commented on #824
@redlibrarian Seeing these results in production, now. I will leave this open for the sake of testing the final example in January.

[2015-12-18 19:07] redlibrarian commented on #824
@theLinkResolver I'd like to either close this or move it to the v.3.0.0 milestone - I think all but the last example now loads the holdings table.

[2015-12-18 19:07] theLinkResolver commented on #825
Looks good for all examples.

[2015-12-18 19:07] #825 closed

[2015-12-18 19:08] redlibrarian opened #838 "Multiple U of A 856 links"
This record: https://search.library.ualberta.ca/catalog/815666

has multiple 856 links. The good news is that all the links are presented as per the existing logic. The bad news is I think is is pretty ugly and not user-friendly. @theLinkResolver @sjshores Is this proper cataloguing procedure (I assume so)? We should discuss in the new year what we want to do to make records like this easier to us

[2015-12-18 19:08] theLinkResolver commented on #691
See also Sandra's notes in #822 (logging here as I am closing that issue)

[2015-12-18 19:08] hannepearce commented on #542
Fixed! closing

[2015-12-18 19:08] #542 closed

[2015-12-18 19:09] theLinkResolver commented on #822
Summary holdings are suppressed again. I've cross-referenced @scastell's remarks in #691 for future reference, so I can close this issue.

[2015-12-18 19:09] #822 closed

[2015-12-18 19:10] redlibrarian commented on #838
Weirdly, I don't see any "internet" items for U of A (just Red Deer)...

[2015-12-18 19:11] redlibrarian commented on #824
... moving it to January's milestone to check.

[2015-12-18 19:13] #728 closed

[2015-12-18 19:13] #754 closed

[2015-12-18 19:31] theLinkResolver commented on #838
This is a notorious record in these circles... There are a couple of things at play here. The record cited above has had the UA internet holdings moved to an e-record. I've now arranged for the RDC holdings to be relocated to the e-record, so let's point to that one for the rest of the discussion:

https://search.library.ualberta.ca/catalog/6845417

The cataloguing treatment of these links is gene

[2015-12-18 19:34] linds37 commented on #754
Hi. Can you please change it to say "Ask Us" instead of "Chat with Us" on the link?
Thanks for changing the link destination.

[2015-12-18 19:36] redlibrarian commented on #754
Yes, but it won't be visible until we go live in January, most likely.

[2015-12-18 19:37] linds37 commented on #754
ok. Thanks!

[2015-12-18 19:50] redlibrarian commented on #838
@theLinkResolver OK, fair enough. Thanks for the explanation. Let's talk about it more in the new term.

[2015-12-18 19:52] theLinkResolver opened #839 "display edition in grid and/or list views?"
I think this was alluded to in a training session last week, in relation to the discussion of this title: https://search.library.ualberta.ca/results?q=canadian+fundamentals+nursing

Edition could be a desirable piece of info to display in the grid and/or list view (if it can be done without making things cluttered - there is a tipping point..). Users might know the edition but not the publication

[2015-12-18 20:09] hannepearce commented on #839
I think Edition needs to be pretty prominent. Could it not be put beside the title?

[2015-12-18 20:29] redlibrarian commented on #835
@theLinkResolver As per Ernie's email just now, CDC has decided to purge the free databases from libguides. I believe the free databases have not been assigned a subject, as we knew they were going to be purged. So this record will disappear with the purge. Worth checking in January after that has been done.

[2015-12-18 20:59] theLinkResolver commented on #835
@redlibrarian This one (Monthly Catalog of US Government Publications) is licensed, as opposed to the other one (Catalog of U.S. Government Publications), so it should remain in the list. agreed @merisjames ? Just needs a subject assigned?

[2015-12-18 21:04] redlibrarian commented on #835
@theLinkResolver @merisjames Any librarian can add a subject assignment in LibGuides, and this will cause the database to be indexed in Blacklight. If a database has no subject after the free resources have been removed from LibGuides, someone in ITS will add a general subject so the database gets indexed.

[2015-12-18 21:36] theLinkResolver commented on #784
(I see that these are all now displaying as "Untitled document" as promised, and the unretrievable record is now retrievable.)

[2015-12-18 21:52] theLinkResolver commented on #747
@linds37 I added CPS as a 730 to the database *catalogue* record, which has the effect of getting that record in the search results for "cps". That said, the database records from LibGuides are going to be the preferred access point for databases, and that's really the focus of this thread. But I wanted to acknowledge that I added it to the record as you suggested!

(I'm not sure what will ultimat

[2015-12-18 22:21] merisjames commented on #835
I'm pretty sure there was a "Government Information" subject, but there isn't any more... Although there is a "Information Gouvernementale" subject.

[2015-12-18 23:22] redlibrarian commented on #835
@merisjames @theLinkResolver A few months ago a group met (collections and a public service manager (Angie), along with ITS) and decided that database *content* would primarily reside with public services to manage. I don't know how that's going to play out in practice - @linds37 this might be a question for PSC.

[2015-12-19 15:15] sjshores commented on #747
Yes, Scott, we'll need to review the additional value that catalogue
records bring to the retrieval of databases and figure out the best way to
move forward.

Sandra

On 18 December 2015 at 14:52, Scott Davies <notifications@github.com> wrote:

[2015-12-21 05:53] redlibrarian opened #840 "Email me this item doesn't work on mobile"
Gives error "you must enter a valid email address" even when valid address entered.

[2015-12-21 14:59] merisjames commented on #840
It worked for me. Does your phone autocomplete your email with a space at the end? Mine does, and I have to delete it to be valid.

[2015-12-21 15:23] redlibrarian commented on #840
@merisjames That's awesome, thanks! I hadn't noticed my phone was doing that, and that is indeed the problem. I didn't know where I was going to start troubleshooting the problem, but I think you've figured it out. That's great!

[2015-12-21 18:08] theLinkResolver opened #841 "SFX journal not in results"
Northwest journal of communication - object ID 3280000000000049

@redlibrarian I'm just seeing the Symphony record.

[2015-12-21 18:09] theLinkResolver commented on #841
scratch that

[2015-12-21 18:09] #841 closed

[2015-12-22 22:19] seanluyk opened #842 "Wording on Explore our New Search page"
I really like the explanatory text on the [Explore our New Search page](https://search.library.ualberta.ca/search), and I have a few recommendations for rewording:

1. select your preferred view <del>into</del> **from** your initial search results
-I still find this wording a bit clunky

2.  <del>review</del> improved relevancy ranking of search results
-I think this is just fine without the word

[2015-12-22 22:27] merisjames commented on #842
"Copy the URL from your browser bar to make a link to resources and searches"?

[2015-12-22 22:43] seanluyk commented on #842
I like that @merisjames

[2015-12-23 22:12] theLinkResolver commented on #823
@redlibrarian  This is broken again.

[2015-12-23 22:12] theLinkResolver commented on #823
(all pre-filtered journal searches return an error)

[2015-12-23 22:14] redlibrarian commented on #823
@theLinkResolver I fixed it again. I think the reason this problem keeps coming back is miscommunication on our end...

[2015-12-23 22:14] redlibrarian commented on #823
@theLinkResolver Can you confirm it's working and close ticket if it is? Thanks.

[2015-12-23 22:18] theLinkResolver commented on #823
Fixed.

[2015-12-23 22:18] #823 closed

[2015-12-24 17:41] seanluyk opened #843 "Make place of publication precede publisher in published field"
We have 260 $a and $b reversed in Blacklight. To be consistent with the major citation styles, place of publication should precede publisher, and this will make cutting + pasting that much easier :)

[2015-12-24 18:17] seanluyk opened #844 "Improve display of contents notes"
One area that I've felt has not been improved in Blacklight compared to iLink is how contents notes are displayed. The running list separated by -- continues to be challenging to read.

Compare [one of our records](https://search.library.ualberta.ca/catalog/3730617) with [one from Stanford](https://searchworks.stanford.edu/view/5756807) as a possible model. I like how each item is easy to read, an

[2016-01-04 14:33] merisjames opened #845 "Missing Files"
All the supplementary materials links at https://www.library.ualberta.ca/tutorials/law/supplementary are dead.

[2016-01-04 15:03] redlibrarian commented on #845
@kgood

[2016-01-04 16:12] alfodor commented on #845
This is fixed.

[2016-01-04 16:59] redlibrarian opened #846 "Location bug?"
Searched for lb2367.4 g74 in both the Classic catalogue (http://www.library.ualberta.ca/permalink/opac/6069333/WUAARCHIVE) and Blacklight (https://search.library.ualberta.ca/catalog/5265994):
Blacklight only shows for one copy MacEwan but not the Coutts
Classic shows for both MacEwan and Coutts copies

[2016-01-04 17:00] #816 closed

[2016-01-04 17:01] redlibrarian opened #847 "RefWorks export still a problem?"
There might be a problem in that titles do not seem to be going through.

Try exporting this record:

https://search.library.ualberta.ca/catalog/1417780

[2016-01-04 17:09] merisjames commented on #847
Seems to be an issue with non-Roman characters? I tried a few other titles with other characters, and none worked, while strictly Roman character titles seem fine.

[2016-01-04 19:10] theLinkResolver commented on #843
@redlibrarian token reminder that any changes applied to data from 260 would need to be applied to data from the 264. :)

[2016-01-04 19:15] theLinkResolver commented on #844
@seanluyk good find - I like the way they did that.

I will also add the comment (borrowed from someone else, I think) that partial display of "long" note fields, with a "more" button to reveal all the text, could be a consideration as the appearance of Blacklight records evolves.

[2016-01-04 19:43] theLinkResolver commented on #846
@redlibrarian That particular call number search should return two records. The one that isn't being returned in Blacklight is 6069333. Are all the 090s being indexed or just the first one? (In this record, the matching 090 [MacEwan's - with no space after LB] is the second one.)

[2016-01-04 19:52] redlibrarian commented on #846
@theLinkResolver Ah. I was misunderstanding the problem. I'll have to investigate further.

[2016-01-04 20:13] theLinkResolver commented on #824
@redlibrarian The items table is there now, but it seems to be incomplete. There are 1,996 entries, but I believe there should be 3,452.

On further inspection, the items list is incomplete in the classic catalogue, too. So there's that...

[2016-01-04 21:11] merisjames opened #848 "No Gov Info Librarian"
There's no entry for a government information librarian on the new Subject Librarians page https://www.library.ualberta.ca/about-us/staff/subject-librarians

Was this intentional? If not, I think the entry should be at the bottom with the other interdisciplinary collections.

[2016-01-04 21:40] alfodor commented on #848
It has been added. (Probably just a copy error first time around).

[2016-01-04 23:47] scastell opened #849 "symphony, sfx e-journal records, deduplicating and prompting for ccid / pw"
related issue: Exclude Symphony e-journal records from Journals pane. #682

The below is as a result of an question from a patron who was trying to access an online journal (Harvard Business Review) from a computer on the university network. The patron is a NRC employee working out of the National Institute for Nanotechnology,  he does not have a ccid / pw. He has historically been able to access

[2016-01-05 16:17] seanluyk opened #850 "Kanopy does not appear in search results for databases"
Just noticed this helping a patron:

1. Search for Kanopy in databases

No results are returned.

[2016-01-05 19:13] redlibrarian commented on #850
Hm. Kanopy comes through when I index the databases on my workstation, but it's not coming through in production. There might be a problem with the updates...

[2016-01-06 16:52] redlibrarian opened #851 "Database and Journal ingest don't handle deletes..."

[2016-01-06 20:57] alfodor commented on #842
These changes gave been made.

[2016-01-06 22:27] psue commented on #842
oh ya larry mentioned the maps that gale scanned - nothing's ever come from
it. but there's no point in following up and demanding teh files from them
because we have nowhere to put them!
drives me crazy that there is nothing done and sewn up!

On Wed, Jan 6, 2016 at 1:57 PM, alfodor <notifications@github.com> wrote:

[2016-01-06 23:48] seanluyk commented on #842
Thanks, @alfodor. Closing issue.

[2016-01-06 23:48] #842 closed

[2016-01-07 16:45] redlibrarian commented on #847
Yes, it's a problem with the way RefWorks handles UTF-8 and https.

https://github.com/projectblacklight/blacklight/issues/245

I'm inclined to wait until RefWorks 3 comes out to see if that fixes the problem, rather than try to hack Blacklight to fix it ourselves.

[2016-01-07 17:13] redlibrarian commented on #851
Best thing is probably to add a "delete databases" and "delete SFX records" step to each of these ingest procedures...

[2016-01-07 17:17] redlibrarian opened #852 "Integrating research starters"
Research Starters
Here is the information on retrieving Research Starters from the API: http://edswiki.ebscohost.com/API_Reference_Guide:_Research_Starters_-_Info_and_Search

[2016-01-07 19:24] redlibrarian opened #853 "Broken link"
https://www.library.ualberta.ca/aboutus/coutts/

@kgood I'm not sure where this is linked from.

[2016-01-07 19:28] theLinkResolver commented on #834
Been thinking more about this one and want to log some thoughts. I would disregard my earlier comment about trying to mix them in with the Library filters -- having a separate filter for them makes more sense. However.... by my count, there are around 55 valid UAL shelving locations (!), with many more possibilities throughout NEOS.

It would be interesting to see if mapping all the UAL ones would

[2016-01-07 23:52] seanluyk commented on #834
Being able to filter by specific music locations (especially music mini vs. music vs. music os) would be really helpful. I'd worry about putting too much work into adding this functionality given that I've already "killed" 3 shelving locations in music since starting here, so it's possibly others will disappear (e.g. music mini, music reference) in the near future.

[2016-01-08 19:54] fculpepper opened #854 "Call number search working?"
When I search for KF 2925 S27 2011 I get [2 results] (https://www.library.ualberta.ca/results?q=KF+2925+S27+2011). The first one is the right book, wrong year, the second is just the wrong book. The same search in NEOS brings up [the correct record] (http://www.library.ualberta.ca/permalink/opac/4844347/WUAARCHIVE), so it's there, just not coming up in my search.

[2016-01-08 19:58] merisjames commented on #854
I wonder if that has something to do with getting a "something went wrong" when trying to view the actual book you want... https://www.library.ualberta.ca/catalog/4844347 Something funky with the record?

[2016-01-08 20:05] fculpepper commented on #854
Oh drat. No that was me trying to link to my search, I assumed the address
bar would permalink to it. I just searched the call #, kf 2925 s27 2011, in
the main search and got the two results.

On Fri, Jan 8, 2016 at 12:58 PM, merisjames <notifications@github.com>
wrote:

[2016-01-08 20:06] merisjames commented on #854
No, not at all, your link was fine! I followed it, then looked at other books by the author. The dead link is the one for the 2011 book, which I assume is the one you were expected to see in your results?

[2016-01-08 20:25] fculpepper commented on #854
Oh gotcha! Yep, we were looking for the 2011 edition. So not a call number
search issue but a no-show item issue. Thanks!

On Fri, Jan 8, 2016 at 1:06 PM, merisjames <notifications@github.com> wrote:

[2016-01-08 20:30] theLinkResolver commented on #854
Re. the two results you do get, I wonder if these are coming back because most of the search terms (i.e. bits of the call number) match. (Which suggests, in this relevance-based system, that using quotes around call numbers might be a necessary step when looking up a known call number.)

However, the non-retrieval is concerning. The search should also retrieve this record - https://www.library.ual

[2016-01-08 20:36] theLinkResolver commented on #854
for 3973940, the first-listed call number (090) field in the record is for C-FER, just to clarify what the heck I'm talking about in my previous comment.

As is the case in the Classic Catalogue, keyword searching for a call number is looking at the call numbers listed in the bib record, rather than the call numbers in the items. Hence the need to make sure all the 090 fields are indexed, as there

[2016-01-08 21:05] scastell opened #855 "items purchased through the textbook initiative (reserve) - publication year not displaying"
Searching for Financial accounting: tools for business decision-making 2013 edition

https://www.library.ualberta.ca/symphony?q=Financial%20accounting:%20tools%20for%20business%20decision-making

it is actually the 4th item in the list but not immediately apparent as the publication year doesn't display. Limiting by publication year doesn't work as the system can't find the data.

Another example

[2016-01-08 21:09] merisjames commented on #855
This is the same issue we had during training yesterday, I think... Items we were expecting were not coming up when limiting or sorting by year, because there was "no year" on the record. I don't think we had a solution at the time, but this is starting to seem like a larger issue than just the one search we were playing with.

[2016-01-08 22:09] theLinkResolver commented on #855
@redlibrarian The first problem above is because this is an RDA record with the pub date in the 264 field. same as issue #746.

And to echo @merisjames, we are starting to see how "no year" manifests when sorting..

The second problem is because all the 090s need to be indexed - the U of A call number is the second one in the record. same as issue #854

[2016-01-12 17:55] theLinkResolver opened #856 "word wrap problem for filters list in Firefox"
![line breaks](https://cloud.githubusercontent.com/assets/14913579/12271847/7ae7e570-b91a-11e5-8880-84004add01f6.jpg)

Browser window is at full width.

Chrome handles word wrap better, for the most part.

![chrome](https://cloud.githubusercontent.com/assets/14913579/12271961/feaf02bc-b91a-11e5-9482-094f8fb0d648.jpg)

[2016-01-12 18:02] theLinkResolver opened #857 "library filters ordered by item library code (not quite alphabetical)"
https://www.library.ualberta.ca/symphony?q=

MacEwan comes before Keyano, presumably because the list is sorting by the item codes (e.g. GR_MACEWAN). There are a few other examples in the list for AHS, U of A, Concordia, etc.

[2016-01-12 18:12] theLinkResolver opened #858 "filters - different display behaviour between basic & advanced"
In a basic search filtered to Lakeland Vermilion, note the way the active filter is displayed:
![ll basic](https://cloud.githubusercontent.com/assets/14913579/12272336/38943806-b91d-11e5-8826-896ffb2117a6.jpg)

Here's the same active filter as displayed in an advanced search (at the top of the library filters list):
![ll adv](https://cloud.githubusercontent.com/assets/14913579/12272339/3e028e50-b9

[2016-01-12 18:26] theLinkResolver opened #859 "two entries for Burman in library filters list / CUC problem"
https://www.library.ualberta.ca/symphony?f[location_tesim][]=cuc&q=

The above results are for the location code CUC, which was for Canadian University College. The name changed last summer and the location no longer exists in Sirsi, but the location is still somehow attached to these records.

[2016-01-12 18:37] merisjames commented on #859
Even stranger, from that list, the following items only show UofA locations, yet came up under that (outdated) location code. Could this be an indicator that something's going awry with location codes more generally?
https://www.library.ualberta.ca/catalog/1006496
https://www.library.ualberta.ca/catalog/100298
https://www.library.ualberta.ca/catalog/1000340
https://www.library.ualberta.ca/catalog/

[2016-01-12 19:35] redlibrarian commented on #844
OK, this should be doable. We'll just need to split our contents string on the double dash and present as a list...

[2016-01-12 19:36] #845 closed

[2016-01-12 19:37] #848 closed

[2016-01-12 19:41] redlibrarian commented on #849
We'll need to discuss this further to see whether or not we're deduplicating or merging records. @theLinkResolver @sjshores should we set up a meeting to have a preliminary chat about what this might entail?

[2016-01-12 19:42] redlibrarian commented on #850
So updates are working (though deletes are not - that's something I have to fix), so I'm not sure why this isn't coming through....

[2016-01-12 19:48] redlibrarian commented on #854
@theLinkResolver Are the 090 call numbers correct? I thought one of the reasons we don't use them for display is that they could differ from what we actually have on the items. It should be possible to index all the 090s (Blacklight is probably assuming only 1 per record), but if it would be better to index the *item* call numbers, then we'll need to discuss that (as we currently don't index item

[2016-01-12 19:49] redlibrarian commented on #855
OK. well we'll see how this one shakes out when we've indexed all the call numbers and the dates from 264.

[2016-01-12 19:49] redlibrarian commented on #856
@nnunn Do you have any thoughts about this? Is this a Bootstrap thing?

[2016-01-12 19:57] theLinkResolver commented on #854
@redlibrarian Good to clarify. The 090s do match the items. It's the 050s that don't, but are used for the call number facet.

[2016-01-12 19:59] redlibrarian commented on #857
Since only the codes are present in the data, can currently only sort by those (the actual library *name* is dynamically mapped in the UI). I can probably fix this by creating a new MARC mapping file in the application...

[2016-01-12 20:01] redlibrarian commented on #854
@theLinkResolver OK, thanks - that's great. I should be able to index multiple 090s pretty easily.

[2016-01-12 20:07] fculpepper opened #860 "Something has gone wrong error"
This item, [Canadian professional engineering and geoscience: practice and ethics] (http://www.library.ualberta.ca/permalink/opac/6356560/WUAARCHIVE) is not displaying in the new discovery [https://www.library.ualberta.ca/catalog/6356560] (https://www.library.ualberta.ca/catalog/6356560)

[2016-01-12 20:07] redlibrarian commented on #859
This might be clearer if we stop using the codes and start using just the library names... See #857 .

[2016-01-12 20:08] redlibrarian commented on #850
@seanluyk We've done a reindex and Kanopy is appearing now in test. This should be in production tomorrow or Thursday.

[2016-01-12 20:25] redlibrarian opened #861 "Speed loading records with large numbers of items in results view"
This is related to the old problem we had where records with many holdings were slow to load in record view. This (hopefully) just requires some code optimization, but if that doesn't help we might need to look at how we're looking up locations.

[2016-01-12 20:26] redlibrarian commented on #861
A good example of this is a journal search for "Nature", where many of the results have large numbers of holdings.

[2016-01-12 20:36] sjshores commented on #849
Yes, let's get going on that conversation and mapping out what would be
ideal.  Do you mind checking calendars and sending an invitation?

Thanks!

On 12 January 2016 at 12:41, redlibrarian <notifications@github.com> wrote:

[2016-01-12 22:57] theLinkResolver opened #862 "advanced search vs. basic search"
Concerns around the differences between the basic and advanced search were raised a few times during training sessions. I will try to capture what I've been hearing (concerns/suggestions) to get the discussion going.
- As we know, from the grid view, clicking 'view results as a list' removes all the articles & more results. (Should we take this option away from the grid view?)
- Can we find a bett

[2016-01-12 23:08] theLinkResolver opened #863 "word stemming, spelling variations, spelling errors, autocomplete"
I am going to combine these questions into one issue, as they are somewhat related. These are questions arising from training sessions.

- People would like to know a bit more about how the word stemming works. I think @redlibrarian said there is a thesaurus module that is used. Can we see what's in it? Is there any variation between how it's applied to the local results vs. EDS? Does it look at r

[2016-01-12 23:23] theLinkResolver opened #864 "add clarity to subject search feature"
Suggestion from training session. The idea is to help users understand what they are doing when they click on the subject headings.

- One idea is to present the subject headings as a hierarchy, with text indented on separate lines, although I think this could get ugly when there are more than two subject headings (quite common).

- Another idea is to have a hover box/tooltip that tells you what i

[2016-01-12 23:32] theLinkResolver opened #865 "selecting facets within articles & more"
From training session.

In Articles & more, when you click on a filter, the browser starts loading the result set but it's not obvious, and users may continue clicking other facets, which will ultimately lead to only the last 'click' being applied as a filter.

By comparison, in EDS, when you click on a filter, the screen goes grey while it loads the filtered result set.

Related to this, a couple

[2016-01-12 23:36] redlibrarian commented on #864
This is one of those areas where I'd rather users spoke for themselves. If this doesn't present itself as a problem either on the desk/in the helpdesk or in usability testing, I think it would be better to leave it be. With regard to the hierarchical display suggestion: it's bad practice to put line breaks in the middle of a hyperlink, though I suppose we could make each line a separate hyperlink

[2016-01-12 23:36] theLinkResolver commented on #861
Related to slowness, it must be acknowledged that it comes up a lot in the training sessions. If we are stuck with a bit of slowness come launch time, is there something that could be done, design-wise, that makes waiting easier to stomach? A progress bar (counting up the number of hits)? A greyed-out screen with the word "Loading"?

[2016-01-13 19:12] theLinkResolver commented on #864
@redlibrarian @gooyers The idea of "find more like this" is a key one, and it would be great to see what happens in future usability testing. e.g. "You have found an excellent book on your topic [link to it] and you want to find others like it."

1. Do users use the subject headings to accomplish this task? (tests the wording, layout, and understanding of the idea of subject headings)
2. If so, do

[2016-01-13 20:36] redlibrarian commented on #864
One thing that came up when I was discussing this topic with @psue is that Cornell, where we got the idea for the subject string display/design highlights *all* previous terms in the heading when you click on a particular term, making it clearer to see that your click encompasses all highlighted terms. We aren't doing that, so perhaps it looks as if a click only uses the term actually clicked on.

[2016-01-13 20:40] redlibrarian commented on #864
@theLinkResolver @gooyers WRT the "find more like this" functionality, subject headings and other access points (combined with authority records) are how we've traditionally done this. As opposed to systems like bibliocommons which use other methods to determine "more like this-ness", we're still constrained to using our bibliographic data (as opposed to, say, our circulation data) to accomplish t

[2016-01-13 20:40] merisjames commented on #864
I really like how Cornell adds the underline to the earlier subject
segments. It's a minor change, visually, but I think it makes a major
impact, conceptually.

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Wed, Jan 13, 2016 at 1:36 PM, redlibrarian <notifications@github.com>
wrote:

[2016-01-13 20:41] redlibrarian commented on #864
:+1:

[2016-01-13 21:17] merisjames opened #866 "Accents"
Passed on from Denis...
It seems the database treats accented letters differently from non-accented ones. For example, if you search for "editions du ble" you will find 4 titles whereas if you add the accent on the two 'e's, as in "éditions du blé", you will get 170 results. I think it is preferable not to oblige users to include accents. Thank you for sending this along to those still working on

[2016-01-13 21:28] theLinkResolver opened #867 "add institution-level library filter"
This was a popular one from the training sessions. People would like to have the option of doing their library limiting at the institution level (in addition to the branch level). @redlibrarian Is there anything that comes through in the item-level data that identifies the institution?

![neos institutions](https://cloud.githubusercontent.com/assets/14913579/12308296/c164df66-ba01-11e5-94d9-403e70

[2016-01-13 21:40] merisjames opened #868 "Holds"
When placing holds: “Hello Name” so that people realize they are logged in/can recognize if someone else is logged in without inadvertently putting a hold in someone else’s name.

[2016-01-13 21:40] merisjames opened #869 "Limit/Delimiting Search"
If you prelimit a search to, for example, “books and more”, it would be nice to be able to  “delimit” the same search without having to return to the search home and rerunning the search.

[2016-01-13 21:41] merisjames opened #870 "How does stemming work, exactly?"
Lots of questions in training sessions!

[2016-01-13 21:41] merisjames opened #871 "Publication Year Filter"
Publication year filter: the displayed years change when you interact with it.
Initial options were 1997 - 2014: Interacting with slider etc changed these to 1998 - 2015

[2016-01-13 21:42] merisjames opened #872 "Search Terms v Locations"
Odd things happen in searches that contain terms included in location names. Certainly it’s not returning *everything* with location “University of Alberta Internet” or “University of Alberta BARD” but hits are definitely coming back for “Alberta History French” where that’s the only incidence of Alberta visible or likely. Is the location field being searched? This is very problematic for searches

[2016-01-13 21:42] redlibrarian commented on #866
Hm. Standard Solr behaviour is not to care about accents, and databases aren't indexed differently than anything else. I'll have to look into this.

[2016-01-13 21:42] merisjames opened #873 "Advanced Search Behaviour"
In the Advanced search (field search), does it exclusively search the  specified field, or does it simply privilege the specified field?

[2016-01-13 21:42] merisjames opened #874 "Alberta Innovates"
The location Alberta Innovates Technology Futures CFer is not showing up properly on the list of limiters for the Advanced Search, or in the results list for locations (big long html string shows).

[2016-01-13 21:43] merisjames opened #875 "Database Subject Terms"
The high number of subject terms that have been assigned to some of the databases in Libguides is causing false hits. Should they mirror the subject terms that are assigned in catalogue records? Needs to be a focussed discussion/analysis on how everything is working with the new approach to databases.

[2016-01-13 21:46] redlibrarian commented on #867
@theLinkResolver AFAIK there is no institution level information in either bib or item records. It would be possible to create a custom facet that would handle this, but this will need a bit of programming.

[2016-01-13 21:48] redlibrarian commented on #868
@jhennig @kgood

[2016-01-13 21:49] redlibrarian commented on #870
I'm going to close this, as it's included in #863.

[2016-01-13 21:49] #870 closed

[2016-01-13 21:49] redlibrarian commented on #871
@merisjames Any interaction? Or a specific interaction?

[2016-01-13 21:51] redlibrarian commented on #873
@merisjames it searches a combination of fields that pertain to that access point (e.g. for a title search, title, subtitle, etc). I believe it *only* searches those fields, but I can check.

[2016-01-13 21:54] redlibrarian commented on #875
@merisjames This is a question primarily for public services librarians/staff who are responsible for databases. However, I'm not sure that this has been communicated to public services staff particularly. @sjshores @linds37 thoughts?

[2016-01-13 21:54] merisjames commented on #871
It's done it every time I've demoed the feature in training. It isn't
always both the high and low end that change... Sometimes it's only one.
But...
Search for metis, enter books and more.
Starting age range: 1870-2014
Click on "bottom" blue slider: 1872-2015
Refresh.
Click on "top" blue slider: 1870-2015

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

[2016-01-13 21:54] redlibrarian commented on #863
This is a complicated, deep topic. I'll write something up that addresses these issues...

[2016-01-13 21:55] redlibrarian commented on #871
OK, thanks. I'll look into it.

[2016-01-13 21:58] theLinkResolver commented on #867
@redlibrarian Yeah, I couldn't imagine what would possibly be there for you to work with in the item data. Theoretically, the location codes coming from the 090 (call number) in the bib record are at the institution-level, but in practice, those would be awful to work with. Item records are much more precise and manageable, and you are already having to keep track of locations for the library bran

[2016-01-13 22:08] redlibrarian commented on #867
@theLinkResolver We'll have to look into it. We aren't indexing item level information. What about the current **Library** filter locations? If those accurately describe the owning library, we can have solr dynamically create a facet based on those values. For example "University of Alberta Rutherford" and "University of Alberta Cameron" would both map to the same "University of Alberta" facet val

[2016-01-13 22:10] sjshores commented on #867
How about mapping the numeric library values from the MARC 596 tag to
institutional facets?

On 13 January 2016 at 15:08, redlibrarian <notifications@github.com> wrote:

[2016-01-13 22:12] theLinkResolver commented on #867
@redlibrarian that makes sense. That's the way the names are constructed, as they should be, so you could use that.

This was a very popular suggestion indeed.

[2016-01-13 22:14] redlibrarian commented on #867
@theLinkResolver @sjshores Any preference for the current mappings vs. the 596 field? I just looked at http://www.library.ualberta.ca/permalink/opac/559133/WUAARCHIVE and the 596 contains "21 43 52", but there are four items listed (Concordia, King's, Lakeland, and UA).

[2016-01-13 22:25] sjshores commented on #867
So, Scott noted that the missing 596 value was for the King's copy.  He and
I just read the help information, and confirmed that the system creates the
596 numbers, and does so in the overnight adutext process that adds,
updates and deletes bibliographic data and indexing based on the day's
work.  I have no idea how you stumbled upon this particular record, Sam,
but this King's item was created to

[2016-01-13 22:28] redlibrarian commented on #867
@sjshores Oh, ha! That explains why it was first in my standard "shakespeare" search. So it sounds like the 596 and the current mappings would both work for the labeling. @theLinkResolver does it matter which one we use?

[2016-01-13 22:33] theLinkResolver commented on #867
@redlibrarian I don't believe it would... The 596 values are numeric, so probably a bit easier to work with than text. There's just the overnight update issue, but I think that's also the case with the current mappings --

e.g. If you take
https://www.library.ualberta.ca/symphony?q=William%20Shakespeare,%20a%20textual%20companion
and limit to King's, the first (desired) title disappears. But I pre

[2016-01-14 01:20] linds37 commented on #875
I agree with Meris that it's an issue. Is this something that can be looked at by a cataloguer?

[2016-01-14 01:35] redlibrarian commented on #875
My understanding was that since databases were now being managed within LibGuides, initial subject assignment would be done by acquisitions, and more precise subjects would be assigned by subject librarians. @sjshores this came out of the database meetings we had with Denise, Ernie, Angie, and a few others, as far as I remember.

[2016-01-14 18:22] linds37 opened #876 "Searching with accented letters issue"
I may have found another glitch in Blacklight. It seems the database treats accented letters differently from non-accented ones. For example, if you search for "editions du ble" you will find 4 titles whereas if you add the accent on the two 'e's, as in "éditions du blé", you will get 170 results. I think it is preferable not to oblige users to include accents. Thank you for sending this along to

[2016-01-14 18:27] redlibrarian commented on #863
@ualbertalib/discovery-testing I've written a document addressing these issues and sent it out to the group. @theLinkResolver when you say "people would like to know" are you referring to the Testing and Training group, or library staff? If library staff, one thing to think about is whether it would be worth releasing the Language Analysis document to them. Or would something like a brown-bag cove

[2016-01-14 18:30] redlibrarian commented on #876
Duplicate of #866 (both reported by the same user with the same example). Closing.

[2016-01-14 18:55] theLinkResolver commented on #863
@redlibrarian Certainly some non-DTTT people have asked about it at the sessions. Most are just happy to see pluralization accounted for, and some have dug deeper and done some experimenting with other words and scenarios, with mixed results. In the training context, presenters didn't have detailed explanations (understandably so).

I like both ideas of releasing a package of documentation and a b

[2016-01-14 19:48] #876 closed

[2016-01-14 21:20] redlibrarian commented on #866
So, searching with and without diacritics seemed to only be partially working. Following this blog post,  http://yfrankfeng.blogspot.ca/2012/08/search-diacritics-in-solr.html, I modified the schema.xml to use the solr.ASCIIFoldingFilterFactory on all appropriate fields. In the symphony_test_set, before making this change I got:

étude - 56 results
etude - 50 results

After the change I get

étude

[2016-01-14 21:25] theLinkResolver opened #877 "[Discovery] some URLs don't display"
Some URLs (based on the 856 field indicators, I believe) do not display. Special Collections noted that this means that the links to finding aids are not displaying the record, for example:

https://www.library.ualberta.ca/catalog/6282297
http://www.library.ualberta.ca/permalink/opac/6282297/WUAARCHIVE

856 indicators are 42, with the 2 meaning "related resource" (i.e. a link that is not for _the_

[2016-01-14 21:42] redlibrarian commented on #877
@theLinkResolver Blacklight doesn't look at the indicators, so the presence of a label and url should be sufficient. The XML in a record that does display the link properly is the same as the XML in this record:

    <MarcEntryInfo>
    <label>Electronic access</label>
    <entryID>856</entryID>
    <indicators>40</indicators>
    <text>University of Alberta Access: 1985-</text>
    <unformattedTe

[2016-01-14 21:49] redlibrarian commented on #877
Found it. In SolrMarc, the indexer looks at the indicator to see whether the item has a URL

"if the second indicator is 0, each subfield u is added to the Solr document. if the second indicator is 2, no value is added to the Solr document. otherwise, subfields 3 and z are examined. If none of the following text is present, then subfield u is added to the Solr document" (https://code.google.com/p/

[2016-01-14 21:54] theLinkResolver opened #878 "index 919 field data"
Enhancement suggestion from Brian Stearns. Efforts are ongoing to merge e-book records from multiple vendors. In the provider-neutral "keeper" record, the 919 field is used to hold the 001/catkeys of the records that have been merged into it.

Could the contents of the 919 be indexed so records can be found that way? No need to display, just index. There can be multiple numbers in the 919 - each i

[2016-01-14 22:04] theLinkResolver commented on #877
@redlibrarian Good sleuthing and hope you can work around it..

I think we agreed that these kinds of links should *not* be recognized as electronic/online, as they don't have the word "access" - they're not links to the actual resource itself.

[2016-01-14 22:26] redlibrarian commented on #877
Ok, I chatted with @theLinkResolver - I have a basic fix which I could put in place, but it would require adding handling for all 856|3 language in Symphony, which is only more-or-less controlled. I recommend that we put this question aside until we can take a step back and think more about how we want to treat "print material with associated URLs". I recognize that we want to promote and improve

[2016-01-14 22:28] redlibrarian commented on #878
I think the "future idea" is intriguing and worth pursuing, but it sounds to be as if the initial indexing of 919 fields is aimed more at staff than at students, faculty, etc. I'm going to put this in the Phase 2 milestone. We can revisit it then.

[2016-01-14 22:28] theLinkResolver opened #879 "index awards_note_tesim (data from MARC field 586)"
BPSC is glad that we are displaying the awards note, and noted that it would be helpful if it was indexed, as some users will search for works that have won specific awards.

[2016-01-14 22:34] redlibrarian commented on #861
I'm marking this as a bug as it is impacting users in the live journal search.

[2016-01-14 22:35] theLinkResolver opened #880 "display data from 351 field (Organization and Arrangement of Materials)"
This is a field that is used in collection-level records. It does not need to be indexed.

sample records for testing:
https://www.library.ualberta.ca/catalog/6282297
https://www.library.ualberta.ca/catalog/3801928

[2016-01-14 22:36] redlibrarian commented on #850
@seanluyk This is now present in the live index.

[2016-01-14 22:42] redlibrarian commented on #824
OK. These tables are in place in production now. It's slow, but they appear...

[2016-01-14 22:42] #824 closed

[2016-01-14 22:43] redlibrarian commented on #809
I'm going to close this issue for now. Please reopen if anything changes.

[2016-01-14 22:43] #809 closed

[2016-01-14 22:44] redlibrarian commented on #808
Pinging @gooyers

[2016-01-14 22:44] theLinkResolver commented on #879
@redlibrarian I wonder what kind of relevance score one would assign to this field. If someone knew the exact name of the award and put it in quotes, that's great, but I wonder how just entering a few of the terms in a general search would play out. And conversely, you don't want these records bubbling up too high in unrelated searches that happen to include the word "award"... just thinking aloud

[2016-01-14 22:45] redlibrarian commented on #784
@theLinkResolver @seanluyk Is this working to your satisfaction now?

[2016-01-14 22:57] theLinkResolver commented on #784
@redlibrarian Yes and no. We can retrieve the records, and they display something other than the cateky as the title, but I think there is more work to do around the 245. We could close this and open up that more complicated discussion in another issue...?

[2016-01-14 23:30] sfarnel commented on #877
This is one of the ones that was moved into AtoM from Libguides, as will all the others that are in HTML over time.

[2016-01-14 23:37] theLinkResolver commented on #877
@redlibrarian maybe I'm missing a detail, but would adding the text "Free Access" to these finding aid links be an immediate/short-term fix?

[2016-01-15 16:34] sjshores commented on #875
Yes, during the meetings we have had to date about new processes around
dbs, Angie expressed that public services staff should add subject keywords
to the databases in LibGuides and that BL would use those for indexing and
searching.  The thinking was that PS staff have a good sense as to how
users think about the databases and how staff want to highlight them in
LibGuides.  This process would als

[2016-01-15 16:55] linds37 commented on #875
Hi, Sandra. I don't know whether some of the databases have such a high
number of subject keywords assigned because individual subject librarians
are all adding terms, or if one person is adding too many. Were any added
by April when she entered them all into Libguides?
It seems there needs to be a limit to the number of terms, though I don't
know how librarians coming from different disciplines w

[2016-01-15 17:16] sjshores commented on #875
April, are you able to produce a report from Libguides as per Lindsay's
note below?

Thanks,

Sandra

On 15 January 2016 at 09:55, linds37 <notifications@github.com> wrote:

[2016-01-18 17:10] seanluyk commented on #850
Fixed, closing issue

[2016-01-18 17:10] #850 closed

[2016-01-18 22:35] scastell commented on #719
Advanced search isn't working. All advanced searches lead to the following page
![image](https://cloud.githubusercontent.com/assets/14927291/12404406/90f4c56c-bdf8-11e5-83fe-cbdae7e4ebc1.png)

[2016-01-18 22:40] redlibrarian commented on #719
Shoot. I know what the problem is. It will be fixed this week.

[2016-01-20 16:52] theLinkResolver opened #881 "no "library" for SFX and database records"
e.g. See list of library filters for these results: https://library.ualberta.ca/journals?q=CNN+en+Espa%C3%B1ol+-+en+Efectivo+%28Spanish+Language%29+

So if I filter to U of A Internet as a library, I lose all the SFX (e-journal) records.
https://library.ualberta.ca/journals?f[location_tesim][]=uainternet&q=germanic+review
(And the same is true for the databases.) Understandably so, but maybe not t

[2016-01-20 17:11] redlibrarian commented on #881
I can add the UA Internet location to both SFX and Database records, which makes sense to me, but how does the cataloguing world feel about that? :) / @sjshores @theLinkResolver

[2016-01-20 17:22] sjshores commented on #881
I am in favour of doing this.

Sandra

On 20 January 2016 at 10:11, redlibrarian <notifications@github.com> wrote:

[2016-01-20 17:50] redlibrarian opened #882 "New Books List"
ILS-team will produce list of catkeys and we can build in a static page.

[2016-01-20 18:44] theLinkResolver commented on #881
@redlibrarian I'm glad it's something you can do! And I guess, as things roll along, this will always need to be a consideration (e.g. for ERA results).

[2016-01-20 18:50] theLinkResolver opened #883 "missing OUR (licensing) info"
The OUR info isn't displaying for the ProQuest links in the ejournal record's 'simulated Get It window' (@redlibrarian do you have another name for this?):

https://www.library.ualberta.ca/catalog/954925402586

normal get it window: http://bit.ly/1PFtie1

[2016-01-20 18:51] theLinkResolver commented on #883
@redlibrarian gah, sorry, is this the same as #762?

[2016-01-20 19:00] theLinkResolver opened #884 "SFX links in Blacklight records are not in preferred order"
The "Nature" link floats to the top in our standard Get It window:
http://bit.ly/1PhNDvE
(ignore Ebsco Sci Ref Centre, which needs to be added to the aggregator list - that's another can of worms for @redlibrarian and the serials team)

The preferred sort does not occur for the Blacklight display:
https://www.library.ualberta.ca/catalog/954925427238

[2016-01-20 19:04] redlibrarian commented on #884
I don't know that there's anything we can do about this in Blacklight. The concept of "aggregator" is within SFX, and is not included in the MARC records... I'll have to investigate, but we may want to discuss this further.

[2016-01-20 19:05] theLinkResolver commented on #884
@redlibrarian @sjshores Might play into our discussion this afternoon...

[2016-01-20 21:01] theLinkResolver opened #885 "display of URLs in database records"
There was a question about whether we should be seeing the URL for the links in the database records.

[2016-01-20 21:58] theLinkResolver commented on #883
@redlibrarian All the Proquest targets were just renamed with this week's update. Did you say that renaming targets could cause this?

[2016-01-20 22:12] redlibrarian commented on #883
@theLinkResolver Yes, that's what's done it. I'll get an updated file from Ernie. It's not as simple as using the target name, unfortunately...

[2016-01-20 22:21] theLinkResolver commented on #883
@redlibrarian Ugh. I'd say that target name changes occur quite regularly, which might not be what you'd previously heard... I guess, maybe they don't always affect us, but they do happen a lot.

[2016-01-20 22:40] seanluyk commented on #875
I think it would be a good idea to look at how subject associations are being added, and for a policy to be developed. Should each database get its 1 best subject assigned to it, or is it better to have more? For truly multidisciplinary databases, should a multidisciplinary label be applied?

For example, one of the music databases (Rock's Backpages), which is essentially an archive of key popular

[2016-01-20 22:54] seanluyk commented on #872
This appears to be the case, @merisjames. I agree that this is problematic, and contributing to a larger than expected number of false hits. I'm wondering if the UofA Access link is also being indexed and impacting search results?

[2016-01-20 23:03] seanluyk opened #886 "Find more by this author link not providing results"
Clicking on [Cordasco, Francesco, 1920-2001](https://www.library.ualberta.ca/catalog?f%5Bauthor_display%5D%5B%5D=Cordasco,+Francesco,+1920-2001) from [this record](https://www.library.ualberta.ca/catalog/466240) leads to the following screen:
![image](https://cloud.githubusercontent.com/assets/14880206/12466112/421c3004-bf8f-11e5-9154-c3c7557a8131.png)
NEOS shows 52 items for this author.

[2016-01-20 23:22] seanluyk opened #887 "Internet access link on print record"
Likely an isolated case, but I thought I would report it in case it isn't:

The [record for the 2005 ed. of the Oxford History of Western Music](https://www.library.ualberta.ca/catalog/2857188) contains print holdings, and a MacEwan Internet access link. The odd thing is that on the [NEOS record](http://www.library.ualberta.ca/permalink/opac/2857188/WUAARCHIVE) MacEwan Internet only shows as a hol

[2016-01-20 23:26] seanluyk commented on #607
For some reason, book covers are appearing in list view, but not necessarily in record views.

For example, in this [list of results](https://search.library.ualberta.ca/symphony?q=ziggy%20stardust%20and%20the%20spiders%20from%20mars) results 6 and 7 display book covers in list view, but not in their record views.

[2016-01-20 23:41] theLinkResolver commented on #887
@seanluyk I do see the MacEwan link in the NEOS catalogue -- I'm wondering if you switched to MARC display in NEOS, which has the undesirable effect of hiding the links from display when you are looking at the Item information tab.

[2016-01-20 23:43] seanluyk commented on #887
Oops, it looks like I did, @theLinkResolver . The issue that this causes in Blacklight is that a user can select University of Alberta, HSS as the library, and the result will still be labelled as: this is an ebook.

[2016-01-21 00:09] redlibrarian commented on #887
This should be one of the issues that will be resolved when we've separated print and electronic. Currently the separate characteristics "University of Alberta, HSS as the library, and the result will still be labelled as: this is an ebook" are all true for this record. When the separation of print and electronic is complete, the print record won't be tagged as an ebook.

[2016-01-21 06:01] sjshores commented on #887
Monograph records should always have been separated between print and
electronic, whereas we used to use a single record for all formats for
serials, and are separating those, of course.

This looks to me like a case where MacEwan added an 856 full-text link to
an existing record that describes print, which they shouldn't have done.

Sandra

On 20 January 2016 at 17:09, redlibrarian <notifications

[2016-01-21 16:38] theLinkResolver commented on #887
I am also curious about this one, as we seem to have access to the web edition of Oxford History of Western Music. I'm checking with Bibhelp about it, and pending the results, I will talk to the e-book team about separating print and electronic.

[2016-01-21 17:28] linds37 opened #888 "Advanced Search: Limit by Library - list needs to be changed to alphabetical order"
When you try to pre-limit by library, the list is by holdings, not in alphabetical order.
Thanks

[2016-01-21 17:36] linds37 commented on #875
Hi. Just another issue -- users have been noticing that when they use the
alphabetical listing on the databases list, titles that start with The or
Le are listed under T <http://guides.library.ualberta.ca/az.php?a=t> or L
<http://guides.library.ualberta.ca/az.php?a=l> instead of the first letter
of the more meaningful word in the database name. Staff tend to look up by
the name of the database, bu

[2016-01-21 18:03] redlibrarian commented on #888
Duplicate of #800

[2016-01-21 18:03] #888 closed

[2016-01-21 18:06] redlibrarian commented on #875
@linds37 That's an issue with libguides, not with the discovery system. It's either a technical question (i.e. Springshare could make the list ignore leading stopwords) or a policy question, and I'm not sure who deals with those. / @sjshores

[2016-01-21 18:08] redlibrarian commented on #875
@seanluyk To me, that's a question for public service/subject librarians and/or PSC. I could make a recommendation based on findability, but fundamentally it seems connected to the "aboutness" of the database, which IMO should be up to the subject librarian.

[2016-01-21 21:01] theLinkResolver opened #889 ""Internet Access" (856) link not appearing."
https://library.ualberta.ca/catalog/2914678

vs.

https://www.library.ualberta.ca/catalog/2914678

@redlibrarian The first one was sent to me in a helpdesk ticket (2016012110417) and I noticed that the electronic access link wasn't displaying. Now, I'm not sure why someone would end up copying the URL without the www, but should this work, regardless?

[2016-01-21 21:03] theLinkResolver commented on #889
@redlibrarian Okay, that's weird. They both work normally when I click the links in the GitHub message. Check the link in the helpdesk ticket I cited, I guess.

[2016-01-21 21:06] theLinkResolver commented on #889
@redlibrarian Maybe a java error or something? I know weird stuff happens sometimes when clicking links in OTRS (e.g. Get It links fail). I use Firefox, which seems better than Chrome in this regard, but not perfect. Maybe we should just implicate OTRS and close this?

[2016-01-21 21:19] redlibrarian commented on #889
@theLinkResolver The two links in the ticket are:

https://library.ualberta.ca/catalog/991042728210868

and

https://library.ualberta.ca/catalog/2914678

So, one SFX and one Symphony record. For some reason the "Internet Access" link isn't coming through in the Symphony record, and the user is confused about the links in the SFX record. I can look into why the Internet Access link isn't appearing

[2016-01-21 21:23] redlibrarian commented on #889
The Symphony record doesn't have a "url_fulltext_display" field, which is necessary for the link to appear. I don't know why that field isn't present - it's based on the two digit code for relationship in the 856.

[2016-01-21 21:24] theLinkResolver commented on #889
@redlibrarian makes sense to me - you will see that I have copied you on the reply to the ticket.

As for the URL, do you find that it does appear when you do a search for the journal? That's what I'm seeing.

[2016-01-21 21:32] redlibrarian commented on #889
@theLinkResolver Yes, that worked for me. I'm not sure what's going on here. In any event, the links in the SFX record and the Internet Access link (when it appears) should both be working.

[2016-01-22 18:44] alfodor commented on #875
The database subject list that was in the old system was imported into LibGuides. Since then, users have requested additions and deletions (see list). Initially we asked that subject librarians associate databases with subject areas but since many had no associations and weren't showing up in a LibGuides and Blacklight search in early December Sam C. took the information from the database of datab

[2016-01-22 20:48] theLinkResolver opened #890 "record should be shadowed - LOST-ASSUM"
https://www.library.ualberta.ca/catalog/7002744

This title has one item in a shadowed location: LOST-ASSUM. We should not see it in search results.

(via helpdesk ticket https://helpdesk.library.ualberta.ca/otrs/index.pl?Action=AgentTicketZoom;TicketID=32496)

[2016-01-22 22:34] seanluyk commented on #761
This issue seems to have returned. For the [Fontes example](https://www.library.ualberta.ca/journals?utf8=%3F&q=Fontes+artis+musicae), there are again three records, one of which does not have a UofA Access link (just links to various providers)

[2016-01-22 22:39] redlibrarian commented on #761
This is likely due to a *different* underlying problem. The Journal facet contains print and electronic records from Symphony as well as SFX records (originally, the Journal facet only contained SFX records). Earlier, print and electronic records were combined into a single record and now they have been split. This results in three separate records. I am working on figuring out how to deduplicate

[2016-01-22 22:44] seanluyk commented on #761
Thanks, @redlibrarian - feel free to close this issue since it's a bib services piece.

I guess I'm still wondering what the advantage is of having both SFX and electronic journal records appearing in the system. I like how clearly the SFX record displays access/rights info, but I guess we lose subject headings in the process.

[2016-01-22 23:04] seanluyk opened #891 "Minor typographical error in UofA Access link"
There is a space missing between years and not in the UofA Access link for a journal.

Here's one example: https://www.library.ualberta.ca/catalog/6817223

[2016-01-22 23:13] theLinkResolver commented on #891
This was a problem in the record, due to (hopefully) past issues with the SFX2Sirsi auto URL/coverage-generation program. I have fixed the typos and it looks good now.

[2016-01-22 23:13] #891 closed

[2016-01-22 23:29] redlibrarian commented on #761
@seanluyk I'll leave it open, since it needs to be dealt with. I think I've figured out a good solution for the SFX/symphony e-journal records. The Symphony records are richer than the SFX records, but all we're using the SFX records for is to get the individual subscription/rights information. Instead of deduplicating the records, I think the best solution is just to supplement the Symphony recor

[2016-01-22 23:38] sjshores commented on #761
My concern with this approach is that we have activated many more records
in SFX than we have catalogued in Symphony.  One of the advantages of the
original plan to use SFX for serials data was to increase the number of
records available to users.

Sandra

On 22 January 2016 at 16:29, redlibrarian <notifications@github.com> wrote:

[2016-01-22 23:59] redlibrarian commented on #761
@sjshores Are those additional records strictly speaking Journals? Or are they the records for other kinds of serials? We'll be able to import those (I don't think we're currently doing that but @theLinkResolver seems to think some of them are coming through).

[2016-01-23 00:05] sjshores commented on #761
The records are for journals, and it's really good to be able to include
them.  They greatly expand what we don't want to include in our normal
cataloguing procedures due to the time/expense it can take to catalogue
journals (e.g. less scholarly titles from large packages), and to our
policy of not cataloguing free items for example.

Sandra

On 22 January 2016 at 16:59, redlibrarian <notification

[2016-01-27 22:25] seanluyk opened #892 "Cleanup Call Number Filter"
As there are no I or W call numbers in LCC, I was wondering why these were coming up (without labels, understandably):
![image](https://cloud.githubusercontent.com/assets/14880206/12630474/e1c81e40-c509-11e5-94ff-6d09c9eee377.png)

I think "I" is coming up because the call number shows as Internet Access, and "W" shows up (1 gov doc title), but I'm not sure why.

[2016-01-27 23:06] theLinkResolver commented on #892
@seanluyk There is probably either an error or an 'unexpected' call numbering practice that has led to the appearance of those letters in the field from which the call number is sourced.

Longer answer, with a question for @ualbertalib/discovery-testing:
Call numbers, for use as a facet/filter, are sourced from the 050 (Library of Congress call number) MARC field. I think the presumption in Blackl

[2016-01-27 23:54] theLinkResolver opened #893 "display message when list of items is incomplete"
I wonder if we can display something when the items table is known to be incomplete, like this one: https://search.library.ualberta.ca/catalog/554236

From the above example, I found that iLink will display 1,996 items and Blacklight will display 1,995 (there are over 3,400 items in this record). So, if the number of items in the items table is 1,995, display a message (ideally above the table) th

[2016-01-28 18:38] seanluyk commented on #893
Wow, this is a scary record! Another possibility for large records like these that would be great to add as a future enhancement, would be to have an expanding list when the number of items passes a particular threshold (e.g. 100), and there could be a link to view more.

[2016-01-28 18:41] seanluyk commented on #892
Thanks, @theLinkResolver . To answer your question, I do kind of think of it as a supplementary way to filter by subject, and as a way to browse the shelf, and both are really useful features. The subject facet is of course quite a bit more narrow, but it saves users time when they can filter by larger disciplinary areas. Not sure if this is just a librarian perspective though - it would be intere

[2016-01-29 21:30] redlibrarian opened #894 "Make CCID place hold button a little more prominent."
We need to be careful here, as we don't want to make it so prominent as to confuse the primary user set.

[2016-02-01 18:52] seanluyk opened #896 "Article indexed in 2 sources in EDS is not appearing in article search results"
Noticed this while preparing class materials...
- Article in question is ["Golias and Goliardic Poetry" by Walsh](http://resolver.library.ualberta.ca/resolver?genre=article&isbn=&issn=00258385&title=Medium%20%C3%86vum&volume=52&issue=1&date=19830101&atitle=%27Golias%27%20and%20Goliardic%20Poetry&aulast=Walsh,%20P.%20G.&spage=1&sid=EBSCO:MLA%20International%20Bibliography&pid=)
- Results are return

[2016-02-05 16:35] redlibrarian opened #897 "Browse by subject"
Like Wisconsin's.

[2016-02-05 16:35] redlibrarian opened #898 "Work out automated process for keeping OUR/SFX target linking up to date..."
Especially as Ernie is leaving soon.