[2015-10-07 20:58] merisjames opened #595 "Question: multiple editions"
How are the rankings of multiple editions determined?
Searching for "hogg constitutional law", the various (student) editions appear in order 1999, 2002, 2007, 2005, 2009, 2011, 2013.

[2015-10-07 21:01] merisjames opened #596 "Looseleaf issue"
Further to my issue with Hogg's Constitutional Law of Canada... I want the looseleaf.
Searching for "hogg constitutional law". Assuming I know to limit the search to "Continually Updated Resource" (CUR) (not sure that everyone will know what this means), I get 117 results... None of which are <i>Constitutional Law of Canada</i>.
If I search for "constitutional law of canada hogg" and limit to CUR,

[2015-10-07 21:08] merisjames commented on #596
More looseleafs that don't show as Continually Updated Resources
https://search.library.ualberta.ca/catalog/82126 (admittedly, we don't subscribe to it any more).
https://search.library.ualberta.ca/catalog/2914687
https://search.library.ualberta.ca/catalog/384994 not a looseleaf, but is updated with pocket parts

[2015-10-07 21:19] gooyers opened #597 "Advanced search attributes (sometimes) do not expand"
In the advanced search page, some of the additional attributes (Library, Call Number, Format, Publication Year etc) fail to expand upon being clicked. The Print vs. Online attribute always expands without issue automatically.

However, this behaviour appears to be weirdly inconsistent. A PSA at BSJ mentioned the problem to me but I was not able to replicate it on my computer in Chrome or Firefox.

[2015-10-07 21:25] seanluyk opened #598 ""More info" in bento box display, books and more container"
When you click on *more info* for items in the books and more container of the bento box display, there is a call number field, but it's blank.

[2015-10-07 21:31] seanluyk opened #599 "Ranking of libraries in library facet"
It looks like subjects are ranked in descending order, as are all other facets. Why not rank libraries the same way? It looks like it's currently ranked in alphabetic order, which means most UofA stuff is at the bottom.

[2015-10-07 21:38] seanluyk opened #600 "No UofA Access - On-campus access allowed at the following locations"
This is a debatable one rather than an issue necessarily, but it seems a little confusing when viewing an [ebook record where UofA has no access](http://search.library.ualberta.ca/catalog/6440581).

The note says **Note: No University of Alberta Access. On-campus access allowed at the following locations** and then provides links to records that a UofA user can't access. It's also not clear that a

[2015-10-07 21:49] seanluyk opened #601 "Click fatigue - electronic items in bento box"
Let's say the perfect e-book or article result appears in one of the containers in the bento box display. Clicking on the title brings you to the detailed record (which is good), but you still have to either click to get full text access from the record, or click on getit!

Why not make clicking on the title bring you *directly* to the item (where possible), and have an option to view more/retriev

[2015-10-07 22:11] seanluyk commented on #504
I think the main issue is that we don't want to be splitting form subdivisions from topic subdivisions, because they don't make sense out of context.

For example, the heading: Folk Music--Bibliography, is only meaningful in that the form is linked to the topic. Nobody wants to search for bibliography as a subject (or periodicals, or encyclopedias), and breaking the link between the two does more

[2015-10-07 22:18] gooyers commented on #601
The potential issue I see with this is that users also expect consistency.
In my opinion, clicking the title in a bento box (and in subsequent results pages) should always do the same thing.

I'd be interested to see what others think. But perhaps it might be possible to include a direct link under the 'More' button.

[2015-10-07 22:21] theLinkResolver commented on #596
I can address this a bit more when I am back from holidays in a couple weeks.  The Continually Updated Resources format is a relatively new form of catalogue record, so in short, the new stuff is coded that way but the old stuff is just "Book".

[2015-10-07 23:01] seanluyk opened #602 "Blanks and weird stuff in advanced search facets"
1. **Library**: there are some blanks

2. **Call Number**: lower case letters, punctuation, numbers

3. **Format**: Where are these coming from? There are many similar things listed multiple times

4. **Time Period**: mixes eras and year ranges. Is this avoidable?

[2015-10-07 23:23] seanluyk commented on #601
Re: consistency, I agree. I guess it's about balancing consistency with
user expectations of expediency to me. Did the user testing look at this at
all?

*Sean Luyk, B.Mus, MA, MLIS*Music Librarian
<http://guides.library.ualberta.ca/music>
Subject Librarian, Anthropology
<http://guides.library.ualberta.ca/anthropology>
Humanities & Social Sciences Library
1-01 Rutherford Library South
University o

[2015-10-08 14:30] kgood commented on #499
Ernie thought this was still useful.  It is available here:
https://web.library.ualberta.ca/ipcheck/

So just need to communicate this after Jan 2.

[2015-10-08 14:30] #499 closed

[2015-10-08 14:31] kgood commented on #379
Moved to Woking and link on DB list already changed.

[2015-10-08 14:31] #379 closed

[2015-10-08 14:40] kgood commented on #508
I don't think there will be an issue with anybody on campus but this did come up a lot in the launch week.  Need to think on this.

[2015-10-08 14:43] redlibrarian opened #603 "Investigate replacing EDS with GoKB."
http://gokb.org/

[2015-10-08 15:03] redlibrarian commented on #594
Hmm. It must be constructing the facet based on two different underlying data fields. I'll have to investigate.

[2015-10-08 15:06] redlibrarian commented on #595
Ranking is always done on the basis of a relevance algorithm: it looks at which search terms appear in which data fields and constructs a score for each record (and breaks ties when necessary). The weighting of each field is specified in Blacklight's index configuration files.

[2015-10-08 15:07] redlibrarian commented on #595
I should specify that this is true for multiple editions of the same title as it is for different titles. To Blacklight, multiple editions are not connected in any way - they are different titles that happen to share metadata (and thus have similar relevance scores).

[2015-10-08 15:10] redlibrarian commented on #597
Hmm. Interesting. Just to confirm, @gooyers , you *were* eventually able to reproduce the problem in Chrome and FF, not just Explorer (that's how I read it).

@nnunn any thoughts? It does seem possible that a failure to load could prevent the relevant JavaScript from working.

[2015-10-08 15:12] redlibrarian commented on #598
Hmm. We used to have it, but I think I stopped indexing that when it was removed from the brief and full results for being inaccurate. I'll have to figure out what call number to use now...

[2015-10-08 15:14] redlibrarian commented on #599
User feedback was that if they were looking for a particular library, it was hard to find if they were sorted by number of items. The UA stuff is at the bottom, but at least a user knows where to look, as opposed to ranking by number of hits which means they will need to read through the whole list to find the library they want to limit by. The problem is that our locations all start with "Univers

[2015-10-08 15:15] redlibrarian commented on #600
This is a bug that keeps coming back. See #538 . I'm going to close this issue, as it's a duplicate of one we already have open.

[2015-10-08 15:15] #600 closed

[2015-10-08 15:17] seanluyk commented on #599
I was thinking about that - wouldn't we be at the top anyway given our
relative size to the other NEOS members most of the time anyway?

*Sean Luyk, B.Mus, MA, MLIS*Music Librarian
<http://guides.library.ualberta.ca/music>
Subject Librarian, Anthropology
<http://guides.library.ualberta.ca/anthropology>
Humanities & Social Sciences Library
1-01 Rutherford Library South
University of Alberta
Edmonto

[2015-10-08 15:21] redlibrarian commented on #601
Adding a direct link under More is possible, but people have also mentioned wanting to include more information (like owning library, e-journal coverage) etc, under More. Space there is limited, so I'd want to be careful about what we decide to include there.

The trickiest part about the logic that @seanluyk suggests is how much the system "knows" about a given record in the Bento controller (the

[2015-10-08 15:24] redlibrarian commented on #602
Library: I think these blanks are due to the labeling problem in issue #581 .

Call number: this is a data/indexing issue. @theLinkResolver and I need to discuss this further.

Format: These are drawn from the data we have in Symphony, SFX, and the database of databases. This may have to go to cataloguing for cleanup.

Time Period: I'm not sure where this is coming from. Is Time Period even a usef

[2015-10-08 15:28] gooyers commented on #597
That's right @redlibrarian. On my station I only experienced the issue in IE, but my colleague experienced the issue in Chrome, and I tested it on our desk's station and experienced the issue in FF.

[2015-10-08 15:30] redlibrarian commented on #599
*A* U of A library like Rutherford, perhaps, but not all of them. Our libraries are split out, so for example Coutts or BSJ wouldn't necessarily be at the top, compared to, say, Macewan. A ranking in descending order would have the U of A libraries dispersed among the list.

[2015-10-08 17:21] seanluyk commented on #602
Re: time period - I'm not sure how useful this is either

[2015-10-08 17:59] hannepearce opened #604 "Item Types not displaying in bento box"
Not sure if this has been noted elsewhere, took a look and didn't see it. When searching the main search box and the results come up in the Bento Box view, some items are displaying "Unknown" next to them, as if blacklight isn't reading the item type.

![image](https://cloud.githubusercontent.com/assets/14892833/10375118/f05c6e32-6db3-11e5-8100-66d41d197752.png)

[2015-10-08 18:09] sjshores commented on #510
I think that we should leave it at BARD, which is a very well known name, even though we will have to make a change as we move to RCRF.

Thanks,

Sandra

[2015-10-08 18:15] gooyers opened #605 "Treatment of punctuation"
Dorothée noticed an issue this morning while trying to find [L'enfant cachée](https://search.library.ualberta.ca/catalog/6031800). More specifically, searching for ["enfant cachee"](https://search.library.ualberta.ca/results?utf8=%3F&q=%22enfant+cachee%22) returned no results, but a search for ["l'enfant cachee"](https://search.library.ualberta.ca/results?utf8=%3F&q=%22l%27enfant+cachee%22+) retur

[2015-10-08 18:22] hannepearce opened #606 "Lost Item Appearing in Bib-Record"
The following was just sent to me by one of our PSAs, he has highlighted the library locations not appearing with red arrows (which I know has already a known issue) but the green arrows show a title that is marked assumed lost in workflows. Past practice was not to show these items in the catalogue. I feel it should either not appear or at least have the label "Lost" to avoid confusion for the us

[2015-10-08 19:01] redlibrarian commented on #604
There are some issues with the way our marc data is being mapped to format. @theLinkResolver will be looking into the mappings to resolve this.

[2015-10-08 19:03] seanluyk opened #607 "Book cover images not displaying"
Some of the syndetics book cover images aren't displaying, for example, in: https://search.library.ualberta.ca/catalog/2017171

[2015-10-08 19:03] redlibrarian commented on #605
Hmm. That's a bit weird. I'll have to investigate the solr indexing rules to see what I can tweak there.

[2015-10-08 19:09] redlibrarian commented on #606
The EASY_READ item belongs to Norquest, but Symphony is using NORQ_MAIN as a code, which I don't have in my location map. There's no indication in the Web Services record that the item is lost.

As for the Coutts item, this one *does not* appear in the Web Services record, indicating that the item is lost/missing. This shouldn't be coming through to Blacklight, so in that sense it's similar to the

[2015-10-08 19:11] redlibrarian commented on #607
We no longer use Syndetics for book covers, we use Google books instead. Having said that, I'm not seeing any book jackets. Sometimes Google can block the feed if they've been hit with too many requests, but I'll ask @nnunn to investigate this one.

[2015-10-08 19:18] redlibrarian commented on #510
OK, thanks Sandra.

[2015-10-08 19:18] #510 closed

[2015-10-08 19:34] seanluyk opened #608 "Item with different URL not opening"
Clicking on this [ebook record](http://search.library.ualberta.ca/catalog/ocn917137039) results in a "something has gone wrong" page.

Noticed that the URL is a little funky on this one (with the ocn added). Item title is *Acrylamide in food*

[2015-10-08 20:57] redlibrarian commented on #607
Book covers appear to be back. I wonder if this was related to the Google problem we were having on campus?

[2015-10-08 21:08] seanluyk opened #609 "Suppress incomplete temp records"
Not an issue with Blacklight, but possibly something it could help to filter out. Is there any way for Blacklight to suppress incomplete records created by NEOS libraries for purposes internal to the holding library, such as [this one (http://search.library.ualberta.ca/catalog/7027362)?

Since it's meant for UofA use, and we don't create records as brief as this this, I'm thinking that it might be

[2015-10-08 21:10] seanluyk commented on #609
Other examples
-http://search.library.ualberta.ca/catalog/5355452
-http://search.library.ualberta.ca/catalog/5355692
-http://search.library.ualberta.ca/catalog/4293107

[2015-10-08 21:15] redlibrarian commented on #609
We would need to work with Jim on this - he's the programmer who extracts records from Symphony. Currently the Blacklight data is the same data we send to Ebsco for EDS (i.e. for all NEOS libraries that use EDS) - it doesn't have to remain that way, but it's a consideration.

I think it would be good to exclude them if we can figure out the best way to do that. I'll set this to the phase 2 milesto

[2015-10-08 21:20] redlibrarian commented on #608
Ugh. This is due to a pretty ugly internal procedure we have. When we load brief (e.g. on order) records in Symphony, we use the record's own identifier (often an OCN number). When we load a full record either from OCLC or elsewhere, the brief record is replaced and the item gets a new, standard Symphony cat key (the usual record identifier). These ocn* records are usually only in our system for a

[2015-10-08 21:43] seanluyk commented on #607
Looks like it. Too bad so many of the titles don't have images, but I guess this beats having to pay for the syndetics content.

[2015-10-08 21:57] scastell opened #610 "Make "articles advanced search" link stand out."
Possible to make the

For articles advanced search, click here

statement bold or something so that it stands out on the page?

The heading for the non article advanced search results includes the phrase "in all library collections" ie

 results for housing and japan in all library collections

Reword the heading as articles aren't included in the results?

[2015-10-08 21:59] fculpepper opened #611 "eBooks in 'Books and more' results"
eBooks are showing up in the Books and more search result box, format says "book" but the first 3 results are eBooks:
![image](https://cloud.githubusercontent.com/assets/14892870/10380951/6e4f8192-6dd4-11e5-8f50-324799b8b1c9.png)

And I'm betting this is not anything we have to do with but the record for that first eBook has the author in the ISSN field:
![image](https://cloud.githubusercontent.co

[2015-10-08 22:35] seanluyk commented on #585
Denis just reported the same issue as he could not locate [key#7113970](http://www.library.ualberta.ca/permalink/opac/7113970/WUAARCHIVE), which shows in Workflows as being created on October 1.

[2015-10-09 16:44] fculpepper opened #612 "Broken links, E-mail notification page"
The links to the UofA electronic communications policy on [this page] (https://web.library.ualberta.ca/emailnotification/) aren't working.

[2015-10-09 16:48] gooyers commented on #611
I'll comment here as I think it's a related issue.

A search from the main bar limited to "articles" leads to a search page that includes books, ebooks, and various other formats.
![totalitarianism](https://cloud.githubusercontent.com/assets/14891931/10399966/41ada7f0-6e73-11e5-9275-fbd932371edc.jpg)
![totalitarianism2](https://cloud.githubusercontent.com/assets/14891931/10399970/45d2354e-6e73-11e

[2015-10-09 16:53] gooyers commented on #597
@redlibrarian I think this may be the same loading issue so I'll comment here rather than opening a new issue.

On rare occasions, the "More" button within bento boxes will fail to expand.

It was more difficult to replicate than the previous issue, but by using IE as my browser and refreshing a few times I was able to replicate it. Dorothée experienced the same issue in Chrome.

![more](https://c

[2015-10-09 17:02] redlibrarian commented on #610
I'm going to split these up into two issues so we can tackle them separately. They are both achievable.

[2015-10-09 17:03] redlibrarian commented on #610
This issue is to make the "articles advanced search" link on the advanced search page stand out more.

[2015-10-09 17:05] redlibrarian opened #613 "Change labelling or controller for advanced search results."
The heading for the non article advanced search results includes the phrase "in all library collections" ie
results for housing and japan in all library collections. Reword the heading as articles aren't included in the results?

We can either a) reroute the search to a particular controller (would require giving an option to select a controller) b) route the search to the bento page or c) display

[2015-10-09 17:08] redlibrarian commented on #611
<taking a step back> One of the initial headaches we had was deciding how to build/label the bento panes. Since a few people have brought up questions/concerns regarding how items are assigned to bento panes, as well as the labeling, and considering it's tricky to determine formats properly given the limits of (e.g.) MARC data. Maybe this is another thing that we should sit down face to face and h

[2015-10-09 17:12] redlibrarian commented on #597
I'm a little concerned about these loading time issues. We noticed the last few days that, with Google being down, our pages were either not loading completely, or taking a long time. This is probably causing errors in the javascript. We rely on Google both for book jackets and (I think) fonts....

[2015-10-09 18:51] gooyers opened #614 "Item at BSJ not appearing once BSJ limiter is selected."
I find this issue to be a headscratcher.

Upon conducting an advanced search looking for items authored by **Alberta Education** with the subject term **Art dramatique**, the first result is [*Guide d'enseignement: art dramatique : secondaire premier cycle*](https://search.library.ualberta.ca/catalog/1760756) which is relevant and located at BSJ.

![artdramatique](https://cloud.githubusercontent.c

[2015-10-09 18:55] redlibrarian commented on #614
Hmm. Interesting - weird. I'll have to look at the data we're getting from the index to try to figure this out.

[2015-10-09 21:41] jhennig commented on #579
I have a version which should work on the test system. I'll have it deployed to production on Tuesday.

[2015-10-09 21:46] jhennig commented on #587
Fixed on test. Will be in production on next deployment

[2015-10-09 21:46] #587 closed

[2015-10-09 22:13] jhennig commented on #571
fixed on test.

[2015-10-09 22:13] #571 closed

[2015-10-09 22:14] jhennig commented on #570
change to hours website.

[2015-10-09 22:14] #570 closed

[2015-10-13 16:04] redlibrarian commented on #576
I think this is high priority, as it may actually break the faceting system.

[2015-10-13 16:21] redlibrarian commented on #614
It looks as though the indexing rule only allows an item to be assigned to one location, and the first location that appears in the record is the BARD location, hence excluding this record from UABSJ. I'll look at fixing it.

[2015-10-13 16:37] linds37 opened #615 "New website: Reserves & Reading List Service not linked on main page"
Hi. Reserves & Reading List Service are not linked on the main page of the website. With the proliferation of ebooks with a wide variety in types of licences and simlultaneous user access, it is really important that we prioritize the Reading List service.

[2015-10-13 17:04] redlibrarian commented on #614
OK. I rewrote the indexing script, and this fixes the problem in development. This can be checked on the next code release.

[2015-10-13 17:24] gooyers commented on #614
Thanks @redlibrarian. I can repeat the search in the coming days and check back in.

[2015-10-13 17:32] redlibrarian commented on #581
Weird - I've worked through the first record reported here. Two offending items have locations of GR_MAC_INT and GR_MAC_CAC, both of which are in our location mapping file and should be being handled correctly. One of the failing status codes is ON_SHELF which, as we can see, is working for other items. I wonder if something could be happening which is preventing some of the XML from being parsed

[2015-10-13 17:33] redlibrarian commented on #614
Thanks Brian - I'll let you know when the new code is in place.

On Tue, Oct 13, 2015 at 11:24 AM, Brian <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2015-10-13 17:52] redlibrarian commented on #581
It looks as though the parsing of the XML response from Web Services is getting messed up somehow. I can see where the problem is, so it probably just needs some tweaking.

[2015-10-13 18:03] redlibrarian commented on #581
This keeps getting weirder and weirder. I'm testing with item 1001644. The bib record should have 2 items: 1 UABARD and 1 UASCITECH. Web Services also shows two items, 1 BARD 1 SCITECH. The blank lines in the holdings table are where the holdings helper pulls back *both* itemID XML stanzas from Web Services. The holdings helper uses the value of the MARC 926 field to access the items, but when I l

[2015-10-13 18:16] redlibrarian commented on #581
The solution to this may be *not* to rely on the MARC record holdings information to construct the holdings table. However, there will still be an indexing problem, which is that we index locations according to the same (possibly out of data) 926 field. So even if the holdings table gets fixed, this record will continue to only be available in the UASCITECH facet, not the UABARD facet...

[2015-10-13 18:22] sjshores commented on #581
Very interesting problem.  Sam, I think it might be worthwhile to talk in
person about this data problem.

Sandra

On 13 October 2015 at 12:16, redlibrarian <notifications@github.com> wrote:

[2015-10-13 18:57] redlibrarian commented on #581
Sounds good. It may be related to another weird data problem I've noticed:
(the "dark storage") problem.

On Tue, Oct 13, 2015 at 12:22 PM, sjshores <notifications@github.com> wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2015-10-13 20:43] nnunn commented on #610
done - on ui-new branch

[2015-10-13 20:43] #610 closed

[2015-10-13 20:43] nnunn commented on #508
done - on ui-new branch

[2015-10-13 20:43] #508 closed

[2015-10-13 21:48] redlibrarian commented on #581
I've just rewritten the holdings table code to only use the Web Services information. This, then, should always be "real-time" wrt the catalogue. I think this will solve the problem of missing information in the holdings tables (I'll do some more testing before I'm sure), but it raises a new problem: sometimes the library facet information will be out of date because this *has* to be based on stat

[2015-10-13 23:44] hannepearce opened #616 "database search"
I searched *Ulrichs* in the main search, selected databases as the place to search and it opened to one result but when I click on that result it takes me to this a German book about Napolean. record: https://search.library.ualberta.ca/catalog/318
I closed my browser and re-did the search the same way and it did the same thing.

[2015-10-13 23:52] hannepearce commented on #616
I should note that on a second refresh it did go to the Ulrich's database page. Thinking it was just a weird Chrome glitch I tried firefox and it the problem came up again - it displayed the same book record.

[2015-10-14 15:40] nnunn commented on #597
Not really sure how to handle this one, since I can't replicate it.

[2015-10-14 15:47] nnunn commented on #564
Yes, this is a browser specific action. However, it does appear that there could be a way to manipulate it using the HTML5 history API. I'm going to spend a little time looking into it.

[2015-10-14 16:11] redlibrarian commented on #597
Let's just mark it as "investigating" and we'll keep an eye on it.

On Wed, Oct 14, 2015 at 9:40 AM, Natasha Nunn <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2015-10-14 16:51] redlibrarian commented on #606
OK, I think this is part of a bunch of related problems to do with holdings/items. #581 is an example. I have a fix in place - we'll need to check it on the next code release.

[2015-10-14 16:53] redlibrarian commented on #606
@hannepearce You should have received an invitation to join the Discovery Testing team in GitHub. This will give you access as a collaborator on this repository (and it will mean I can assign the issue back to you). Can you see if you have it? Thanks.

[2015-10-14 16:53] redlibrarian commented on #581
I think this is fixed. We'll have to check it in the next code release.

[2015-10-14 16:54] redlibrarian commented on #551
So, the marc record is part of the index now. This should be working...

[2015-10-14 16:57] redlibrarian commented on #551
OK, I've added contents_tesim to the index. This will be visible with the next code release.

[2015-10-14 17:02] redlibrarian commented on #583
OK, I've changed this to be a phrase search. Please check after the next code release and let me know if any of these problems persist.

[2015-10-14 17:06] redlibrarian commented on #548
Searching the articles controller with double-quotes works (https://search.library.ualberta.ca/articles?q=%22shakespeare%22, https://search.library.ualberta.ca/articles?q=%22charles+dickens%22), but the results don't render in the bento box. Probably a problem with the bento controller.

[2015-10-14 17:30] redlibrarian commented on #548
OK. Phrase search has been fixed. There's still a problem with single-quote searching, but it's not high-priority.

[2015-10-14 17:33] redlibrarian commented on #546
Yes, the problem is that the bento pane is limited to journal articles. This search works: https://search.library.ualberta.ca/articles?q=Learning+to+Die+in+the+Anthropocene

So the question becomes related to our discussion point around bento panes (Issue #555 )

[2015-10-14 17:51] redlibrarian commented on #542
OK, so the holdings labeling issue should be fixed in the next release (see #581 ). As for the due-date, I've added it to the Symphony Web Services module, so this should also be visible in the next release.

[2015-10-14 17:52] redlibrarian commented on #536
This should be fixed with the changes to the way holdings are handled. See issue #581 .

[2015-10-14 17:56] redlibrarian commented on #550
Except that you do get results if you select "print", for example, which shouldn't be the case...

[2015-10-14 17:57] redlibrarian commented on #550
Also just searching for "search lost time" (no quotes) gives the same error when a facet isn't selected...

[2015-10-14 17:58] redlibrarian opened #617 "Fix tests."

[2015-10-14 18:00] redlibrarian commented on #544
Hi @seanluyk - yes. I'll make that change now, and then @theLinkResolver can look into the mapping when he's back from vacation.

[2015-10-14 18:05] redlibrarian commented on #541
Hm. Now that I've dug a little deeper, it looks as though this could be a problem with authentication. I wonder if the full text PDF links will need to be proxied...

[2015-10-14 18:06] redlibrarian commented on #519
This s fixed. The problem was the stop word search issue.

[2015-10-14 18:06] #519 closed

[2015-10-14 18:09] redlibrarian commented on #518
All these known item searches are working now. Most of these were the stop-word search problem we had.

[2015-10-14 18:09] #518 closed

[2015-10-14 18:11] redlibrarian commented on #507
This search works without quotes, but does not work as a phrase search. I wonder if this is the punctuation problem @gooyers noticed (i.e. a letter not separated by a space from its punctuation can't be found). I'll have to investigate further, but given that the item can be found, I'm going to lower the priority on this one.

[2015-10-14 18:17] redlibrarian commented on #512
I thought Linda meant she pasted the whole citation into EDS and it brought back the right result, but this isn't the case. These citations can all be found if you search for the article title. There seems to be a problem with some name searching in EDS, but that's something to keep an eye on.

[2015-10-14 18:17] #512 closed

[2015-10-14 18:17] redlibrarian commented on #512
Oh, I should say, I think this was probably related to the double quote and stop word search problems.

[2015-10-14 18:18] redlibrarian commented on #486
@theLinkResolver Can you let me know what field (or combination of fields) I should look for in Symphony to tell whether something is a database or not? I don't think there's an actual format or GMD... thanks.

[2015-10-14 18:19] redlibrarian commented on #543
This issue is linked to the discussion we need to have about LCSH strings. (Issue #522 ).

[2015-10-14 18:22] redlibrarian commented on #616
Weird. This is working for me now - and the URL is hard-coded into Ernie Howe's database of database records. I'd say this was just a glitch - @hannepearce can you let me know if this happens again. If we don't see/hear anything further, we can close this ticket next week.

[2015-10-14 18:23] hannepearce commented on #606
@redlibrarian Yes I found it, sorry I missed that step a few weeks back. I accepted the invitation.

[2015-10-14 18:31] redlibrarian commented on #606
@hannepearce No problem - thanks!

[2015-10-14 19:00] hannepearce commented on #616
Ok I just tested this out on the service desk and sometimes I get the database page sometimes I get that same bib record. I know this sounds crazy but if you click either on the words "International" or "Periodicals" and sometimes right in between them, that's when I get the funny record. I looked up the marc record for the item the [classic catalog](http://ualweb.library.ualberta.ca/uhtbin/cgisir

[2015-10-14 19:05] redlibrarian commented on #616
Oh! I see what's going on. There's actually an ID collision - most of the Symphony catkeys are much longer than the database keys - this is a case where the catkey is small enough that it collides with the database key. I see what's going on.

This will, I think, be changed with the move to using libguides as the database source - we'll mark the IDs with their source or format....

[2015-10-14 19:06] redlibrarian commented on #616
This should be fixed when we fix Issue #498 .

[2015-10-14 19:09] alfodor commented on #590
changed link for university policy to http://www.registrarsoffice.ualberta.ca/About/U-of-A-Electronic-Communications-Policy.aspx

[2015-10-14 19:10] linds37 opened #618 "Bento box display and Version control"
Can future releases address the issue of version control? For example, look up this title: Policing Stalin's Socialism https://search.library.ualberta.ca/results?utf8=%3F&q=Policing+Stalin%27s+socialism
It comes up twice in the Books and More box and twice in the Ebooks box. You have to click on each one to eventually find out that we don't have this at the U of A in any format.

I mentioned this

[2015-10-14 19:11] hannepearce commented on #616
yes other database tests thus far have not duplicated the problem. Glad I found the correlation, for a moment I thought this was just some random glitch following me around.

[2015-10-14 19:14] redlibrarian commented on #618
The bento box design and labelling is something I want to discuss at the meeting on Monday. As for "version control" - which library locations own copies of a book is supposed to be visible on the results page (not the bento page). I don't know why that's not coming through, but I'll find out.

[2015-10-14 19:18] redlibrarian commented on #618
I've verified that the owning locations should appear on the result view, we'll check on those in the next code release.

[2015-10-14 19:18] linds37 commented on #618
Thanks. It would be ideal if there was a way to pull all of the ver

[2015-10-14 19:18] #618 closed

[2015-10-14 19:25] redlibrarian opened #619 "New Place Hold link (verify)."

[2015-10-14 19:26] redlibrarian opened #620 "Add bento/results toggle"
Hi @nnunn - I know we talked about this a while ago, but we don't seem to have an issue on it. What we discussed was maybe having a couple of icons that users could use to switch between the bento results and the full result page....

[2015-10-14 20:12] gooyers commented on #597
If an issue is difficult to replicate that at least speaks to it not being a severe issue. I'll happily check up on it periodically.

I'm not sure if it's helpful, but I could take a screen cap video replicating the issue. It usually took a number of refreshes to replicate. GitHub doesn't support sharing mp4's though.

[2015-10-14 21:48] redlibrarian commented on #538
I'm working on this now as part of the broader holdings/links logic. This will be fixed in the next release.

[2015-10-14 21:49] redlibrarian commented on #424
I think this will be fixed in the next code release. I'm working on it as part of the larger holdings/links logic.

[2015-10-14 21:49] redlibrarian commented on #552
I had this logic in place, but it broke somehow. Working on it now.

[2015-10-14 22:30] seanluyk opened #621 "Print or Online? facet labelling"
This is a picky one, and has to do with the fact that I'm coming at this from my perspective as a music librarian, so bear with me...

I wonder if the **Print or Online?** facet could instead be labelled **Access** (or something similar), and the options could be *Online* or *At the Library*. The reason I ask is that many of the items that come up are in fact not print per se:
-physical sound and

[2015-10-14 22:37] seanluyk opened #622 ""Start over" from catalog record"
-Clicking on the **Start Over** button from a record view brought me back to a results list with no terms searched, i.e. a list of everything un-faceted
-*Expected behaviour*: I would have expected to go back to the main screen so I could pre-facet again (e.g. books and more vs. journal articles)

It's probably fine this way, but it struck me as a possible usability concern.

[2015-10-14 22:41] seanluyk commented on #581
Possibly related to this issue, I've noticed that the library location sometimes does not appear in mono records either, for example, [this record](http://search.library.ualberta.ca/catalog/5599777)

[2015-10-14 22:42] seanluyk opened #623 ""Start over" from catalog record"
-Clicking on the **Start Over** button from a record view brought me back to a results list with no terms searched, i.e. a list of everything un-faceted
-*Expected behaviour*: I would have expected to go back to the main screen so I could pre-facet again (e.g. books and more vs. journal articles)

It's probably fine this way, but it struck me as a possible usability concern.

[2015-10-14 22:42] #623 closed

[2015-10-14 22:50] seanluyk opened #624 "Subject headings searches"
Related to #557, #543, #522, and #504, but with a twist.

When I clicked on the [Davis, Miles heading](http://search.library.ualberta.ca/catalog?f%5Bsubject_topic_facet%5D%5B%5D=Davis,%20Miles&q=&view=brief) from [this record] (http://search.library.ualberta.ca/catalog/5599777), I expected to be able to find journal articles on Miles Davis, but found that this was not an option (i.e. it appears th

[2015-10-14 22:53] redlibrarian commented on #593
This will be fixed in the next code release.

[2015-10-14 22:55] redlibrarian commented on #538
I'm just capturing here that the logic in https://github.com/ualbertalib/discovery/blob/master/app/views/catalog/show.html.erb
Is really ugly - needs to be simplified and the logic straightened out.

[2015-10-14 22:56] redlibrarian commented on #621
We can discuss this on monday - it's related to the bento/labeling question we also need to discuss.

[2015-10-14 22:56] redlibrarian commented on #622
@nnunn and @gooyers What are your thoughts?

[2015-10-14 22:57] redlibrarian commented on #624
This is something we should discuss as part of the LCSH discussion on Monday. Given that we can never combine the two indexes (local and EDS), what can we do to make things easier/more intuitive. There are a few options, though none will be perfect.

[2015-10-14 23:15] redlibrarian commented on #538
I've broken the code out into it's own template to make it easier to work with:
https://github.com/ualbertalib/discovery/blob/master/app/views/catalog/_urls.html.erb

[2015-10-14 23:31] redlibrarian commented on #552
OK, it's fixed now, and uses the same logic as the other holdings data. This may end up being a little slow - we'll have to keep an eye on it.

[2015-10-14 23:37] redlibrarian commented on #581
It should be the same issue - therefore fixed with the next release - but keep your eye on it. If it's due to something else, we'll catch it.

[2015-10-14 23:48] redlibrarian commented on #604
See issue #544

[2015-10-15 00:00] redlibrarian commented on #561
OK, because the fields are constructed in the index, we don't have quite as much control over the display as I thought. I've added a 'space--space' separator to both the general note and local note fields. It doesn't replace the period, but it should give a sense of separation. A general note will now look like this:

Title from cover. -- Provides information on sources cited in three MEDLARS file

[2015-10-15 00:03] redlibrarian commented on #549
The summary holdings statement here should be taking all subscriptions into account - I guess the logic is wrong and needs to be revisited.

Personally, I dislike the summary of holdings statement. I don't think people read them and they give a summary of what the items table already says. At some point down the road we should discuss it and see whether it's still necessary. In the meantime I'll f

[2015-10-15 00:05] redlibrarian commented on #545
No, all searches search all fields that have been set as searchable. contents_tesim, which is the content field, has been added to the default search field. That will make the text searchable. I'm not sure if the problem is with phrase searching, or if it's a question of what fields are being searched. Phrase searching seems to work in other cases. Anyway, take a look at the next code release and

[2015-10-15 16:41] redlibrarian commented on #538
OK, this is fixed. Should be visible and correct in the next code release.

[2015-10-15 16:59] kgood opened #626 "Ebsco Article Search Inconsistency"
Searching this in EDS proper brings back a direct hit:

Descriptive analysis of seat ergonomics among Utica College population

Searching the same thing is Blacklight brings back no hits from the API in the bento box view.

Works fine if you are just using the article scope from the front page:

https://search.library.ualberta.ca/articles?utf8=%3F&q=Descriptive+analysis+of+seat+ergonomics+among+Ut

[2015-10-15 17:02] redlibrarian commented on #576
Ok, so it turns out this wasn't really high-priority as it didn't break the faceting system. I tried to get the EDS interface to display "limited/nonlimited" information properly, but the way EDS handles its parameters, this wasn't possible without spending a lot of time and reprogramming on it. What I decided to do is to remove limiter information from that panel - since you can see what limiters

[2015-10-15 17:09] redlibrarian commented on #541
Changing this is extremely tricky due to EDS' authentication requirements. At some point we will need to dig deeper into the whole EDS authentication question, but for right now I've turned off full text direct access from the results screen. A user will have to click through to the EDS record to get the full text. However, they can see that full text is available from the results screen. Hopefull

[2015-10-15 17:19] kgood commented on #589
The My account links on the Delivery Services pages are now working

[2015-10-15 17:19] #589 closed

[2015-10-15 17:20] kgood commented on #612
The UofA electronic communications policy links are now working.  closing issue

[2015-10-15 17:20] #612 closed

[2015-10-15 17:21] redlibrarian commented on #550
It looks like this wasn't actually related to any kind of search/facet problem, but was a problem with some logic on the results page that indicates whether something is an ebook. I fixed that logic, and all the searches specified in this ticket seem to work now. Please check when the next code release goes live.

[2015-10-15 17:23] gooyers opened #627 "Known database not appearing in database results"
I went to pull up the [érudit](https://web.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=3424) database, but rather than going through the A-Z list I searched [érudit](https://search.library.ualberta.ca/databases?utf8=%3F&q=%C3%A9rudit) in the main search bar and limited to Databases. Unfortunately I got no results. Removing the accent did not change the search results.

For what it's wo

[2015-10-15 17:23] kgood commented on #572
Closing ticket - re: Archives Policy link.  As mentioned, we should have a new site by launch but even if not the current Archives web site is out of scope for this project and will likely remain with the old look and feel after Jan. 2.

[2015-10-15 17:23] #572 closed

[2015-10-15 17:24] #287 closed

[2015-10-15 17:30] seanluyk opened #628 "Reserves page - linking to old reading list/reserve form"
Apologies if this is already in the works, but I noticed that on the [reserves page](https://search.library.ualberta.ca/reserves), the link [instructors: use the library's reading list service](https://www2.library.ualberta.ca/readinglist) points to the form on the old site.

[2015-10-15 17:33] seanluyk opened #629 "Book Study Space page links"
On the [book study space page](https://search.library.ualberta.ca/services/book-study-space):
-all the map links point to the old site
-Under **rules**, the link to the code of student behaviour redirects to the main UofA site

[2015-10-15 17:36] seanluyk opened #630 "SLAC page"
On the [SLAC page](https://search.library.ualberta.ca/slac):
-Terms of reference link points to old site
-Under **2015/2016 Student Membership - Apply Now!**, there is both an embedded text link to apply now, and the full link

[2015-10-15 17:43] seanluyk opened #631 "BARD request form"
On the [BARD Request Form](https://web.library.ualberta.ca/catalogue/bard/):
-Link to the library catalogue is to NEOS. I'm not sure if this was intentional

[2015-10-15 17:48] redlibrarian commented on #558
This is a pretty big deal, and the EDS code is a mess when it comes to this. I can see how all the page/pagination information is being constructed, but I can't see how the code determines which records to assign to a page. This is not restricted to any given search and I'm a little worried that it's always been the case and we just never noticed it.... I'm going to get in touch with the EDS engin

[2015-10-15 17:53] fculpepper commented on #552
Is this fixed? I'm not seeing it. (For service desk interactions, the call number isn't as important as the location.)

[2015-10-15 17:54] dmc2 opened #632 "Result display issue"
When searching for: systematic reviews 2014 - everything (from the home page) and then "systematic reviews" 2014 - everything (from the home page) - there are 0 article results displayed for "systematic reviews" 2014. There are 8409 articles for systematic reviews 2014. I would have thought that there should be article results for the search with quotes "systematic reviews" 2014 - I will attach im

[2015-10-15 18:04] fculpepper commented on #584
Just wondering what the "CMS and Domain Transition milestone" is. Will this be fixed by January?

[2015-10-15 18:08] redlibrarian commented on #552
Sorry - it will be visible in the next release, which should come out early next week. I'll send an email to the group when the new code is in place.

[2015-10-15 18:40] redlibrarian commented on #626
This is related to the fact that we're excluding everything that's not a journal article from the bento results. It's one thing I want to discuss on Monday.

[2015-10-15 18:41] redlibrarian commented on #627
That's weird. I know I've seen Erudit in the list before.

[2015-10-15 18:42] seanluyk commented on #624
@redlibrarian I see this is a really big issue. It's possible in EDS, so does it have to do with the functionality we're allowed to use via the EDS API?

[2015-10-15 18:45] redlibrarian commented on #627
Ugh. It's the stupid html-encoding problem (html is hardcoded in Ernie's database), so érudit is in fact appearing as "&eacute;rudit". I'll have to figure out how to fix it - though this should be resolved with the move to libguides database list.

[2015-10-15 18:45] redlibrarian commented on #632
This is the same problem as issue #548 . It will be fixed in the next code release.

[2015-10-15 19:04] kgood commented on #586
The mixed font problem has been resolved.

[2015-10-15 19:04] #586 closed

[2015-10-15 19:14] kgood commented on #588
The Service Desk Link has been fixed

[2015-10-15 19:14] #588 closed

[2015-10-15 19:16] kgood commented on #584
I have renamed the CMS and Domain Transition milestone to be Library Web site - and yes, everything in the category will be done by January 2nd.

[2015-10-15 19:36] merisjames opened #633 "Advanced Search: Any/All"
There is no difference in number of results in advanced search, between "any" and "all" with "okhee water" (no quotes) in "All Fields".

Also, what is the effective difference between using advanced search "any" in "All Fields" versus the basic search? There are 5k more results in the latter v the former.

[2015-10-15 19:44] redlibrarian commented on #633
The advanced search is primarily for either specifying a field (e.g. title, author) or combining fields (e.g. title, author). As a result, there should be very little difference between using the All Fields advanced search and using the simple search (I'd have to check the index and code to see why there would be a difference of 5000 results between the two).

Having said that, I think that "any"

[2015-10-15 19:48] redlibrarian commented on #624
@seanluyk Which part? The we can't combine the indexes because they are stored in two different places (and one is the property of Ebsco). In terms of how the subject terms are searched, that's partly the API (how EDS results are returned to Blacklight) and partly the search logic is implemented on the EDS end. It is a big issue. Unfortunately, because we have no alternative but to license a knowl

[2015-10-15 20:19] seanluyk commented on #624
@redlibrarian the ability to click on LC subject headings in EDS and it search these as descriptors across databases is really useful functionality, it's too bad that this can't be done in Blacklight. I don't see a huge advantage of paying for a knowledge base when you're limited in what you can do with it, but I see why EBSCO would want to hold onto some level of control over their property, even

[2015-10-15 20:31] redlibrarian commented on #624
@seanluyk With KBs it's all or nothing: there are no open-source/access versions of a KB (well, there are a couple, but they are very new and not mature). So we either pay for a KB or we have no access to any article (etc) metadata or full text. And IP being what it is, the KB is a mess of licensing between us and Ebsco, and between Ebsco and the publishers. The advantage to the KB is exactly what

[2015-10-15 20:34] #262 closed

[2015-10-15 20:35] #590 closed

[2015-10-15 20:41] kgood commented on #591
The Get It FAQ link was removed.  That page no longer exists

[2015-10-15 20:41] #591 closed

[2015-10-15 23:40] hannepearce opened #634 "Add 856|3 as note field for discovery of NEOS Library Consortium Access collection."
I wanted to filter for just the new NEOS ebooks that we recently added to the catalogue (to show a faculty member) so I went into advanced search and searched for "NEOS Library Consortium Access" which according to Anne C-W is the label being put on these records. I tried it in the "All Fields" field of advanced search, first with quotations then without and the search results were not what I want

[2015-10-16 00:51] redlibrarian commented on #634
Thanks @hannepearce . There are two separate issues here. The second one (the problem with the library facet) is one that I'm already tracking down elsewhere. The first problem is due to the fact that "NEOS Library Consortium Access" isn't used in any kind of local note field, which is indexed by Blacklight - we're using this to allow people to search for specific collections. "NEOS Library Consor

[2015-10-16 01:05] redlibrarian commented on #634
@sjshores Do you know how often we use the 856 label rather than a local note for a collection name? I realize that in this case it's so that people can see "NEOS Library Consortium Access" on the link they click on to get the ebook, but do you think there are other cases like this? Rather than indexing the 856 label for search, it might be better to index that label as a note. "NEOS Library Conso

[2015-10-16 15:23] seanluyk opened #635 "Manually deleted record appearing in Blacklight"
The following record was deleted manually from Symphony at least a week ago:

https://search.library.ualberta.ca/catalog/6783477

Apparently this was "manually deleted" because it was in an ebook package we no longer have.

[2015-10-16 15:33] redlibrarian commented on #635
This is one of several issues that's making me think our updates aren't happening as frequently as we thought. @nmacgreg can you confirm updates are happening nightly? If so, then there's something else wrong...

[2015-10-16 16:22] sjshores commented on #634
Sam, this is the only collection where the 856|3 tag has this kind of
meaning.  It would be nice if the word NEOS or the phrase could be
searchable as a note.

Thanks,

Sandra

On 15 October 2015 at 19:05, redlibrarian <notifications@github.com> wrote:

[2015-10-16 16:36] redlibrarian commented on #634
OK, thanks Sandra. I'll see about tweaking the index to make this searchable.

[2015-10-16 16:46] redlibrarian commented on #634
OK, turns out we were already using this field in another piece of code, so I've made it searchable. It should work in the next code release.

[2015-10-16 17:28] linds37 opened #636 "Misleading note re: online access"
Hi. This note shows up for online resources at the bottom of the record:
"No University of Alberta Access. On-campus access allowed at the following locations:"
But, the University of Alberta Access link is there. In this case, the resource is an open access resource.

Sean said he mentioned this as well, noting that not all NEOS Libraries provide onsite access to e-resources. They are supposed to

[2015-10-16 17:50] redlibrarian commented on #636
This is the same issue as #538 and has been fixed (will be visible in the next release).

The logic that we have in place is as follows: When there is a U of A licensed link, or another link that we have access to (Free Resources, or NEOS ebook collection), then those links will display, but the links for other NEOS libraries *will not* display. When there is *no* U of A or free/NEOS link, then we

[2015-10-16 18:00] seanluyk opened #637 "No results returned in advanced search"
Testing the advanced search, I searched in all fields with no pre-faceting for transhumance and no results were returned. Works fine in simple search.

This word appears in many titles and is a subject heading, so I'm wondering why it's not working?

[2015-10-16 18:09] hannepearce opened #638 "Placing hold error"
I'm hoping this isn't an old issue that I've missed, I did a search but didn't find one that was similar. When I try to place a hold on a book I get an error "ITEM database ERROR" on the select a library screen.
![2015-10-16_11-52-06](https://cloud.githubusercontent.com/assets/14892833/10549470/776f9886-73fe-11e5-9991-45acea5defb4.jpg)

I'm not sure if it's related to the problem of location, libr

[2015-10-16 18:14] redlibrarian commented on #637
Ah, it's the same problem as in #550 . It's not a problem with the search term or anything, it's a bug in the result display logic. It's fixed, and so this should work fine in the next release.

[2015-10-16 18:15] redlibrarian commented on #638
It shouldn't be related to the location, etc, not showing up (which will be fixed in the new code). @jhennig can you look into this?

[2015-10-16 18:23] seanluyk opened #639 "Indexing and retrieval by publisher"
Is publisher information indexed and retrievable? If it is, it doesn't look like it's working.

Here's what I did:

1. Searched for Henle in both simple and advanced searches, no limits
2. Selected books and more
2. Limited to music scores

Only 2 results were returned, but we've got hundreds of scores by this publisher.

Could it have something to do with the fact that the publisher name in full

[2015-10-16 18:28] redlibrarian commented on #639
Hi @seanluyk You're right, the publisher name wasn't set as searchable (due to the fact that publisher isn't an out-of-the-box Blacklight field; I added it to display, but forgot to add it to search). It's added to the index configuration, so you should be able to search by publisher in the next but one release (our sysadmin is currently pushing yesterday's release through).

[2015-10-16 18:28] jhennig commented on #638
Thanks for the screenshot.

The catalog key in the place hold button on search.library is: 000043925273  I think this is wrong.
Shouldn't it be:  6924509 ? This is the 001 field.  I have no idea where: 000043925273  is coming from.

Jeremy

[2015-10-16 18:34] redlibrarian commented on #638
Interesting. I can see it in the solr index and it's coming from Symphony, but it's not a standard Symphony catkey. This might be the same problem as catkeys that we see starting with "ocn" - we get a brief record that gets put into the catalogue with its default ID (from the vendor or publisher), then we overlay a real record when we get one, giving it a correct Symphony catkey. These should be c

[2015-10-16 20:13] redlibrarian commented on #617
Done.

[2015-10-16 20:13] #617 closed

[2015-10-16 20:20] seanluyk commented on #639
Excellent, thanks @redlibrarian  I'll check it out two releases from now.

[2015-10-16 21:57] seanluyk opened #640 "Picky issue - labeling and case"
1. Sorry, this is really picky, but I've noticed that location/status labels are lowercase instead of Title Case. For example:
-on shelf instead of On Shelf
-music score instead of Music Score
-book instead of Book, etc.

For some reason lowercase labelling comes off as sloppy to me, I'm not sure why.

2. Also, in the record view, we refer to material types as **item type** and in the results view

[2015-10-16 22:11] seanluyk opened #641 "Map or Globe format"
Just encountered this while investigating #640. The occasional music score, recording, and book is incorrectly being labeled in the format facet as a *Map or Globe*. I see in the GMD that *cartographic material* is applied, which is an error in the catalogue records, and odd as the GMD does not match the material type in the item record:
![2015-10-16_16-01-25](https://cloud.githubusercontent.com/a

[2015-10-19 15:11] redlibrarian commented on #641
@theLinkResolver Can you take a look at this and let me know if this is fixable via mapping, or whether a project to correct the underlying data is required?

[2015-10-19 15:12] redlibrarian commented on #640
@nnunn I used lower case I think without consulting you. Can you take a look at this and decide what the best fit is, and what we'll need to do to make labeling consistent? Thanks.

[2015-10-19 16:51] theLinkResolver opened #642 "Item type vs. format, and terminology used"
Separated from #640 ( submitted by @seanluyk )

Also, in the record view, we refer to material types as item type and in the results view, the Format facet. These two labels should probably match, the latter being preferable (or a better alternative).

Also, there's a mismatch between the item type labels and how these are labelled in the format facet. For example:

Record View Label 	Results View

[2015-10-19 16:53] theLinkResolver commented on #640
I've moved the second part of this issue to #642 and will address it there (to some degree).

[2015-10-19 17:23] theLinkResolver commented on #642
@seanluyk I think this is a cataloguing question.

The results view shows us the "format" which is mapped from both the characteristics of the content and the bibliographic level (basically, monograph vs. serial).  This matches the "format" field as shown in the record view.  (I am working on getting more of these mapped out, and improving on the out-of-the-box terminology [issue #544 and elsewher

[2015-10-19 17:29] redlibrarian commented on #642
Thanks @theLinkResolver .

You're right that the item table doesn't use the MARC bib record data. It uses Symphony specific status/location strings. These currently default to what they are in the catalogue, but they can be changed. You can take a look at these two files for the current mapping - be warned though that the Symphony logic is inconistent:

https://github.com/ualbertalib/discovery/blo

[2015-10-19 17:31] theLinkResolver commented on #641
Great finds @seanluyk !  These records contain a coding error and the GMD got applied to them (based on the wrong coding) during a major automated cleanup project late last year.  I will arrange for the appropriate corrections.

[2015-10-19 17:35] theLinkResolver commented on #639
Just to double check due to some changes in MARC... @redlibrarian are both the 260 and 264 fields on equal footing in this regard (present and searchable)?

[2015-10-19 17:40] linds37 opened #643 "My account links and renewals listing"
Hi. I just renewed some books by going from the big My Account link on the main page of the new website. That worked well.

The My Account tab at the top of the search results screens (bento box screen and detailed listings screens) and the Advanced Search screen simply takes you back to the main page of the website, not to the login page for My Account.

In the My Account screen, would it be poss

[2015-10-19 17:48] theLinkResolver commented on #634
@redlibrarian in issue #562 the plan was to remove the 856 $3 from where it appears in the record view (since the same string of text appears as a clickable button).  Does the decision above change this?  (I just want to make sure it gets logged in #562 for our future reference, if that's the case!)

[2015-10-19 17:49] redlibrarian commented on #643
The first of these issues is for @nnunn (webpage fix).

The second is for @jhennig .

[2015-10-19 17:50] redlibrarian commented on #639
@theLinkResolver No, it looks like only the 260 is being indexed. I'll add the 264. I assume it's subfield a, like the 260?

[2015-10-19 17:51] redlibrarian commented on #639
(Correction, I'm also indexing the 260b for publisher name. Should that include 264b as well?

[2015-10-19 18:01] redlibrarian commented on #634
@theLinkResolver Let me know if this is wrong: there are 2 "library has" fields, one of which is the 856/3 that we are going to remove (it has, in fact, already been removed). The other "library has" field is a constructed field that gives (or should give) a full date range across all subscriptions. Separate from these two fields is the clickable 856 link, which uses both the 856/3 and the url in

[2015-10-19 18:06] theLinkResolver commented on #639
@redlibrarian To sum up -- 260 $b and 264 $b both describe publisher name: each record will have one or the other (not both), and all should be indexed.  260 $a and 264 $a have the place of publication.  While we're at it: if you are using 260 $c anywhere for date information, you should also use 264 $c the same way.

(Historical context: 260 is an older practice; 264 started to be used in its pla

[2015-10-19 18:08] theLinkResolver commented on #634
@redlibrarian Check, check and check.  And thanks for clarifying on the solution to this issue.

[2015-10-19 18:11] redlibrarian commented on #639
OK, thanks. I've added the 264$a and $b. The $c is a little trickier, as the date is handled by a custom Java program, but I'll see what I can do...

[2015-10-19 18:33] theLinkResolver commented on #537
@redlibrarian This has been fixed in the SFX KB but it's still showing as Spanish in Blacklight.

[2015-10-19 18:57] redlibrarian commented on #537
Thanks - the data will need to be reindexed. It should be fixed in the next code release, if not sooner.

[2015-10-19 19:16] theLinkResolver opened #644 "856 lacking $3 results in tiny, empty button as link to e-resource"
See http://search.library.ualberta.ca/catalog/2373386

This is a data/cataloguing problem, where the 856 only has the URL in $u and is lacking a $3 with the library and coverage statement.  Unfortunately, I'm quite certain that there are lots of records like this.  (I've been fixing the serials as of late in relation to another project).

@sjshores This is yet another cleanup project.  A search fo

[2015-10-19 19:17] jhennig commented on #643
I have this fixed in myaccount on test.  Once the holds url is changes on the new website I can have this pushed to production.

[2015-10-19 19:29] theLinkResolver commented on #486
@redlibrarian There are two scenarios:

1. Catalogued as an integrating resource. Will have all of these attributes:
- Bib_Lvl (Leader position 07) = i
- Ser_Type (008 position 21) = d or w

2. Catalogued as a monograph (pre-2002):
- Unfortunately, there is no surefire attributes in the MARC record.  I don't think there are actually very many in this category.

If item record data is available, th

[2015-10-19 20:13] dmc2 opened #645 "Call numbers not displayed"
Searched for learning styles and looking through the eBooks and more results - when click on more button the call numbers aren't displaying
![callnumbers](https://cloud.githubusercontent.com/assets/14880806/10589976/92b931e6-766b-11e5-9597-20d68e686239.png)

[2015-10-19 20:49] seanluyk commented on #642
Thanks, @theLinkResolver and @redlibrarian. I think making them consistent would be a big improvement over iLink, and if it's not too much work to implement, I'd say it's worth it.

However, you reminded me that things like no loan are there, which really are not item types, but refer to circ rules. I guess we're stuck with these unfortunately, but could make the ones that are item types match.

[2015-10-19 22:21] redlibrarian commented on #642
Yeah, that's a limitation of Symphony, I'm afraid (mixing status, type, sometimes location, etc). But we'll do what we can to make it more consistent.

[2015-10-20 14:33] sjshores commented on #644
Scott, Jim should be able to produce such a report, where there is no data
in the |3 subfield, but I also like Sam's suggestion of adding a word like
Link.

Sandra

On 19 October 2015 at 13:16, Scott Davies <notifications@github.com> wrote:

[2015-10-20 17:11] theLinkResolver commented on #608
@redlibrarian I should add, fyi, in cases where we overlay a record with a new one, the non-standard catkey will hang around until the weekend, when a report runs to reassign the previous (normal) catkey.  So if I do an overlay on Monday, the 001 won't revert for several days under the current schedule.

That particular report was suspended from Aug 22-Sept. 21, so there were maybe even more recor

[2015-10-20 20:40] fculpepper opened #646 "Link needed - PIN numbers"
The link for "PIN numbers" in the Services menu should go here: http://www.library.ualberta.ca/myaccount2/pin/
Currently directs here: https://search.library.ualberta.ca/#need-link

[2015-10-20 21:00] fculpepper opened #647 "Chat widget"
The new chat widget popped up on my screen (it's swell!) but the "No Thanks" button didn't work, that is, didn't close the pop up when I clicked it. The x in the corner worked though.

[2015-10-20 22:28] linds37 opened #648 "Question: Search syntax, parameters, etc.?"
Hi. So, what actually happens when you do a search in blacklight? I'm preparing for a grad course and tried this search:

industrial revolution and (wom?n or gender or girl*) and (Great Britain or United Kingdom or England)

It found some books and articles that are on topic. However, it looks like some of them are only partially on topic -- for example Industrial Revolution and England are covere

[2015-10-20 22:36] linds37 opened #649 "Marking records - not the same for books and articles"
the option to bookmark records does not appear in the articles list, only at the level of individual articles.

Is it possible to make the link to "Go to Bookmarks" at the top of the screen bigger and easier to find?

sorry if these are repeats

[2015-10-20 22:37] linds37 opened #650 "Opening new utilities, ie: RefWorks, Ask Us makes you lose your search screen"
When you export to RefWorks, the Refworks window opens in place of the search screen and you lose your search. Can it open in a new window? the Export to RefWorks function appeared to work well.

It's the same when you click on Ask Us -- the window opens on top of the search page and you lose your search. This would not work for someone who was trying to receive help by chat, who needs to chat and

[2015-10-21 15:59] gooyers opened #651 "Suggestion: Using EDS advanced search as default advanced search"
A colleague suggested this and I thought I would pass it along in case others want to comment on it.

The argument was, since Articles aren't searchable via Blacklight advanced search (and makes necessary both an EDS advanced search for articles and Blacklight for everything else), why not just use EDS as the default advanced search?

That being said, the EDS advanced search would not search 'ever

[2015-10-22 16:26] seanluyk opened #652 "Links to Databases appear to be broken"
1. Searched for a database (Music Industry Data)

2. Clicked on link from databases container

**Result**: "we're sorry, something has gone wrong"

-Tried this with a few other databases and experience the same issue.

[2015-10-22 17:16] scastell commented on #583
The phrase searching doesn't seem to be working - end up with over 5 million results when I click on the author's name. Doesn't matter which author phrase I click on, same results.

![image](https://cloud.githubusercontent.com/assets/14927291/10672540/130c5046-78ae-11e5-8cd3-5c7927affe04.png)

[2015-10-22 17:22] seanluyk commented on #648
@linds37  - I agree that it's really important for us to understand how results are being ranked. I experienced a similar issue yesterday when looking for a score for a student.

Although I was able to find it within the top ten results, the huge number of results (many of which are not relevant at all) takes some getting used to.

I also wonder, @redlibrarian , if the relevancy threshold needs so

[2015-10-22 17:27] seanluyk opened #653 "View results - Books and More - is broken"
In the Bento Box display, viewing results from Books and More appears to be broken. It results in a "something has gone wrong" page.

[2015-10-22 17:31] seanluyk opened #654 "Advanced search is broken"
I've been noticing some issues in the advanced search. It redirects to a "something has gone wrong" page from some all field searches.

For example...

1. Search for Henle in all fields

[2015-10-22 17:31] seanluyk commented on #639
This does not appear to be working, but does show some improvement (45 results instead of 2 for search for *Henle*, although there should be many more results).

However, it's also spawned two new issues, #653 and #654 which makes me think that something broke in the latest release

[2015-10-22 17:35] seanluyk commented on #637
This is not working correctly:
-Only results from books and more are appearing
-Only 26 results are returned, but a NEOS search returns 44

[2015-10-22 17:36] seanluyk commented on #581
This appears to be working

[2015-10-22 17:36] #581 closed

[2015-10-22 17:39] seanluyk opened #655 "SFX link display"
I don't recall seeing this last time, so something has changed:

*The University of Alberta access link in journal records are appearing in full, instead of as linked text

For example:
1. [This record](https://search.library.ualberta.ca/catalog/395190), and
2. [This record](https://search.library.ualberta.ca/catalog/531662)

[2015-10-22 17:41] seanluyk commented on #576
The panel is no longer displaying y/n when adding facets

[2015-10-22 17:41] #576 closed

[2015-10-22 17:43] seanluyk commented on #551
This does not appear to be working, but could be related to some of the other issues I submitted today, that suggest something broke in the latest release.

[2015-10-22 17:51] hannepearce commented on #638
I have tried placing a hold on this book today and I still can't achieve it in blacklight.
![university_of_alberta_libraries 2](https://cloud.githubusercontent.com/assets/14892833/10673446/1ab7d018-78b3-11e5-95dc-5b635dd5ad05.jpg)
also, it appears the holdings information is missing. The ebook record is showing holdings just fine.
![university_of_alberta_libraries](https://cloud.githubusercontent.

[2015-10-22 18:01] hannepearce commented on #634
@redlibrarian @theLinkResolver I'm working through my issues marked "check in next release" but not sure if this issue was expected to be resolved yet. A test showed that it's still not searchable -
![university_of_alberta_libraries 4](https://cloud.githubusercontent.com/assets/14892833/10673713/77cae186-78b4-11e5-8e06-9dbb68adade1.jpg)

[2015-10-22 18:04] hannepearce commented on #606
This issue appears resolved. All item locations are appearing as well as due dates.

[2015-10-22 18:05] hannepearce commented on #542
This issue appears resolved.

[2015-10-22 18:06] seanluyk commented on #548
EDS results in "" are being returned in simple search, but not advanced search. Closing this issue, but opening a new one.

[2015-10-22 18:06] #548 closed

[2015-10-22 18:08] seanluyk commented on #654
I'm not seeing any EDS results returned in advanced searches at all actually, just Symphony results.

[2015-10-22 18:16] seanluyk commented on #545
This is still an issue - a search for "Die Forelle" still only returns 13 results in books and more, when it should be around 198, as this phrase appears in contents notes of score anthologies, larger works, etc.

As expected, taking the "" away returns more results, so I'm not conviced that phrase searching is looking in contents_tesim

[2015-10-22 18:48] merisjames commented on #633
There is still a 5k difference in number of results between advanced and basic search.

[2015-10-22 18:50] merisjames commented on #538
Seems to be fixed, with the already? noted caveat that the whole big long link resolver url is visible.

[2015-10-22 19:09] gooyers commented on #614
Unfortunately I'm still experiencing the same issue. I tried the same search as before, and the "Guide d'enseignement" title appears as the first result in a search that is not limited to a particular library.

And upon adding the BSJ location as a limiter, the "Guide d'enseignement" title is no longer the top result, nor is it among the 41 results.

[2015-10-22 19:13] gooyers commented on #585
This was not a "Check-in next release" issue. But I still am not able to locate the film *Samba* in Blacklight.

[2015-10-22 19:20] seanluyk opened #656 "Back button and clicking on a record"
This is a new one, and I have no idea if it's machine specific or not, so perhaps some others could test.

From the results view:
1. Click on a record
2. Click your browser back button
3. Click on another record

Result: the occasional "we're sorry" page, but clicking the record again works.

[2015-10-22 19:22] seanluyk commented on #656
If it helps, this is one of the URLs that did this :https://search.library.ualberta.ca/catalog/5106396/track?counter=2&search_id=173651

[2015-10-22 19:45] theLinkResolver opened #657 "Item notes (from PUBLIC field) not displayed in items table"
The PUBLIC field in item records is used to hold information on bound volumes that lack certain issues, as well as for items that are bound with other items. It is not presently displayed in Blacklight items tables.

Example from https://search.library.ualberta.ca/catalog/2529824:

In Workflows:
![lacks - sirsi](https://cloud.githubusercontent.com/assets/14913579/10676208/f9c35666-78c1-11e5-9ac0-8

[2015-10-22 19:46] #536 closed

[2015-10-22 19:58] gooyers commented on #656
I was able to replicate this issue as well Sean.

It appears that when clicking in from a results page, "/track?counter=2&search_id=173651" is sometimes being added to the URL which returns an error. Without that additional information, the URL's work fine: [https://search.library.ualberta.ca/catalog/5106396](https://search.library.ualberta.ca/catalog/5106396)

[2015-10-22 20:34] sjshores opened #658 "Call number is blank in "more" expansion of Symphony bento results"

[2015-10-22 22:14] fculpepper commented on #541
The PDF link is indeed gone and replaced by "Full Text Available". However, this note only appears on those articles available through EDS, articles we do have access to but users have to go through Get It to find the full text don't have this notation. I'm afraid users will assume that full text of articles is not available if they don't see "Availability: Full Text Available".
By way of example,

[2015-10-22 22:27] #550 closed

[2015-10-22 22:31] sjshores commented on #533
It seems to me that the find more by this author link is not searching at all but instead presenting the entire database.  I get the header "results for in all library collections" and  1 - 25 of 5,674,410, which is the whole Symphony database. It should have said "results for [author's name] in all library collections".

[2015-10-22 22:40] sjshores commented on #658
I see that this is already captured in another issue so will close this one.

[2015-10-22 22:40] #658 closed

[2015-10-23 17:28] kgood opened #659 "Redirects for Moodle Widget"
Prior to January 2, need to sent up Apache redirects for links currently used with Moodle widget.  Also eventually move widget over to Blacklight.  changes to the widget take time to coordinate with IST and will not happen until long after launch.

[2015-10-23 17:33] kgood commented on #656
We had a misconfiguration with one of our servers.  We believe this should now be working.  can you please see if you can recreate it?  I was noticing it yesterday about every 3 or 4th click via the hit list but am not seeing it today since our fix.

[2015-10-23 18:48] seanluyk commented on #656
Looks like this has been fixed, closing the issue.

[2015-10-23 18:48] #656 closed

[2015-10-25 00:55] linds37 opened #660 "Placing hold not working"
I'm on my iPad trying to place a hold. It keeps saying "Cat key not specified", and won't place the hold. I tried on more than one book.

[2015-10-25 00:58] linds37 opened #661 "Sequence of links when prompted to login"
When I try to place a hold, but am not logged in, I get promoted to login, then get taken to My Account, and I lose the screen where I was trying to place the hold. If I try to use the back button, it just keeps asking me if I want to resubmit the form, and will not go back to the screen with the catalogue record on it. This is happening on my iPad.

[2015-10-26 16:38] fculpepper commented on #660
I'm getting the same error. But when I first try to place the hold I get this screen:
![image](https://cloud.githubusercontent.com/assets/14892870/10735335/161c31a8-7bcd-11e5-988a-6ca340892ebe.png)
Then I click the start new session link and it takes me to my account. I have to go from there to Search & Home to redo my search (this takes me to the current site, by the by). Once I've gotten back to

[2015-10-26 17:03] fculpepper commented on #660
Sorry, hit the close & comment button by mistake :/

[2015-10-26 19:13] theLinkResolver opened #662 "Can't display record"
I am trying to view the record for Science foundation in China (catkey 5905222), but I just get "something has gone wrong".

https://search.library.ualberta.ca/catalog/5905222

I was just working on the record (Oct 26) -- my edits:
- added 090 field
- added 506 field
- added 856 field (for UAL access)
- added MARC holdings for UAL
- added item record for UAINTERNET

I had not viewed the record in

[2015-10-26 21:28] theLinkResolver commented on #596
@merisjames I've been pondering this a bit more, and want to expand on my previous, brief answer.

"Integrating resource", as a bibliographic level in the cataloguing world, was implemented in 2002.  So, generally, any loose-leaf title that was catalogued prior to that was considered a monograph (displaying as "book").  Integrating resources are basically one of three things: a loose-leaf volume,

[2015-10-27 20:22] seanluyk commented on #660
I experienced the same issue as @fculpepper . This wasn't occuring before the latest release, so something's up!

[2015-10-27 20:31] kgood commented on #660
I can confirm that this (holds) is broken.  We are investigating.

[2015-10-27 20:38] seanluyk commented on #652
Noticed another twist to this issue...some of the items in a database query point to random records: https://search.library.ualberta.ca/databases?utf8=%3F&q=music

This is not happening consistently, but clicking on the odd item points to the wrong record.

[2015-10-27 21:11] seanluyk opened #663 "Availability of items in results view"
This is possibility duplicated in another issue, but I couldn't find it...

Is it possible to make the availability of items more clear in the results view?

How this is currently configured is that libraries that own the item appear in the **copies available** field in the order that they appear in Symphony, and it doesn't look like all libraries are listed.

I tried an experiement with a book I

[2015-10-28 15:53] kgood opened #664 "Improved Error Handling for Web Services Outage"
As observed during our web services outage this morning, we need better error handling for when web services is not available.  As it now stands, the application will simply give you the standard error message when trying to get to hitlist or full record.  It would be great if we could still see the metadata (minus the holdings info) in such an outage event.  Sub topic - do we have a similar probl

[2015-10-28 16:36] redlibrarian commented on #664
Hm. This could be tricky, as essentially the web services time out, and I don't know of a way to check if web services are up beyond making a request which would just... time out. I wonder if there's a way to shorten the time out time, and then add logic to render the rest of the page on a time out. @pgwillia do you know if there's a standard or best-practice way to do this?

[2015-10-28 16:41] pgwillia commented on #664
@piyapongch recently mentioned using AJAX to dynamically/asynchronously load page content. Might be applicable here. Downside is a dependency on javascript which is not a friend of accessibility.

[2015-10-28 16:59] redlibrarian commented on #664
Thanks @pgwillia  - @piyapongch. Currently the web services request is server-side, and I think asynchronous calls are hard (impossible?) in Rails because it's only single-threaded (iirc). Would that mean we'd have to rewrite the webservices code to load client-side (with AJAX)?

[2015-10-28 17:51] fculpepper opened #665 "Link to UofA Archives"
Can we add a link to [Archives] (http://www.library.ualberta.ca/aboutus/archives/) in either the Services section or the Library Locations & Hours section? Or maybe a link to [the location & hours page] (http://www.library.ualberta.ca/aboutus/archives/) in the Hours section and a link to their [webpage] (http://archives.library.ualberta.ca/) in Services?

[2015-10-28 17:56] pgwillia commented on #664
rescue_from?

[2015-10-28 18:01] theLinkResolver commented on #652
@redlibrarian The second issue here sounds like the "ID collision" you described in #616 (to be fixed with #498).

[2015-10-28 18:50] seanluyk commented on #544
@redlibrarian it doesn't look like this is functioning properly yet - we still have many unknowns, and video is particularly problematic.

[2015-10-29 14:07] kgood opened #666 "Error Handling for SFX Outage"
The same type of "generic error" message is displayed for ejournal records when the SFX API is unavailable.  Is there a way to improve this to still display the record but indicate the access is temporarily unavailable.

[2015-10-29 15:41] redlibrarian commented on #644
I've added default text that should work.

[2015-10-29 15:45] redlibrarian commented on #650
@linds37 When I click on Export to RefWorks, it opens in a new window. This should be true for all browsers, but can you tell me which browser you're using?

As for the Ask Us window, yes, that can be made to open in a new window. @nnunn I think this needs to be done in the CMS?

[2015-10-29 15:50] redlibrarian commented on #652
There was a bug in the database display code. This should be fixed in the next release.

[2015-10-29 15:52] redlibrarian commented on #653
I can't reproduce this problem. @seanluyk is it still happening?

[2015-10-29 15:57] redlibrarian commented on #654
The bug has been fixed, and should work in the next release.

As for EDS results - the default advanced search only returns local index results (Symphony, SFX, databases). For article advanced search, you have to use the other link. Does that help @seanluyk or am I misunderstanding your second comment?

[2015-10-29 15:58] redlibrarian commented on #655
I can't remember if this was a design/accessibility decision. @nnunn can you remind me? Is there a reason to display the URL along with the label. If not, we can hide it.

[2015-10-29 16:00] redlibrarian commented on #657
@theLinkResolver Can you tell me what field that ends up in in a MARC item or holdings record? I know I added public notes before, so I'm not sure why this one isn't appearing...

[2015-10-29 16:02] redlibrarian commented on #660
@jhennig The link I'm using for people to place holds is e.g. https://myaccount.library.ualberta.ca/createholds.php?hldCatKey=531662

Does this look right? Or have I messed something up?

[2015-10-29 16:03] redlibrarian commented on #661
Same issue as #660 . We're investigating with @jhennig

[2015-10-29 16:08] redlibrarian commented on #662
Fixed bug.

[2015-10-29 16:09] redlibrarian commented on #662
@theLinkResolver This problem wasn't due to changes to you made the record, but was a bug in the display logic. It should be fixed in the next release.

Just FYI, only item and 856 data is looked up live. Other changes aren't visible until a reindex.

[2015-10-29 16:26] redlibrarian commented on #663
OK, some of this is a bit weird...

1) Originally, looking up the status of an item wasn't possible, but it is now, so the only question is how best to display it. My concern is that with different call numbers and potentially quite a few locations, that displaying availability here like Virgo does will involved recreating the whole status table, which would take up a lot of space (and potentially

[2015-10-29 16:28] kgood opened #667 "Strategy for Robots.txt"
Need to come up with strategy for what will be in our robots.txt file.  Do we allow indexing of everything?  Will this cause performance issues?   Hydranorth is working on this as well.

[2015-10-29 16:31] redlibrarian commented on #664
This looks like it could work for us (at least, as a pattern), but they silently gloss over exactly how their Twitter exception works. All the example exceptions fail immediately due to some kind of problem, so I assume that their expecting something like an immediate 500 error from Twitter. I'm not sure we get this from Sirsi WS or SFX when they're down - @kgood do you know? If we do, then we cou

[2015-10-29 16:38] sjshores commented on #663
I'm wondering if we could instead change the phrase "Available at" to
something more accurate like "Held by" or "Owned by".

Sandra

On 29 October 2015 at 10:26, redlibrarian <notifications@github.com> wrote:

[2015-10-29 16:43] redlibrarian commented on #663
@sjshores We can do that easily, if we can agree on a label. Now that we have access to the live status, it might be good to indicate that too...

[2015-10-29 16:46] kgood commented on #667
Stanford - https://searchworks.stanford.edu/robots.txt
Columbia - https://clio.columbia.edu/robots.txt
Cornell - https://search.library.cornell.edu/robots.txt
Virginia - https://search.lib.virginia.edu/robots.txt

So only Virginia has done significant modification.

[2015-10-29 16:47] redlibrarian commented on #666
See issue #664

[2015-10-29 16:59] hannepearce commented on #648
I am adding to this question as I too am very puzzled by the relevance and ranking - especially in regards to simple search vs. advanced search -- Here in Education one of the MAJOR searches we do on a DAILY basis is combine a topic with the term *juvenile* (or juvenile fiction) it's how we find books in curriculum on particular topic.

I am preparing to teach for EDPS 401/501 (LGBTQ Contexts in E

[2015-10-29 16:59] redlibrarian commented on #663
OK, I figured out the problem with the missing locations. Those will be visible in the next release.

[2015-10-29 17:25] redlibrarian commented on #648
Thanks everyone. This is a *huge* topic, and combines a lot of different elements. I still need to work on a document for all staff explaining how this works, but let me take a stab at it here.

Blacklight uses an index called Solr (http://lucene.apache.org/solr/). This is what's known as an XML or document-index (i.e., it's not a relational database). It indexes XML documents created from all of

[2015-10-29 17:31] redlibrarian commented on #648
One more thing: this isn't to say that the relevance ranking algorithm/indexes can't or shouldn't be tweaked, just that we shouldn't think that we can tweak them into giving us very precise result sets like we are used to getting in e.g. Symphony.

[2015-10-29 17:46] merisjames commented on #648
I guess my major concern is that we are getting umpteen results that we don't expect... Google "ANDs" your terms, and will show any omitted terms greyed out with a strike through, so you know what you're not getting. It looks like here terms are being "OR"ed and then ranked. So yes, ideally good results still come at the top, but I'm not sure that we are improving our users' experiences by showing

[2015-10-29 17:51] redlibrarian commented on #648
We should certainly tweak the relevancy ranking if searches are bringing back many irrelevant results high up in the result list, but we'll have to be very careful about how we define "irrelevant". Also, as I say, thinking in terms of "OR" and "AND" may not be that useful. Neither Google or Blacklight uses Boolean logic to combine search terms/determine a result set.

[2015-10-29 17:52] redlibrarian commented on #648
Another way of thinking about this might be: instead of trying to figure out how to search in Blacklight, we should be thinking of how to find what we're looking for. This might seem like a subtly distinction, but I do think it gets at something important....

[2015-10-29 17:54] redlibrarian commented on #648
Maybe one thing that would be useful is if we got together and looked at a few searches and we could talk through what Solr and Blacklight are doing to coming up with the result set. Would that be helpful/useful? @timwklassen what do you think - is there time for a meeting like this?

[2015-10-29 18:40] seanluyk commented on #653
Must have been an isolated issue. Closing.

[2015-10-29 18:40] #653 closed

[2015-10-29 18:51] redlibrarian commented on #424
This is working now.

[2015-10-29 18:51] #424 closed

[2015-10-29 18:52] redlibrarian commented on #535
Hi @linds37 and @hannepearce - these both look like they're working now. Can you confirm and let me know? Thanks.

[2015-10-29 18:53] redlibrarian commented on #537
Hm. Still not fixed...

@nmacgreg Are the nightly update/indexes being done?

[2015-10-29 18:54] redlibrarian commented on #538
Yes - I've asked @nnunn about that in the other issue. I'm going to close this issue, since the original problem has been fixed. Thanks.

[2015-10-29 18:58] redlibrarian commented on #541
@fculpepper I think you're right. I've suppressed it now - it will be gone in the next release.

[2015-10-29 18:59] redlibrarian commented on #544
@theLinkResolver Any thoughts?

[2015-10-29 18:59] hannepearce commented on #535
Yes it appears to be working now. Thanks!

[2015-10-29 19:05] redlibrarian commented on #545
Hm. Something weird is going on. When I do a search for "die forelle" (phrase search) in the direct Solr interface to the index, I get back 198 results, and it is searching the contents_tesim properly. This is only one away from the Symphony result list, which is pretty good. When I search in the blacklight interface, though, this doesn't work, though the results should be the same. Strange - I'll

[2015-10-29 19:21] redlibrarian commented on #545
OK, well here's what it looks like is happening: when I do a search in the Solr admin for q="Die Forelle" I get the 13 results that Blacklight gives. When I do the query fq="Die Forelle" (a facet query), then I get back 198 results, all of which are relevant. So, we either need to loosen up the q search or somehow figure out what the fq search is doing so that we can get that functionality in Blac

[2015-10-29 19:27] theLinkResolver commented on #602
@redlibrarian To answer the question of where "time period" comes from, it's coming from geographical subdivisions ($y) in the subject headings.

[2015-10-29 19:38] redlibrarian commented on #545
I've changed the "mm" field back to what it used to be. This looks a little better in dev (not on a full dataset), so I'm going to have Henry modify the test index to see how that looks.

[2015-10-29 19:40] redlibrarian commented on #648
Working on #545 , I've discovered that, I think, @merisjames was essentially right, and the matching algorithm was being too permissive with search terms. I've reset that to the Blacklight default (we had changed it a while ago to get what seemed like better results), and it seems to give better results on my workstation. The next step is to have Henry change that in the test index and then we'll

[2015-10-29 19:41] theLinkResolver commented on #611
@redlibrarian I'm puzzled about why the author's name is coming up in a field labelled "ISSN".  I checked the record and it looks fine.  The author's name appears in two spots: the 100 field, and in $a of the 776.  Any ideas??

[2015-10-29 19:48] jhennig commented on #660
Fixed with myaccount upgrade.

[2015-10-29 19:48] #660 closed

[2015-10-29 19:50] redlibrarian commented on #611
@theLinkResolver Welp, it looks like the default mapping is for 776$a to be mapped to ISSN. Is that wrong? I think I use 776 for ISSN information in sfx2sirsi...

[2015-10-29 19:50] #535 closed

[2015-10-29 19:55] jhennig commented on #643
This is now in production.

[2015-10-29 19:55] #643 closed

[2015-10-29 19:56] jhennig commented on #579
New version is up. I think this should address your concerns.

[2015-10-29 19:56] #579 closed

[2015-10-29 19:57] linds37 commented on #535
Yes, it works on my screen too. Thanks!

[2015-10-29 20:03] linds37 commented on #660
I just went through the holds process. It all worked. thanks!

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities & Social Sciences Library
<http://guides.library.ualberta.ca/rutherford> and Weir Law Library
<http://guides.library.ualberta.ca/law>
1-01 Rutherford Library South
University of Alberta
Edmonton, Alberta
T6G 2J8
780.492.0598

lindsay.johnston@ualberta.c

[2015-10-29 20:05] theLinkResolver commented on #611
@redlibrarian At least there's an explanation! Okay, so the 776 is for another physical form of the item. In the case of this record, the field is describing the print version of this e-book, with the author's name in $a. (Your thought about the ISSN is not completely off-base -- 776 $x in a serial record is the ISSN of the title in that other format.)

Like anything, there are pros and cons for h

[2015-10-29 20:19] seanluyk commented on #663
@redlibrarian I think this might be one worth bringing to the larger group for discussion. I think if we can incorporate status into a results view in a useful/clear way, it would be really valuable to users.

If not, I like @sjshores' suggestion.

[2015-10-29 20:21] seanluyk commented on #654
@redlibrarian you can ignore my second comment, I forgot that only local index results appear.

[2015-10-29 20:26] redlibrarian commented on #611
@theLinkResolver OK, thanks - I'll remove the 776 from the ISSN mapping. The other ISSN mapping is the 022a - is that still fine?

And to get back to the original issue - the redesign of the bento panes has been discussed and approved by the testing team and we'll make that change shortly.

[2015-10-29 20:28] seanluyk commented on #635
@redlibrarian and @nmacgreg FYI - it's still appearing in Blacklight, but the link to the resource is gone.

[2015-10-29 20:33] seanluyk opened #668 "Non-EDS search APIs"
I've had some questions about whether or not it is possible for other search APIs (e.g. ProQuest, JSTOR, etc.) to be indexed and displayed in Blacklight search.

Are there plans for this in a future phase?

[2015-10-29 20:34] seanluyk commented on #602
@redlibrarian @theLinkResolver should probably retract my previous comment. I do think it's useful, and it's too bad that ranges and eras are mixed. Are eras and ranges coded differently at all? i.e. is it possible to sort them differently?

[2015-10-29 20:37] linds37 commented on #648
@redlibrarian Hi, Sam. One of my concerns is the scenario where there are very few or no items that actually contain the keywords that get searched. The example Habsburg Empire and humanism shows what I mean. I'll try again when you implement the change to the matching algorithm you just described. Right now, if you search for: Habsburg Empire humanism, there is really only one relevant result in

[2015-10-29 20:38] redlibrarian commented on #635
That means it's still in the index, but not finding a corresponding record in Symphony. This goes back to my suspicion that the index is not being updated. / @nmacgreg

[2015-10-29 20:39] linds37 commented on #579
thanks

[2015-10-29 20:40] redlibrarian commented on #668
It's not something that's come up, but it could be worth thinking about. The problem is that, like EDS, you won't be able to combine those results into a single index with anything else. You end up with a faceted search system, which libraries don't tend to use anymore due to the fact that they're a) slow and b) you can't connect one set of search results with another (in order to e.g. facet). We

[2015-10-29 20:42] seanluyk commented on #567
Now that I know that Boolean isn't working in Blacklight as I was anticipating, I think that this is no longer an issue and can be closed (it's also discussed elsewhere).

[2015-10-29 20:44] redlibrarian commented on #602
@seanluyk @theLinkResolver The Time Period values are populated from the 650$y, 651$y, 654$y, 655$y, and it's just using the straight data, so I think the mix is due to the underlying data. It might be possible to map that data to values/labels that are more consistent, but I'm not sure a) how much work that would be and b) how consistent our data is to begin with (which it would need to be in ord

[2015-10-29 20:45] redlibrarian commented on #648
Thanks @linds37 - judging by your description of the Habsburg Empire and Humanism problem, I'm hoping this fix will help with that. Let's take a look after the next release/reindex. Judging by some testing that I've done on my workstation, the number of false positives should be reduced with this change.

[2015-10-29 20:46] theLinkResolver commented on #611
@redlibrarian That's right - the 022 $a is the (only) ISSN that we want to see displayed in the record.

[2015-10-29 20:46] redlibrarian commented on #567
OK, thanks @seanluyk . Let me know, though, if the discussion we have around searching doesn't answer this, or raises any other issues. I'll close this for now.

[2015-10-29 20:46] #567 closed

[2015-10-29 20:52] theLinkResolver opened #669 "Location GOV_INFO displays as blank"
e.g. https://search.library.ualberta.ca/catalog/2887635

@redlibrarian I presume it just needs to be added here: https://github.com/ualbertalib/discovery/blob/master/config/statuses.yml

[2015-10-29 20:53] redlibrarian commented on #521
This has been decided by the testing team and WAT. We'll be changing the article bento to include all results.

[2015-10-29 20:53] #521 closed

[2015-10-29 20:53] #517 closed

[2015-10-29 20:54] merisjames commented on #669
That's a new location, so not surprised it's not showing up!

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Thu, Oct 29, 2015 at 2:52 PM, Scott Davies <notifications@github.com>
wrote:

[2015-10-29 20:54] redlibrarian commented on #520
This has been fixed.

[2015-10-29 20:54] #520 closed

[2015-10-29 20:55] redlibrarian commented on #534
@seanluyk Does this look right now?

[2015-10-29 20:57] redlibrarian commented on #543
OK, so the WAT recommendation is to use the LCSH strings, and @nnunn thinks she can reproduce the functionality we talked about (separate, but combinable, LCSH headings). I need to add the full LCSH string back into the record...

[2015-10-29 20:58] redlibrarian commented on #546
This will be fixed with the change in our bento panes.

[2015-10-29 20:58] #546 closed

[2015-10-29 21:00] seanluyk commented on #534
@redlibrarian Looks better, but I looked at a few other records and there's still some noise, for e.g. https://search.library.ualberta.ca/catalog/7092515

Not sure what should be done with the GMD. It's useful, but if the format is accurately captued in the format field, maybe this is duplicating it? Not sure what others think...

[2015-10-29 21:00] redlibrarian commented on #551
Weird. Contents_tesim has been added, and it being retrieved, but this search still isn't working properly.

[2015-10-29 21:01] redlibrarian commented on #552
Related to #663

[2015-10-29 21:02] redlibrarian commented on #557
This will be fixed with the new LCSH handling that @nnunn will work on.

[2015-10-29 21:05] redlibrarian commented on #559
I think I know why this isn't working. The indexed call number is the LC assigned call number in the bib record. The "folio" call number is one we've assigned, and are displaying using the Sirsi Web Services. Not sure how best to deal with this, unless there's a way to index item-level call numbers. @theLinkResolver do you know the MARC field for item level call numbers?

[2015-10-29 21:06] redlibrarian commented on #561
Huh. This should be fixed, but isn't. Again, I think this is due to a reindex not having taken place...

[2015-10-29 21:07] redlibrarian commented on #565
We decided in the testing team and at WAT to include all content types in the EDS pane. I'm going to close this ticket, as it's duplicated in a bunch of other issues.

[2015-10-29 21:07] #565 closed

[2015-10-29 21:09] redlibrarian commented on #583
I wonder if changing the "mm" setting (next release) will fix this problem...

[2015-10-29 21:09] redlibrarian commented on #585
I don't think there's been a reindex. I've asked Kenton and Neil to look into it.

[2015-10-29 21:10] redlibrarian commented on #593
Working now.

[2015-10-29 21:10] #593 closed

[2015-10-29 21:14] redlibrarian commented on #669
@theLinkResolver yes, you're right. I've added the new location to the statuses file. We'll have to have some way to keep on top of these after we launch (internal ITS procedure).

[2015-10-29 21:14] seanluyk opened #670 "Relationship designators (MARC 100-111 & 700-711, subfields e and j)"
I think it would be very useful to index and display relationship designators where possible, as this really helps users distinguish who is the composer, performer, editor, etc. for an item.

I'm not sure how widely these are applied, @theLinkResolver?

[2015-10-29 21:17] redlibrarian commented on #534
Oh, now that I look at both these records, neither of them is cleaned up. I think this is due to there not having been a reindex yet. Still, yes, maybe we should decide whether both Format and Object Type are useful....

[2015-10-29 21:18] dmc2 commented on #648
I was at a conference this week and heard a very good presentation from someone at Ebsco who's been doing some large UXs testing (undergrads and doctors). Based on what they've found students are happy with billion results because they only look at top 3 and will either change terms or use facets to narrow. So I think Sam makes a valid point about how we need to re-think our search preferences as

[2015-10-29 21:18] redlibrarian commented on #670
They're easy enough to add.

[2015-10-29 21:25] seanluyk opened #671 "Characters with diacritics bolded"
Just noticed this investigating another issue. Characters with diacritics appear to be displaying with a different font, and in bold. For e.g.: https://search.library.ualberta.ca/catalog/7092515

[2015-10-29 21:27] redlibrarian commented on #671
That must be a font thing. @nnunn ?

[2015-10-29 21:45] sjshores commented on #648
And focus on tweaking relevance to make those top results as consistently
as good as possible.

Sandra

On 29 October 2015 at 15:18, dmc2 <notifications@github.com> wrote:

[2015-10-29 21:48] theLinkResolver commented on #559
@redlibrarian The 090 fields (there can be quite a few) contain the call numbers as used at the item level, and those should be indexed instead.

Related to #602 and #552 call number issues, what are you using for display in search results?

[2015-10-29 21:52] theLinkResolver commented on #641
The errors in these bib records are now in the queue to be fixed, and the changes will subsequently appear in the Blacklight results. As this is not a Blacklight problem, I am closing the issue.

[2015-10-29 21:52] #641 closed

[2015-10-29 22:24] theLinkResolver commented on #670
@seanluyk Good question. I don't use them too much as I specialize in serials but my sense is that relator terms (subfield e) are applied with care and would have good value, as you describe.  Subfield j (attribution information for names when the responsibility is unknown, uncertain, fictitious, or pseudonymous) is relatively new (2000) and I don't know much about it.

[2015-10-30 15:21] theLinkResolver commented on #596
I'm going to close this because we are going to address the mapping of formats elsewhere, and ensure that we get those labels right (issue #544). The issue of how loose-leafs are/were catalogued is not a Blacklight issue -- but like so many things, I'm glad it came up in this context.  I will bring the matter forward for further investigation.

[2015-10-30 15:21] #596 closed

[2015-10-30 15:29] redlibrarian commented on #559
@theLinkResolver Thanks for the information. I'll see if I can index the 090s. There's still the question of which call number we pick when we can only display one, since (afaik) each UA library can have different ones.

Wrt the search results - I *believe* that's taken from the *first* call number Solr finds in the record. I think this may be arbitrary, depending on the order Symphony attaches it

[2015-10-30 15:53] redlibrarian commented on #648
I'm trying a tweak to the search behaviour on our test server. Using the sample search **humanism habsburg empire** I get 110,855 "Books and More" results in the current live interface and 428 results in the test interface. This looks to me like an improvement: even though the last of the 428 results don't look relevant, there are fewer results, and the first results look extremely relevant. (As f

[2015-10-30 16:04] redlibrarian commented on #648
Searching for **homosexuality juvenile** in the current interface returns 127,039 "Books and More" results, and only 104 results in the test interface. Searching for "fiction" is tricky - I doubt that field is being indexed for search. @theLinkResolver do you know which MARC field that is and whether we use that consistently?

[2015-10-30 16:05] redlibrarian commented on #648
I'm going to leave this search functionality tweak in place in the next release. We can see whether it improves the results that you're getting.

[2015-10-30 16:06] pgwillia commented on #664
Just wondering if anyone has any suggestions for how long to wait for timeout (10 seconds?) and language to display to the user when the service is unavailable ("Could not contact Symphony" / "Could not contact SFX").

[2015-10-30 16:21] theLinkResolver opened #672 "Multiple copies (items) under one call number not displayed"
In the items table, when we have multiple copies of something under one call number, we are only seeing one copy.  example record: https://search.library.ualberta.ca/catalog/3064619

In Workflows, we see one copy at BARD and two copies at Health Sciences. Copy 1 is non-circulating (in their rare book room) and copy 2 is available in the stacks:
![wf 2 copies](https://cloud.githubusercontent.com/as

[2015-10-30 16:22] theLinkResolver commented on #559
@redlibrarian You're right that there are multiple call numbers in use across the branches (it's avoided these days, but it happens, and happened a lot in the past).

As to which call number to display, I caution everyone that it's going to be impossible to find a way to display the most-desirable call number in the search results in every instance.  Even if non-UA numbers are filtered out, you ca

[2015-10-30 16:37] theLinkResolver commented on #602
@seanluyk No, there is no variation in how these are coded, and there are a variety of forms.  "Time period" is as specific as it gets!  (MARC21 says: "The chronological aspect of subjects may be expressed in a variety of ways depending on the patterns that have evolved in the various fields.") And of course, lots of works don't have any time period specified, so this facet wouldn't apply to those

[2015-10-30 16:48] #661 closed

[2015-10-30 16:49] theLinkResolver commented on #657
@redlibrarian I'm not sure what your item data looks like - maybe you can send me a snippet?  Or I can come look over your shoulder.

[2015-10-30 17:10] hannepearce opened #673 "Include Call Number in Book Mark information"
Some people might like to bookmark books in the catalogue and then email a list to themselves so they can go and retrieve them off the shelf. I tested this today and it sent me links - ideally it would be nice if the info sent included call number so you don't have to click on each link to find out where to find it. More of a luxury request than a necessity.

[2015-10-30 17:26] linds37 commented on #648
Yes, that definitely sounds like an improvement. Juvenile literature and
Juvenile fiction are subject subdivisions in the 650 field, ie:
Homosexuality--Juvenile literature
<http://neos.library.ualberta.ca/uhtbin/cgisirsi/?ps=u5tKTpf3LN/UAARCHIVES/98250703/18/X650/XSUBJECT/Homosexuality+Juvenile+literature.>
(see,
for example http://www.library.ualberta.ca/permalink/opac/7033681/WUAARCHIVE
)
Homose

[2015-10-30 17:40] redlibrarian commented on #648
Ah, that's great, thanks @linds37 . If I do a search now for **homosexuality "juvenile fiction"** I get 71 results in the test interface, all of which look relevant. Compared to >50,000 results in the live interface. I think that's getting closer to what we need.

[2015-10-30 17:40] theLinkResolver commented on #534
I can help with the distinction between "format" and "object type". The "format" field contains a term based on the type of content that the record is describing - for example: book, serial, music score, map. The "object type" field is basically telling you about the medium - for example: electronic resource, microform, sound recording.

So for an electronic journal, the format=journal because tha

[2015-10-30 17:41] redlibrarian commented on #648
Interesting - just for comparison, Symphony returns 78 results for **homosexuality and "juvenile fiction"**.

[2015-10-30 17:42] redlibrarian commented on #545
This still isn't working in the test interface. I'll have to keep investigating.

[2015-10-30 17:44] sjshores commented on #648
Could it be that we've added some titles since the index was last updated
in Blacklight production?

Sandra

On 30 October 2015 at 11:41, redlibrarian <notifications@github.com> wrote:

[2015-10-30 17:45] hannepearce commented on #648
Yes it is very likely - as we just ordered a round of books on this subject a little while ago. @redlibrarian your test results sound promising!

[2015-10-30 17:46] redlibrarian commented on #534
@theLinkResolver Basically, it takes a look at the locations, and if it contains a location of (e.g.) UAINTERNET then it's tagged as electronic, if it contains a location of (e.g.) UAHSS then it's tagged as print. The facet is multivalued, so if it has a location of UAINTERNET and a location of UAHSS, then it's tagged as both print and online. The mapping is here: https://github.com/ualbertalib/di

[2015-10-30 17:47] redlibrarian opened #674 "Redesign bento boxes"
As per WAT, panes should be
1. Books, media and more … (all things symphony minus journals; includes ebooks, and streaming audio and video)
2. Articles (EDS) we will include all EDS content in the bento pane, unless we can exclude Symphony content to avoid duplicated records.
3. Journals (we want SFX records plus print records from Symphony (but excluding e-journal records from Symphony ).
4. Data

[2015-10-30 17:48] redlibrarian opened #675 "Relabel "print/online" facet"
As per WAT, change to:
Access:
  At library
  Online

[2015-10-30 17:49] redlibrarian opened #676 "Change "Time Period" to Historic Period"
As per WAT.

[2015-10-30 17:51] linds37 commented on #648
@redlibrarian Hi, Sam. It would also be good to try the test server search with some searches that did have relevant hits at the tops of the lists before, to make sure they're still there, eg:
industrial revolution women England

At our meeting, I'm hoping we can discuss ways to incorporate searching for synonyms / related terms, eg: knowing that the concepts of women and England can be expressed

[2015-10-30 17:55] theLinkResolver commented on #534
@redlibrarian Very practical - the issue of records with both formats was one of my concerns and that solves it quite nicely!

Now, I acknowledge that lots of those other NEOS libraries don't have the separate internet "branches", so there would be online things mixed together in the location that has been coded as "print". But since this interface is all about UA users, that's not likely to cause

[2015-10-30 17:56] redlibrarian commented on #648
@sjshores I'm pretty sure we don't have a fresh index. Kenton is following up.

@linds37 searching for **industrial revolution women england** produces 173 results in the test interface and 305,000 in the live interface. Reassuringly, the titles in the first page of results (25 titles) are almost exactly the same - there are a few titles that are different in each list, but I think the relevance s

[2015-10-30 18:03] linds37 commented on #648
that sounds really good. Thanks!!

Lindsay Johnston, Public Services Manager & Subject Librarian
Rutherford Humanities & Social Sciences Library
<http://guides.library.ualberta.ca/rutherford> and Weir Law Library
<http://guides.library.ualberta.ca/law>
1-01 Rutherford Library South
University of Alberta
Edmonton, Alberta
T6G 2J8
780.492.0598

lindsay.johnston@ualberta.ca

On Fri, Oct 30, 2015 at 1

[2015-10-30 18:11] #676 closed

[2015-10-30 18:15] #675 closed

[2015-10-30 18:21] redlibrarian commented on #514
I've added this to the basic display. If something further is needed (i.e. combining it with the larger title), we'll need a new issue.

[2015-10-30 18:21] #514 closed

[2015-10-30 18:29] #502 closed

[2015-10-30 18:31] #500 closed

[2015-10-30 18:42] redlibrarian commented on #664
@pgwillia Good questions. For the timeout, @nmacgreg will have a better sense than me what our load times typically are. If it's tweakable, we could start with 10 seconds and see what that looks like? As for the messaging, I'd rather avoid using the names of behind-the-scenes services. How about something like "data temporarily unavailable" for both?

[2015-10-30 23:03] fculpepper opened #678 "Missing item showing up in search"
The record for this missing item, [Real analysis: modern techniques and their applications] (https://search.library.ualberta.ca/catalog/1746053), is displaying but without any items attached. It's not in EDS or NEOS and in WorkFlows it appears it was set to Missing in February (Last Activity Date):
![image](https://cloud.githubusercontent.com/assets/14892870/10859842/103902e0-7f27-11e5-8d78-ac27e6

[2015-10-30 23:36] redlibrarian commented on #678
Thanks @fculpepper - Blacklight is supposed to get updated nightly, but I think that this isn't happening. We're currently investigating with the sysadmins to find out why not, but missing/lost/otherwise suppressed records shouldn't appear.

[2015-11-02 17:45] redlibrarian opened #679 "Add new fields to sfx_index.properties"
Add the fields that have been added to symphony_index.properties (e.g. 880, alternate_title)

[2015-11-02 18:17] redlibrarian opened #680 "Peer-reviewed field for SFX records?"
Accurate? Useful? Which field?

[2015-11-02 21:31] redlibrarian commented on #672
Hm. This might have something to do with the XML parsing. I'll look into it.

[2015-11-02 21:32] redlibrarian commented on #673
I'm starting to think including a "generic" call number is going to be a problem. @theLinkResolver and I have kicked it around, and there isn't a single call number that will generally work for something in the catalogue. I'll have to think about this one. I'm going to set it to the next milestone.

[2015-11-02 21:34] redlibrarian commented on #504
Natasha has written some code to address this. We're going to test this on the new indexing/search rules, and it should be in place for the next release.

[2015-11-02 21:36] redlibrarian commented on #522
Addressed in #504 I'm going to close this ticket.

[2015-11-02 21:36] #522 closed

[2015-11-02 21:37] redlibrarian commented on #540
We'll be discussing this question on Friday, but a tweak to the index should also be in place before then. I'm going to close this ticket.

[2015-11-02 21:37] #540 closed

[2015-11-02 21:37] redlibrarian commented on #543
Addressed in #504 .Closing this ticket.

[2015-11-02 21:37] #543 closed

[2015-11-02 21:38] redlibrarian commented on #544
OK, @theLinkResolver has given me some additional mappings which should help to address this. Long term we have a plan to increase the granularity of format mapping, but this will have to wait until next year.

[2015-11-02 21:39] redlibrarian commented on #547
We should suppress the **Year** field for Journals for now.

[2015-11-02 21:40] redlibrarian commented on #549
Further to our discussion about summary holdings statements, @theLinkResolver , I'm going to move this issue into the next milestone, as it needs to be thought through from the beginning.

[2015-11-02 21:41] redlibrarian commented on #557
Addressed in #504 .Closing.

[2015-11-02 21:41] #557 closed

[2015-11-02 21:54] redlibrarian commented on #604
We've added some new mappings to formats, and in the meantime I've suppressed the display of "Unknown" (the format is left blank if unknown) as more mappings are added, fewer items should display blanks here. I'm going to close this ticket, it should be better addressed in #544

[2015-11-02 21:54] #604 closed

[2015-11-02 22:10] redlibrarian opened #681 "Exclude Symphony content from EDS pane."

[2015-11-02 22:11] redlibrarian opened #682 "Exclude Symphony e-journal records from Journals pane."

[2015-11-02 22:12] redlibrarian opened #683 "Remove ebook pane from bento"
@nnunn - I've modified the Books..., Articles..., and Journals bento panes to include their new content. Can you remove the ebook pane (I tried, and totally screwed up the page). When your done, can you assign this issue back to me, and I'll remove the ebook logic from the bento controller. Thanks.

[2015-11-02 22:12] redlibrarian commented on #674
Done, except for #683 . I'm going to close this issue.

[2015-11-02 22:12] #674 closed

[2015-11-02 22:16] redlibrarian opened #685 "Ensure regular index updates are taking place."

[2015-11-02 22:17] redlibrarian commented on #685
@kgood I'm creating this issue so I can close the other ones with people reporting stale records.

[2015-11-02 22:18] redlibrarian commented on #678
This is definitely due to the problem of the periodic reindexing not taking place. I'm going to close this ticket, as I'll be watching the problem in issue #685

[2015-11-02 22:18] #678 closed

[2015-11-02 22:18] #606 closed

[2015-11-02 22:20] redlibrarian commented on #611
This is addressed in #684 . Closing.

[2015-11-02 22:20] #611 closed

[2015-11-02 22:22] redlibrarian commented on #601
According to the discovery testing team and WAT, we're going to leave this as is for now, but may reopen the issue at a later date.

[2015-11-02 22:22] #601 closed

[2015-11-02 22:23] redlibrarian commented on #585
We have a problem with periodic indexing. I'm going to close this issue, as I'm investigating the issue in #685

[2015-11-02 22:23] #585 closed

[2015-11-03 20:37] redlibrarian commented on #648
I'm going to close this issue, as we'll be discussing it in person on Friday. Feel free to reopen if necessary.

[2015-11-03 20:37] #648 closed

[2015-11-03 20:40] redlibrarian commented on #651
Yeah, I think the big downside would be that as we add more and more content to Blacklight that's not searchable in EDS, the advanced search would become less useful.

I **actually** think that we'll find advanced search not being used very much, except by staff. If we make simple search work, then advanced search should be more or less a non-issue.

[2015-11-03 20:40] redlibrarian commented on #651
@gooyers Given my response above, we can either close this issue and reopen it if the question comes up again, or we can move the question to the January - April milestone for more discussion. We won't make this change for the January release, it think. What do you think?

[2015-11-03 20:43] redlibrarian commented on #645
I'm actually going to remove the call number functionality from this result page. As per @theLinkResolver, in a large, multi-institution system like NEOS, it's almost impossible to determine which call number to display when you only want to display one. The clearest information is in the item table, so for now that's the place to get the call number from....

[2015-11-03 20:43] #645 closed

[2015-11-03 20:43] redlibrarian commented on #642
I'm going to reassign this issue to the January-April milestone, as I don't think we have time to get to the bottom of this before the end of November.

[2015-11-03 20:44] redlibrarian commented on #635
Closing this issue as I'm addressing it in #685

[2015-11-03 20:44] #635 closed

[2015-11-03 20:49] redlibrarian commented on #633
I'm now getting the same results (43,281) for this search from both advanced search and simple search. @merisjames Can you take a look and see if you're getting the same?

[2015-11-03 20:56] merisjames commented on #633
Basic: 48158 results for okhee water
Books and more 33179 results
eBooks and more 14507 results
Articles 6 results
Electronic Journals 463 results
Databases 3 results

Advanced: 43,281
Print 33,179
Online 14,973
At Library 45

It looks like it isn't correctly adding up the advanced results for a total number of results?

[2015-11-03 20:57] redlibrarian commented on #657
The item snippet looks like this:
    <ItemInfo>
    <itemID>0162016255919</itemID>
    <itemTypeID>PERIODICAL</itemTypeID>
    <currentLocationID>ON_SHELF</currentLocationID>
    <homeLocationID>ON_SHELF</homeLocationID>
    <chargeable>true</chargeable>
    <fixedTimeBooking>false</fixedTimeBooking>
    <publicNote># bound with earlier title</publicNote>
    </ItemInfo>

I think what's happening

[2015-11-03 21:07] redlibrarian commented on #657
OK, I think this is fixed now, @theLinkResolver

[2015-11-03 21:08] redlibrarian commented on #608
Addressed in #685 . Closing this ticket.

[2015-11-03 21:08] #608 closed

[2015-11-03 21:10] redlibrarian commented on #621
This has been changed according to WAT's approval. It will be apparent in the next release.

[2015-11-03 21:12] redlibrarian commented on #599
@seanluyk Can we close this issue, or should I move it to the January milestone for more discussion. I doubt we'll have time to make any changes to this before the end of November.

[2015-11-03 21:12] redlibrarian commented on #597
I'm going to move this to the next milestone. It doesn't seem to be a high-priority issue, but we should track it down when we have time early next year.

[2015-11-03 21:13] #616 closed

[2015-11-03 21:13] redlibrarian commented on #580
Let's discuss this in the new year.

[2015-11-03 21:14] redlibrarian commented on #602
I'm going to close this issue. @theLinkResolver and I have identified some data cleanup issues that will hopefully be addressed in the new year.

[2015-11-03 21:14] #602 closed

[2015-11-03 21:15] redlibrarian commented on #578
I think that - absent a data cleanup project by Bib Services - the call numbers are about as good as they're going to get right now. @theLinkResolver , @seanluyk I'm going to close this issue, but @theLinkResolver and I know that we need to think about call numbers in the new year.

[2015-11-03 21:15] #578 closed

[2015-11-03 21:26] redlibrarian commented on #633
Hm. I think there isn't so much a search/retrieval problem here as an issue around what's getting put in what bento pane. Let's see if it's clearer when we redesign/relabel the panes.

[2015-11-03 21:46] redlibrarian opened #686 "Merge subtitle and title on results page"
I really don't like how the subtitle is separated and in a much smaller font from the title.

[2015-11-03 22:10] redlibrarian commented on #594
OK, this should be fixed in the next release.

[2015-11-03 22:11] redlibrarian commented on #598
I've removed call number display from the bento pane, as there's no good candidate for what call number to use here. @theLinkResolver and I have noted that we need to think more deeply about call numbers in the new year.

[2015-11-03 22:11] #598 closed

[2015-11-03 22:14] redlibrarian commented on #627
I'm trying an adhoc fix for now. This will be resolved in any case with the move to the libguides list.

[2015-11-03 22:31] redlibrarian commented on #326
This will be fixed with the new libguides database functionality. I'm going to close this issue.

[2015-11-03 22:31] #326 closed

[2015-11-04 15:32] redlibrarian opened #687 "Create more granular "format" data, using the leader and the 008."

[2015-11-04 17:17] fculpepper opened #688 "View all Books and more error"
When you click on the View all Books and more button from the result pane, you get this:
![image](https://cloud.githubusercontent.com/assets/14892870/10946002/2ce9f534-82dd-11e5-8fe8-33b59df8b2c7.png)

[2015-11-04 17:18] hannepearce opened #689 "Advanced author search irrelevant results"
Had to do some author searching this morning and ran into this. Not sure if this is related to the latest release but I have tested it at my workstation and on the desk.

I did a search for Tove Jansson in basic search and got an error. So then I searched for Tove Jansson (Author name) in advanced search I got a bunch of strange results that do not seem relevant.
![2015-11-04_9-58-34](https://clou

[2015-11-04 17:24] scastell commented on #583
no change, still getting 5,691,190 search results.

[2015-11-04 17:34] redlibrarian commented on #688
@fculpepper Can you try clearing your browser cache and try again - it should work.

[2015-11-04 18:31] fculpepper commented on #688
Sorry @redlibrarian, cache cleared, still happening.

[2015-11-04 19:04] redlibrarian commented on #688
Weird. @ualbertalib/discovery-testing is anyone else having this problem?

[2015-11-04 19:10] merisjames commented on #688
I just got the same result (no result) for the same search.

Tried a couple other searches as well, same no result.

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Wed, Nov 4, 2015 at 12:04 PM, redlibrarian <notifications@github.com>
wrote:

[2015-11-04 19:14] fculpepper opened #690 "Different number of results, bento vs results page"
This is happening with all of the searches I've tried:
![image](https://cloud.githubusercontent.com/assets/14892870/10948897/4fda7d2e-82ed-11e5-8a9c-0482087a8d4d.png)

Click on "48 results" and now it's only 43:
![image](https://cloud.githubusercontent.com/assets/14892870/10948928/7706b7dc-82ed-11e5-863c-c66c86cfcd74.png)

[2015-11-04 19:20] scastell opened #691 "serials - summary holdings statements - micro and e holdings"
note - very broad definition of a serial, ie includes periodicals, newspapers, etc.

Traditionally we (UA) have not created individual item records for e- and micro(film/fiche... ) holdings, but have created a single item record as a placeholder and relied on the summary holdings statement to indicate holdings. Other libraries appear to have done this as well, exception Grant MacEwan(?).

Example

[2015-11-04 19:23] fculpepper commented on #504
I think this is related? Not all of the subject headings are displaying in the awesome clickable subdivision string.
For example [this record] (https://search.library.ualberta.ca/catalog/833869), first subject heading has clickable bits:
![image](https://cloud.githubusercontent.com/assets/14892870/10949116/703680ee-82ee-11e5-8759-13d7b246d07b.png)

But in [NEOS] (http://www.library.ualberta.ca/per

[2015-11-04 19:35] redlibrarian commented on #691
Thanks @scastell

The definition of "serial" is something we might have to talk about. Our vocabulary on this subject ("periodical" "journal" "serial") is pretty ambiguous compared to what cataloguers, for example, use.

We have recently changed the policy at U of A, to create separate print and electronic records. We're in a transition period right now, where we continue to have both kinds of con

[2015-11-04 19:37] redlibrarian commented on #504
Thanks @fculpepper. I should be able to make the rest of the subjects appear in the clickable/string format as well.

[2015-11-04 20:21] redlibrarian opened #692 "Post-Launch discussion/planning"
Mid-January.
Brian, Sandra, Kenton, Tim(?)

... as part of planning January - April work, with a view to doing post-launch assessment before the end of Winter term.

[2015-11-04 20:31] redlibrarian opened #693 "Add author facet?"
Preparatory to being able to remove the Blacklight advanced search screen, so we would only need to use the EDS advanced search (and make it clear that it's searching  EDS).

[2015-11-04 21:40] fculpepper commented on #541
Yep, it's gone! Looks good.

[2015-11-04 21:40] #541 closed

[2015-11-04 21:57] fculpepper commented on #689
I'm getting the same 5,691,190 results as Hanne's first screen shot no matter which field I try to search in the Advanced search

[2015-11-04 21:58] theLinkResolver commented on #691
I can add some remarks and background on this, as it touches on a few different issues in the cataloguing realm. The observation by @scastell is quite correct that we use placeholder items in many instances:

- Microform serials. Individual reels and fiche are not barcoded and, as a general rule, the items do not contain any information about the volumes/years held. That information can only be fo

[2015-11-04 22:01] theLinkResolver commented on #691
Oh and regarding print and electronic access together, as of today, the internet access for UA, MacEwan, GPRC and AGL will start to disappear from print serial records, with other libraries to follow. So in the case from @scastell, we don't want to see that MacEwan link, or any others. Their summary holdings is still there but it will disappear tomorrow.

[2015-11-04 23:13] scastell commented on #688
4:10 pm - just happened to me as well. Different search terms but same result.

[2015-11-04 23:48] redlibrarian commented on #688
@ualbertalib/discovery-testing Does it happen both when you click on both the "X results" link at the top of the box, and the "View all Books..." link at the bottom? I can see a problem with the bottom link, but the top link continues to work fine for me... I'm having trouble tracking down where the problem might be.

[2015-11-04 23:51] scastell commented on #688
In my case, just the bottom link. "x results" link works.

[2015-11-05 00:03] redlibrarian commented on #688
@scastell Thanks.

[2015-11-05 14:43] gooyers commented on #651
I agree that ideally, an optimized simple search should limit the need for high usage of advanced search. And I agree that EDS is less than ideal as we add more content only searchable by Blacklight.

That being said, as it currently exists, Blacklight advanced search may be used fairly frequently for known item searches. In usability testing, users tend to click into advanced search when they're

[2015-11-05 14:43] #651 closed

[2015-11-05 14:46] gooyers commented on #594
@redlibrarian Unfortunately there are still two Subject attributes when I click into advanced search.

[2015-11-05 14:51] gooyers commented on #689
I received the same results. It seems the latest code release temporarily broke something in the advanced search

[2015-11-05 14:58] gooyers commented on #614
I could not repeat the same steps, as advanced search is not currently working (Issue #689), but this issue appears to be fixed.

I conducted a simple search for **guide d'enseignement art dramatique**, entered the Books&more pane and was able to limit to BSJ without the item disappearing. I can open the issue again if I try the same path again once advanced search is up and the previous issue app

[2015-11-05 14:58] #614 closed

[2015-11-05 21:16] linds37 opened #695 ""Start over" link generates random search"
Hi. I was just testing the new algorithm. Seems to be working well. When you click on the "start over" link at the top of the search screen, it brings you back to the bento box screen with a random search in it and it says, eg: 7835143 results for [blank].
It would be better to go back to the main search page, or to blank bento boxes, if that is possible.
I'm not sure if the "start over" link is n

[2015-11-05 21:53] redlibrarian commented on #498
Done. Check in next release.

[2015-11-06 00:01] sjshores commented on #695
If I'm understanding things correctly, I think we need the start over link
because it takes you out of that category of materials (catalogue or
journals or databases) and brings you back to a page where you can search
across all types of resources, including EDS.  By contrast, the search
again box keeps you within the group of resources you had selected, such as
the catalogue.

I agree that start

[2015-11-06 21:25] fculpepper opened #697 "Articles search, EDS switching to French"
I did a search from the main search box, "bodybuilding", and selected Articles. The results page is in English:
![image](https://cloud.githubusercontent.com/assets/14892870/11009115/286da562-8492-11e5-810a-b523e5dc7a1f.png)

But when I click on any of the results, the record in EDS is in French:
![image](https://cloud.githubusercontent.com/assets/14892870/11009062/da922cb4-8491-11e5-8953-93eac16f7

[2015-11-06 21:28] redlibrarian commented on #697
Hmm. I can't replicate this. @ualbertalib/discovery-testing has anyone else noticed this?

[2015-11-06 21:29] redlibrarian commented on #688
@fculpepper Is this fixed now? It should have been in a fix we put through yesterday.

[2015-11-06 21:31] theLinkResolver commented on #697
The same things happens for me.

[2015-11-06 21:33] redlibrarian commented on #697
@fculpepper @theLinkResolver Not sure how to investigate. Scott, I'll come up and see you. Can you both tell me which browser you're using?

[2015-11-06 21:33] fculpepper commented on #697
Chrome

[2015-11-06 21:34] fculpepper commented on #697
Tried it out in Firefox too, got a no results error the first 2 times. 3rd attempt gave me results and the EDS records are in French

[2015-11-06 21:39] redlibrarian commented on #697
Thanks @fculpepper . That's really weird, but @theLinkResolver had the same problem (down to the first two searches returning no results). Strange - I'll have to look into it.

[2015-11-06 21:51] fculpepper commented on #688
Fixed!

[2015-11-06 21:51] #688 closed

[2015-11-07 00:20] fculpepper opened #698 "Can the links be bigger, brighter, more apparent?"
Feedback from some staff is that the links in the records are difficult to differentiate from the other text. Specifically, the subject headings, it's hard to tell they're links when hovering because the font is small and the difference between the blue and green is not very apparent. Also, in journal records it's not obvious that the names of various databases are the links as the green is not di

[2015-11-09 21:11] seanluyk commented on #654
The initial issue is not recurring, but advanced search still does not appear to be working. Any term searched in **All Fields** returns 5,697,787 results

[2015-11-09 21:16] seanluyk commented on #652
The issue of "we're sorry, something has gone wrong" seems to have been fixed, but ID collision, related to #616 does not. Closing this issue.

[2015-11-09 21:16] #652 closed

[2015-11-09 21:18] seanluyk commented on #616
While checking #652 , I experiened ID collision, so I'm not convinced that this should be closed just yet.

[2015-11-09 21:31] redlibrarian commented on #616
Interesting. The new (libguides ) database functionality should have
cleared up any collisions. If they're still occurring,  I wonder if the
reindeer has gone through.
On Nov 9, 2015 2:18 PM, "seanluyk" <notifications@github.com> wrote:

[2015-11-09 21:44] seanluyk commented on #621
Looks great!

[2015-11-09 21:44] #621 closed

[2015-11-09 21:46] seanluyk commented on #599
Not urgent, so we can move it to the Jan milestone. I think it still warrants some discussion, but it can wait!

[2015-11-09 21:50] seanluyk commented on #616
I should add one caveat: I generally open large sets of links with Linkclump, so I'm not sure if it has something to do with this behaviour. When I click links individually it tends to not happen.

[2015-11-09 21:59] merisjames commented on #690
I think that perhaps whatever is going on here might also be manifesting in an issue I'm seeing... The "x results for searchstring" is consistently a larger number than the result of adding up all the individual bento box totals.

[2015-11-09 22:13] seanluyk commented on #698
I've heard this feedback as well

[2015-11-09 22:15] seanluyk commented on #695
I agree with @linds37 and @sjshores , and I think I mentioned this in a comment elsewhere before. I think this is a pretty big usability issue - it gives users the impression that they've searched for something when they haven't.

[2015-11-09 23:12] seanluyk opened #699 "Container labeling consistency"
The bento box container titles don't necessarily jive with their view all buttons.

e.g. - Journals, view all electronic journals

[2015-11-10 15:21] redlibrarian opened #700 "Rename eds tab to "Articles, ebooks, and more""

[2015-11-10 15:21] redlibrarian opened #701 "Make all bento labels and home page search options consistent."

[2015-11-10 15:59] redlibrarian commented on #663
I think this will need to be left until January to discuss. IMO, the results table on the record view is the only full/authoritative list of holdings.

[2015-11-10 16:01] redlibrarian commented on #620
This is in place in test now.

[2015-11-10 16:02] redlibrarian commented on #624
This should be *more-or-less* working in the next release. It's tricky to get right, so there will still be some tweaking to do.

[2015-11-10 16:03] redlibrarian commented on #683
Done.

[2015-11-10 16:03] #683 closed

[2015-11-10 16:04] redlibrarian commented on #691
I think summary holdings is a larger question that we should discuss as a group in the new year.

[2015-11-10 16:06] redlibrarian commented on #551
OK, "Slanting I, imagining we" is now coming up (13th result) in a search for Oryx and Crake.

[2015-11-10 16:07] redlibrarian commented on #530
Duplicated in #693

[2015-11-10 16:15] redlibrarian commented on #487
Searching for **webster's dictionary** and **funk wagnalls dictionary** both return relevant results.

[2015-11-10 16:15] #487 closed

[2015-11-10 16:15] #459 closed

[2015-11-10 16:15] redlibrarian commented on #236
Since database management is now handled by public service librarians in LibGuides, how they want to handle this is up to them...

[2015-11-10 16:15] #236 closed

[2015-11-10 16:26] redlibrarian commented on #695
OK. I've changed the start-over link to take you back to the home page. "Back to search" will continue to take you back to your search button.

[2015-11-10 16:33] redlibrarian commented on #622
Addressed in #695 . Should be changed in next release.

[2015-11-10 16:37] redlibrarian commented on #605
L'enfant cachée is now working properly. The problem remains with "Think Tanks..." The only result I get back is from EDS. This is pretty low priority now that the initial search problem seems to be working, so I'm going to move it to the January milestone.

[2015-11-10 16:40] redlibrarian commented on #693
I've added an author facet. It will be present in the next release.

[2015-11-10 16:49] redlibrarian commented on #626
This is working now.

[2015-11-10 16:49] #626 closed

[2015-11-10 17:02] redlibrarian commented on #533
OK. I've modified this to use the new author facet to facet from within a record.

[2015-11-10 17:05] redlibrarian commented on #558
Current bento box results are: 6 results in "Books, media, and more" and "1103" results in Articles/EDS. When I click through into the articles results, I only get 235 results.

[2015-11-10 17:09] redlibrarian commented on #558
Just made a fix to the links from the bento page, and I now get the full 1103 results in articles.

[2015-11-10 17:10] redlibrarian commented on #558
The problem of not moving through the results when you click next is still occurring. This only happens in the articles controller. I'm going to make a new issue for that bug. The original problem here (discrepancy in number of results) should be fixed in the next release.

[2015-11-10 17:17] #701 closed

[2015-11-10 17:28] redlibrarian commented on #560
These should be fixed in the next release.

[2015-11-10 17:31] #700 closed

[2015-11-10 17:31] #699 closed

[2015-11-10 17:37] redlibrarian commented on #690
OK, there were some discrepancies in how the total result set was being calculated. This should work now. In bento, **protoplasm** returns 47 Books, media, and more, and 6311 Articles, Ebooks and more, and the total result count is 6358, which I think is correct. Clicking through to each of the panes gives 47 and 6311 results, respectively. So this seems to be working.

[2015-11-10 17:38] redlibrarian commented on #697
@fculpepper @theLinkResolver I'm hoping this was a glitch on EDS' end on Friday. Can you try these searches again and let me know if the problem is still happening? Thanks.

[2015-11-10 18:10] #698 closed

[2015-11-10 18:10] #695 closed

[2015-11-10 18:38] seanluyk opened #703 "No results after clicking on results list from Bento box display"
1. Searched for 0043-8774
2. Clicked on Journal results (the numbered results; same result from "View All Electronic Journals")
3. Resulted in "no results found for your search"

Although the use case (searching for a journal by ISSN) is limited, I think the issue is part of a different problem, and is new.

[2015-11-10 18:42] theLinkResolver opened #704 "add "general note" portfolio text to e-journal display"
We use the "general note" field in SFX to advise users of outages and to provide access instructions, if needed. (It displays text on a separate line in the Get it window.) This text needs to be displayed in the e-journal records.

e.g.  Catalysis today [0920-5861]
![get in cat](https://cloud.githubusercontent.com/assets/14913579/11071778/ce034ecc-879f-11e5-8780-b654d6f06b16.jpg)
![get it bl](http

[2015-11-10 18:48] redlibrarian commented on #703
This was an oversight (ISSNs should have been indexed from the beginning). I've fixed it in the Solr config, so it should be working in next week's release.

[2015-11-10 18:50] redlibrarian commented on #704
@theLinkResolver Do you know if that's a MARC field? It's not appearing in our MARC records from SFX. If it's only needed for display (not search) then I should be able to pull it from the SFX API...

[2015-11-10 18:54] redlibrarian commented on #704
It's available in the API, so I'll pull it from there. I'll have to get to it later this week.

http://resolver.library.ualberta.ca/resolver?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&ctx_ver=Z39.88-2004&rfr_id=info%3Asid%2Fualberta.ca%3Aopac&rft.genre=journal&rft.object_id=954925564669&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&url_ctx_fmt=info%%203Aofi%2Ffmt%3Akev%3Amtx%3Actx&url_ver=Z39.88-2004&s

[2015-11-10 18:55] theLinkResolver commented on #704
@redlibrarian It's portfolio-level data (vs. object/title), so probably not MARC. And yeah, it needs to be a live lookup for display.

[2015-11-10 18:57] #671 closed

[2015-11-10 20:00] hannepearce commented on #638
This issue appears resolved. Was able to place a hold on several titles earlier today.

[2015-11-10 20:00] #638 closed

[2015-11-10 20:05] hannepearce commented on #533
This appears to be resolved. A search for Kiera Cass provides the proper results in basic search. Advanced search is still not working (I get 5,664,824 results)

[2015-11-10 20:07] hannepearce commented on #634
A search in the advanced "all fields" doesn't work as it appears the advanced search is broken (gives me 5,664,824  results). Doing a phrase search for "NEOS Library Consortium Access" works like a charm.

[2015-11-10 20:17] #650 closed

[2015-11-10 20:30] nnunn commented on #647
I'm not actually sure where this is.

[2015-11-10 20:37] #620 closed

[2015-11-10 20:38] #584 closed

[2015-11-10 20:39] redlibrarian commented on #647
@kgood - I can't remember where we put it. I think it's just in the CMS
pages, no?

On Tue, Nov 10, 2015 at 1:30 PM, Natasha Nunn <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2015-11-10 20:46] fculpepper commented on #697
When I open an article from the bento results screen, EDS is in French. But when I go to the Article results page (different results than bento) and open an article from there, it's in English.

[2015-11-10 20:51] fculpepper opened #705 "Add eBook note to Bento results for Books and more pane"
Can you make it so that the bento results for Books & more indicates book or ebook? Currently both are saying book.

[2015-11-10 20:54] #450 closed

[2015-11-10 20:59] nnunn commented on #441
I think I need more info on this one.

[2015-11-10 20:59] #385 closed

[2015-11-10 21:13] redlibrarian commented on #441
Oh, this one is *old* and can be closed. I'd forgotten about this.

On Tue, Nov 10, 2015 at 1:59 PM, Natasha Nunn <notifications@github.com>
wrote:

--
Fender F-35
Ibanez M522SBS
Cordoba 45FP
Lafferty LB

[2015-11-10 22:14] theLinkResolver commented on #669
still blank.

[2015-11-10 22:16] theLinkResolver commented on #662
Fixed

[2015-11-10 22:16] #662 closed

[2015-11-10 22:18] theLinkResolver commented on #657
This looks great! Closing

[2015-11-10 22:18] #657 closed

[2015-11-10 22:19] theLinkResolver commented on #644
Looks good; closing

[2015-11-10 22:19] #644 closed

[2015-11-10 22:26] seanluyk opened #706 "Kanopy video records"
Reported by Emily Z:

Firstly, a lot of Kanopy records that exist in Sirsi are not showing up in the "Books, media, and more" bento box at all. They do appear in the EDS box, but are labelled "eBook."

For example, EDS result 1) is the Kanopy record, result 2)  is a physical copy from MacEwan.
![image](https://cloud.githubusercontent.com/assets/14880206/11077853/58b65ee6-87bf-11e5-8dbf-869fddd95ba

[2015-11-10 22:30] seanluyk commented on #706
I think you can ignore the last part re: error message. I think this is the intended behaviour.

[2015-11-10 22:30] #561 closed

[2015-11-10 22:33] linds37 commented on #695
Should this be working in the current release? I'm still seeing the randomly generated list of results.

[2015-11-10 22:39] theLinkResolver commented on #544
Improved "Format" mapping has been implemented. Caveat: "book" covers a lot of things. Presumably this is preferable to "textual item" or something. If anything is identified where the format facet *really* doesn't make sense, it can be reported as a cataloguing question (via the helpdesk).

As @redlibrarian mentioned, we are hoping to increase the granularity in a future phase, but I think we're

[2015-11-10 22:39] #544 closed

[2015-11-10 22:43] theLinkResolver commented on #537
Language is right, now. @redlibrarian everything ok with updates/indexing?

[2015-11-10 22:56] theLinkResolver commented on #534
@redlibrarian Still seeing the brackets for the object type/GMD.

In the long run, I might have a better source for the information this field is trying to convey, but it ties in to our future work on format mapping.

[2015-11-10 23:01] seanluyk commented on #640
Not sure if this was resolved. Is it something I should check in the next release?

[2015-11-10 23:12] theLinkResolver commented on #697
Same for me (and that difference between result sets is concerning).

[2015-11-10 23:15] seanluyk opened #707 "Index and display (with hyperlinks) MARC 700 fields and all subfields"
It would be really useful for performing arts related searching, to have **added entry personal name fields**(MARC 700) indexed, displayed (and ideally, clickable). This functionality currently exists in iLink, and to me falls under the category of  "functionality we like in iLink that should be replicated in Blacklight").

The use case applies to recordings mostly, where there's a corporate autho

[2015-11-10 23:17] seanluyk commented on #532
This is closed, but I don't see that it's been fixed. Should this have a check in next release label?

[2015-11-10 23:33] seanluyk opened #708 "Subject faceting returns results that do not contain the selected subject heading"
Just stumbled across this one, and I'm not sure if I'm not understanding how this is supposed to work:

1. From [this record](https://search.library.ualberta.ca/catalog/6342850), I clicked on subject heading [Concertos (Clarinet)](https://search.library.ualberta.ca/catalog?utf8=%E2%9C%93&q=Concertos+(Clarinet)&view=brief&search_field=subject)
2. Applied format facet Musical Score
3. Sorted by year

[2015-11-10 23:37] sjshores commented on #706
I think the three different links are working correctly, but that usability
would be improved by moving the true link to the item up in the display
just under the title.

Users should not place holds for online materials, and the location link
correctly tells the person to click on the access button.  But if we moved
the link coming from the 856 up so that it sits just under the title, the
user wo

[2015-11-10 23:49] seanluyk commented on #706
@sjshores  - that's a really great idea, and ties in with the idea of direct linking to electronic resources that we discussed a couple of meetings back. An alternative may be to make the titles of electronic resources hyperlinked with the UofA access link, but I'm not sure if this possible, or if it creates issues when links change, etc.

[2015-11-10 23:55] seanluyk opened #709 "Footer banner not loading in articles results view"
Verified in Chrome and Firefox. For some reason, the footer banner gets cut off at around the copyright link, and the links seem to be off center:
![image](https://cloud.githubusercontent.com/assets/14880206/11079773/de4c0126-87cb-11e5-8142-b6ff44ede217.png)

[2015-11-12 16:20] seanluyk opened #710 "Possible issue - top navigation does not freeze in Bento and results views"
I noticed that the top navigation freezes on the main page when scrolling, but not on Bento or results view pages.

[2015-11-12 16:26] redlibrarian commented on #697
This is exceedingly bizarre. From this list of results, https://search.library.ualberta.ca/results?utf8=%3F&q=toynbee+convector every other result goes to the English interface (even-numbered results). Because we use HTML templates, every result uses the same link to get to the EDS page. So I can't see why this would be happening.

[2015-11-12 16:28] redlibrarian commented on #697
As for the result count discrepancy, I think I've figured out & fixed that. It should be fixed in the next release.

[2015-11-12 16:38] redlibrarian commented on #706
@sjshores I can move the link to make it more prominent. I'm not sure, however, whether I can easily suppress the Place Hold link depending on the information I get back from Web Services. I'll have to look at the WS response and check with you on what data/logic is necessary.

[2015-11-12 16:39] redlibrarian commented on #708
I think this is because the current functionality does a (keyword) search for the subject terms. We can probably make this a subject search (advanced), but I don't think we'll be able to make it a facet operation, given that we are now combining LCSH terms, while the facets keep them separate. I'll have to dig more deeply into it.

[2015-11-12 16:42] sjshores commented on #706
As long as you can move the link up and give it prominence through colour,
etc. then the existing hold link is no problem.  I don't think users will
notice it when the URL is so visible.

Sandra

On 12 November 2015 at 09:38, redlibrarian <notifications@github.com> wrote:

[2015-11-12 16:47] seanluyk opened #711 "Incorrect databases link"
Could be isolated to LISA, but I'll report any more I come across. Here's what I did:

1. Searched for LISA
2. Clicked on 1 databases result

This brought me to an [empty page with a chat box](http://library.ualberta.ca/databases/databaseinfo/index.cfm?ID=11710963)

The ID is way off for some reason. It should be [this page](https://www.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=3111)

[2015-11-12 16:50] seanluyk commented on #711
Doesn't look to be isolated to LISA. Just tried it with [Google Scholar](http://library.ualberta.ca/databases/databaseinfo/index.cfm?ID=9646110) and it's the same issue

[2015-11-12 16:56] merisjames commented on #711
Same for Quicklaw, Westlaw and Hein.
Incidentally, the Westlaw entry shows all the markup <br> etc.

Meris James, MLIS
Public Service Librarian
J.A. Weir Memorial Law Library
meris@ualberta.ca

On Thu, Nov 12, 2015 at 9:50 AM, seanluyk <notifications@github.com> wrote:

[2015-11-12 16:59] seanluyk opened #712 "Subtitle search problem."
Could be an isolated case, but I think is worth investigating if this has something to do with de-duping of results between the EDS and Books, Media, and More (BMM) containers.

1. Searched for User stories applied : for agile software development

Item does not appear in BMM container, but does in EDS container. We do have this ebook title [in NEOS](http://www.library.ualberta.ca/permalink/opac/5

[2015-11-12 16:59] nnunn commented on #710
I think this is the right action - making the navigation fixed on the results page would feel a bit strange as it would cover your results... on the home page it makes sense because of the one page design. I'm not totally sure though and we can make the navigation fixed (or frozen / stuck to the top) on results and bento. I think maybe we need a few more people to look at this / user testing?

[2015-11-12 17:01] nnunn opened #713 "Empty link on single result toolbar"
Above "Export to Refworks" there is an empty link.

[2015-11-12 17:02] nnunn opened #714 "Allow 15 results in Bento Box"

[2015-11-12 17:03] nnunn opened #715 "UofA header not showing up on EDS single results page"

[2015-11-12 17:04] redlibrarian commented on #706
OK, looks like the WS can return whether an item is holdable or not (and I just checked, it takes account of multiple items with different 'holdability'), so I can use that to suppress the Place Hold button.

[2015-11-12 17:05] sjshores commented on #706
Even better.

Sandra

On 12 November 2015 at 10:04, redlibrarian <notifications@github.com> wrote:

[2015-11-12 17:06] seanluyk commented on #710
Sounds good, @nnunn, this makes sense to me re: the results page. What do others think about the bento page?

[2015-11-12 17:09] sjshores commented on #710
I think we choose either option, so maybe we should leave that issue to
usability testing.

Sandra

On 12 November 2015 at 10:07, seanluyk <notifications@github.com> wrote:

[2015-11-12 17:18] theLinkResolver commented on #708
I think the ideal action would be a subject phrase search.

[2015-11-12 17:19] redlibrarian commented on #706
All right, I've added the logic to suppress "Place Hold" if no items are holdable. That will be present in the next release. Moving the link is proving a little bit trickier, but I'll get there.

[2015-11-12 17:25] nnunn commented on #709
This will be fixed on the next deploy

[2015-11-12 17:25] #709 closed

[2015-11-12 17:28] redlibrarian commented on #685
@kgood @nmacgreg Can you let me know whether these are taking place?

[2015-11-12 17:30] redlibrarian commented on #672
OK. I see what the problem is. Working on it now.

[2015-11-12 17:37] theLinkResolver commented on #707
@seanluyk What you are describing makes sense. The ideal behaviour would be for the link to execute an author search for that phrase (provided that the author search looks in the 100, 110, 111, 700, 710, 711, and 720 fields - @redlibrarian is that what author search does?).

[2015-11-12 17:40] hannepearce opened #716 "Using "The" in basic search yields no results"
Not sure if this has been noticed already but was helping a student look up a few titles (and the majority worked like a charm!)  Except one was "The Undergrounders" - with my morning brain I typed in "The Undergrounders" and the Books Media and More pane tells us no resources were found but we did get hits in the EDS pane. This prompted me to realize I'd used "The" so I redid the search and got s

[2015-11-12 17:44] merisjames commented on #716
This happened with "a" as well... Which makes "A Wind in the Door" a bit of a challenge to find, if someone does a quick cut and paste of the title.
I think this happened before (stop words stopping the whole search) but had been resolved. Something must have changed to make this happen again.

[2015-11-12 17:46] theLinkResolver commented on #712
I was trying to replicate this and found that the position of the colon has an effect on whether this works or not. If you do the search without the space after applied, you will get results in the BMM container.

[2015-11-12 17:54] kgood opened #717 "EDS Holds Syntax"
Determine what dependency EDS has on the old web site for creating the hold syntax.  It does seem to depend on it for some reason.  See OTRS ticket 2015111210684  for more details

[2015-11-12 18:04] redlibrarian commented on #672
@theLinkResolver @sjshores Do we need the "Number of Copies" information in the holdings table. It doesn't seem to add much.

[2015-11-12 18:13] theLinkResolver commented on #672
@redlibrarian Mostly a function of inventory, but there are lots of instances where our local note (590) references a specific copy.

e.g. https://search.library.ualberta.ca/catalog/833532
https://search.library.ualberta.ca/catalog/844363

[2015-11-12 18:15] redlibrarian commented on #672
Hm. Except that the "number of copies" data reports the **number** of copies, not which copy is which... @theLinkResolver

[2015-11-12 18:17] redlibrarian commented on #672
So, for example in the https://search.library.ualberta.ca/catalog/833532 example, the 2 BARD copies will each have "2" under "Copy" when this issue is fixed. I thought the data showed the copy number too, which is why the label is "Copy", but now that I've fixed this problem in dev, I see that it does not. If there are 2 copies at a location, that field will read "2" for both copies... @theLinkRes

[2015-11-12 18:17] theLinkResolver commented on #672
@redlibrarian can you send me an example of the data? to make sure I get what you're talking about

[2015-11-12 18:20] theLinkResolver commented on #672
@redlibrarian Oh, that is not helpful. The presence of two item lines should suffice in that regard.

[2015-11-12 18:20] redlibrarian commented on #672
Here's the web services data for "Beyond the Bricks": https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&marcEntryFilter=ALL&includeItemInfo=true&includeMarcHoldings&titleID=3064619&includeAvailabilityInfo=true

You'll see that "numberOfCopies" is in the "CallInfo" ZML stanza, not the "ItemInfo" stanza. There's nothing to indicate which of the two UAHLTHSC items is

[2015-11-12 18:21] redlibrarian commented on #672
@theLinkResolver I think seeing all three copies is useful, for transparency's sake. I think, though, that it makes the "Copy" field in the item table redundant, if not actually confusing... I think we should just remove it, since now we can see all copies... @sjshores

[2015-11-12 18:29] theLinkResolver commented on #672
@redlibrarian That's right, seeing all three - with their own statuses and shelving locations - is the key. Too bad that the copy number is not available, to correspond to those local notes, but that is a fairly specialized use case and we hope the user would ask for assistance in tracking down a particular copy, if they needed to (they can't distinguish between copies when placing a hold, as it i

[2015-11-12 18:33] seanluyk commented on #708
@redlibrarian @theLinkResolver  - I wonder if this is something worth discussing at our next group meeting? I see how a keyword search for subject terms has its advantages as well. For my music examples, the exact subject heading is the ideal action, but I wonder if this is widely applicable?

[2015-11-12 18:39] seanluyk commented on #712
Thanks @theLinkResolver , this seems like a separate issue to me. I think it should return this book regardless of where the punctuation is. There's quite different behaviour depending on the presence/absence of spaces and the colon. Oddly, when I remove the spaces between the title and subtitle, I get many more relevent results in addition to the desired item.

[2015-11-12 18:42] redlibrarian commented on #697
This looks like an EDS issue. The links that we're using have nothing in them specifying a language for the interface. Somehow EDS is redirecting those links to the French interface. I don't think this is a *huge* problem, so I am going to mark it as low priority, and look into it in the next phase.

[2015-11-12 19:58] #498 closed

[2015-11-12 20:00] theLinkResolver opened #718 "Display of 245 $n and $p (number and name of part/section of a work)"
We need to make sure we get this right, as the number (245 $n) and name (245 $p) of a part/section of a work is integral to the title. In other words, the data needs to be displayed with the rest of the title proper (245 $a) in the record and in search results, and indexed as part of the title.

e.g.
![245](https://cloud.githubusercontent.com/assets/14913579/11129162/065d63ba-893b-11e5-9d38-4bf867

[2015-11-12 20:01] redlibrarian commented on #524
I think this is working better now. 1608 results in Books, media and more, and 30391 in Articles and more.

[2015-11-12 20:01] #524 closed

[2015-11-12 20:02] #533 closed

[2015-11-12 20:02] redlibrarian opened #719 "Advanced Search not working"

[2015-11-12 20:23] redlibrarian commented on #534
@theLinkResolver @seanluyk The brackets should be gone in the next release. Looking at the data, however, it's really quite messy. There's only so much cleanup I'll be able to do. This might need to become a cataloguing project.

[2015-11-12 20:24] redlibrarian commented on #537
I still have no confirmation about nightly indexing, but I'm going to close this ticket. There's an open issue about indexing ( #685 )

[2015-11-12 20:24] #537 closed

[2015-11-12 20:28] redlibrarian commented on #545
@seanluyk Can you take a look at this search again. Between the bento redesign and the indexing tweak, I'm now getting 161 results in "Books, media, and more" and 748 results in "Articles, books, and more". This is different from the 198 results we were looking for, but better than what we were getting...

[2015-11-12 20:28] #551 closed

[2015-11-12 20:31] redlibrarian commented on #552
OK. The locations are coming through on search.library now. As I've said (somewhere else?) there's no good solution to the call number problem, so we'll have to discuss that in the new year. @seanluyk @fculpepper can you take a look at a results page and, if the locations are coming through to your satisfaction, close the ticket? Let me know if there are any problems.

[2015-11-12 20:31] seanluyk commented on #545
@redlibrarian this looks much better. I limited by format to musical score and did the same thing in iLink, and the results are nearly identical (20 in Blacklight, 19 in iLink)

[2015-11-12 20:33] redlibrarian commented on #583
OK. I'm now seeing **471 results** for the Author link, which is still kind of high. The results look relevant, and should be even better in next week's release. @scastell Can you check in next week's release and let me know if this is still a problem?

[2015-11-12 20:34] redlibrarian commented on #594
@gooyers It should be fixed now. Can you take a look?

[2015-11-12 20:35] redlibrarian commented on #619
Working now.

[2015-11-12 20:35] #619 closed

[2015-11-12 20:37] redlibrarian commented on #545
OK, great, thanks @seanluyk . Can we close this issue, or does it need more refining?

[2015-11-12 20:38] seanluyk commented on #716
Oh no, this is the "The Catcher in the Rye" problem coming back! This seems to go back and forth between working and not working

[2015-11-12 20:41] seanluyk commented on #545
I think it's safe to close, this is working very well. I tried it with another phrase likely to be buried in contents notes, and it's only 1 result off.

[2015-11-12 20:41] #545 closed

[2015-11-12 20:45] redlibrarian commented on #627
Hrm. This works now if you search with the accent aigu. It *should* come up without it, but it isn't. Not sure why not... This could be part of a larger diacritic search problem. @gooyers

[2015-11-12 20:53] seanluyk commented on #552
I like how 'copies available at' displays. Even without the call number, this at least directs users to the appropriate library to retrieve the item or ask questions. @redlibrarian is this only showing on shelf copies (i.e. not copies checked out)? That would be ideal, but not crucial at this stage.

[2015-11-12 20:56] redlibrarian commented on #552
Currently, this shows all copies, checked out or not. It can be changed to show only on shelf copies, but adding more logic (i.e. suppressing no loan, etc) would be tricky. Since that's a non-critical enhancement, I'd like to close this issue, and create a new one just for that issue to be tackled in the new year. Does that sound OK? @seanluyk @fculpepper

[2015-11-12 20:58] redlibrarian commented on #632
Hmm. This still seems to be a problem...

[2015-11-12 21:04] merisjames commented on #716
Heaven help you if you try to avoid this by searching "wind door l'engle" (no quotes). 19499112 hits. EDS seems to be treating the ' as a space, and throwing up everything with just "L" (initials, etc). At least until you try to "View all articles" at which point you get nothing.

Interestingly, "a wind in the door" works fine in phrase search.

[2015-11-12 21:15] seanluyk commented on #552
@redlibrarian Sounds OK to me - it's currently quite straightforward

[2015-11-12 21:18] gooyers commented on #594
I see only one Subject attribute now. Thanks Sam.

[2015-11-12 21:18] #594 closed

[2015-11-12 21:25] gooyers commented on #560
@redlibrarian The issue doesn't seem to be completely fixed. Burman now appears to be fixed, but the names for 15, ahsctr and lakelndin still list a long string of text instead of the name of the library.

That being said, selecting these 3 locations from the advanced search (they are the three entries with only numbers) no longer leads to an error message.

![2015-11-12_14-24-16](https://cloud.gi

[2015-11-12 21:27] seanluyk commented on #534
@redlibrarian @theLinkResolver  - this is still a messy problem. In the past, the GMD was more necessary I think, and was displayed right in the title field. They dropped it in RDA for a reason, so I wonder if it's really only necessary. To me it's quite duplicative (e.g. sound recording (GMD) musical recording (object type)). Isn't electronic access covered by the access facet, and implied by the

[2015-11-12 21:31] seanluyk commented on #534
For example, in [this record](https://search.library.ualberta.ca/catalog/4881624), it isn't all that helpful to even have the GMD there. I agree with @sjshores 's comment in another issue that moving access links up would go a long way in improving usability

[2015-11-12 21:33] redlibrarian commented on #534
@seanluyk @theLinkResolver I think GMD is probably redundant with everything else we have in place. I guess the only counterargument would be if there are some GMD values which are not mapped to anything else, so the GMD field is the only place to see them. If that's not the case, then I move we remove the GMD from the record view.

[2015-11-12 21:35] redlibrarian commented on #634
@hannepearce Can you confirm whether it's working in simple search? I have another ticket open for the whole advanced search problem, but maybe we can close this issue if the search is working in simple search...?

[2015-11-12 21:35] redlibrarian commented on #636
@linds37 Can you check to see whether this is resolved now? If not, let me know what else needs to be tweaked. Thanks.

[2015-11-12 21:36] gooyers commented on #627
@redlibrarian I figured I'd try a search for another known database that includes a diacritic, Repère.

Similarly, a search for repère returns the correct result under Databases, but a search for repere does not (see attached images).

Interestingly, the search for repere did return results with the accent grave. Which leads me to wonder, might it be that the Libguides populated results are treati

[2015-11-12 21:36] redlibrarian commented on #637
There's a larger issue right now which is that advanced search is broken. See #719.

[2015-11-12 21:38] redlibrarian commented on #639
I'm now getting 583 scores for "Henle". @seanluyk does this look better? https://search.library.ualberta.ca/symphony?utf8=%3F&q=Henle

[2015-11-12 21:39] redlibrarian commented on #654
See #719

[2015-11-12 21:39] redlibrarian commented on #672
OK. I've removed the "Copy" field. Please check this in the next release and let me know what you think. @theLinkResolver

[2015-11-12 21:39] redlibrarian commented on #689
See #719

[2015-11-12 21:40] redlibrarian commented on #690
@fculpepper Can you confirm whether this is working to your satisfaction?

[2015-11-12 21:42] redlibrarian commented on #627
Interesting. I think that must be it, but I'm not sure why... I'll have to do some digging.

[2015-11-12 21:43] redlibrarian commented on #711
Oh, I see what the problem is. OK, this will be fixed in the next release.

[2015-11-12 21:46] seanluyk commented on #534
I'd gladly see this replaced by the content, media and carrier types that RDA has to offer, or if this could be replicated using existing AACR2 data at some point.

[2015-11-12 21:53] redlibrarian commented on #712
We've seen this problem before. I still need to figure out what's going on.

[2015-11-12 21:58] redlibrarian commented on #713
Haha - I forgot to close an <a> tag!

[2015-11-12 21:58] #713 closed

[2015-11-12 21:58] redlibrarian commented on #715
This is actually affecting all branding on the EDS pages. Weird.

[2015-11-12 22:02] redlibrarian commented on #716
This actually shouldn't happen - and I don't think it was happening before. Something must have changed. Just FYI a lot of search engines are dropping stopwords so that **of mice and men** for example doesn't just do a search for **mice** and **men**. We still have stopwords turned on, so searchers for **undergrounders** and **the undergrounders** should bring back the same result set (containing

[2015-11-12 22:03] redlibrarian commented on #718
Hmm. OK, thanks. Dealing with that title field is tricky, but as you say, it's doable.

[2015-11-12 22:05] theLinkResolver commented on #636
@redlibrarian @linds37 I tested a few different scenarios (UA only, UA with other NEOS libraries, free access only, free access with other NEOS libraries) and they all work.

But... the note shouldn't appear for this one:
https://search.library.ualberta.ca/catalog/7093662

[2015-11-12 22:17] redlibrarian commented on #714
Figured it out. Solr requires you to **explicitly** tell it you want more than 10 results. I've upped that 100.

[2015-11-12 22:18] #714 closed

[2015-11-12 22:21] redlibrarian commented on #636
@linds37 OK, thanks. I've added the "NEOS Free" material to the list of things we *don't* display the message for. That should work in the next release.

[2015-11-12 22:23] theLinkResolver commented on #534
At this stage, we cannot drop the GMD (example: https://search.library.ualberta.ca/catalog/4014448).

The content/media/carrier fields could help us in the future, although combined media records (e.g. print+microform together) distort things. There is a MARC fixed field that could do the job but its position is variable (dependent on other fields), making it a medium-term consideration due to the

[2015-11-12 22:29] redlibrarian commented on #718
See also #686

[2015-11-12 22:38] seanluyk commented on #639
This is working really well, only 2 fewer results in Blacklight when I limit to musical score and compare results with iLink. Verified with some other publisher searches, so closing this issue

[2015-11-12 22:38] #639 closed

[2015-11-12 22:47] seanluyk opened #720 "Repeated 5XX fields"
I was wondering how it is determined which 5XX fields are displayed, and if repeated notes are supposed to be displayed?

For example, in [this record](https://search.library.ualberta.ca/catalog/6791277) a 500 note appears, but in fact, it has three 500 notes. It's not crucial in this case that all three appear, but I imagine that sometimes key info appears in subsequent notes.

[2015-11-12 22:51] seanluyk commented on #720
Here's another twist just looking at [another record](https://search.library.ualberta.ca/catalog/7143047). 500 notes appear spliced together. Songs and Group Canadian are actually two separate 500 notes

[2015-11-12 22:56] linds37 commented on #636
The example I gave above seems to be working now. It is confusing that you click on the big long url in the grey box, rather than on the blue "University of Alberta Access" link in the holdings info. Would it be possible in the next release to make it clearer where to click? Would it be possible for the title itself to be hyper-linked?

[2015-11-12 22:56] seanluyk commented on #531
Hmmm...there appears to be something unexpected happening. Clicking on this author does not just bring back her works (1 book), it brings back two, and is finding the second one because this is an all field search.

Is there no way to force a fielded search in Blacklight?

[2015-11-12 22:59] seanluyk commented on #534
Ah, that's a really good example @theLinkResolver.

[2015-11-12 23:02] theLinkResolver commented on #718
Been thinking and consulting with others about this and the way to think about may be that we should have all the title information from the 245 displayed, and in the order it appears. That would be subfields a, b, f, g, k, n, p and s.

Take a look at this example - I can't even load this record. (Does it have something to do with the fact there's no 245 $a? It comes up in a search but I can't get

[2015-11-12 23:05] theLinkResolver commented on #534
@seanluyk Thanks. I will be pleased when we can move beyond the GMD...

[2015-11-12 23:08] redlibrarian commented on #531
Yes, that's been added and will be in next week's release.
On Nov 12, 2015 3:56 PM, "seanluyk" <notifications@github.com> wrote:

[2015-11-13 18:45] redlibrarian commented on #719
Fixed. Will be working in next release.

[2015-11-13 19:11] redlibrarian commented on #716
Sigh, this again. It turns out that the mm "fix" that I put in place a few months ago, was to fix this problem, and fixing the search/ranking by fixing the mm has brought this problem back again. The problem is that some of the fields used for the default search are not set to use stopwords, so solr can't figure out how to match on them when a stopword is present. Summary of the problem here: http

[2015-11-13 19:27] redlibrarian commented on #716
OK, so I tried various changes to the "qf" field in solrconfig.xml and found that there were two culprit fields, subject_topic_facet and id, both of which are defined as strings in schema.xml. **string** obviously ignores stopwords, so these fields were the problem. subject_topic_facet is copied into subject_topic_unstem_search, so it could easily just be removed from "qf". But id is needed to be

[2015-11-13 19:39] redlibrarian commented on #712
Hm. I think this may have something to do with the fact that the title and subtitle are two separate fields, joined in the interface only with a colon. The colon, then, isn't part of the indexed title, so search behaviour is a little weird.

For the record, searching for "User stories applied : for agile software development" returns 0 BMM results; "User stories applied:for agile software developm

[2015-11-13 23:17] scastell opened #722 "Services for persons with disabilities page - broken link"
https://search.library.ualberta.ca/services/disability-services  -

section titled <b>Loan Periods</b> - Please consult the <b><a href="http://guides.library.ualberta.ca/borrowing">loan period page</a></b>, for more information.

change link to the loan period page to https://search.library.ualberta.ca/services/library-cards-and-borrowing/undergraduate-students?

[2015-11-13 23:34] seanluyk commented on #577
Looks like the Blacklight EDS view has gone back to only giving an option for the last 5 or last ten years. For some reason I thought it had been changed to the slider

[2015-11-13 23:42] redlibrarian commented on #577
@seanluyk No, I haven't fixed this yet. It's always been the 5/10 year range thing. I hope to get to this next week.

[2015-11-13 23:44] seanluyk opened #723 "Bug - short results list in BMM provides no results link or box"
1. Searched for [Strange and Sacred Noise john luther adams](https://search.library.ualberta.ca/results?utf8=%3F&q=Strange+and+Sacred+Noise+john+luther+adams) in everything

Was expecting to see a link to number of results, and View all button. I wonder if there's a threshold where <X results these don't display?

![image](https://cloud.githubusercontent.com/assets/14880206/11160333/b38b77e4-8a25-

[2015-11-13 23:49] seanluyk opened #724 "No results for item in collection"
1. Searched for [Alice carli binding and care of printed music](https://search.library.ualberta.ca/results?q=Alice+carli+binding+and+care+of+printed+music).

-0 results in BMM
-Just searching for binding and care of printed music bring it up no problem
-Searching for Alice Carli bring it up, but only after faceting by call number. It's way down at result#17

[2015-11-16 18:01] alfodor commented on #722
I have updated the page. April

[2015-11-17 20:43] seanluyk opened #725 "No results when selecting ejournals"
From the main search, when I limit to ejournals, I don't get results for anything I search for (even the word journal).

When I search for the same terms in everything, the results appear in the journals container.

[2015-11-17 23:08] theLinkResolver opened #726 "SFX record "format""
@redlibrarian It looks like all of the SFX records have Format=Journal applied to them. I'm hoping that is something you control (it does not seem to be coming from the Object type SFX field - I checked some of the other object types). If you can change the format for all SFX records to display as Serial, this will mesh with the format faceting for the Symphony results. This is also more accurate

[2015-11-19 16:48] redlibrarian commented on #720
The note mappings are here: https://github.com/ualbertalib/discovery/blob/master/config/SolrMarc/symphony_index.properties#L144

We're currently mapping the 500, 504, 505, 521, 586, and 590 fields. If a record has a multiples of any of these, they are merged. If additional note fields should be mapped, or if we need to display the individual notes for a given field separately, we can do that. My o

[2015-11-19 16:51] redlibrarian commented on #723
@seanluyk Yes, the box will display up to 15 results. If there are less than 15, it doesn't provide the link to the result list. The rationale was because you can see all the results, but since we present more metadata on the result list page, I can see changing this behaviour to always give you a link to the result list. @nnunn do you have any thoughts on this?

[2015-11-19 17:01] redlibrarian commented on #724
Hm. There's something I'm not quite understanding here. **alice carli** brings up the correct result (admittedly buried), **binding and care of printed music**, **alice carli binding and care** and **alice carli printed music** all return the correct result, but the full title and author doesn't return anything. This must have something to do with the way Solr handles queries that I don't yet unde

[2015-11-19 17:09] theLinkResolver commented on #720
I'm glad we are talking about the note fields - many are prepared with care and give a roadmap to understanding/using the material (metadata as a love note to the future and all that). There is some good information there, but sometimes it adds up to an eyeful. Some might work better merged, others on separate lines. Some aren't in Blacklight that could be and maybe vice-versa. In the long-run, so

[2015-11-19 17:24] redlibrarian commented on #726
I've updated the mapping for SFX to be the same as the mapping for Symphony. Seems to work fine.

[2015-11-19 17:25] redlibrarian opened #727 "Change home page search buttons to reflect new bento box design."
E.g. "journals" instead of "ejournals".

[2015-11-19 17:35] redlibrarian commented on #720
Thanks @seanluyk @theLinkResolver . Early on I made a decision not to automatically include *every* not field we use, for the reasons you identified. Having said that, I'll add any note field that we think should be presented. We should do **that** right away. In terms of the display, perhaps in the new year we can work with @nnunn to figure out a clean way to present that text. Perhaps something

[2015-11-19 17:46] gooyers opened #728 "(Suggestion) "Chat with us" link should lead to "Ask Us" page."
This suggestion came out of a PSC meeting on 11/18/2015, I thought I would record it here for consideration by the group:

The "Chat with us" link on the top-right of the bento box view opens the Ask Us Chat in a new tab.

It was suggested that the button could lead to the Ask Us page (though still open in a new tab to allow users to keep their search results). The justification being that the Ask

[2015-11-19 17:56] gooyers opened #729 "(Suggestion) Make "Advanced Search" title more descriptive"
This suggestion also came out of a PSC meeting on 11/18/2015.

When discussing the fact that advanced search does not search EDS results, it was suggested that the title "Advanced Search" is misleading on the main advanced search page: https://search.library.ualberta.ca/advanced.

Just as the "Articles Advanced Search" button at the top is intended to describe the function of that search, the "Adv

[2015-11-19 17:58] redlibrarian commented on #728
Thanks @gooyers . We already have a link to the ask-us page in the top banner. I think the idea was that we wanted to promote chat reference with the chat box lower down in the page. I can't remember how that decision came about, but if we're going to change it to go to the ask-us page, then I think that link becomes redundant, and one of the two should be removed.... thoughts?

[2015-11-19 17:59] redlibrarian commented on #729
Thanks @gooyers . As usual, the hardest problem is naming things. @ualbertalib/discovery-testing any thoughts on this one?

[2015-11-19 18:07] sjshores commented on #723
Piping in, too, I like adding a link to all results even if the number is
15 or fewer, because of the additional information available and also for
consistency.

Sandra

On 19 November 2015 at 09:51, redlibrarian <notifications@github.com> wrote:

[2015-11-19 18:10] redlibrarian commented on #723
Thanks @sjshores I agree. @nnunn I can make that change. It will be ready in the next release.

[2015-11-19 18:11] redlibrarian commented on #723
@seanluyk @sjshores @nnunn We have the same logic in place for all bento panes - I assume they should all have the same (new) behaviour?

[2015-11-19 18:19] gooyers commented on #728
Personally, I think having both links is a bit redundant either way, but that that redundancy will likely be a positive in the first few weeks of full launch (if people feel lost, they have two very obvious place to click for help).

I'd suggest never removing the Ask Us link in the top banner as that is consistent throughout the entire website. If anything, I'd suggest removing the Chat with us"

[2015-11-19 18:24] redlibrarian commented on #728
OK, thanks @gooyers . Let's leave it as is for now, as providing more links in the immediate post-launch period is probably a good idea. We can revisit and simplify when people are used to the new system.

[2015-11-19 18:35] gooyers opened #730 "Error in item Location"
This may be an isolated case (I will try to find a similar example to see if this problem extends beyond one record), but I've come across a Blacklight record at BSJ that has an error in the item's location.

The book is [Éducation physique](https://search.library.ualberta.ca/catalog/2558040), and Blacklight indicates that we have two copies in Special Collections.

However, [EDS/Symphony](http://

[2015-11-19 18:54] redlibrarian commented on #730
Thanks @gooyers I think this is related to #672 and should be fixed in the new release.

[2015-11-19 18:56] gooyers commented on #730
Thanks @redlibrarian, I'll check in then.

[2015-11-19 18:56] theLinkResolver commented on #720
@redlibrarian I've reviewed all the note fields, and honestly, there are probably some cases to be made for adding more of these for display, but it needs more eyes and opinions than just mine. That said, as far as adding a few, I've made a shortlist for the immediate term:

515 (numbering peculiarities, where notes explain and clarify the item records)
540 (terms governing use and reproduction)
5

[2015-11-19 19:30] linds37 commented on #729
I'd like to suggest that we keep it simple and use Books Advanced Search
Databases & Journals will be included as well, but putting Journals in the name will make it sound like an article search and Databases, just to confusing.

I still like best the idea of searching everything (including EDS) with the Advanced search, and it bringing back a Bento box display.

[2015-11-19 20:08] #727 closed

[2015-11-19 20:09] #564 closed

[2015-11-19 20:35] nnunn commented on #640
This is fixed and should be up with the next release.

[2015-11-19 20:36] seanluyk commented on #640
Re-opening so I can check this in the next release.

[2015-11-19 23:05] seanluyk commented on #724
Thanks, @redlibrarian  - this is weird because I'm pretty sure it worked before. I use it as a search example regularly as it's on my desk

[2015-11-19 23:12] seanluyk commented on #720
@redlibrarian @theLinkResolver  - I like the idea of a snippet and read more link for the future, and possibly it could display all notes currently displayed + all Scott has identified, separating out repeated fields. I think splicing repeated 5XX notes together is an issue, as they're often intellectually separate things.

Although notes create display issues, I think the amount of metadata we ha

[2015-11-19 23:17] seanluyk commented on #729
I think using the word advanced might be a little misleading itself. What we really have here is the ability to pre-facet. I wonder if we could bring this item for discussion with the larger group?

We could also call it the Books, Media, and More advanced search, with 'more' being our miscellaneous bucket

[2015-11-19 23:32] seanluyk commented on #711
This is still leading to an ask us page, and this is also the case with other databases (e.g. RILM) - the cfm ids all seem to be too long

[2015-11-20 17:23] redlibrarian commented on #730
@gooyers This looks fixed to me - can you verify?

[2015-11-20 17:24] redlibrarian commented on #726
Looks like this fix didn't make it into the latest release. It will be in the next one.

[2015-11-20 17:25] redlibrarian commented on #725
Looks like this didn't make it into this release. Please check in the next one.

[2015-11-20 17:26] redlibrarian commented on #723
Didn't make it into today's release. Please check in the next one.

[2015-11-20 17:26] redlibrarian commented on #719
This is working now.

[2015-11-20 17:27] redlibrarian commented on #716
Weird, this fix doesn't seem to have taken effect.

[2015-11-20 17:47] redlibrarian commented on #711
This should be fixed now.

[2015-11-20 17:48] redlibrarian commented on #703
This fix doesn't seem to have made it into the current release.

[2015-11-20 17:48] redlibrarian commented on #693
Author subject is in place.

[2015-11-20 17:48] #693 closed

[2015-11-20 17:50] redlibrarian commented on #689
This should be working now. Please check.

[2015-11-20 17:50] redlibrarian commented on #672
@theLinkResolver Can you take a look - I think this is fixed now.

[2015-11-20 17:51] redlibrarian commented on #654
This should be working now. @seanluyk can you verify?

[2015-11-20 17:54] redlibrarian commented on #637
@seanluyk Can you check this - advanced search for transhumance now returns 48 results.

[2015-11-20 17:55] redlibrarian commented on #636
I'm going to close this ticket as the underlying issue seems to be resolved. There's a plan to move the link to the top of the page so that it's clearer where to click.

[2015-11-20 17:55] #636 closed

[2015-11-20 17:57] redlibrarian commented on #634
This should now be working both in simple and advanced search.

[2015-11-20 17:58] redlibrarian commented on #633
@merisjames Can you take a look and let me know if this is still an issue?

[2015-11-20 17:59] seanluyk commented on #711
This is working now - tried a variety of searches for databases, and they get redirected to the right place. In the process though, I've found some other issues, which I'll report.

[2015-11-20 17:59] #711 closed

[2015-11-20 18:00] redlibrarian commented on #627
So, I've confirmed that for some reason the libguides data is treating the accents differently. Searching for **Erudit* should bring back the same result as **Érudit** but it is not...

[2015-11-20 18:01] seanluyk opened #731 "Database not coming up in results"
I'm not able to successfully locate the [Metopera on demand database](https://www.library.ualberta.ca/databases/databaseinfo/index.cfm?ID=4651).

I've tried searches for MetOpera, Met opera, met opera on demand, etc.

[2015-11-20 18:02] redlibrarian commented on #624
OK, this is basically working. The only thing that needs to be changed is that the link needs to go to the results controller instead of the catalog controller, in order to get article/EDS results.

[2015-11-20 18:02] redlibrarian commented on #622
This is fixed.

[2015-11-20 18:03] #622 closed

[2015-11-20 18:03] redlibrarian commented on #583
@scastell This should be working now. Please check and let me know if there's still a problem.

[2015-11-20 18:06] seanluyk opened #732 "Database requires ezproxy authentication, and then redirects to dabatase description page"
May not be Blacklight related, but reporting as this may apply to a large number of databases:

1. Searched in everything for Medici

Database result was returned, but I was required to authenticate, and then click on web access. I am often required to authenticate from on campus for some reason, but I don't usually also get directed to the database description page.

[2015-11-20 18:09] redlibrarian commented on #731
Interesting. It turns out that this database doesn't have any subjects assigned in LibGuides, which means it's not coming through in the libguides data. The database group is meeting next week - I'll confirm with them whether all databases should have a subject, or whether the data load needs to be modified.

[2015-11-20 18:12] redlibrarian commented on #560
This still isn't working.

[2015-11-20 18:13] theLinkResolver commented on #672
fixed

[2015-11-20 18:13] #672 closed

[2015-11-20 18:14] #558 closed

[2015-11-20 18:14] seanluyk commented on #654
This is working great now, so I'll close the issue. I'm also noticing that much fewer irrelevant results are appearing, which is great!

[2015-11-20 18:14] #654 closed

[2015-11-20 18:14] redlibrarian commented on #552
Closing. I think this is sufficient for now.

[2015-11-20 18:14] #552 closed

[2015-11-20 18:14] redlibrarian commented on #534
How does this look now...? @seanluyk

[2015-11-20 18:15] redlibrarian commented on #530
Author facet is in place now. @seanluyk Can you verify?

[2015-11-20 18:16] redlibrarian commented on #732
@seanluyk Ah, this is a good example of something I need to discuss with the database group next week. Thanks.

[2015-11-20 18:21] seanluyk commented on #534
Looking much better now - I tried this on a vareity of GMD types, and it's looking pretty good. There's the odd one with weird punctuation still, but for now, I think this is good enough

[2015-11-20 18:21] #534 closed

[2015-11-20 18:22] #730 closed

[2015-11-20 18:22] gooyers commented on #730
It's fixed for me as well, thanks @redlibrarian

[2015-11-20 18:22] seanluyk commented on #530
Looks great, and I can verify that this is working. This will improve discovery quite a bit.

[2015-11-20 18:22] #530 closed

[2015-11-20 18:25] seanluyk commented on #731
That's odd - I was sure that this database had been associated with music, but we must have missed it. I've associated it now.

[2015-11-20 18:29] redlibrarian commented on #504
This is more or less fixed. There's one last tweak to make (in another ticket).

[2015-11-20 18:29] #504 closed

[2015-11-20 18:32] redlibrarian commented on #731
OK, great, thanks @seanluyk . That will fix the problem for this record. I still want to discuss workflow with the DB group next week. I'll leave this ticket open until then.

[2015-11-20 18:33] redlibrarian commented on #632
Hi @scastell - this should be working now. Can you verify?

[2015-11-20 18:39] theLinkResolver commented on #478
to be dealt with in #718

[2015-11-20 18:39] #478 closed

[2015-11-20 18:45] scastell commented on #583
Much better. Difference in number of hits between blacklight (24) and classic catalogue (42) due to blacklight not including results from the added entry - personal name field (700)?

ie

Encyclopedia of the Confederacy. Current, Richard Nelson. - http://www.library.ualberta.ca/permalink/opac/1603088/WUAARCHIVE

American history : a survey  7th ed. Current, Richard Nelson. - http://www.library.ual

[2015-11-20 19:02] scastell commented on #632
A search for "systematic reviews" 2014 does result in a number of articles. The number of results, for both searches, (see screenshots below) is quite different from that in the original screenshots.

![image](https://cloud.githubusercontent.com/assets/14927291/11308941/38365d6c-8f7e-11e5-9564-5be7b3e66a92.png)

![image](https://cloud.githubusercontent.com/assets/14927291/11308984/6c8ca904-8f7e-11

[2015-11-20 19:06] theLinkResolver commented on #718
@redlibrarian I think if you can just get the 245 $p to display in the record as one of the first fields, like you did for the $n, that would be critical in the short term. (That's not where it should be in the long-term, but just getting it in the display is essential.)

e.g. https://search.library.ualberta.ca/catalog/2231491
This is the report for Kazakhstan (only), but the record does not tell

[2015-11-20 19:10] gooyers commented on #605
@redlibrarian I think this issue is fine for the January milestone as it is relatively low priority.

That being said, aspects of the initial issue I described are still not working properly.

For example, a search for ["l'enfant cachée"](https://search.library.ualberta.ca/results?q=%22l%27enfant+cach%C3%A9e%22) returns the proper result.
But a search for ["enfant cachée"](https://search.library.u

[2015-11-20 19:16] redlibrarian commented on #632
Thanks @scastell - are these the results you would expect to see?

[2015-11-20 19:18] redlibrarian commented on #605
OK, thanks @gooyers I've compromised by moving it back to the September milestone, but setting the priority to medium. I'll see if I can get to it.

[2015-11-20 19:22] theLinkResolver commented on #704
What do the public service people think? Do you think this should be a critical/pre-December fix? I feel like my opinion is skewed by my everyday work.

These are the kinds notes that aren't displaying in Blacklight right now (we enter these in response to reported problems) --

![get it instructions](https://cloud.githubusercontent.com/assets/14913579/11309405/f609af0e-8f80-11e5-9c0a-e40cf3bc9d3a

[2015-11-20 19:30] redlibrarian commented on #704
What do you think @ualbertalib/discovery-testing ?

This is actually likely an easy fix to make. I can always mark it as medium priority, move it to the September milestone and see if I can get to it....?

[2015-11-20 20:35] redlibrarian opened #733 "Add separators (commas or spaces) to result counts."

[2015-11-20 20:39] redlibrarian opened #734 "Create eds profile to use that does not include the symphony catalog."

[2015-11-20 20:41] seanluyk commented on #704
I think if it's an easy fix, it's well worth adding these notes.

[2015-11-20 20:42] scastell commented on #632
little out of my area, so asked someone from health to look at the article results. Results are what they would expect to see, so unless someone else has a comment, the issue can be closed.

[2015-11-20 20:45] redlibrarian commented on #632
OK, thanks. I'm going to close it for now. We can create a new issue if the problem comes up again.

[2015-11-20 20:45] #632 closed

[2015-11-20 20:46] redlibrarian commented on #704
OK, thanks @seanluyk @theLinkResolver - I still have to look into it. I'll add this to the current milestone and see if I can get to it.

[2015-11-20 20:49] seanluyk commented on #640
Looks great! OCD crisis averted, closing issue!

[2015-11-20 20:49] #640 closed

[2015-11-20 20:54] seanluyk opened #735 "Author search from record and results page"
Very low priority issue, but maybe something to fix for consistency sake:

-Clicking on [find more by this author](https://search.library.ualberta.ca/catalog?utf8=%E2%9C%93&f%5Bauthor_display%5D%5B%5D=Khazanov,+A.+M.+(Anatoli+Michailovich),+1937-) from a record view returns a results page, but results for does not replicate the term

[2015-11-20 20:56] seanluyk commented on #531
This appears to be working now. Closing.

[2015-11-20 20:56] #531 closed

[2015-11-20 20:57] seanluyk commented on #637
This is fixed. Closing.

[2015-11-20 20:57] #637 closed

[2015-11-20 21:01] seanluyk commented on #724
As far as I can tell, this is working now. Will leave this issue open in case you'd like to investigate more.

[2015-11-20 21:06] redlibrarian commented on #724
@seanluyk Interesting. I made a change to the indexing rules that was only pushed to production today. That must have fixed it. I'll close this issue. Thanks.

[2015-11-20 21:06] #724 closed

[2015-11-20 21:08] seanluyk commented on #712
I think this is partially working now - various uses of punctuation provide different numbers of results, but the item in question still comes up.

[2015-11-20 21:24] seanluyk opened #736 "Privacy issue: view search history"
I was curious about how search history is cleared, and assumed that closing a browser would clear it (as opposed to closing a tab).

It doesn't look like this is the case. After closing Chrome, reopening, redoing a search, and then clicking on view search history, the searches from my previous session were still appearing.

Not sure if this is a browser specific issue or not (i.e. browsers on AIOs

[2015-11-20 21:25] redlibrarian commented on #736
I think we had a question before about session timeouts (issue #319). The sysadmins and I will have to figure this out, but it will be good to warn people... I'll see if I can figure out a short term measure.

[2015-11-20 21:31] seanluyk commented on #736
Good to know it's being investigated, thanks Sam.

[2015-11-20 21:33] hannepearce commented on #716
Yes this issue is resolved

[2015-11-20 21:33] redlibrarian commented on #716
OK, thanks.

[2015-11-20 21:33] #716 closed

[2015-11-20 21:35] hannepearce commented on #689
Tested this with numerous authors and it appears to be working well. :)

[2015-11-20 21:36] redlibrarian commented on #689
Great, thanks!

[2015-11-20 21:36] #689 closed

[2015-11-20 21:37] hannepearce commented on #634
This is working now! yay!

[2015-11-20 21:38] redlibrarian commented on #634
Yay! :)

[2015-11-20 21:38] #634 closed

[2015-11-20 21:41] merisjames commented on #633
Closer.
461 v 464 (advanced) for "laminitis".
319 v 320 for "farrier".
Identical results for "tamarind"
1271 v 1290 for "costa rica"

[2015-11-20 21:43] seanluyk opened #737 "More information in bento box display"
Reported by an HSS colleague:

1. Searched for [discipline of history and the history of thought](https://search.library.ualberta.ca/results?utf8=%3F&q=discipline+of+history+and+the+history+of+thought)

-The first 4 results in BMM are for the desired title, however, it's not possible to tell which one the user should click on, and the UofA copy may not be result#1, and isn't in this case

I realiz

[2015-11-20 21:45] redlibrarian commented on #737
I think this should be possible, but will be a little trickier than making it appear in the results page. I think that, given that a user can click through to the results screen, this doesn't haven't be solved before launch, though it should be addressed next term.